[2019-08-06 17:14] haiodo opened #1445 "Tests TestDeleteDirtyNSE/TestDeleteDirtyNSEWithClient failed on most clusters"
## Expected Behavior

TestDeleteDirtyNSE/TestDeleteDirtyNSEWithClient should pass.

## Current Behavior

They fail.

## Failure Information (for bugs)

[code]

[code]
## Steps to Reproduce

Run CI

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[2019-08-06 17:14] #1440 closed

[2019-08-06 21:26] #1444 closed

[2019-08-07 07:00] #1424 closed

[2019-08-07 09:10] haiodo commented on #1445
Seems closed already.

[2019-08-07 09:10] #1445 closed

[2019-08-08 02:44] Napoleon0621 opened #1451 "Might be a bug in loading image to Vagrant nodes"
https://github.com/networkservicemesh/networkservicemesh/blob/3ac0ac40c3b43032e5f2ed4775ee35c8e39bc38e/.mk/vagrant.mk#L56

I tried to deploy NSM using vagrant and had problem loading images to vagrant VMs.
The cause is likely to be missing a "sudo" before this command "docker load -i /vagrant/images/$*.tar" > /dev/null 2>&1;"  For I see that the first rmi command can be successfully done with sudo

[2019-08-08 03:09] artem-belov commented on #1354
@haiodo @edwarnicke @nickolaev  I think we can make kind of a handshake of NSMs on first request. For example, NSMgr1 doesn't find NSMgr2 address in the VNIs map, so it makes a request to split up VNI range.
Another way - we can wind some unique property to compare NSMs and choose range (Like we are doing now with ip address)

[2019-08-09 00:45] #1451 closed

[2019-08-09 05:51] #1307 closed

[2019-08-10 09:44] lobkovilya commented on #1397
https://circleci.com/gh/networkservicemesh/networkservicemesh/87132

[2019-08-12 06:25] denis-tingajkin opened #1462 "NSM Admission webhook has not probes"
## Expected Behavior

NSM Admission webhook POD is ready when container started serve

## Current Behavior

NSM Admission webhook POD can be not ready because container not started serve

## Failure Logs

https://circleci.com/gh/networkservicemesh/networkservicemesh/87132

[2019-08-13 06:00] denis-tingajkin opened #1467 "Invalid memory address or nil pointer dereference on packetInstance destroy"
## Expected Behavior

cloudtest doesn't throws exceptions on packetInstance destroy

## Current Behavior

sometimes throws Invalid memory address or nil pointer dereference exception on packetInstance destroy

## Failure Logs
[code]
source:
https://circleci.com/gh/networkservicemesh/networkservicemesh/87768?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-08-13 09:08] haiodo commented on #1467
Duplicate of #1435

[2019-08-13 09:08] #1467 closed

[2019-08-13 14:09] #1237 closed

[2019-08-13 14:09] #1398 closed

[2019-08-13 14:11] #1384 closed

[2019-08-13 14:11] #1378 closed

[2019-08-13 14:17] #1243 closed

[2019-08-13 14:19] #1385 closed

[2019-08-14 04:45] artem-belov commented on #1354
@edwarnicke After @onobrod will prepare interdomain as plugin, it will keep both  Internal and External IPs information. So we can compare public IPs (local IPs if public are missing or equal) to generate vni. It should resolve problem

[2019-08-14 04:54] onobrod opened #1474 "Implement discovery and registry plugins"
## Overview

In this issue we plan to migrate our registry server to discovery and registry plugins
Main plugin issue: https://github.com/networkservicemesh/networkservicemesh/issues/1339

## Link to the Google Docs document

## References

[2019-08-14 07:29] onobrod opened #1478 "'namespaces is forbidden' in icmp, vpn and helm test logs"
## Expected Behavior
No error messages in nsmd-k8s logs for icmp, vpn and helm tests

## Current Behavior
nsmd-k8s logs for integration tests look ok:
[code]

but nsmd-k8s logs for icmp, vpn and helm tests contain an error:
[code]

## Failure Information (for bugs)
Seems it fails here: https://github.com/networkservicemesh/networkservicemesh/blob/master/k8s/pkg/prefixcollector/collector_server.go#

[2019-08-14 07:32] onobrod commented on #1478
I've checked how we setup cluster roles in tests and in config and it seems identical:
Cluster roles for integration tests: https://github.com/networkservicemesh/networkservicemesh/blob/master/k8s/conf/cluster-role-binding.yaml#L11
Cluster roles in yaml configs: https://github.com/networkservicemesh/networkservicemesh/blob/master/test/kubetest/rbac/cluster_roles.go#L173

[2019-08-14 07:44] onobrod commented on #1478
@nickolaev it looks similar to what we faced with CRDs. Do you have any thoughts on how this can be fixed?

[2019-08-14 08:46] lobkovilya opened #1479 "Double execution of integration test"
## Expected Behavior
Test is executed once

## Current Behavior
Test is executed twice

## Failure Information (for bugs)
TestUpdateConnectionOnNSEChange:
https://circleci.com/gh/networkservicemesh/networkservicemesh/88280#tests/containers/0

[2019-08-14 08:48] lobkovilya opened #1480 "Failed tests from composite clusters are not shown in junit.xml"
## Expected Behavior
Failed are shown in junit.xml

## Current Behavior
Failed are not shown in junit.xml

## Failure Information (for bugs)
https://circleci.com/gh/networkservicemesh/networkservicemesh/88280#tests/containers/0

[2019-08-14 15:56] edwarnicke commented on #1354
@artem-belov Please say more... I don't quite follow what you are proposing.

[2019-08-15 11:33] lobkovilya opened #1491 "Get rid of k8s/conf/* files, replace machinery with helm"
## Overview
Information about resources is stored in excessive way. Helm charts duplicate `k8s/conf/*` files.

[2019-08-15 14:09] tiswanso opened #1493 "helm chart default container tag values are inconsistent with build target defaults"
## Expected Behavior

Using helm charts directly should use sensible default values.  The default tag value of `master` is inconsistent with the docker build machinery's default of `latest`.

NSM shouldn't assume users are using make targets to do NSM installation.  Many users have tooling that integrates directly with helm.

## Current Behavior

If my workflow is...
1.  Modify NSM infra
1.  `make

[2019-08-15 15:03] haiodo commented on #1480
It seems fixed by Artyom

[2019-08-15 15:03] #1480 closed

[2019-08-15 15:04] haiodo commented on #1479
Also seems fixed by @artem-belov

[2019-08-15 15:04] #1479 closed

[2019-08-15 15:04] haiodo commented on #1435
Changes merged.

[2019-08-15 15:04] #1435 closed

[2019-08-15 15:15] tiswanso opened #1494 "Preset ORG and TAG vars ignored by docker-build / docker-push targets"
## Expected Behavior

`ORG=tiswanso TAG=myfix make docker-build` should create docker images named `${ORG}/<component>:${TAG}`

`ORG=tiswanso TAG=myfix make docker-push` should equate to `docker push ${ORG}/<component>:${TAG}` for all images built by `make docker-build`

## Current Behavior

ORG is hardcoded to `networkservicemesh` and TAG is ignored until the `docker-push` target.

Additionally,

[2019-08-15 20:18] lobkovilya opened #1495 "Right after namespace creation "default" service account is not exist"
## Failure Information (for bugs)

TestExec: https://circleci.com/gh/networkservicemesh/networkservicemesh/89411?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

## Related issue
https://github.com/kubernetes/kubernetes/issues/66689

## Possible solution
Seems like `default` service account in newly created namespace appears not instantly, and we need some retry

[2019-08-16 07:39] onobrod opened #1497 "Create protobuf Connection that wraps local.Connection and remote.Connection"
## Overview
Currently we have the `Connection` interface and two protobuf `Connection` messages (local and remote):
- interface: https://github.com/networkservicemesh/networkservicemesh/blob/master/controlplane/pkg/apis/nsm/connection/connection.go
- local: https://github.com/networkservicemesh/networkservicemesh/blob/master/controlplane/pkg/apis/local/connection/connection.proto
- remote: https:/

[2019-08-19 05:45] nickolaev commented on #1491
Agreed, Helm is the way we should go. No manual confs allowed here :)

[2019-08-19 08:59] denis-tingajkin opened #1503 "Failed to create or update nsm on deploy with custom namespace"
## Expected Behavior

nsmd-k8s registry stores nsm only for self namespace.

## Current Behavior

nsmd-k8s registry stores nsm for all namespaces.

## Steps to Reproduce

1. Deploy nsmgr with the default namespace
2. Delete nsmgr pod, but not delete custom resources
3. Deploy nsmgr with a custom namespace

## Failure Logs

[code]

[2019-08-19 09:42] onobrod commented on #1497
+ same for request (local and remote)

[2019-08-20 12:08] edwarnicke commented on #1497
Lets talk more about this... these are separated intentionally.

[2019-08-20 12:19] edwarnicke opened #1508 "Simplify SDK and Improve Tracing"
## Overview

Currently the SDK provides:

1. A [ChainedEndpoint](https://github.com/networkservicemesh/networkservicemesh/blob/master/sdk/endpoint/composite.go#L34) that extends [networkservice.NetworkServiceServer](https://github.com/networkservicemesh/networkservicemesh/blob/master/controlplane/pkg/apis/local/networkservice/networkservice.pb.go#L147) by requiring a bunch of new methods to be imp

[2019-08-20 12:33] edwarnicke opened #1509 "Apply tactics from #1508 to NSMgr Simplification"
## Overview

#1508 seeks to simplify the SDK via a few tactics:
1.  Chaining of 'fragments' of Endpoint functionality that *only* implement the API coming in with the GRPC call.
2. Using context.Context to both pass any 'context' data between those 'fragments' and also to inject internal 'tracing' to allow fine grained visibility of the call chain, including capturing logs from the internal calls

[2019-08-20 12:39] artem-belov commented on #1354
@edwarnicke
Current vni generation depends on comparing ip addresses:
src-ip > dst-ip - even vni
dst-ip < src-ip - odd vni

In Interdomain we have to configure VXLAN next way:
src vxlan side: src-internal-ip -> dst-external-ip (vni x)
dst vxlan side: dst-internal-ip -> src-external-ip (vni x)

The cause of current vni conflict is comparing internal ip with external ip which is gives simmetric resu

[2019-08-20 13:28] edwarnicke opened #1510 "Introduce RemoteMechanism 'LOCAL' and refactor NSMgr to use"
## Motivation

NSMgr has historically been complicated by the fact that we have two similar but intentionally distinct APIs:

local.NetworkService
remote.NetworkService

These are distinct because local clients should *not* be able to express intent around remote Mechanisms, and vice versa.

This has had the side effect that we have a branching of code paths in the NSMgr after selection of a NSE.

[2019-08-20 15:00] denis-tingajkin opened #1511 "TestNSMHealRemoteDieNSMD_NSE periodically falls on CI"
## Expected Behavior

TestNSMHealRemoteDieNSMD_NSE  is stable on CI

## Current Behavior

TestNSMHealRemoteDieNSMD_NSE  is unstable on CI

## Failure Logs

https://circleci.com/gh/networkservicemesh/networkservicemesh/91235

[2019-08-20 16:30] ivanayov opened #1512 "CrossConnect Server sending empty statistics for metrics"
Related to exposing metrics for #1263

The cross connect monitor server should send statistics with the UPDATE event
[crossconnect_monitor_server.go#L38](https://github.com/networkservicemesh/networkservicemesh/blob/master/controlplane/pkg/monitor/crossconnect/crossconnect_monitor_server.go#L38), but statistics are actually empty in [metrics_collector.go#L80](https://github.com/networkservicemesh/

[2019-08-20 16:47] #1169 closed

[2019-08-21 05:59] fkautz opened #1515 "Spec: CNI Interoperability"
Spec: https://docs.google.com/document/d/1togh1s0TDuNXO6PEmCQrr6jaxjbrheSWmlZd2lgWVps/edit

[2019-08-21 07:50] quangtamle commented on #1512
Hi @ivanayov ,

I also have the same problem like yours. I tried to create some traffic by doing "make k8s-***-check" but still no changes happend in the metric logs. I wonder whether it's normal behavior or not.

One more thing, I tried to create and delete some crossconnects (in order to create CrossConnectEvent) in the example folder and somehow the metric values of some of the crossconnects ar

[2019-08-21 08:35] rdimitrov commented on #1169
The issue can surely be closed as the implementation is already merged with #1321 👍

[2019-08-21 10:03] #1423 closed

[2019-08-21 13:35] denis-tingajkin commented on #1511
https://circleci.com/gh/networkservicemesh/networkservicemesh/91855?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-08-21 13:36] denis-tingajkin commented on #1511
https://circleci.com/gh/networkservicemesh/networkservicemesh/91665?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-08-21 19:57] yevgenypats opened #1518 "Suggestion: Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers (This is generic step not-connected to fuzzit)
- Continuous Fuzzing of master branch which will generate new corp

[2019-08-22 06:10] denis-tingajkin commented on #1397
https://circleci.com/gh/networkservicemesh/networkservicemesh/91897

[2019-08-22 09:52] denis-tingajkin commented on #1503
by some experiments found that the problem related only to nsm custom resources.

[2019-08-22 10:05] matrohon opened #1526 "no nsm-init:latest on dockerhub"
the nsm-init image on docker hub has no tag latest:

https://hub.docker.com/r/networkservicemesh/nsm-init/tags

This tag is used by default by the admission webhook:

https://github.com/networkservicemesh/networkservicemesh/blob/master/k8s/cmd/admission-webhook/const.go#L19

We cannot used the admission webhook without building and pushing the nsm-init image manually.

[2019-08-22 10:55] edwarnicke opened #1527 "Improve documentation for interdomain"
## Overview

Interdomain #1298 should be documented in a more complete way.

[2019-08-22 13:19] matrohon opened #1530 "the kernel-forwarder image is not available on dockerhub"

[2019-08-22 13:35] rdimitrov commented on #1530
You're right! I'm on it 👍

[2019-08-22 13:46] #1530 closed

[2019-08-22 19:45] edwarnicke opened #1532 "CI unstable on master Example-helm-vpn"
## Expected Behavior

CI is expected to pass reliably on master.

## Current Behavior

CI is failing intermittently on master

## Failure Information (for bugs)

https://circleci.com/gh/networkservicemesh/networkservicemesh/92559
https://circleci.com/gh/networkservicemesh/networkservicemesh/92558

[2019-08-23 09:48] denis-tingajkin commented on #1532
Test `TestDNSMonitoringNsc` will be fixed by this PR: https://github.com/networkservicemesh/networkservicemesh/pull/1521
For now  `TestDNSMonitoringNsc`  disabled on master

[2019-08-23 12:58] matrohon opened #1536 "nsmgr cannot list namepaces"
## Current Behavior

the nsmd-k8s container reports the following error:

level=error msg="namespaces is forbidden: User \"system:serviceaccount:nsm-system:default\" cannot list resource \"namespaces\" in API group \"\" at the cluster scope"

[2019-08-23 13:02] matrohon commented on #1536
it has been fixed by #1481

[2019-08-23 13:02] #1536 closed

[2019-08-27 15:59] denis-tingajkin commented on #1512
@ivanayov  I can look at this Issue, could you please attach logs and steps to reproduce?
@fkautz  Can you please assign this Issue on me?

[2019-08-27 16:20] ivanayov commented on #1512
@denis-tingajkin
This is some data from the `crossconnect-monitor` log:
[code]
Metrics for the same event (separating for visibility):
[code]
This is what I print in the `vppagent_dataplane` log where statistics are empty:
[code]
Those empty statistics are received directly from the gRPC and it looks more like a problem in ligato than a bug from our side, except we've missed some specific configur

[2019-08-27 16:28] ivanayov commented on #1512
Steps to reproduce:
1. Log event metrics in  [crossconnect_monitor.go#L58](https://github.com/networkservicemesh/networkservicemesh/blob/master/k8s/cmd/crossconnect-monitor/crossconnect_monitor.go#L58)
2. Log state in [metrics_collector.go#L73](https://github.com/networkservicemesh/networkservicemesh/blob/master/dataplane/vppagent/pkg/vppagent/metrics_collector.go#L73)
3. Deploy infra
4. Deploy im

[2019-08-28 06:59] nickolaev commented on #1493
@tiswanso well the charts that we publish should fetch the images from dockerhub, hence `master`. Our make targets `helm-install-nsm` etc, do incorporate the right machinery to deploy with helm and set the images tags to `latest` unless specified otherwise in `CONTAINER_TAG` env.

Maybe we need to document it better?

[2019-08-28 06:59] nickolaev commented on #922
Done in #1425

[2019-08-28 06:59] #922 closed

[2019-08-28 08:14] denis-tingajkin commented on #1512
By simple investigation found that vpp agent publishes notifications only on InterfaceNotification_UPDOWN or InterfaceState_DELETED. Will try to provide a native solution into vpp-agent repo and ask the question about the solution.

[2019-08-28 08:55] denis-tingajkin commented on #1512
created Issue in vpp-agent repo: https://github.com/ligato/vpp-agent/issues/1450

[2019-08-28 10:23] nickolaev commented on #891
@matrohon shall we close this one?

[2019-08-28 12:55] edwarnicke opened #1544 "Refactor vppagent.Dataplane to in new SDK fashion."
## Overview

Monolithic code makes extensibility and replication hard.  Therefore we want to break up elements in the system (NSEs/NSMgrs/NSM Forwarder) into small clean chunks of functionality that are composed together and can be used to build new instances of NSEs/NSMgrs/NSM Forwarders easily.  This also has the benefit of making it easier for existing implementations to be extended, including

[2019-08-29 13:39] #1344 closed

[2019-08-29 13:39] #1326 closed

[2019-08-29 13:39] #1325 closed

[2019-08-29 13:39] #1322 closed

[2019-08-30 09:38] artem-belov commented on #1532
TestInterdomainNSMHealRemoteDieNSMD fixed with pr #1538

[2019-08-31 04:34] rdimitrov opened #1551 "k8s-deploy seems broken"
## Expected Behavior

`make k8s-deploy` should result in a working deployment.
## Current Behavior

`make k8s-deploy` results in a broken deployment.

## Failure Information (for bugs)

## Steps to Reproduce

1. Checkout master
2. `make vagrant-start`
3. `make k8s-save`
4. `make k8s-deploy`

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[code]

[2019-09-01 17:36] #968 closed

[2019-09-02 04:36] denis-tingajkin commented on #1551
Looks like its related to https://github.com/networkservicemesh/networkservicemesh/pull/1521
@haiodo , @edwarnicke, @nickolaev  can you assign this Issue on me?

[2019-09-02 12:20] rdimitrov commented on #1551
I'm sharing this small fix if it makes sense to reuse it 👍
[code]

[2019-09-02 13:46] rdimitrov opened #1558 "Specify container name when doing make k8s-check"
## Expected Behavior

`make k8s-check` should not have any warning messages from k8s

## Current Behavior

`make k8s-check` throws a warning that we don't specify the container we want to access within that pod. See the logs below.

## Failure Information (for bugs)

## Steps to Reproduce

1. `make k8s-deploy`
2. `make k8s-check`

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[code]

[2019-09-03 09:10] denis-tingajkin commented on #1512
https://github.com/ligato/vpp-agent/pull/1451#issuecomment-527046272

[2019-09-03 09:23] denis-tingajkin opened #1561 "TestInterdomainNSCDies is unstable on CI"
## Failure Logs

1) https://circleci.com/gh/networkservicemesh/networkservicemesh/94372
2) https://circleci.com/gh/networkservicemesh/networkservicemesh/95117
3) https://circleci.com/gh/networkservicemesh/networkservicemesh/94212
4) https://circleci.com/gh/networkservicemesh/networkservicemesh/95606

[2019-09-03 15:11] rdimitrov opened #1562 "k8s-check target is not working in case of helm deployment"
## Expected Behavior

`make k8s-check` should verify the icmp and vpn example deployments

## Current Behavior

`make k8s-check` fails in case of helm deployment (it works when NSM/ICMP responder are deployed via the regular `k8s-deploy`)

## Failure Information (for bugs)

## Steps to Reproduce

1. `make k8s-save`
2. `make k8s-load-images`
3. `make helm-init`
4. `make helm-install-nsm`
5. `make h

[2019-09-04 11:21] edwarnicke commented on #1518
@yevgenypats We'd welcome a PR :)

[2019-09-04 11:34] yevgenypats commented on #1518
ccing @bookmoons who will take the lead on that:)

[2019-09-04 11:47] edwarnicke opened #1563 "EthernetContext"
## Overview

As noted in #1225, we can have situations where autohealing results in temporary ping failures because the ethernet address for the IP address changes, and thus existing arp table entries are wrong.

What this reveals is a lack of proper ```EthernetContext``` in ```ConnectionContext``` to convey optionally the dst/src ethernet addresses.

The basics are fairly simple.  Add to [Connect

[2019-09-04 11:50] edwarnicke commented on #1518
@bookmoons welcome!  Would you mind if I added you as read to the repo and assigned this issue to you so we can track?

[2019-09-04 12:46] edwarnicke opened #1564 "Spec: Switch MechanismType from enum to string"
## Overview

Network Service Mesh on K8s delegates from the Network Service Manager (NSMgr) to the  NSM Forwarder (formerly NSM Dataplane) performing the cross connect between the mechanisms from each side of a vWire.  Examples:
* (kernel interface, memif)
* (kernel interface, vxlan)
* (vxlan, memif)
* (SRv6, kernel interface)
* (SRIOV VF, vlan)
* (HW NIC, vxlan)
The NSM Forwarder is the only port

[2019-09-04 12:52] edwarnicke commented on #1564
@rdimitrov Could you have a look at this and let me know what you think?

[2019-09-04 13:35] BoutheinaDab commented on #1512
@ivanayov and @denis-tingajkin , I have got similar similar issue with logs from the vppagent_dataplane, and from crossconnect-monitor.
However, for logs from k8s-nsmgr, I can get non empty metrics statistics for Update events:

`
Have you any idea please how can I obtain these stats even from the controplane?

[2019-09-04 14:01] edwarnicke opened #1565 "Spec: Multiple simultaneous NSM Forwarders"
## Overview

Network Service Mesh on K8s delegates from the Network Service Manager (NSMgr) to the  NSM Forwarder (formerly NSM Dataplane) performing the cross connect between the mechanisms from each side of a vWire.  Examples:
* (kernel interface, memif)
* (kernel interface, vxlan)
* (vxlan, memif)
* (SRv6, kernel interface)
* (SRIOV VF, vlan)
* (HW NIC, vxlan)
The NSM Forwarder is the only port

[2019-09-04 14:01] edwarnicke commented on #1565
@rdimitrov @nickolaev Could you guys have a look at this?

[2019-09-04 14:32] edwarnicke commented on #1562
@rdimitrov Are you looking into fixing this?

[2019-09-04 14:41] #714 closed

[2019-09-04 14:42] #1224 closed

[2019-09-04 14:46] rdimitrov commented on #1562
hey, @edwarnicke, I haven't looked at it, no. It's free for someone to take it 👍

[2019-09-04 15:12] edwarnicke commented on #1512
I've added a comment to [ligato/vpp-agent#1451](https://github.com/ligato/vpp-agent/pull/1451#issuecomment-527046272).  We need real stats reported at an interval from vpp-agent.  I'll push to get them.

[2019-09-04 16:31] rdimitrov commented on #1564
Looks good to me 👍 It makes sense to avoid the troubles of updating the corresponding proto files. Nevertheless, we'll still keep track of the "verified/adopted" mechanism types in their corresponding "constants.go" file, right?

[2019-09-04 16:44] rdimitrov commented on #1565
I like the idea of polling for available CrossConnects 👍 What comes to my mind is:

1. How do we choose a forwarding plane in case two or more forwading planes return the same availabilities? For ex, kernel interface as a destination mechanism.

2. In case we have remote source <-> local destination. How do we choose a forwarding plane if one supports "vxlan <-> memif" and the other one has "vxlan

[2019-09-04 16:53] edwarnicke commented on #1565
@rdimitrov #2 I think is fairly easy.  If you have FW1 (NSM Forwarder 1) and FW2 (NSM Fowarder2) and:

FW1 -> Avaliable(VXLAN) -> [memif]
FW2 -> Available(VXLAN) -> [kernel]

Then both get sent as options to the NSE (note: there's an order of preference question here).  The NSE then selects whether it prefers memif or kernel.  If memif, the NSMgr can only get that with FW1, so it picks that (or vi

[2019-09-04 17:00] edwarnicke commented on #1564
@rdimitrov Yes... but that's a much 'softer' limit than the enum :)

Think of it as emergent behavior.  You and I both decide that we want to provide 'IPSEC'.  You pick the string 'IpSec', I pick 'IPSEC'... neither of us is blocked... but at some point, we want to put into the constant files *one* of those strings so we get proper interop.

[2019-09-04 17:19] edwarnicke commented on #1512
@denis-tingajkin @ivanayov @BoutheinaDab Looks like vpp-agent will be supporting getting us interface stats at intervals:

https://github.com/ligato/vpp-agent/pull/1451#issuecomment-527974087

[2019-09-04 17:22] rdimitrov commented on #1564
Indeed. Great then! 👍

[2019-09-04 19:31] rdimitrov commented on #1565
We had a brief discussion with Nikolay last week and I think we were brainstorming mostly around the 1st option. Each mechanism for each forwarder comes with a priority and it's up to the NSMgr to take that into account while processing a request. Though that might result in some configuration mess, so I agree that this might not be the best way possible.

An assumption I have is that the administ

[2019-09-04 20:57] edwarnicke commented on #1565
@rdimitrov How about this... we define a *default* priority that NSM Forwarders are expected to use unless *configured* to use a different one.  So say default priority is 50.  Every NSM Forwarder comes in with priority 50... unless configured to a higher or lower priority.

The question then is, how do we break the tie for default?

[2019-09-04 21:54] bookmoons commented on #1518
Thanks a lot guys. Yes please do set it all up. I'm working toward this in [`bookmoons/fuzz`](https://github.com/bookmoons/networkservicemesh/tree/bookmoons/fuzz).

[2019-09-05 03:28] bookmoons commented on #1518
The docs are really good. Love the sequence diagrams.

I've got my head around the major concepts. Will be digging through the code soon to find the right pieces to fuzz.

[2019-09-05 07:24] rdimitrov commented on #1565
@edwarnicke In that sense, which would be the "unit" that we want to prioritize - forwarding plane, connection type or mechanism type?

[2019-09-05 13:31] haiodo opened #1568 "TestDeploymentOrder4ClientEndpoint is failed on CI"
## Expected Behavior

TestDeploymentOrder4ClientEndpoint should pass.

## Current Behavior

TestDeploymentOrder4ClientEndpoint - is failed on CI.

## Failure Information (for bugs)

## Steps to Reproduce

Run CI.

## Context

## Failure Logs

[031-TestDeploymentOrder4ClientEndpoint-run.log](https://github.com/networkservicemesh/networkservicemesh/files/3579508/031-TestDeploymentOrder4ClientEndpoin

[2019-09-06 15:49] haiodo opened #1576 "Move CloudTesting tool to separate repositoru"
## Overview

We need to move CloudTesting tool and all deps to create clusters into separate repository under networkservicemesh to minimize amount of dependencies for clients.

[2019-09-06 17:20] haiodo opened #1577 "Make SDK to have minimal dependencies for clients."
## Overview

We need to move SDK and all stuff for client/endpoint vendors into a separate repository.

Right now it is really hard to depend on NSM main repository, since it has a lot of dependencies not really required to writing clients/endpoints.

[2019-09-06 17:48] #1418 closed

[2019-09-07 08:48] #1339 closed

[2019-09-09 05:55] rdimitrov opened #1582 "Connection fails in Kernel-forwarder after a long test"
## Expected Behavior

No unexepected errors.

## Current Behavior

In case of doing a continious and longer test(>3 hours), sometimes the connection seems to fail with messages like there's a duplicate request for creating the VETH or the VXLAN device (the device already exists but there's a request to create it).

## Failure Information (for bugs)

## Steps to Reproduce

- There're no specific st

[2019-09-09 13:29] edwarnicke commented on #1577
@nickolaev @fkautz Thoughts on this?  I know @fkautz hit some of these issues to... is this something we want to do sooner rather than later?

[2019-09-09 13:29] edwarnicke commented on #1577
@haiodo How would this relate to APIs?

[2019-09-09 13:38] edwarnicke commented on #1577
We might also go the route of multi-module repos: https://github.com/golang/go/wiki/Modules#faqs--multi-module-repositories

[2019-09-09 13:41] haiodo commented on #1577
@edwarnicke I've also thinking about multi module repository.

[2019-09-10 12:27] haiodo opened #1590 "NSMD-k8s and plugins should not crash."
## Expected Behavior

NSMD-k8s and plugins should not crash.

## Current Behavior

I have a crash of nsmd-k8s, after running nsmgr for  along period (~1h)
after crashing and restarting, nsmd-k8s tells: level=fatal msg="Failed to start K8s Plugin rpc error: code = Unknown desc = already have a plugin with the same name"

## Failure Information (for bugs)

## Steps to Reproduce

1. Step 1
2. Step 2

[2019-09-10 13:08] wjstk16 opened #1591 "Failed to pull image networkservicemesh/nsm-coredns:latest"
There is no latest tag nsm images in docker hub.

[code]

[code]

I changed all the lastest tags in the code to master and saw all these problems registered in issues but I couldn't solve them.
Is there any way to solve this problem?

[2019-09-10 13:16] matrohon commented on #1590
here is the failure reported by nsmd-k8s:

[code]

it then automatically restarts by fails with the following error:

[code]

[2019-09-10 13:19] edwarnicke opened #1592 "Floating Interdomain"
## Overview

The full promise of interdomain requires being able to have a 'floating' NSM domain that is free from any specific runtime domain (K8s cluster), but in which NSEs/NSCs from any domain may participate.

![Floating Interdomain Supporting Diagrams](https://user-images.githubusercontent.com/1455208/64615974-2b3b1b00-d3a1-11e9-8331-e0b1d554ca71.png)

This requires a Network Service Registr

[2019-09-10 13:28] edwarnicke commented on #1591
@wjstk16 Thanks for bringing this to our attention.  nsm-coredns is new (hasn't hit a release) and it appears that we are not yet publishing it properly (apologies).  It also seems like our CI images are being put in the release repo (also not good).

We'll get it fixed shortly.  Thank you so much for speaking up and filing an issue.

[2019-09-10 13:38] matrohon commented on #1590
To me, there are two issues:
- the panic
- the incapacity of registering a plugin that has failed and restarted

[2019-09-10 14:19] haiodo commented on #1532
Reproduced with:
https://circleci.com/gh/networkservicemesh/networkservicemesh/98623?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-09-10 14:40] #1462 closed

[2019-09-10 14:44] denis-tingajkin commented on #1563
In progress

[2019-09-10 14:56] edwarnicke commented on #1591
@wjstk16 I was looking at our CI repo when I wrote the above, should have looked at our release repo: https://hub.docker.com/r/networkservicemesh/nsm-coredns/tags

Because nsm-coredns has not been part of a release yet, we only have the branch label for 'master' (think latest on the master branch there).  Once we do a released version, it will get a latest.

All of that said... how can we make thi

[2019-09-11 14:53] denis-tingajkin opened #1596 "Unit test TestOrEventChecker_SecondSuccess is unstable"
## Failure Logs

https://circleci.com/gh/networkservicemesh/networkservicemesh/98974?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[code]

[2019-09-11 16:47] #1347 closed

[2019-09-11 22:53] rdimitrov commented on #1591
Related to https://github.com/networkservicemesh/networkservicemesh/issues/1551

[2019-09-12 06:20] haiodo commented on #1526
@edwarnicke As I remember you wanted to check something here?

[2019-09-12 06:24] nickolaev commented on #1526
There is no nsm-init in 0.1.0:
https://github.com/networkservicemesh/networkservicemesh/blob/release-0.1/k8s/cmd/admission-webhook/impl.go#L50

[2019-09-12 06:27] nickolaev commented on #1526
`make helm-install-nsm` sets the proper tags:
https://github.com/networkservicemesh/networkservicemesh/blob/master/.mk/helm.mk#L35

We might want to change some defaults here and there though.

[2019-09-12 13:01] matrohon opened #1602 "nsmd: liveness and readiness probes unhealthy"
## Current Behavior

It happens that the probe of nsmd don't respond to requests, and refuse connections
It results in k8s restarting nsmd for no reason.

## Failure Logs
here are the events seen with kubectl describe pods nsmgr... :

[code]

here are the logs of nsmd:

[code]

from the worker node, I'm able to telnet to the nsmd ip on port 5555, but "GET /readiness HTTP/1.0" doesn't provide any a

[2019-09-12 13:09] lobkovilya opened #1603 "Interdomain test fails"
## Failure Information (for bugs)
https://circleci.com/gh/networkservicemesh/networkservicemesh/98178?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-09-12 13:35] artem-belov opened #1605 "Missing logs from second cluster in interdomain circleci tests"
## Expected Behavior

Archives contain logs from all clusters running the test.

## Current Behavior

Archives contain logs just from containers running on first cluster

## Failure Information (for bugs)

https://circleci.com/gh/networkservicemesh/networkservicemesh/99257

## Steps to Reproduce

## Context

## Failure Logs

[2019-09-12 15:26] haiodo opened #1607 "Enable GOPROXY=https://proxy.golang.org/ to prevent download errors"
## Expected Behavior

go mod download should not cause errors in regular builds for us.

GOPROXY=https://proxy.golang.org/
Should make life much better

## Current Behavior

It cloud cause various container build failures and sanity check failures, related to downloading of go dependencies.

## Failure Information (for bugs)

## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea...

## Co

[2019-09-13 06:04] lobkovilya opened #1612 "TestUpdateConnectionOnNSEUpdate fails on CI"
## Failure Information (for bugs)
https://circleci.com/gh/networkservicemesh/networkservicemesh/99566?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-09-13 07:25] matrohon commented on #1602
you're right denis, I see those logs about port 5000 when I stop the dataplane for troubleshooting purposes.

WRT liveness/readiness probes, it seems only one request is successful, other requests are failing. This is what I understand when a describe command is telling:

[code]

[2019-09-13 08:14] lobkovilya commented on #1612
https://circleci.com/gh/networkservicemesh/networkservicemesh/99687?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[2019-09-13 09:01] haiodo commented on #1386
Failed in PR: https://circleci.com/gh/networkservicemesh/networkservicemesh/99305?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-09-13 09:07] matrohon commented on #1602
@denis-tingajkin I'm able to reproduce the behavior with a vagrant deployment based on master, by deploying nsmgr only, not the rest of nsm components. Then kubelet is not able to access nsmd for readiness and liveness probes. Is it normal? are you able to reproduce?

[2019-09-13 12:55] matrohon commented on #1602
I have increased the "initialDelaySeconds" of the two probes from 10s to 30s. It is working fine. hopefully, it was the only issue.

[2019-09-14 07:52] bookmoons commented on #1518
https://github.com/networkservicemesh/networkservicemesh/compare/2552d88473e2de53d705181f5d6384f4a8456c82...bookmoons:ce1d9640fcbc73e96f71e790bce3f56073c0d92f has something toward this. It fuzzes some of the little parsers scattered around.

* `dataplane/pkg/common/egress_interface` - parseProcFile.
* `dataplane/pkg/common/egress_interface` - parseGatewayIP.
* `pkg/tools` - ParseAnnotationValue.
*

[2019-09-14 07:56] bookmoons commented on #1518
Each of the egress fuzzers found a crash. I'm attaching here. Both are index bound errors. The unsuffixed file is the crashing input. Gateway IP parsing also crashes on empty input.

These are both private functions so maybe there's validation elsewhere.

[crashers.ProcFile.zip](https://github.com/networkservicemesh/networkservicemesh/files/3612440/crashers.ProcFile.zip)
[crashers.GatewayIP.zip](h

[2019-09-14 15:18] edwarnicke opened #1614 "Fuzzing bug: panic in parseProcFile"
## Expected Behavior

NSM components should survive fuzzying

## Current Behavior

time="2019-09-14T03:09:43-04:00" level=error msg="Failed to read routes files: EOF"
panic: runtime error: index out of range

goroutine 1 [running]:
github.com/networkservicemesh/networkservicemesh/dataplane/pkg/common.parseProcFile(0xc000070180, 0xc00012a420, 0x1000, 0xc000070180, 0x4751f6, 0x5d7c9237, 0x113e56dd,

[2019-09-14 15:21] edwarnicke opened #1615 "Fuzzing: panic in parseGatewayIP"
## Expected Behavior

## Current Behavior

panic: runtime error: slice bounds out of range

goroutine 1 [running]:
github.com/networkservicemesh/networkservicemesh/dataplane/pkg/common.parseGatewayIP(0xfb8210, 0x1, 0x1, 0x1, 0xfb8210)
	/home/user/go/src/github.com/networkservicemesh/networkservicemesh/dataplane/pkg/common/egress_interface.go:96 +0x1c6
github.com/networkservicemesh/networkserviceme

[2019-09-14 15:23] edwarnicke commented on #1518
@bookmoons Thank you so much for I've filed issues for both of these (should be good starter problems for folks to fix).  I presume someone can reproduce the issues using https://github.com/networkservicemesh/networkservicemesh/compare/2552d88473e2de53d705181f5d6384f4a8456c82...bookmoons:ce1d9640fcbc73e96f71e790bce3f56073c0d92f?

[2019-09-14 15:26] edwarnicke commented on #1518
Connection negotiation should definitely be a fuzzed.  @haiodo suggestions on how @bookmoons might set up a fixture for them (or pointers to where you guys have in the unit tests?)

[2019-09-15 01:01] bookmoons commented on #1614
[`parse-proc-crash`](https://github.com/bookmoons/networkservicemesh/tree/parse-proc-crash) add a unit test for this case.

[2019-09-15 01:01] bookmoons commented on #1615
[`parse-gateway-crash`](https://github.com/bookmoons/networkservicemesh/tree/parse-gateway-crash) adds a unit test for this case.

[2019-09-15 01:06] bookmoons commented on #1518
Running the fuzzer should hit those issues again. Details are in the [go-fuzz readme](https://github.com/dvyukov/go-fuzz). Function names are:
* `FuzzParseProcFile`
* `FuzzParseGatewayIP`

You could also maybe write unit tests for them. Tried to add some for those 2 cases. Links are in the issues.

[2019-09-15 13:52] denis-tingajkin opened #1620 "Kernelforwarder has complex method `setupLinkInNs`"
Need to refactor method [setupLinkInNs](https://github.com/networkservicemesh/networkservicemesh/blob/master/dataplane/kernel-forwarder/pkg/kernelforwarder/common.go#L63)
After this need to update `.golangci.yml` file and remove exclude rule.
## Failure Logs
https://circleci.com/gh/networkservicemesh/networkservicemesh/100313?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-

[2019-09-15 22:36] edwarnicke opened #1622 "nsm-init CrashLoopBackoff breaking many CI tests"
## Expected Behavior

nsm-init runs to completion in CI testing.

## Current Behavior

Many tests are failing with nsm-init CrashLoopBackoff:

1. [TestUpdateConnectionOnNSEUpdate](https://circleci.com/gh/networkservicemesh/networkservicemesh/100256)
2. [TestVPNLocal](https://circleci.com/gh/networkservicemesh/networkservicemesh/99789)

[2019-09-15 22:40] edwarnicke opened #1623 "Example-helm-vpn failing in CI on master"
## Expected Behavior

Example-helm-vpn should always pass on CI in master

## Current Behavior

Example-helm-vpn is failing on master:

https://circleci.com/gh/networkservicemesh/networkservicemesh/100256
https://circleci.com/gh/networkservicemesh/networkservicemesh/99789

Please note: this has been reported in multiple forms before in
#1478
#1532
#1562

This issue has been going on for over a mon

[2019-09-16 08:50] denis-tingajkin commented on #1602
If you meant that we have mostly 3 fail requests and 1 success than it is ok.
Three fail request means that the container was not completed on request moment. I think it is ok for probes.

[2019-09-16 09:43] denis-tingajkin commented on #1602
@matrohon is this still the issue?

[2019-09-16 11:14] lobkovilya opened #1624 "jaeger-client-go: fatal error: concurrent map iteration and map write"
## Failure Information (for bugs)
Spotted in TestVPNNSERemote [cicle-ci](https://circleci.com/gh/networkservicemesh/networkservicemesh/100094?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link)

## Details
We expect that all grpc call works synchronously. But `jaeger-client-go` has `RemoteReporter` that in separate goroutine sends Spans to servers. Since grpc metho

[2019-09-16 14:29] lobkovilya commented on #1495
https://circleci.com/gh/networkservicemesh/networkservicemesh/100752?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[2019-09-17 04:40] denis-tingajkin commented on #1623
https://circleci.com/gh/networkservicemesh/networkservicemesh/100918

[2019-09-17 12:27] matrohon commented on #1590
I rebased and let nsmgr run several hours, and this kind of panic is happening:

[code]

but nsmd-k8s is restarting properly.

[2019-09-17 14:13] #1624 closed

[2019-09-17 14:16] #1607 closed

[2019-09-17 14:19] #1596 closed

[2019-09-17 22:16] #1622 closed

[2019-09-17 22:19] edwarnicke opened #1633 "TestNSCDiesMultiNode fails"
## Expected Behavior

CI reliably passed

## Current Behavior

[TestNSCDiesMultiNode fails](https://circleci.com/gh/networkservicemesh/networkservicemesh/101410?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link)

[2019-09-18 04:29] edwarnicke commented on #1612
https://circleci.com/gh/networkservicemesh/networkservicemesh/101589?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-09-18 08:22] denis-tingajkin commented on #1612
by simple investigation found that the problem related to nsm monitoring staff. I guess it is fixed by https://github.com/networkservicemesh/networkservicemesh/pull/1631

[2019-09-18 12:48] matrohon commented on #1602
I didn't see any probe issue since I increased the initialDelaySeconds to 30s. I'm closing the issue.

[2019-09-18 12:48] #1602 closed

[2019-09-18 13:01] denis-tingajkin commented on #1532
duplicate of https://github.com/networkservicemesh/networkservicemesh/issues/1623

[2019-09-18 13:03] denis-tingajkin commented on #1397
examples were moved to helm. Example icmp is stable for now. For example vpn we have another issue https://github.com/networkservicemesh/networkservicemesh/issues/1623

[2019-09-18 13:13] denis-tingajkin commented on #1386
fond this in logs
[code]

[2019-09-18 13:15] denis-tingajkin commented on #1386
looks like it is related to https://github.com/networkservicemesh/networkservicemesh/issues/1624

[2019-09-18 13:16] denis-tingajkin commented on #1386
@haiodo can we close this issue?

[2019-09-18 18:59] tiswanso opened #1639 "With admission-webhook, nsm-coredns assumes kubedns service IP is 10.96.0.10"
## Expected Behavior

Pod use of kubedns should still function, regardless of injection of `nsm-coredns` sidecar.

## Current Behavior

For k8s clusters with service CIDRs != 10.96.0.0/16, the admission webhook will inject the nsm-coredns sidecar with invalid config for the kubedns mapping.  This breaks the pod's ability to do DNS queries for other kubernetes pods/services.

## Failure Information

[2019-09-18 19:07] denis-tingajkin commented on #1639
@tiswanso can you please test the workaround what I talked about on nsm-dev slack channel?
Workaround is
1) Implement function handler, for example
https://slack-redir.net/link?url=https%3A%2F%2Fgithub.com%2Fnetworkservicemesh%2Fnetworkservicemesh%2Fblob%2Fmaster%2Ftest%2Fapplications%2Fcmd%2Ficmp-responder-nse%2Fmain.go%23L108
And put into dnscontext your configs.
2) Add your handler to your endp

[2019-09-18 19:08] tiswanso commented on #1639
# Potential work-arounds and evaluations

## nsm-coredns env var UPDATE_API_DEFAULT_DNS_SERVER
### Evaluation
This isn't usable with the `nsm-admission-webhook` as it handles all of the pod's settings for the `nsm-coredns` container and it doesn't set `UPDATE_API_DEFAULT_DNS_SERVER`

## coredns config via configmap
### Evaluation
This isn't usable with the `nsm-admission-webhook` as it handles all

[2019-09-18 19:14] tiswanso commented on #1639
@denis-tingajkin -- thanks for the info.  I will use the pointer for my own NSE but that work-around only works if you're the developer of the NSEs and it requires knowledge of the exact k8s env setup the NSE and clients are deployed in.

[2019-09-18 19:15] denis-tingajkin commented on #1639
@tiswanso yes sure, you are right. This just for test :)

[2019-09-19 03:21] alex-yust commented on #1590
@matrohon, thank you for the new report, we made a fix for the crash, please give it a try when you have time.

[2019-09-19 06:19] denis-tingajkin commented on #1612
Not fixed.
Still reproducialbe: https://circleci.com/gh/networkservicemesh/networkservicemesh/102312?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-09-19 08:25] matrohon opened #1642 "weave not compatible with latest k8s"
## Current Behavior

Following the quick-start guide leads to the following error:

[code]

This error has been fixed upstream in the weave repo by https://github.com/weaveworks/weave/pull/3660

To fix it for nsm deployments, I had to manually install latest version of weave with:

[code]

[2019-09-19 08:55] matrohon opened #1645 "nsm-monitor and nsm-coredns images missing in vagrant deployment"
## Current Behavior

Following the quick-start guide, and applying the vpn scenario, with "make k8s-vpn-deploy", the nsc can't be started because nsm-monitor:latest and nsm-coredns:latest are not present. The makefiles don't seem uptodate.

[2019-09-19 08:59] rdimitrov commented on #1645
Indeed, the following issues are also related https://github.com/networkservicemesh/networkservicemesh/issues/1591, https://github.com/networkservicemesh/networkservicemesh/issues/1551 and it should be fixed by merging https://github.com/networkservicemesh/networkservicemesh/pull/1560

[2019-09-19 12:33] alex-yust commented on #1642
@denis-tingajkin  looks like #1438 will fix the issue, won't it?

[2019-09-19 12:54] denis-tingajkin commented on #1642
probably yes

[2019-09-19 13:49] denis-tingajkin opened #1646 "TestNSMHealRemoteDieNSMD_NSE is unstable: Timeout waiting for logs pattern Heal: Connection recovered"
## Failure Logs
[code]
https://circleci.com/gh/networkservicemesh/networkservicemesh/102614?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-09-20 05:45] alex-yust commented on #1642
@matrohon, #1438 is merged and I checked that there is no error reported on weave installation

Hope that they will release https://github.com/weaveworks/weave/pull/3660 by the time we switch to k8s 1.16

[2019-09-20 06:50] #1474 closed

[2019-09-20 12:50] #1478 closed

[2019-09-20 18:55] edwarnicke commented on #1623
@lobkovilya More recent failuer:
https://circleci.com/gh/networkservicemesh/networkservicemesh/103331?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-09-20 20:45] edwarnicke opened #1654 "TestVPNLocal fails in CI on master"
https://circleci.com/gh/networkservicemesh/networkservicemesh/103392

[2019-09-23 08:11] denis-tingajkin commented on #1503
the issue is fixed by https://github.com/networkservicemesh/networkservicemesh/pull/1537

[2019-09-23 08:11] #1503 closed

[2019-09-23 09:06] #1386 closed

[2019-09-23 09:09] haiodo commented on #1645
Work is finished with #1560

[2019-09-23 09:09] #1645 closed

[2019-09-23 09:10] haiodo commented on #1568
Seems fixed.

[2019-09-23 09:10] #1568 closed

[2019-09-23 09:10] haiodo commented on #1551
Seems resolved. Closing

[2019-09-23 09:10] #1551 closed

[2019-09-23 09:10] haiodo commented on #1532
Closing since it is duplicate to #1623

[2019-09-23 09:10] #1532 closed

[2019-09-23 09:11] haiodo commented on #1495
Closing since merged.

[2019-09-23 09:11] #1495 closed

[2019-09-23 09:11] haiodo commented on #1397
Closing since it is duplicate to #1623

[2019-09-23 09:11] #1397 closed

[2019-09-23 09:11] haiodo commented on #1591
Fixed in #1560

[2019-09-23 09:11] #1591 closed

[2019-09-23 09:12] #1605 closed

[2019-09-23 09:12] haiodo commented on #1642
Closing since with current version of Kubernetes working fine. Fix in #1438

[2019-09-23 09:12] #1642 closed

[2019-09-23 16:06] bboreham commented on #1642
cloud.weave.works should be fixed now.

[2019-09-23 22:29] john-a-joyce opened #1659 "Inconsistent behavior when multiple DNS servers provided to fanout"
## Expected Behavior

Expecting the coredns/fanout can deliver a consistent DNS response when multiple servers are configured.

## Current Behavior

Querying for the same host will yield inconsistent results.  Sometimes they return a successful response.   Sometimes a failure and sometimes it seems partially successful.

## Failure Information (for bugs)

## Steps to Reproduce

1. Create services

[2019-09-24 03:46] denis-tingajkin commented on #1659
@john-a-joyce, thanks for the report. Interesting why sometimes you have a negative result...

Some thoughts about negative result reason:
1) Try to use the final version. I found from your logs, that you used not final `nsm-coredns` version (75502ff). I guess the current behavior can differ because after 75502ff I did some fixes in nsm-coredns.
2) Try to configure your pod. I see you use custom D

[2019-09-24 14:56] john-a-joyce commented on #1659
I used the latest version from Master and here are some updated logs.   I don't know why the version string didn't print.   Is there a cli command within container to get it.   Here is the image details:

kubectl describe pod helloworld-v1-5bc5c999d6-k2pp9 | grep coredns
  nsm-coredns:
    Image:         networkservicemesh/nsm-coredns:master
    Image ID:      docker-pullable://networkservicemesh/

[2019-09-24 15:03] john-a-joyce commented on #1659
dnsConfig output from pod.

  dnsConfig:
    nameservers:
    - 127.0.0.1
    options:
    - name: ndots
      value: "5"
    searches:
    - default.svc.cluster.local
    - svc.cluster.local
    - cluster.local
  dnsPolicy: None

[2019-09-24 16:44] lobkovilya opened #1661 "Get rid of hardcoded bootstrap.crt in agent-configmap.tpl"
## Overview
PR https://github.com/networkservicemesh/networkservicemesh/pull/1380 provides basic security support, but with hardcoded certificates.

[2019-09-25 06:48] haiodo opened #1666 "TestNSMHealRemoteDieNSMDFakeEndpoint is failed on CI"
## Expected Behavior

TestNSMHealRemoteDieNSMDFakeEndpoint should pass on CI.

## Current Behavior

Test failed.

## Failure Information (for bugs)

https://circleci.com/gh/networkservicemesh/networkservicemesh/104510?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-09-25 16:03] pringlewood commented on #1493
I also had this issue, after speaking to @edwarnicke I understand why the images are tagged with master. If the releases are semantically versioned then production deployments should be pinned against this version number.

In the quickstart guide, if you do make `make helm-install-nsm` without  doing  `make k8s-save` and `make k8s-load-images` then helm will pull images tagged latest from dockerhu

[2019-09-26 11:02] alex-yust commented on #1029
Failed again..
https://circleci.com/gh/networkservicemesh/networkservicemesh/104734#tests/containers/0

[2019-09-26 12:59] #1509 closed

[2019-09-26 18:03] denis-tingajkin commented on #1029
In this issue, the problem was in the monitoring period...
I found in logs from CI, that the notification server from vpp-agent side is not working as expected.

For example, metrics logs from master branch:

[code]

Metrics logs from failing branch:
[code]
So I think the problem on vpp-agent side (but we need to approve this). I think it is a new problem and it is not related to this issue.

[2019-09-27 04:33] alex-yust opened #1673 "TestSimpleMetrics is failed"
## Expected Behavior

The test is expected to pass

## Current Behavior

The test fails occasionaly
According to @denis-tingajkin this is not a duplicate of #1029

## Failure Information (for bugs)

## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea...

## Context

* Kubernetes Version:
* etc.

## Failure Logs

https://circleci.com/gh/networkservicemesh/networkservicemesh/104734#tests/

[2019-09-27 04:36] lobkovilya commented on #1673
https://circleci.com/gh/networkservicemesh/networkservicemesh/105161?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[2019-09-27 04:36] alex-yust commented on #1673
@lobkovilya please look if this TestSimpleMetrics test failure is similar to one you experience currently

[2019-09-27 05:23] denis-tingajkin commented on #1673
@alex-yust  I have looked at logs from dataplane, yes it is the same problem
[code]
By some reason request always has index 0.

[2019-09-27 07:12] #1515 closed

[2019-09-28 15:23] edwarnicke opened #1680 "make helm-install-nsm fails outside if CI"
## Expected Behavior

Expect

make helm-install-nsm

to install nsm successfully.

## Current Behavior

[code]

As similar issue is being seen in examples/
https://circleci.com/gh/networkservicemesh/examples/2396

## Failure Information (for bugs)

## Steps to Reproduce

1.  make kind-start k8s-save k8s-load-images
2. export KUBECONFIG="$(kind get kubeconfig-path --name="nsm")"
3. make helm-init
4

[2019-09-28 21:51] edwarnicke commented on #1680
Additional notes... after fixing things so the spire-registration image was available... the nsmgrs were getting errors:

FetchX509SVID.Recv failed with rpc error: code = PermissionDenied desc = no identity issued

[2019-09-29 09:31] lobkovilya commented on #1680
I think spire requires some time to start issuing identities. That's why if we deploy nsm like this:
[code]
We will see `FetchX509SVID.Recv failed with rpc error: code = PermissionDenied desc = no identity issued` in logs, but after some time all certificates are received successfully (at least I observe such behaviour locally)

Probably the best way to deploy nsm is the following:
[code]

[2019-09-29 14:57] edwarnicke commented on #1680
Hmm... so I've tried that:
[code]
Still getting that issue, even if I wait many minutes from spire-install to installing the nsm helm chart:
[code]

Any idea how else I might debug this locally?

[2019-09-29 15:07] lobkovilya commented on #1680
Could you please share logs from `spire-agents` and `spire-server`

[2019-09-29 15:36] edwarnicke commented on #1680
[spire-server-0.txt](https://github.com/networkservicemesh/networkservicemesh/files/3667538/spire-server-0.txt)
[spire-agent-gdttb.txt](https://github.com/networkservicemesh/networkservicemesh/files/3667539/spire-agent-gdttb.txt)
[spire-agent-6zprs.txt](https://github.com/networkservicemesh/networkservicemesh/files/3667540/spire-agent-6zprs.txt)
[spire-agent-2bbxf.txt](https://github.com/networkse

[2019-09-29 16:22] edwarnicke commented on #1680
[nsm-vpp-forwarder-5vx66.txt](https://github.com/networkservicemesh/networkservicemesh/files/3667611/nsm-vpp-forwarder-5vx66.txt)

[2019-09-29 16:25] edwarnicke commented on #1680
[nsmgr-sjkgs.txt](https://github.com/networkservicemesh/networkservicemesh/files/3667615/nsmgr-sjkgs.txt)

[2019-09-29 16:32] lobkovilya commented on #1680
`kubectl describe` looks as it should be.

Could you please having a `spire` deployed using `make spire-install`, run some simple integration test, for example `TestNSCAndICMPLocal`?

[2019-09-29 16:37] lobkovilya commented on #1680
And also might have sense: did you updated cluster-roles on your cluster?

[2019-09-29 16:45] edwarnicke commented on #1680
What information would you like from that?  NSMgrs are in crash backoff...  so they will fail...

[2019-09-29 16:45] edwarnicke commented on #1680
I have not knowingly done anything to update cluster-roles... how would I do so?

[2019-09-29 16:46] lobkovilya commented on #1680
I mean `make k8s-config`, because I changed cluster-roles in my PR

[2019-09-29 16:49] lobkovilya commented on #1680
If they will pass then problems with helm charts. But this is very unlikely

[2019-09-29 16:52] edwarnicke commented on #1680
So should I try:
1. make kind-start k8s-save k8s-load-images
2. export KUBECONFIG="$(kind get kubeconfig-path --name="nsm")"
3. make helm-init
4. make k8s-config
5. make spire-install
6. make helm-install-nsm
7. SPIRE_ENABLED=false make helm-install-nsm

?

[2019-09-29 16:55] lobkovilya commented on #1680
I suppose just `make k8s-config` will be enough, we just need to update `cluster-role-*.yaml` resources.

And since you are using `kind`, I think I have to test it using `kind`. I checked only vagrant

[2019-09-29 17:14] lobkovilya commented on #1680
I have the same behaviour as you reported with `kind`

[2019-09-29 17:17] lobkovilya commented on #1680
https://github.com/spiffe/spire/issues/1081 looks like it fixed in newer version

[2019-09-29 17:43] edwarnicke commented on #1680
@lobkovilya Excellent... can you push a PR updating us to a more recent version?

[2019-09-29 18:12] lobkovilya commented on #1680
Yes, I can. But it is not tagged now as a release. I will check what is the best way to update spire for now. Maybe I have to cherry-pick the commit that we need

[2019-09-29 20:03] lobkovilya opened #1686 "Update spire-server and spire-agent versions"
## Overview

PR: https://github.com/networkservicemesh/networkservicemesh/pull/1685 replace `spire-server` and `spire-agent` images to custom ones with fix for `kind-cluster`.

Update images to new spire version when new release with fix becomes available.

Related issues:
https://github.com/networkservicemesh/networkservicemesh/issues/1680

[2019-09-30 06:47] lobkovilya opened #1687 "Create Makefile and build scripts for cross compile"
## Overview
Based on https://github.com/networkservicemesh/networkservicemesh/pull/1585 provide Makefile and build scripts

## Link to the Google Docs document

## References

[2019-09-30 18:56] denis-tingajkin opened #1691 "Unit test TestUsedClusterCancel is slow on the sanity check"
## Expected Behavior

Unit test TestUsedClusterCancel running fast and we save time for each build.

## Current Behavior

Unit test TestUsedClusterCancel takes ~40 sec on sanity check stage...

## Logs
https://106440-127937836-gh.circle-artifacts.com/0/home/circleci/junit/unit-tests.xml

[code]

[2019-10-01 10:18] uablrek commented on #1680
When installing with;
[code]
I get;
[code]
and NSM blocks waiting for some spire thing.

I don't run KinD.

If I use `image: gcr.io/spiffe-io/spire-agent:0.8.0` (reverse f16cb8feca383) the spire-agent starts but logs;
[code]

This may indicate that the spire-agent doesn't work with a CRI-plugin but assumes the built-in "dockershim". If so it must be updated. And possible to disable until then.

[2019-10-01 11:10] edwarnicke commented on #1680
@uablrek So first things first, quick workaround for you:

Set [insecure](https://github.com/networkservicemesh/networkservicemesh/blob/master/deployments/helm/nsm/values.yaml#L12) to true

Set [spire.enable](https://github.com/networkservicemesh/networkservicemesh/blob/master/deployments/helm/nsm/values.yaml#L24) to false.

Next... what CRI are you running?  The Spire guys are super responsive...

[2019-10-01 11:17] edwarnicke opened #1695 "VNI Selection improvement for interdomain"
Currently, VNI selection is done by partitioning the VNI space in half: odd and even.  When a NSMgr receives a request and selects remote.Mechanism VXLAN, it compares the SRC_IP of the requestor to the DST_IP it's going to set and selects the half of the VNI space it is going to use.

One of the benefits of this is that both the src and dst NSMgr intrinsically agree about the partition of the VNI

[2019-10-01 12:01] uablrek commented on #1680
Thanks, I will test it asap,

I am running `cri-o`. Since I am using k8s dual-stack I build it from their master;
[code]
See also the logs above;
[code]

[2019-10-01 12:17] edwarnicke opened #1696 "ExpireTime for NSMgr and NSE in registry"
## Overview

We have a standing problem of how to deal with NSMgrs and NSEs that disappear without telling us.  We have several ways we seek to autodetect this but are generally missing a good fallback mechanism.

This becomes particularly difficult in the case of interdomain, where we have Pods registering as NSEs with different domains that are floating or living in different clusters.

An appro

[2019-10-01 12:31] uablrek commented on #1680
[code]
Works :smile:

The spire-agent is still loaded and crashes, but it does not affect the NSM function. But it looks ugly;
[code]

[2019-10-01 12:58] edwarnicke opened #1697 "Move URL from NetworkServiceManager.Status to NetworkServiceManager.Spec"
## Expected Behavior

Spec data in NSMgr Spec should be in Spec section.

## Current Behavior

[URL is in NetworkServiceManager.Status](https://github.com/networkservicemesh/networkservicemesh/blob/master/k8s/pkg/apis/networkservice/v1alpha1/types.go#L103)

## Proposed Fix

Move URL from [NetworkServiceManager.Status](https://github.com/networkservicemesh/networkservicemesh/blob/master/k8s/pkg/api

[2019-10-01 13:02] edwarnicke commented on #1680
@uablrek Would you mind opening a new Issue for that... I would expect spire.enable=false to result in the Spire server not being run at all.

Also, could you tell me more about what CRI you are running?  I'd like to get Spire working in it, and it would help to know which one to do so :)

[2019-10-01 13:04] uablrek commented on #1680
Please see above https://github.com/networkservicemesh/networkservicemesh/issues/1680#issuecomment-537003824

[2019-10-01 13:06] uablrek commented on #1680
I will check the helm install. I am using helm 3, but I don't thing it matters;
[code]

[2019-10-01 14:24] #1654 closed

[2019-10-01 14:26] #1633 closed

[2019-10-01 14:27] #1623 closed

[2019-10-01 16:37] edwarnicke commented on #1680
@uablrek If you can jump on the spire slack... I'm trying to start a conversation there and see if we can get  to the root of your cri-o/spire issue :)

[2019-10-02 07:51] lobkovilya commented on #1603
https://circleci.com/gh/networkservicemesh/networkservicemesh/106803

[2019-10-02 13:02] edwarnicke opened #1701 "TestInterdomainNSMHealRemoteDieNSMD_NSE fails on master"
https://circleci.com/gh/networkservicemesh/networkservicemesh/106803

[2019-10-02 20:36] rdimitrov commented on #1558
Is it fixed?

[2019-10-02 22:56] john-a-joyce commented on #1659
After testing by cherry-picking the original issue seems fixed but I see a slightly different issue.  If I provide the wrong port number in the fanout for the dns server requests that should be successfully are not even if the other server can resolve.   Here are some logs.  You will see below I edited the deployment and switched the ports to the 2nd server (it was to the UDP ports of that server)

[2019-10-02 23:13] lobkovilya commented on #1612
Still reproducible:
https://circleci.com/gh/networkservicemesh/networkservicemesh/106911?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-10-03 02:35] denis-tingajkin commented on #1659
@john-a-joyce Many thanks for testing. It seems to me as another problem. Can we create separate Issue for this problem?

[2019-10-03 02:36] lobkovilya opened #1703 "TestDeploymentOrderClientEndpoint failed on master"
## Failure Information (for bugs)

https://circleci.com/gh/networkservicemesh/networkservicemesh/107747?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-10-03 05:23] denis-tingajkin commented on #1612
@lobkovilya as I can see, the issue reproducing only on aws and almost on each build... Can it be related to some problems on aws?

[2019-10-03 06:02] denis-tingajkin commented on #1612
@lobkovilya by simple investigation found that we have `TRACER_ENABLED=true` for monitoring pod in test. Do we have private env `TRACER_ENABLED=true` on circleci?

[2019-10-03 06:12] lobkovilya commented on #1612
idk, but disabling tracing allows us to hide the root problem. Seems like the main fail reason is incorrectly written test

[2019-10-03 15:37] john-a-joyce commented on #1659
@denis-tingajkin - I can create a different issue, but isn't that problematic since 1690 hasn't merged yet?

[2019-10-03 15:46] john-a-joyce opened #1715 "Issue with DNS fanout"
## Expected Behavior

Expect the fanout would return a good result even if one of the fanout addresses would not allow a proper server connection

## Current Behavior

The fanout will return "SERVFAIL"

## Failure Information (for bugs)

This is a continuation of the issue reported in  https://github.com/networkservicemesh/networkservicemesh/issues/1659
with a slightly modified test procedure.

##

[2019-10-03 15:50] john-a-joyce opened #1716 "DNS fanout documentation improvement"
## Overview

The DNS integration documentation doesn't address the most useful case where the nsm-coredns container is inserted by the admission webhook.   The documentation is here:  networkservicemesh/docs/spec/dns-integration.md

## Link to the Google Docs document

No google doc as this arguably a bug and not a feature.

## References

[2019-10-03 16:09] denis-tingajkin commented on #1659
@john-a-joyce if a problem what you describe is reproduced in the master branch then we can solve this in separate PR.

[2019-10-03 16:54] denis-tingajkin commented on #1715
Am I understand correctly that this Issue reproduced on the master branch without changes from PR https://github.com/networkservicemesh/networkservicemesh/pull/1690?

[2019-10-03 17:33] john-a-joyce commented on #1715
@denis-tingajkin - no I did not try this case on master.   I was just trying to submit the issue separately as you requested.   I won't have much ability to try this on master even when your change merges for a number of weeks.    If  you want to close it for now that is up to you.

[2019-10-04 02:19] denis-tingajkin commented on #1715
@john-a-joyce got it,
 I'll try to reproduce this on the master branch and if it is not reproduced then we should solve this Issue into PR: https://github.com/networkservicemesh/networkservicemesh/pull/1690

[2019-10-04 09:16] #1497 closed

[2019-10-04 10:12] denis-tingajkin commented on #1639
@tiswanso Hello, can you please retest the Issue with the last changes?

[2019-10-04 18:07] haiodo opened #1718 "VPPAgent dataplane errors during testing"
## Expected Behavior

Vpp agent should not disconnect

## Current Behavior

time="2019-10-04T11:00:46Z" level=error msg="rpc error: code = FailedPrecondition desc = KeyErrors: [config/vpp/v2/interfaces/DST-d9 (CREATE): not connected to VPP, ignoring the request, config/vpp/v2/interfaces/SRC-d9 (CREATE): not connected to VPP, ignoring the request]

and so on.

## Failure Information (for bugs)

##

[2019-10-04 18:08] haiodo commented on #1718
@artem-belov could you as VPP expect take a look. Thanks.

[2019-10-04 18:14] haiodo commented on #1718
dataplane logs:
[worker.log.zip](https://github.com/networkservicemesh/networkservicemesh/files/3691770/worker.log.zip)

jaeger tracing:
[5684484e3c2f9366.json.zip](https://github.com/networkservicemesh/networkservicemesh/files/3691771/5684484e3c2f9366.json.zip)

[2019-10-05 14:17] denis-tingajkin commented on #1718
Can we reproduce the issue using existing bench tests?
For example:
1) Need to change https://github.com/networkservicemesh/networkservicemesh/blob/master/test/integration/const.go#L12
2) Run test https://github.com/networkservicemesh/networkservicemesh/blob/master/test/integration/bench_connection_test.go#L22

[2019-10-06 07:07] #1494 closed

[2019-10-07 07:31] denis-tingajkin opened #1724 "Add Linter for checking license headers on source files"
## Problem statement

We have not linter for project source code files. In some places, we have a license header in some places we have not a license. Besides some files could have not actual license header.

## Solution

Use linter for license headers on CI on static-code-analysis stage.

[2019-10-07 07:33] denis-tingajkin commented on #1724
@nickolaev related to this problem, I have the next questions:
1) What kind license header we should use? I found some headers here https://github.com/networkservicemesh/networkservicemesh/tree/master/conf , but I'm not sure what is header should be used.

[2019-10-07 09:49] denis-tingajkin opened #1725 "Some unit tests have race condition problems"
## Current Behavior

Some unit tests have race problems

## Steps to Reproduce

Run unit tests with flag `-race`

## Link to build

https://circleci.com/gh/networkservicemesh/networkservicemesh/108974?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

## Failure Logs

https://108974-127937836-gh.circle-artifacts.com/0/home/circleci/junit/unit-tests.xml

[2019-10-07 09:56] denis-tingajkin commented on #1725
Question: can we add a job for running unit tests with race condition flag?

[2019-10-07 12:10] artem-belov commented on #1603
https://circleci.com/gh/networkservicemesh/networkservicemesh/108973

[2019-10-07 12:25] alex-yust opened #1728 "Cleanup CI-specific docker images from DockerHub registry"
## Overview

Project's CI creates unique image tag for every build, which means images built during CI are never  (theoretically) de-tagged and cleaned up from DockerHub registry. Those images take pretty amount of space and create clutter in registry.

It seems right to cleanup the images by default.

Although there is no docker command to remove an image from a remote registry, it is possible
vi

[2019-10-07 15:55] nickolaev commented on #1724
So I see 2 issues here:

1) exsiting files which lack Licenses. I suggest on these we get a generic header not decalring any company copyright.

2) newly added and/or changed files. These should be verified thorugh the linter for missing headers. The actual License header shoudl be added by the author(s) of that change

@edwarnicke how does this sound to you?

[2019-10-07 16:10] denis-tingajkin commented on #1724
@nickolaev the linter which I will try to use provides it possible to detect the author of the file and apply the needed header. But I need examples of valid headers for companies that used in the project to configure linter.
Also, I need to know what the header should be used by default.

[2019-10-07 16:13] denis-tingajkin commented on #1724
In addition, should we add license headers for test files?

[2019-10-07 16:16] nickolaev commented on #1724
IMO each source file shoudl have a License header.

[2019-10-08 04:57] denis-tingajkin opened #1731 "TestNsmCorednsNotBreakDefaultK8sDNS is not stable on aws"
## Description

TestNsmCorednsNotBreakDefaultK8sDNS checks that cluster DNS works fine.

## Expected Behavior

TestNsmCorednsNotBreakDefaultK8sDNS is stable on aws

## Current Behavior

TestNsmCorednsNotBreakDefaultK8sDNS is not stable on aws

## Steps to Reproduce

run test TestNsmCorednsNotBreakDefaultK8sDNS a few times on aws

## Failure Logs

1) https://circleci.com/gh/networkservicemesh/netwo

[2019-10-08 10:08] denis-tingajkin commented on #1724
I just wrote a script to find all the headers used in the project. Let me know what is headers we should support.
[code]

[2019-10-08 11:33] edwarnicke commented on #1724
That would be ideal.

We can get to a first step by linting for *new* files that don't have license headers.

[2019-10-08 11:38] edwarnicke commented on #1562
@rdimitrov Are you still seeing this, or can we close?

[2019-10-08 11:39] edwarnicke commented on #1564
Suggest we wait a bit on this pending #1657

[2019-10-08 11:39] denis-tingajkin commented on #1724
@edwarnicke sounds OK, what is default header should be?

[2019-10-08 11:45] edwarnicke commented on #1724
@denis-tingajkin Since we are only checking *new* .go files for the presence or absence of a header we only need to produce a failure and a good recommendation as to what to do.

So basically indicate to them to use header:
[code]
But don't accept it unless both YEAR and COPYRIGHTHOLDER have been replaced.

[2019-10-08 11:46] denis-tingajkin commented on #1724
@edwarnicke got it

[2019-10-08 11:48] edwarnicke commented on #1724
@nickolaev Sound good to you as a starting place?  It doesn't fix all the existing files, but it does preclude new ones without Copyright.

[2019-10-08 12:08] edwarnicke opened #1735 "Handle excludePrefixes via ConfigMap not GRPC"
## Overview

Currently we are populating ExcludePrefixes via a GRPC protocol.  Since this is a configuration matter, its better handled via a [ConfigMap](https://medium.com/@xcoulon/kubernetes-configmap-hot-reload-in-action-with-viper-d413128a1c9a).

The goal is to transition the ExcludePrefixes plugin to being a separate server that updates a ConfigMap of ExcludePrefix information.  That ConfigMa

[2019-10-08 12:38] rdimitrov commented on #1562
@edwarnicke I've tested it and it works now, so we're good to close it 👍

[2019-10-08 12:38] #1562 closed

[2019-10-08 13:01] edwarnicke commented on #1728
Good idea :)

[2019-10-08 13:43] haiodo commented on #1735
@denis-tingajkin I think we should do same for DNS records if applicable :-)

[2019-10-08 13:48] edwarnicke opened #1736 "Handle Node.InternalIP to Node.ExternalIP mapping in ConfigMap not via GRPC"
## Overview

Currently, the pNSMgr reference implementation gets a map from Node.InternalIP to Node.ExternalIP via [clusterinfo GRPC](https://github.com/networkservicemesh/networkservicemesh/blob/master/controlplane/api/clusterinfo/clusterinfo.proto) call to a server in a separate container in the Pod.

This should be transitioned to a [ConfigMap yaml file](https://medium.com/@xcoulon/kubernetes-c

[2019-10-08 13:51] edwarnicke commented on #1735
@haiodo Say more :)  I don't quite follow :)

[2019-10-08 14:22] #1701 closed

[2019-10-08 14:33] #1577 closed

[2019-10-08 14:35] #1715 closed

[2019-10-08 14:36] #1590 closed

[2019-10-09 04:08] denis-tingajkin commented on #1563
blocked by https://github.com/ligato/vpp-agent/issues/1509

[2019-10-09 05:36] denis-tingajkin commented on #1564
@edwarnicke ok, let's wait

[2019-10-09 07:52] lobkovilya opened #1749 "Cover crossconnect-monitor with helm tests"
## Overview

`crossconnect-monitor` should be somehow deployed and checked on CI

[2019-10-09 08:01] alex-yust opened #1750 "Cleanup BUILD_CONTAINERS usage from makefiles"
BUILD_CONTAINERS variable has gone with #1692

but it is still referenced in bunch of makefiles, which means the targets affected  are either broken or unused.

[2019-10-09 09:05] nickolaev commented on #1724
@denis-tingajkin @edwarnicke, I do agree with the proposed template and the overall approach,. However the YEAR could be anything like "2018" or "2018,2019" or even "2018-2019".
Then

[2019-10-09 22:31] edwarnicke commented on #1724
@nickolaev You good with 'separate line per copyright holder' ?

[2019-10-10 08:23] artem-belov opened #1754 "Update aws cni plugin"
## Overview

Remove aws cni plugin version fix when https://github.com/aws/amazon-vpc-cni-k8s/issues/641 will be closed and released
https://github.com/networkservicemesh/networkservicemesh/blob/ad89a4cf04e9876b8f147cc7b9953baca45572b3/scripts/aws/create-kubernetes-cluster.go#L461

[2019-10-10 11:16] edwarnicke commented on #1565
@rdimitrov

[2019-10-10 12:21] edwarnicke commented on #1512
https://github.com/ligato/vpp-agent/pull/1495 appears to have committed a fix for this for us.

[2019-10-10 12:39] edwarnicke opened #1759 "_azure_gke_TestInterdomainNSCAndICMPDataplaneHealRemote failed in CI"
## Expected Behavior

All tests to pass in CI when no code related to running tests is added.

## Current Behavior

https://circleci.com/gh/networkservicemesh/networkservicemesh/110444?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-10-10 12:40] edwarnicke commented on #1759
Never mind... something else looks weird I need to investigate.

[2019-10-10 12:40] #1759 closed

[2019-10-13 11:05] artem-belov opened #1763 "TestSimpleMetrics failed with vpp-agent v2.3.0"
## Expected Behavior

Test should pass on all clusters

## Current Behavior

Test failed on waiting for metrics update

## Failure Information (for bugs)

vpp-agent version update #1753
https://circleci.com/gh/networkservicemesh/networkservicemesh/111817

## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea...

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[2019-10-13 22:32] #1718 closed

[2019-10-15 13:43] BoutheinaDab commented on #1512
Great! I will try it. Thank you

[2019-10-15 14:13] #1564 closed

[2019-10-15 14:13] #1603 closed

[2019-10-15 14:15] #1612 closed

[2019-10-15 14:18] #1659 closed

[2019-10-15 14:19] #1697 closed

[2019-10-15 14:20] #1695 closed

[2019-10-15 14:20] #1691 closed

[2019-10-15 14:23] #1731 closed

[2019-10-15 20:27] bookmoons commented on #1518
Hi guys. I'll have another look through this and see if I can dig out an example of that fixture.

[2019-10-15 20:44] edwarnicke commented on #1518
@bookmoons Excellent!  @pringlewood  is working some of the existing fuzzing bugs :)

[2019-10-17 16:40] denis-tingajkin commented on #1563
Faced with a new problem. Reported to vpp-agent https://github.com/ligato/vpp-agent/issues/1525

[2019-10-17 19:12] lobkovilya opened #1774 "Example-helm-vpn fails on CI"
## Failure Information (for bugs)
[vpn-example.zip](https://github.com/networkservicemesh/networkservicemesh/files/3740908/vpn-example.3.zip)

https://circleci.com/gh/networkservicemesh/networkservicemesh/112410?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[2019-10-17 19:14] lobkovilya opened #1775 "AWS: NetworkPlugin cni failed to set up pod... network: add cmd: failed to assign an IP address to container"
## Failure Information (for bugs)

https://circleci.com/gh/networkservicemesh/networkservicemesh/112410?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[2019-10-17 19:29] denis-tingajkin commented on #1774
found in logs of firewall
[code]
Is it expected error?

[2019-10-17 19:41] lobkovilya commented on #1774
@denis-tingajkin I don't know, but you can check logs of successful test

[2019-10-18 15:47] ivanayov opened #1780 "Cross connect fails to log events with spire enabled"
Cross connect monitor logs have the following error and there are no printed events after `k8s-check`:

[code]

When `spire` is disabled, `nsm` deployment fails with time out:
[code]

[2019-10-18 16:06] ivanayov opened #1781 "Metrics from UPDATE events not sent to cross-connect monitor (tested with kernel-forwarder)"
In the cross-connect monitor logs all UPDATE events don't have metrics attached.

Some metrics are visible in the kernel-forwarder logs, but they do not appear in the cross connect monitor:
[code]

The data we're looking for is of type (putting random numbers):
[code]

[2019-10-18 17:00] denis-tingajkin commented on #1781
@ivanayov can we concrete the title for this issue, that it is related to `kernel forwarder` to avoid confusion? Because we have a similar problem with `vppagent-forwarder` https://github.com/networkservicemesh/networkservicemesh/issues/1763.

[2019-10-18 22:28] ivanayov commented on #1781
@denis-tingajkin I didn't write explicitly, as it might not be specific for the kernel-forwarder. I didn't investigate yet, but looks more like not related to the forwarder and might be similar issue as in #1763

For now will change the title, but might be a common problem.

[2019-10-19 06:56] #1526 closed

[2019-10-19 13:31] denis-tingajkin opened #1784 "TestNSMDDeploy sometimes fails"
## Failure Logs
https://circleci.com/gh/networkservicemesh/networkservicemesh/112607

[code]

[2019-10-19 22:09] denis-tingajkin commented on #1512
still blocked by https://github.com/ligato/vpp-agent/pull/1451#issuecomment-544200835

[2019-10-20 18:17] denis-tingajkin commented on #1784
https://circleci.com/gh/networkservicemesh/networkservicemesh/112780

[2019-10-22 12:31] edwarnicke commented on #1781
@ivanayov We may not have metrics for all updates. For example, the update may be to a initial connection, or a heal event.

[2019-10-22 12:32] edwarnicke commented on #1780
@lobkovilya Could you have a look?

[2019-10-22 12:37] ivanayov commented on #1780
@lobkovilya @edwarnicke I think this is resolved now on latest master + there's an update in the documentation about disabling spire.
Didn't test with spire enabled though.

[2019-10-22 12:38] lobkovilya commented on #1780
I'll check what's wrong with `cross-connect monitor` with enabled `spire`.

[2019-10-22 12:53] #1615 closed

[2019-10-22 23:34] #1620 closed

[2019-10-23 07:40] denis-tingajkin commented on #1763
Blocked by https://github.com/ligato/vpp-agent/issues/1537

[2019-10-24 12:56] edwarnicke commented on #1736
Suggested yaml file format:

[code]

You can adapt [proxy-nsmd-k8s](https://github.com/networkservicemesh/networkservicemesh/blob/master/k8s/cmd/proxy-nsmd-k8s/main.go) to update the ConfigMap for the yaml file.

In the process you should delete:
[the clusterinfo GRPC api](https://github.com/networkservicemesh/networkservicemesh/tree/master/controlplane/api).

I would suggest using [Viper](https:/

[2019-10-24 13:07] edwarnicke commented on #1735
Suggested yaml file format:

[code]

You can adapt [prefixcollector](https://github.com/networkservicemesh/networkservicemesh/tree/master/k8s/pkg/prefixcollector) to gather the excludedPrefixes and update the ConfigMap.

In the process you should delete [controlplane/api/plugins](https://github.com/networkservicemesh/networkservicemesh/tree/master/controlplane/api/plugins)

I would suggest using [

[2019-10-24 19:54] denis-tingajkin commented on #1735
@edwarnicke Am I understand correctly that for step 4(`nsmd detects ConfigMap file is updated`) we need to monitor the configmap file on nsmd side via `file watcher` ?

[2019-10-24 20:05] denis-tingajkin commented on #1735
@edwarnicke got it. `viper` provides API for monitoring config file. Looks clear to me

[2019-10-28 00:13] bookmoons commented on #1518
Is there someone who can point me at the right logic here? There's connection logic in several different places. It's not clear to me where that negotiation is happening.

[2019-10-28 02:50] edwarnicke commented on #1518
I believe if its connections over a Unix file socket its here:
https://github.com/networkservicemesh/networkservicemesh/blob/master/pkg/tools/socket.go#L114

And over TCP is here:
https://github.com/networkservicemesh/networkservicemesh/blob/master/pkg/tools/socket.go#L132

[2019-10-28 09:27] #1784 closed

[2019-10-28 09:30] haiodo commented on #1646
Should be more stable after SDK was refactored and changed applied.

[2019-10-28 09:30] #1646 closed

[2019-10-28 09:30] haiodo commented on #1673
Seems fixed.

[2019-10-28 09:31] haiodo commented on #1354
Closing, since merged.

[2019-10-28 09:31] #1354 closed

[2019-10-29 06:17] denis-tingajkin opened #1814 "Unit test TestSimple is unstable on CI"
## Current Behavior

 Unit test `TestSimple` is unstable.

## Failure Logs

https://circleci.com/gh/networkservicemesh/networkservicemesh/113448

[code]

[2019-10-29 13:54] #1814 closed

[2019-10-29 14:09] denis-tingajkin commented on #1563
PR provided but we can't merge it. We need wait for https://github.com/ligato/vpp-agent/issues/1528

[2019-10-29 14:15] #1724 closed

[2019-10-29 14:33] #1725 closed

[2019-10-29 14:36] #1763 closed

[2019-10-29 23:56] bookmoons commented on #1518
Thanks a lot @edwarnicke. Missed that socket file, I was looking for things named connection.

[2019-10-30 01:12] bookmoons commented on #1518
I'm not really finding a channel to get the fuzz to the right place. What would you think about getting the fuzzers we have running? You might as well get some testing out of them since they're ready to use.

I'd be happy to write this one if someone could show me the right setup on the NSM side. I think you'd want to start a test service, do preliminary exchange to get to negotiation, then hit ne

[2019-10-30 10:22] edwarnicke commented on #1518
So it sounds like you are wanting to:

a)  Run a component that takes input from the network (usually GRPC in our case)
b)  Feed it fuzz
c)  See what falls out

Correct?   Would using helm to deploy the [nsm system](https://github.com/networkservicemesh/networkservicemesh/tree/master/deployments/helm/nsm) in Kubernetes work?  Or is that more complex than what you are looking for?

If so, the place

[2019-10-30 10:35] haiodo opened #1817 "TestNSCAndICMPWebhook* is unstable because Admission webhoook could not start sometimes"
## Expected Behavior

Admission web hook should start, and we have a test to be sure it is started properly.

## Current Behavior

Webhoook is not started, or not fully working this causing NSM-init container being not added as init container, so one of tests TestNSCAndICMPWebhook* could fail.

## Failure Information (for bugs)

## Steps to Reproduce

Use CI.

## Context

* Kubernetes Version:
* e

[2019-10-30 12:22] denis-tingajkin commented on #1781
@ivanayov  #1763 fixed. Cross-connect monitor sends correct metrics for vpp-agent forwarder. I think the problem related to kernel-forwarder metrics collector staff, but need to investigate.

[2019-10-30 17:07] bookmoons commented on #1518
Yeah that's seems about right. This seems promising, I'll have a look. But I wonder if it's heavy for a fuzzer. The binary will reconstruct the fixture each iteration, so I think you'd end up starting Kubernetes fresh and deploying every iteration. It might make it pretty slow. Is there a way to set that up with the underlying pieces stubbed out?

[2019-10-30 17:28] edwarnicke commented on #1518
@bookmoons Should be doable.  We have some unit tests that do something quite similar to what you are describing.  Give me a bit to find examples :)

[2019-10-31 06:39] denis-tingajkin opened #1819 "Performance and concurrency testing on CI"
## Problem statement

Currently, we have two testing jobs.
First is part of [sanity check](https://github.com/networkservicemesh/networkservicemesh/blob/master/.circleci/config.yml#L74)
Second is [integration testing](https://github.com/networkservicemesh/networkservicemesh/blob/master/.circleci/config.yml#L169)

At this moment we have not a solution for concurrency and performance testing.
1) We

[2019-10-31 15:36] nicoekkart opened #1820 "Kubectl config not available to point to vagrant kubectl"
## Expected Behavior

A kube config should be available in scripts/vagrant/.kube/config

## Current Behavior

It is not available, making that kubectl doesn't work after running ```. scripts/vagrant/env.sh ```.

## Steps to Reproduce

1. `make vagrant-start`
2. `source scripts/vagrant/env.sh`

## Context

Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe503

[2019-10-31 21:26] edwarnicke commented on #1680
@uablrek Did you ever get this resolved?

[2019-11-01 08:33] uablrek commented on #1680
Hi, No AFAIK no one here have ever get NSM working without --insecure even those not using cri-o. The spire pods may be running but other pods does not start. I still think the problem in my case is that spire assumed "docker shim" an I am using cri-o. They seem to try to dig out the namespaces by the finding the init process of a pod in a docker unique way (there is no "right" way BTW, only diffe

[2019-11-01 09:07] haiodo commented on #1666
Failed here: https://circleci.com/gh/networkservicemesh/networkservicemesh/113685

[2019-11-01 16:56] edwarnicke commented on #1680
@uablrek And I'll ask the spire guys if they work with cri-o or have any known issues with it.

[2019-11-01 17:02] #1493 closed

[2019-11-02 04:31] haiodo commented on #1703
@lobkovilya did you looked into this issue?

[2019-11-02 04:35] haiodo commented on #1775
I think we need to check this situation in test and return some status for CloudTest tool to try on another instance of same cluster to re-test this particular test again.

[2019-11-02 04:39] haiodo commented on #1775
I will try to add a re-try attempt to re-deploy pod with name name if this situation will happen, and if this will not help when a cluster-restart/choose a different instance will potentially help I suppose.

[2019-11-02 04:39] haiodo commented on #1775
We had this happen again on master: https://circleci.com/gh/networkservicemesh/networkservicemesh/112410?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[2019-11-02 13:40] haiodo commented on #1673
Still could fail: @lobkovilya  please take a look: https://circleci.com/gh/networkservicemesh/networkservicemesh/113749?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-11-02 15:30] nicoekkart commented on #1820
Is it maybe possible that I am seeing the role of this kube config wrong? Where should it be created?

[2019-11-02 16:00] edwarnicke commented on #1820
@nicoekkart Its created here: https://github.com/networkservicemesh/networkservicemesh/blob/master/scripts/vagrant/scripts/configureK8smaster.sh#L32

So if vagrant-start was successful, then it *should* be the case that .kube/config is where you are looking for it.

[2019-11-02 16:01] edwarnicke commented on #1820
@nicoekkart Question... which hypervisor are you using under vagrant?

[2019-11-02 17:09] edwarnicke opened #1824 "Allow for dynamic template selectors for matching in Network Services"
## Overview

Currently, in the Network Service Resource we can provide 'matches' for selecting candidates:

[code]

Where we can 'match' sourceSelectors on the sourceLabels on the request, and then in the 'destinationSelector' match destinationLabels from the registered Network Service.

This is extremely simple, powerful, and flexible for cases where we want to compose together Network Services.

[2019-11-02 17:12] edwarnicke commented on #1824
@nickolaev Could you have a look at this.  @pringlewood has expressed some interest in doing this implementation.

[2019-11-03 05:41] nickolaev commented on #1824
Looks interesting. Are we considering a specific set of labels to be matched, or arbitrary ones? Also I would recommend that `createProxyNSMgr` is left for further implementation at this point.

[2019-11-03 11:28] nicoekkart commented on #1820
I am using docker under vagrant. This is the output of vagrant-start.

[code]

[2019-11-03 14:38] edwarnicke commented on #1824
Arbitrary.

I may have been less than clear... this is meant to be *only* the changes to make matches dynamic.  I never intended create pNSMgr to be in scope of this PR.  This just makes it much easier to do create pNSMgr.

[2019-11-04 10:09] uablrek commented on #1680
Hi, I tested to build NSM on the master branch and tried to start. The `nsmd` container never becomes ready. Latest logs are;
[code]

Maybe my cluster misses some aothorization setting?

[2019-11-04 16:05] edwarnicke commented on #1680
@uablrek Have you disabled Spire?

[2019-11-04 17:14] uablrek commented on #1680
No, this was with spire. I wanted to test if it was working. With spire I got a new problem that `nsmd` does not start on the master node, while it works on other nodes. I am trobleshooting that but have no idea so far.

[2019-11-04 17:16] edwarnicke commented on #1680
Got it... is it possible to get the spire-agent logs?

Are you running OpenShift?  @fkautz had some ideas about SE Linux if you are.

[2019-11-05 08:48] denis-tingajkin commented on #1784
https://circleci.com/gh/networkservicemesh/networkservicemesh/113923?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-11-05 13:23] haiodo commented on #1680
@edwarnicke @lobkovilya Probable we need to detect if spire is working properly and have this logged to be visible by any user. Thoughts?

[2019-11-05 13:48] edwarnicke commented on #1680
@uablrek One other question... are you enabling or disabling Spire when you set insecure=false?

[2019-11-05 13:49] edwarnicke commented on #1680
Sounds good :)

[2019-11-05 15:08] #1817 closed

[2019-11-05 15:10] #1703 closed

[2019-11-05 15:17] #1673 closed

[2019-11-05 20:41] uablrek commented on #1680
Sorry for the late answer. I had to work with other things. I have tested and think I have got it running with spire. I must double-check that I really have spire enabled, and BTW;

Is there any simple way to check that I really am using spire?

The problem I have fixed was that my coredns was not configured correctly. DNS lookups that happened to be to the local node failed because the address fo

[2019-11-05 20:51] #1666 closed

[2019-11-05 21:00] edwarnicke commented on #1680
So currently if you are using insecure=false, and its working, then Spire is enabled.

In the helm charts, this is where spire is enabled:

https://github.com/networkservicemesh/networkservicemesh/blob/master/.mk/helm.mk#L37

which triggers this dependency:

https://github.com/networkservicemesh/networkservicemesh/blob/master/deployments/helm/nsm/requirements.yaml#L5

 That coredns issue sounds li

[2019-11-05 22:26] fkautz opened #1834 "Spec: Specify how versioning should work in git and container repos"
https://docs.google.com/document/d/1osjESPyTsgEOrsc-fLuJSWRn0HGUQLVRujXMwXd9JVs/edit

[2019-11-06 10:00] uablrek commented on #1680
To start NSM with insecure=false (and true) works on commit; a8baf50cf8e067690a52b058c127e404cc7fd3f6

The `icmp-responder` example works with both insecure=true/false but the `bridge-domain` example only works with insecure=true. With insecure=false the pods are stuck at "Init";
[code]

I have not yet re-built the bridge-domain example though. I will get back when I have done that whenever it hel

[2019-11-06 10:15] uablrek commented on #1680
### This is not related to this issue at all, but just for information.

On master I now get an Error;
[code]

I actually learned how to use "git bisect" to be able to keep up with NSM :expressionless:

It's pretty cool actually. Result from today;
[code]
My bet is on 8dcb3ffe67fcf06a4e033f61976e56a3ee41bccc

The reason for the "any of" is that a number of commits had faults in the helm-charts mak

[2019-11-06 14:35] edwarnicke commented on #1680
@uablrek Thanks for the pointer... I'll go have a look.  First problem is "Find the issue and fix it", second problem is "Why didn't CI catch this".

[2019-11-06 14:38] edwarnicke commented on #1680
As to a number of commits having faults in the helm-charts... could you say a bit more.  We do *test* the helm charts as part of the CI, so it should not be the case that helm-charts that don't work are present on any point in our master history (presuming we are testing them correctly).  So the fact you have found helm-chart instances that don't work is very interesting and I'd like to get to the

[2019-11-06 15:00] edwarnicke commented on #1680
@uablrek OK... I just tried on master HEAD with:

[code]
and everything worked.  This makes me suspect that the broken ness is in running

helm install deployment/helm/nsm

outside of the make machinery (which is something we always want to work).  Let me go check that.

[2019-11-06 15:16] uablrek commented on #1680
I just re-checked the skipped commints and they load fine helm-wise. I am sorry for barking. I got printout about "app/v1beta" and such things on helm install. That made me think the helm charts were broken.

I also now can pinpoint the nsm-admission-webhook to commit 8dcb3ffe67fcf06a4e033f61976e56a3ee41bccc

[code]

[2019-11-06 15:17] edwarnicke commented on #1680
@uablrek OK... just tried again on master HEAD with:
[code]

And again everything worked.  So my normal next idea would be to look at environment differences.  I am running in kind, what env are you running in?

[2019-11-06 15:18] edwarnicke commented on #1680
All good.  Being stuck is frustrating, and we all get a bit annoyed.  Once we fix this issue, I do want to talk about how we can make it more comfortable to follow NSM for you.  We strive to be consumable, and it seems we may have been falling short with you here.

[2019-11-06 15:20] edwarnicke commented on #1680
OK... so the interesting question in my head is "Why is the webhook not finding that cert for you, but is for me".   Given what you are reporting here, I agree that [8dcb3ff](https://github.com/networkservicemesh/networkservicemesh/commit/8dcb3ffe67fcf06a4e033f61976e56a3ee41bccc) looks suspicious.  Give me a minute to stare at it and think about what things could go wrong, but not *always* go wron

[2019-11-06 15:21] edwarnicke commented on #1680
@denis-tingajkin Do you have any thoughts here?

[2019-11-06 15:23] uablrek commented on #1680
I checked the commit 8dcb3ffe67fcf06a4e033f61976e56a3ee41bccc and I think there is something new that must be configured. There is some shift from/to "pem" here. Perhaps some secret I should have?

I must leave now but will check later in the evning.

[2019-11-06 15:27] manuelbuil opened #1840 "Error when running make docker-build"
## Expected Behavior

As stated in the [README](https://github.com/networkservicemesh/networkservicemesh/blob/2923db39e12d8da1d11629a18a9d6f566e216130/scripts/vagrant/README.md), I would expect images to be built by executing `make docker-build`

## Current Behavior

It fails with errors because it cannot find the package github.com/spiffe/spire/proto/spire/api/workload

## Failure Information (fo

[2019-11-06 15:40] edwarnicke commented on #1840
@manuelbuil Could you try with go 1.13 ?

[2019-11-06 15:53] edwarnicke commented on #1680
@uablrek Yeah... I'm poking around to see if I have done some mysterious magic to have a local cert for the webhook.

[2019-11-06 16:46] manuelbuil commented on #1840
@edwarnicke yep, that fixes problem :). Should I add that information in https://github.com/networkservicemesh/networkservicemesh/tree/master/scripts/vagrant#prerequisites? BTW, in that same document, after executing `make docker-save`, it executes `cd forwarders/vpp` but that directory does not exist or?

[2019-11-06 16:55] edwarnicke commented on #1840
@manuelbuil Please do :)  We'd welcome a PR to improve documentation :)

You should be able to also delete the whole
[code]
and have things still work :)

[2019-11-06 17:57] denis-tingajkin commented on #1680
@uablrek Seems to me your admission webhook image is not the latest.
Note: `time="2019-11-06T15:15:02Z" level=info msg="Version: 8e1bff92"`.
To fix the issue you need to do `make k8s-save` && `make k8s-load-images`

[2019-11-06 18:02] denis-tingajkin commented on #1680
or faster variant `make docker-k8s-save && make k8s-admission-webhook-load-images`

[2019-11-06 18:55] uablrek commented on #1680
[code]
Well, you are right. Seems that "master" is used even if I install with `--set tag=latest` to helm.

Is this really intentional?

[2019-11-06 19:11] edwarnicke commented on #1680
@uablrek use --set tag=latest if installing directly from helm.

The reason we default to master right now is because that way if someone is using the helm charts they don't have to build, they can pull from dockerhub.

Always open for suggestions for making this easier :)

[2019-11-06 19:14] uablrek commented on #1680
I *do* use "-set tag=latest".

The problem is that you still use master for spire and admission-webhook. The "-set tag=latest" is not honoured.

[2019-11-06 19:46] edwarnicke commented on #1680
Aha!  Let me fix that :)

[2019-11-06 19:49] uablrek commented on #1680
The problem seem to be the mix of versions. When I edit the yaml-files and set tag=latest I can load the locally built images fine on the latest commit.

[2019-11-06 19:51] edwarnicke commented on #1680
@uablrek Cribbing from:

https://github.com/networkservicemesh/networkservicemesh/blob/master/.mk/helm.mk#L37

It seems --set spire.tag=latest --set admission-webhook.tag=latest would do it.

All of that said: this is to hard.  We've been hiding from it with our Makefiles, but we need it to be simpler out of the box with just the helm charts.

[2019-11-07 10:00] uablrek commented on #1680
### Back to the issue

With the tag problem sorted out I can start just fine with a local build from "master" by using tag=latest. So back to the problem in this issue.

The situation is as described above https://github.com/networkservicemesh/networkservicemesh/issues/1680#issuecomment-550236532.

The init-container is stuck and the logs show;
[code]
I start the icmp-responder with `helm` but the

[2019-11-07 13:37] manuelbuil commented on #1840
https://github.com/networkservicemesh/networkservicemesh/pull/1843

[2019-11-07 13:51] edwarnicke commented on #1680
@uablrek OK... that error "FetchX509SVID.Recv failed" indicates spire is not running...

Hmm... we have updated the examples/ as we have updated networkservicemesh/ ... does the CI for examples/ cover bridge-domain?

[2019-11-07 14:21] denis-tingajkin commented on #1680
@uablrek you can also try to use `make spire-install` before run the example

[2019-11-07 16:02] #1840 closed

[2019-11-08 04:30] lobkovilya opened #1846 "TestDeploymentOrderServiceEndpointClient failed on Azure"
## Failure Logs
https://circleci.com/gh/networkservicemesh/networkservicemesh/114198?pipelines-ui-opt-out

[2019-11-08 04:32] lobkovilya opened #1847 "TestInterdomainNSEHealLocalToRemote fails on CI"
## Failure Logs
https://circleci.com/gh/networkservicemesh/networkservicemesh/114198?pipelines-ui-opt-out

[2019-11-08 04:33] lobkovilya commented on #1847
Most probably will be fixed by https://github.com/networkservicemesh/networkservicemesh/pull/1845

[2019-11-08 06:00] denis-tingajkin opened #1848 "etcdserver: request timed out on pod deploying [Azure]"
## Logs
https://114245-127937836-gh.circle-artifacts.com/0/home/circleci/project/.tests/cloud_test/azure-1/016-TestDeleteDirtyNSEWithClient-run.log

## Build
https://circleci.com/gh/networkservicemesh/networkservicemesh/114245

[2019-11-08 06:03] artem-belov commented on #1848
I suppose this issues related only to Azure cloud.

[2019-11-08 06:04] denis-tingajkin commented on #1848
@artem-belov fixed

[2019-11-08 08:34] denis-tingajkin opened #1849 "TestInterdomainVPNNSERemote sometimes fails on CI"
## Failure Logs
https://114296-127937836-gh.circle-artifacts.com/0/home/circleci/project/.tests/cloud_test/aws-6_azure-4/001-TestInterdomainVPNNSERemote-run.log

## Build

https://circleci.com/gh/networkservicemesh/networkservicemesh/114296?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-11-08 11:29] artem-belov opened #1851 "Packet cluster fails on CI"
## Expected Behavior

Packet cluster choose another facility if default is busy

## Current Behavior

Packet cluster starts with error

## Failure Information (for bugs)

https://circleci.com/gh/networkservicemesh/networkservicemesh/114351

## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea...

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[2019-11-08 21:04] denis-tingajkin commented on #1848
https://circleci.com/gh/networkservicemesh/networkservicemesh/114386

[2019-11-08 21:33] #1558 closed

[2019-11-10 15:29] #1544 closed

[2019-11-11 08:38] haiodo commented on #1848
I think we need to restart cloud in this case. Question here is could we detect this situation not from test.

[2019-11-12 12:31] nicoekkart commented on #1820
Is this output of vagrant-start what one would expect, or did something go wrong?

[2019-11-12 13:00] rdimitrov commented on #1820
@nicoekkart Hey, I see it says "machine already provisioned", so do you mind trying `make vagrant-destroy` and then again `make vagrant-start`? Again, followed by sourcing the `vagrant.sh` file 👍

Note: If you want to to check if there're VMs running, use - `vagrant global-status`

[2019-11-13 02:05] leecalcote opened #1869 "Enhance Meshery adapter for NSM with full collection of CNF example apps"
## Overview

Meshery is a multi-service mesh management plane that, among other things, provides lifecycle management of a variety of service meshes, including NSM.

Currently, the [Meshery adapter for NSM](https://github.com/layer5io/meshery-nsm) includes four of the NSM CNF as published in [helm charts](https://github.com/networkservicemesh/helm-charts) and one sample application created in the

[2019-11-13 03:41] edwarnicke commented on #1869
@leecalcote Would it help to have helm charts for the examples/ ?  We have them currently for the ones in the networkservicemesh repo at https://helm.nsm.dev/master
Then we could simply take your approach with walking the helm charts rather than checking out the repo :)

[2019-11-13 04:16] leecalcote commented on #1869
@edwarnicke great suggestion. 😀 Yes, helm charts really would improve the approach.

[2019-11-13 09:50] pigmej commented on #1680
Hey,

So I had / have the same issues. Whatever I did it was not working without `INSECURE=true`.

I've tried installing spire first but then the errors ```│ time="2019-11-13T09:41:58Z" level=info msg="FetchX509SVID.Recv failed with rpc error: code = PermissionDenied desc = no identity iss │
│ ued; retrying in 17.0859375s" ``` were present in `nsmd` containers.

When issued `INSECURE=true SPIRE_EN

[2019-11-13 09:53] lobkovilya commented on #1680
Could you please share logs from spire pods:
[code]

[2019-11-13 10:16] pigmej commented on #1680
Sure.

[code]

[2019-11-13 10:23] lobkovilya commented on #1680
The first suspicious thing is empty logs for `spire-server`.
According to `spire-agent` logs it can't reach kubelet's 10250 port. Do you use vagrant?

[2019-11-13 10:29] pigmej commented on #1680
I did. But different setup than the built in Vagrant there.

[2019-11-13 10:42] lobkovilya commented on #1680
Hm, that might be the reason. Kubelet's port could be closed or configured in a different way on your setup.
Could you please check availability of that port:
[code]

[2019-11-13 10:54] pigmej commented on #1680
From the insecure I have these logs in spire sever for example:
[code]

Speaking about kubelet. it's on that node but listens on other interface (not localhost)

[2019-11-13 11:03] lobkovilya commented on #1680
That's interesting!
I checked [documentation](https://github.com/spiffe/spire/blob/master/doc/plugin_agent_workloadattestor_k8s.md) for spire k8s workload attestor, it always expect to find kubelet on `localhost`.

[2019-11-13 11:06] lobkovilya commented on #1680
Is it possible for you to do some port-forwarding on localhost? Or it is better to ask spire team to parameterize spire-agent with `kubelet_address`. They allow to configure only kubelet's port  for now

[2019-11-13 11:14] pigmej commented on #1680
Will do some investigation :)

[2019-11-14 04:30] haiodo opened #1872 "TestNSEDiesSingleNode die on master"
## Expected Behavior

TestNSEDiesSingleNode should pass

## Current Behavior

TestNSEDiesSingleNode is failed.

## Failure Information (for bugs)

https://circleci.com/gh/networkservicemesh/networkservicemesh/114890

## Steps to Reproduce

Failed on CI

[2019-11-14 09:09] haiodo commented on #1851
Closing as fixed on CloudTest

[2019-11-14 09:09] #1851 closed

[2019-11-14 09:12] haiodo commented on #1780
@ivanayov Could you please check.

[2019-11-14 09:23] haiodo commented on #1582
@rdimitrov any update for this?

[2019-11-14 09:25] haiodo commented on #1510
@edwarnicke I think we could close this one?

[2019-11-14 09:28] haiodo commented on #1168
@nickolaev @edwarnicke do we plan to do something here?

[2019-11-14 09:29] haiodo commented on #973
@ivanayov we do not use default namespaces right now. I've not seed any issues like this in latest version.

[2019-11-14 09:29] #973 closed

[2019-11-14 09:30] haiodo commented on #928
I've not see this since July. Let's close and re-open if needed.

[2019-11-14 09:30] #928 closed

[2019-11-14 11:47] rdimitrov commented on #1582
@haiodo I'm not able to reproduce it, so I'm okay closing it 👍

[2019-11-14 11:47] #1582 closed

[2019-11-14 12:10] johan-lj opened #1876 "Double close() requests with vpp backplane"
## Expected Behavior

Single close request for each removed alpine-nsc client

## Current Behavior

Double close requests for each removed alpine-nsc client

## Failure Information (for bugs)

If the NSCs are scaled in double close requests are registered where the first succeeds and the second fails (since the close() is already finished)

## Steps to Reproduce

helm install nsm (with vpp backpla

[2019-11-14 13:03] denis-tingajkin commented on #1876
@johan-lj  Hello,
I tried to reproduce the problem. My steps are:
[code]
Run for each NSE
[code]
Actual: No errors.

My questions are:
1) Did I reproduce the problem correctly?
2) Can you attach full logs. (You need simply reproduce the problem on your side and run
`STORE_POD_LOGS_IN_FILES=true sh scripts/logs_snapshot.sh`

[2019-11-14 14:03] johan-lj opened #1878 "Extra request() call for icmp-responder + kernel backplane"
## Expected Behavior

No extra request, NSC IPs start att .1

## Current Behavior

An extra request() is issued and the first IPAM assigned address is stepped to .5

## Failure Information (for bugs)

There are 3 NSC pods
the following interfaces are added in the icmp-responder
nsm1LnbggDiv Link encap:Ethernet  HWaddr 7A:1F:B0:7B:A6:80
          inet addr:172.16.1.14  Bcast:172.16.1.15  Mask:255.2

[2019-11-14 14:19] edwarnicke commented on #1878
@rdimitrov I think this one is for you :)

[2019-11-14 15:49] johan-lj commented on #1876
The procedure looks fine to me. I'll reproduce with full logs, maybe it has been fixed recently.
Could you try it with only a single NSE/icmp-responder?

[2019-11-14 17:41] rdimitrov commented on #1878
@edwarnicke Thanks 👍
@johan-lj Hm, I agree there's an additional request sent to the forwarding plane.

What happened is that there were two Request()'s being done - one with `id=1` and one with `id=2`. Both of them are for creating a remote connection but unfortunately configured to use the same VNI index(vni=3).
So, naturally one of them was successful and the other one failed because the desire

[2019-11-15 08:47] johan-lj commented on #1878
Hi,

ok, the other ticket I reported wasn't reproducible either with the very latest master, I'll update and try again.

Thanks for the help.

Br,
Johan

[2019-11-15 15:22] johan-lj commented on #1876
Reproduced with the latest master today, confirmed it's not there anymore :)
Will close the ticket

Br,
Johan

[2019-11-15 15:22] #1876 closed

[2019-11-15 15:43] johan-lj commented on #1878
With the master from today it was fine :)
So will close this ticket

Br,
Johan

[2019-11-15 15:43] #1878 closed

[2019-11-17 07:58] denis-tingajkin opened #1895 "Nil pointer deference on restart nsmd"
## Steps to Reproduce
Do similar steps as in the tests below.
Note:Reuse nsmgr and forwarder for each test.
1) TestSimpleMemifConnection
2) TestNSCAndICMPNeighbor
3) TestBasicDns
4) TestDNSExternalClient
5) TestNSMgrRestartDeploy

Actual: NSMD container has the exception after step 5.

## Context
https://github.com/networkservicemesh/networkservicemesh/pull/1861

## Build
https://circleci.com/gh/n

[2019-11-17 14:49] denis-tingajkin opened #1898 "Cover the case when MonitorNetNsInodeServer handled broken connections"
## Expected Behavior

MonitorNetNsInodeServer [should handle broken connections](https://github.com/networkservicemesh/networkservicemesh/blob/0cd820b807f76d1e152f6384a80054967ddc7d44/controlplane/pkg/nsmd/nsmd.go#L412)

## Current Behavior

Not covered by testing.

## Failure Information (for bugs)

## Steps to Reproduce

1. Deploy nsmgr / forwarder
2. Deploy  dirty NSE
3. Deploy NSC
4. Verify co

[2019-11-18 18:15] #1872 closed

[2019-11-18 21:39] rdimitrov commented on #1820
@nicoekkart did it worked?

[2019-11-19 09:28] matrohon opened #1911 "Tag submodules"
## Current Behavior

For now, only the main module is tagged. would it be possible to tag submodules to easily import them in dependent projects without having to pin them to a git hash in the go.mod of the project? as done here:

https://github.com/networkservicemesh/examples/blob/master/go.mod#L25

## Failure Information (for bugs)

## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea.

[2019-11-19 10:52] denis-tingajkin commented on #1898
test case updated

[2019-11-19 12:04] lobkovilya commented on #1898
@a-bastrykina after the discussion with @haiodo:

1. `TestDeleteDirtyNSEWithClient` isn't valid: even having a client with connection, CRD for NSE should be eventually cleaned. So that test should be rewrote properly.
    Cleanup of CRD should be placed somewhere inside `healDstDown` in case of `waitNSE` returned false.

3. Need some research, what's going to happen in the following case:
    1. S

[2019-11-19 18:31] denis-tingajkin opened #1914 "Invalid memory address or nil pointer dereference on networkServiceManager.getEndpoint()"
## Steps to Reproduce
Run chain of the tests:
1) TestVPNLocal
2) TestSeveralCrossConnects

Actual: nsmd has a runtime error.

Note: use one instance of nsmgr and forwarder for each test

## Build

https://circleci.com/gh/networkservicemesh/networkservicemesh/115872#artifacts/containers/0

## Failure Logs
[code]

[2019-11-20 09:01] denis-tingajkin commented on #1914
looks like fixed

[2019-11-20 09:01] #1914 closed

[2019-11-20 09:04] #1895 closed

[2019-11-21 03:48] alex-yust opened #1917 "cloudtest should not succeed when tests are skipped due cluster unavailability"
## Expected Behavior

cloudtest shoud return error if there are tests that have not been run due cluster's unavailability.

## Current Behavior

cloudtest passes

## Failure Information (for bugs)

## Steps to Reproduce

## Context

One of the cluster instances (gke-2) has started and did run few tests, so there is no generated failed tests Startup-gke-[1-6] which usually fail a testing.

https://

[2019-11-21 03:49] alex-yust commented on #1917
[cloudtest-success-with-skipped-tests.txt](https://github.com/networkservicemesh/networkservicemesh/files/3872725/cloudtest-success-with-skipped-tests.txt)

[2019-11-21 09:11] haiodo opened #1919 "CloudTest tool show 0s for some of inter-domain tests."
## Expected Behavior

If tests is passed time should be proper.

## Current Behavior

[junit.xml.txt](https://github.com/networkservicemesh/networkservicemesh/files/3873808/junit.xml.txt)

## Failure Information (for bugs)

## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea...

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[2019-11-22 02:10] artem-belov commented on #1846
Have not seen this test broken for a while

[2019-11-22 09:42] haiodo opened #1922 "vpp forwarder could restart"
## Expected Behavior

VPP Forwarder could restart during creation, because vpp is starting to late.

## Current Behavior

VPP Forwarder could not start from first time.

## Failure Information/Logs (for bugs)

[vppagent-passthrough-nse-1-firewall-nse.log](https://github.com/networkservicemesh/networkservicemesh/files/3878860/vppagent-passthrough-nse-1-firewall-nse.log)
[vppagent-passthrough-nse-2-

[2019-11-22 09:42] haiodo commented on #1922
@artem-belov could you please take a look. Thanks.

[2019-11-22 15:29] nickolaev commented on #1911
Mat, all modules are tagged already. What you see is the result of an automation script that just replaces it with a hash reference. I am pretty much sure that `v0.2.0` will work just fine. Let me know if you have more questions. Will close this one for now.

[2019-11-22 15:31] nickolaev commented on #1774
Is this still a thing?

[2019-11-22 17:27] artem-belov commented on #927
@haiodo @matrohon Issue can be closed

[2019-11-22 17:28] #1754 closed

[2019-11-25 09:28] matrohon commented on #1911
@nickolaev what I meant is that in the go.mod of projects that are using nsm modules (such as skydive), I'd like to only specify github.com/networkservicemesh/networkservicemesh v0.2.0 in the require section.

then, 'go mod download' will search for all nsm submodules with the v0.2.0 tag.
But it seems those modules are not tagged. Here is the result of the go mod download:

[code]

[2019-11-25 17:14] haiodo commented on #1561
@artem-belov could you please take a look: it still could happen: https://circleci.com/gh/networkservicemesh/networkservicemesh/116237?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-11-26 09:24] johan-lj opened #1931 "Changing the admission webhook registry entry doesn't seem to have an effect"
## Expected Behavior
Changing the "registry" value in
/deployments/helm/nsm/charts/admission-webhook/values.yaml
would change the registry from which the images are pulled

## Current Behavior

Changing the "registry" value in
/deployments/helm/nsm/charts/admission-webhook/values.yaml
has no effect.

## Failure Information (for bugs)

## Steps to Reproduce

Change the "registry" value in
/deployme

[2019-11-26 15:11] #1847 closed

[2019-11-26 15:16] #1735 closed

[2019-11-26 15:24] #1780 closed

[2019-11-26 16:31] nickolaev commented on #1911
I see, let me reopen this one.

[2019-11-26 22:18] lobkovilya commented on #1931
@johan-lj could you please elaborate more on steps. Do you use `make helm-install-*` targets or you deploy chart simply with `helm install CHART`?

[2019-11-27 03:25] nickolaev commented on #1911
OK so according to this one:
https://github.com/golang/go/wiki/Modules#publishing-a-release

We need to tag all the submodules accordingly. That makes sense.

[2019-11-27 09:06] haiodo commented on #1848
Should be fixed with retest

[2019-11-27 09:06] #1848 closed

[2019-11-27 09:06] haiodo commented on #1849
Should be fixed with retest

[2019-11-27 09:06] #1849 closed

[2019-11-27 09:06] haiodo commented on #1775
Should be fixed with retest

[2019-11-27 09:06] #1775 closed

[2019-11-27 15:36] haiodo opened #1935 "TestDeploymentOrderServiceClientEndpointClient is unsable"
## Expected Behavior

TestDeploymentOrderServiceClientEndpointClient should be stable.

## Current Behavior

TestDeploymentOrderServiceClientEndpointClient is unstable, because it could deploy wrong configurations, because of for loop issue.

## Failure Information (for bugs)

[code]

Instead of NSC, NSE, NSC.

## Steps to Reproduce

Run few times.

## Context

* Kubernetes Version:
* etc.

## Fai

[2019-11-27 22:13] #1846 closed

[2019-11-28 04:22] #1561 closed

[2019-11-28 04:29] artem-belov opened #1940 "TestVPNFirewallRemote is unstable on CI"
## Failure Information (for bugs)

https://circleci.com/gh/networkservicemesh/networkservicemesh/116400
Can be related to #1774

## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea...

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[2019-11-28 04:33] artem-belov opened #1941 "TestRestartRequestRestartCluster is unstable on CI"
## Failure Information (for bugs)

https://circleci.com/gh/networkservicemesh/networkservicemesh/116394

## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea...

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[2019-11-28 09:01] #927 closed

[2019-11-28 09:08] haiodo commented on #1935
Fixed by #1846

[2019-11-28 09:08] #1935 closed

[2019-11-28 10:57] alex-yust commented on #1750
done

[2019-11-28 10:57] #1750 closed

[2019-11-29 07:36] artem-belov commented on #1941
fixed in #1943

[2019-11-29 07:36] #1941 closed

[2019-11-29 08:59] nickolaev commented on #1911
Pushed the following tags:
[code]

These should be enough for external development. Let me know.

[2019-11-29 09:18] #1749 closed

[2019-11-29 09:37] matrohon commented on #1911
In skydive, I also need to import k8s extensions, client and informer :

https://github.com/skydive-project/skydive/blob/master/topology/probes/nsm/nsm.go#L35

[2019-12-02 14:13] haiodo commented on #853
One more failure.

[code]
[TestNSMHealRemoteDieNSMD_NSE.zip](https://github.com/networkservicemesh/networkservicemesh/files/3911623/TestNSMHealRemoteDieNSMD_NSE.zip)

[2019-12-02 22:56] rktidwell opened #1950 "Helm make targets not compatible with Helm 3"
## Expected Behavior

Helm make targets should succeed when running with helm 3 (as soon as it is officially released).

## Current Behavior

My distro (openSUSE Tumbleweed) is providing helm 3 packages. When running the NSM examples that require invoking helm make targets, they fail due to significant changes to the helm CLI.

## Failure Information (for bugs)

## Steps to Reproduce

1. Install h

[2019-12-03 06:58] nickolaev commented on #1950
@rktidwell thanks for sharing your experience here. Indeed, helm2 and helm3 command lines seem to be incompatible and there won't be a simple way forward to support them both.That said, Helm3 was officially released before KubeCon NA: https://helm.sh/blog/helm-3-released/ and Helm2 is in a "maintain it for another year" mode now. We are considering Helm3 and will move to it soon.
PRs are welcome a

[2019-12-03 09:20] alex-yust commented on #1917
done

[2019-12-03 09:20] #1917 closed

[2019-12-03 11:59] alex-yust opened #1953 "nsmd: single gRPC server (and UNIX socket) for all requests"
## Overview

Currently, for every new request a new gRPC server is created, which might be expensive.

The idea is to serve all requests with a single server using identity from request's SPIRE sertificate to distinguish the clients at nsmd.

[2019-12-03 12:06] denis-tingajkin commented on #1953
As we discussed with @lobkovilya for identity client we need to use changes from https://github.com/networkservicemesh/networkservicemesh/pull/1733

[2019-12-03 15:04] lobkovilya opened #1955 "Healing State Machine"
## Overview

Based on Resiliency v2.0 issue - https://github.com/networkservicemesh/networkservicemesh/issues/1331 and on the plans to treat Forwarder as a CrossConnectionService.

If Forwarder becomes CrossConnectionService, then the whole chain of Request will straighten. Every participant will monitor only _next_ and _prev_ participant.
One of the key point of Resiliency v2.0 is starting _Heal_

[2019-12-03 15:06] rktidwell commented on #1950
I'm working on a PR to get myself over the hump, will post when I have it.

[2019-12-05 07:47] artem-belov commented on #853
@haiodo Issue can be closed

[2019-12-05 10:15] haiodo commented on #853
thanks, closing.

[2019-12-05 10:15] #853 closed

[2019-12-05 15:47] matrohon opened #1962 "API: make a k8s API module"
## Overview

NSM is creating k8s Object and dedicated API with CRDs. Third party code need to know about those objects to use k8s NSM APIs.

Those objects are currently packaged in :
https://github.com/networkservicemesh/networkservicemesh/tree/master/k8s/pkg/apis/networkservice/v1alpha1

Having this package tagged would help consuming it in third party software such as skydive.

## References

sk

[2019-12-06 05:53] denis-tingajkin commented on #1774
https://circleci.com/gh/networkservicemesh/networkservicemesh/117053?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-12-06 13:45] #1781 closed

[2019-12-06 18:45] #1518 closed

[2019-12-08 10:35] nicoekkart commented on #1820
Yes, sorry for the late response. The solution was indeed to first run vagrant-destroy. Thank you for the help.

[2019-12-08 10:35] #1820 closed

[2019-12-09 11:49] vishnuitta opened #1972 "[Feature Request] connectivity among pods of different clusters"
## Overview
Following the steps at this NSM documentation link https://networkservicemesh.io/docs/examples/vpn/ provides the pod to pod communication in the cluster.

Requirement is to have connectivity across pods in different cloud providers.

It would be great to know if this feature request is already part of NSM roadmap or to any documentation link if feature is available.

[2019-12-09 14:30] nickolaev commented on #1972
This feature exists, we call it "Interdomain" and there are [some docs around](https://github.com/networkservicemesh/networkservicemesh/blob/master/docs/spec/interdomain.md).
We actually had a presentation at NSMCon about it https://youtu.be/sb-vfDg_gb8
So I'll call to @tiswanso about helping with putting together a proper example that will showcase this work.

[2019-12-09 19:03] john-a-joyce commented on #1716
https://github.com/networkservicemesh/networkservicemesh/pull/1743 - provided much of the info that was needed so this can be closed.

[2019-12-09 19:03] #1716 closed

[2019-12-10 09:21] vishnuitta commented on #1972
thanks @nickolaev .. Going through above links

[2019-12-10 09:56] artem-belov commented on #1696
Waiting for #1672  been merged

[2019-12-10 15:00] #1922 closed

[2019-12-10 15:24] #1510 closed

[2019-12-11 12:26] #866 closed

[2019-12-11 14:58] nickolaev commented on #1527
@tiswanso, @artem-belov this is starting to become critical, please consider helping to improve the docs here.

[2019-12-12 09:31] a-bastrykina opened #1981 "CloudTest: Test doesn't get rescheduled when cluster fails"
## Expected Behavior

Tests should be rescheduled when cluster fails

## Current Behavior

Some tests are is not rescheduled when cluster fails

## Failure Logs

[CI logs](https://circleci.com/gh/networkservicemesh/networkservicemesh/117658)

[2019-12-12 09:53] lobkovilya commented on #1686
Fixed with https://github.com/networkservicemesh/networkservicemesh/pull/1975

[2019-12-12 09:53] #1686 closed

[2019-12-12 14:18] johan-lj commented on #1931
Hi,

sorry for the late answer. Deployment is with "helm install CHART"

Br,
Johan

[2019-12-12 16:06] #1819 closed

[2019-12-12 23:06] #1834 closed

[2019-12-13 06:25] #1940 closed

[2019-12-13 21:46] tiswanso opened #1991 "interdomain: network_service_managers URL using private/pod IP rather than node IP"
## Expected Behavior

In interdomain scenarios, the network_service_managers identifier is of the format `<nodename>@<ip addr>".  The intent is for this to be usable for the proxy-nsmd to reach the specific nsmd in the other cluster to forward requests to it.  Tvalue of the IP address should be converted by the proxy NSR to be the external node IP for the node of the target nsmd.

## Current Behav

[2019-12-16 10:53] denis-tingajkin commented on #1898
looks like solved

[2019-12-16 10:53] #1898 closed

[2019-12-16 11:33] artem-belov commented on #1991
Hello @tiswanso
Could you please attach logs of nsmgr and proxy-nsmgr containers and results of next commands:
`kubectl get pods -o wide`
`kubectl get nodes -o wide`

It would help to understand and resolve an issue
Thank you

[2019-12-16 19:27] tiswanso commented on #1991
@artem-belov  -- I'm going to create some other issues instead of this one.  The issue I posted here is really due to the interdomain install not being correct because of errors/inconsistencies in the nsmgr and proxy-nsmgr helm charts.

This symptom is seen when I expose the nsmd-k8s's in each cluster and point the proxy-nsmd-k8s at it the remote cluster's nsmd-k8s directly.  In that scenario, the

[2019-12-16 20:06] tiswanso opened #1994 "Interdomain: fix proxy-nsmgr helm chart & expose nsmgr nsmd port"
## Expected Behavior

It should be possible to deploy NSM in multiple clusters with consistent properties to get the Interdomain feature to function.

## Current Behavior

The current helm charts have multiple problems:
1. proxy-nsmgr's nsmd-k8s is not be able to discover networkservices (due to svcacct mapping)
1. unable to deploy proxy-nsmgr in insecure mode
1. unable to map proxy-nsmd-k8s (pNSR

[2019-12-16 21:19] tiswanso commented on #1991
Closing this as it was due to a misconfig in the interdomain setup.  See #1994 for the real issues  related to deploying interdomain NSM.  I was attempting to work around/through them and hit this scenario.

[2019-12-16 21:19] #1991 closed

[2019-12-16 21:30] tiswanso opened #1997 "Unable to connect when requesting a specific endpoint owned by a different nsmgr"
## Expected Behavior

When a client performs a NetworkService request with a specific endpoint and nsmgr tuple, it should be connected.

## Current Behavior

The `controlplane/pkg/nsm/nse_manager.go` `func (nsem *nseManager) GetEndpoint(...` returns an error that it `Could not find endpoint with name: %s at local registry` because it always assumes the exact endpoint request is only for endpoints

[2019-12-17 07:15] alex-yust commented on #1774
@nickolaev yes, this still might be a thing.

There is #1988 which is intended to help tracing the supposed original arp-related cause of ping issues
We're waiting for failed test logs.

[2019-12-17 07:24] nickolaev commented on #1997
Wait. That is plain wrong. You don't let NSM Clients deal with he list of endpoints. That is not what the purpose of NSM is. You have a specific labels and let NSMgr deal with sorting out which Endpoint you get a connection to. Please reconsider you vl3 example implementation.

[2019-12-17 08:21] a-bastrykina opened #2001 "Move endpoint service to common package"
## Overview
Now endpoint service is distinguished to the local and remote request cases. But the files `endpoint_service.go` in `local` and `remote` packages are almost duplicated, so we need to make unified endpoint service.

[2019-12-17 08:24] a-bastrykina opened #2002 "Move forwarder service to common package"
## Overview
Now forwarder service is distinguished to the local and remote request cases. But the files `forwarder_service.go` in `local` and `remote` packages are almost duplicated, so we need to make unified forwarder service.

[2019-12-17 09:46] alex-yust commented on #1953
In order to provide all clients with (shared) server socket it is necessary to
1) add a folder with server socket that will be common for all clients
2) mount the new folder into client pods (in addition to currently mounted individual workspace folder)

Since it is a somewhat architecture related feature, @edwarnicke could you please review/approve this modification?

[2019-12-17 11:13] lobkovilya commented on #1953
We don't have to mount `networkservicemesh.io.sock` using `nsmdp`. NSMgr claims where socket located in the host path. NSC/NSE mounts that server socket wherever they want in container path. Mounting volumes to NSC/NSE using `nsmdp` looks excessive for `networkservicemesh.io.sock`.

`Workspace` will be mounted only to NSE and to NSC with memif support.

[2019-12-17 13:54] lobkovilya opened #2005 "Spire Federations for interdomain tests"
## Overview
Security for interdomain implemented in a really simple and naive way. We just share same RootCA between 2 clusters.
Spire support `Federations` which allows workloads from one trust domain verify workloads from another trust domain.

[2019-12-17 14:34] nickolaev commented on #2005
Is this limited to 2 clusters? Will it work with 5?

[2019-12-17 14:40] lobkovilya commented on #2005
It could be manually configured for any amount of clusters. But spire hasn't have appropriate API to configure Federations dynamically yet.
So I created that issue to just keep Spire Federations in mind.

[2019-12-17 14:42] lobkovilya commented on #2005
Manually means I have to add to `server-configmap.yaml` info about every other cluster:
[code]

[2019-12-17 14:51] lobkovilya opened #2006 "Spire k8s-workload-registrar"
## Overview

Now we have `registration.json` file with spiffe entries that should be registered. Essentially this is simple mapping of ServiceAccount to SpiffeID. That's not really convenient way to manage spiffe entries.

Spire provides `k8s-workload-registrar` that register itself like admission-webhook and automatically register entries based on service accounts, labels or annotations.

Blocked

[2019-12-17 15:00] denis-tingajkin opened #2007 "NSMD doesn't recover connection in case of interdomain"
## Steps to reproduce

1) Rebase on https://github.com/networkservicemesh/networkservicemesh/pull/1861
2) Run tests:
2.1) TestInterdomainNSEHealLocalToRemote
2.2) TestInterdomainNSMHealRemoteDieNSMD_NSE // will faill. NSMD doesn't recover a connection.

## Expected Behavior

NSMD should recover a connection

## Current Behavior

NSMD doesn't recover a connection

## Logs
https://118168-127937836-g

[2019-12-17 15:20] #1225 closed

[2019-12-17 15:20] #1563 closed

[2019-12-17 15:28] #737 closed

[2019-12-18 11:59] lobkovilya commented on #1680
I just noticed that spire has `node_name` parameter to override default kubelet address.  Possibly I missed it when I had checked for the first time. Is it what you were searching @pigmej? If so could this issue be closed?

[2019-12-19 09:31] artem-belov opened #2013 "Reconsider some testing bash sctipts in golang"
## Overview

@nickolaev suggested to move some existing testing bash scripts in golang, such as `helm-test-charts.sh` and cloud creating tools

Lets use this "Issue" for duscussion

[2019-12-19 09:31] artem-belov commented on #2013
@edwarnicke @haiodo @lobkovilya @Denis @alex-yust @a-bastrykina

[2019-12-19 10:43] lobkovilya commented on #2013
Personally I don't like the idea to eliminate shell tests.
If we had some UI, we would have automatic ui tests. Deploying of helm charts in some way our UI, because that what users contact with. Users contact with helm charts usually using bash. That's why I believe it's really important to us to have tests that reproduce user's steps as accurately as possible.

[2019-12-19 11:59] nickolaev commented on #2013
Before #1247 our testing was a mess of shell scripts and unmaintainable CircleCI yaml:
https://github.com/networkservicemesh/networkservicemesh/pull/1247/files#diff-1d37e48f9ceff6d8030570cd36286a61

Fortunately this was removed with the excellent cloud-test framework that @haiodo introduced.
Now we are slowly returning to these testing practices. Yes, the people that use NSM will default to the he

[2019-12-19 12:33] lobkovilya commented on #2013
Yes, you are right, script `helm-test-charts.sh` were introduced in [#1923](https://github.com/networkservicemesh/networkservicemesh/pull/1923/files) and it had to eliminate redundancy that we had before.

But probably we have to keep shell tests as simple as possible, so they could be treated by user as concrete steps. Following that steps user could easily reproduce the whole use-case.

So what

[2019-12-19 13:52] denis-tingajkin commented on #2013
I like the idea to simplify examples. It is a super good point. We should keep our examples as easy as we can for new users.
I also think that we can use bash scripts but it should be extremely simple. For example, as @lobkovilya  proposes.
Something like
[code]

[2019-12-20 05:16] denis-tingajkin opened #2015 "VPP Agent Forwarder: creating interface failed"
## Steps to reproduce
1) Run `TestNSEHealLocalToRemoteExtened` couple times.
NOTE: if the test passed or NSC initialized correctly then re-run test.

[code]
## Current behavior
NSC can not be initialized because VPP Agent forwarder can not create an interface.
[code]

## Logs
[nsm-init](https://github.com/networkservicemesh/networkservicemesh/files/3986786/nsc.txt)
[vpp-agent-forwarder](https://gi

[2019-12-20 05:28] #1869 closed

[2019-12-20 06:53] denis-tingajkin commented on #2015
Reproducing on kind and vagrant

[2019-12-20 14:40] leecalcote commented on #1869
@Harshini-M and @ivanayov, would one of you like to investigate this enhancement?

[2019-12-23 09:20] nickolaev commented on #2013
Yes, I am supportive of having simple scripts. Still, we need to be cautious into building a whole "framework" around them again. And it is not only the helm tests, but we also have scripts for a lot of "automation", and that may be fine. Yet let's keep a general concept that the shell scripts are only good if they (a) are simple and (b) automate some real steps to follow.

[2019-12-26 19:09] #1824 closed

[2019-12-26 19:09] edwarnicke commented on #1824
Many thanks @pringlewood

[2019-12-28 10:00] #1919 closed

[2020-01-02 16:16] #1736 closed

[2020-01-05 10:09] #1911 closed

[2020-01-06 13:43] artem-belov opened #2028 "TestOneTimeConnectionMemif and TestMovingConnectionMemif, TestVPN* are unstable on CI"
## Current Behavior

Ping does not pass for few clients (Both tests was failed on packet cloud)

## Failure Information (for bugs)

https://circleci.com/gh/networkservicemesh/networkservicemesh/118888
https://circleci.com/gh/networkservicemesh/networkservicemesh/118915

## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea...

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[2020-01-06 19:03] denis-tingajkin opened #2029 "VPN tests still failing on GKE"
## Failure Information (for bugs)

Ping is not a success for VPN tests sometimes. Reproducing only on veth-interfaces (i.e. only on GKE).
https://circleci.com/gh/networkservicemesh/networkservicemesh/118900
https://circleci.com/gh/networkservicemesh/networkservicemesh/118867
## Steps to Reproduce

1. Use [vhostnet](https://github.com/networkservicemesh/networkservicemesh/blob/fcafc5b537ae5b52677b6

[2020-01-06 20:45] denis-tingajkin commented on #2028
https://circleci.com/gh/networkservicemesh/networkservicemesh/118952?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2020-01-07 02:10] edwarnicke opened #2032 "authorization networkservice.NetworkServiceServer chain element"
## Overview

As we transition to a more chain SDK based Nsmgr and NSEs, we will need a chain element for authorization.  This chain element should:
1.  Be in a separate authorization/ directory under SDK
2. Be in a file server.go
3. Be roughly of the form:

[code]

The check authorization pieces should be filled in with a supplication to OPA to evaluate policy based upon the request.

Basic policy

[2020-01-07 02:22] edwarnicke commented on #2032
See: https://github.com/networkservicemesh/networkservicemesh/pull/1989

[2020-01-07 04:51] alex-yust commented on #2028
Looks like a packet-specific failure
https://circleci.com/gh/networkservicemesh/networkservicemesh/118920

[2020-01-09 05:47] denis-tingajkin commented on #2029
https://circleci.com/gh/networkservicemesh/networkservicemesh/119195

[2020-01-09 16:18] #1955 closed

[2020-01-09 16:18] #1950 closed

[2020-01-10 03:00] lobkovilya opened #2039 "AWS: unable to list NSs for cache initialization"
## Expected Behavior
NSMgr starts successfully

## Current Behavior
Error in nsmd-k8s logs:
[code]

## Failure Information (for bugs)
[TestDeploymentOrderClientEndpoint](https://circleci.com/gh/networkservicemesh/networkservicemesh/119195#tests/containers/0)
[TestForwarderVersion](https://circleci.com/gh/networkservicemesh/networkservicemesh/119354?utm_campaign=vcs-integration-link&utm_medium=refe

[2020-01-10 11:15] pigmej commented on #1680
@lobkovilya sorry, forgot to update the state. Yes it was enough. Also making kubelet to listen on 0.0.0.0 was also good enough.

[2020-01-13 06:48] denis-tingajkin commented on #2029
https://circleci.com/gh/networkservicemesh/networkservicemesh/119483

[2020-01-13 09:11] alex-yust opened #2046 "Add CI test for vpp-icmp-responder helm chart"
Add a test similar to one for icmp-responder chart.

## Overview

## Link to the Google Docs document

## References

[2020-01-13 14:08] artem-belov commented on #2028
Looks like vpp issue `/usr/bin/vpp[15]: clib_time_verify_frequency:249: Rejecting large frequency change of +infinity%`

[2020-01-13 18:17] denis-tingajkin commented on #2029
[vppagent-firewall-nse-1-firewall-nse.log](https://github.com/networkservicemesh/networkservicemesh/files/4055031/vppagent-firewall-nse-1-firewall-nse.log)
Found a strange repeated messages in logs
`/usr/bin/vpp[12]: clib_time_verify_frequency:249: Rejecting large frequency change of +infinity%`.
The problem can be related to vpp-agent.

[2020-01-14 14:33] alex-yust opened #2053 "CloudTest: clusters not always deleted when exiting due force push to PR branch"
## Expected Behavior

Clusters deleted when CloudTest exits due force push to PR branch

## Current Behavior

Clusters are not deleted

## Failure Information (for bugs)

This happens when force push occurs at the moment when clusters are in the process of being created.
https://circleci.com/gh/networkservicemesh/networkservicemesh/119668

## Steps to Reproduce

## Context

* Kubernetes Version:
*

[2020-01-14 14:50] haiodo commented on #2053
For this I think @artem-belov already added to to cleanup clusters working for >=4hours.

[2020-01-14 15:50] #2053 closed

[2020-01-14 15:56] #2015 closed

[2020-01-14 15:58] ivanayov commented on #1869
Hi @leecalcote,
I reviewed your proposal and can take that as one of the next priorities.

[2020-01-14 17:34] girishranganathan commented on #1869
@ivanayov, thx a lot for volunteering here.
Please feel free to reach out to me or @Harshini-M for any help/clarifications in moving this forward.

[2020-01-14 17:50] girishranganathan commented on #1869
@ivanayov you should have the necessary access to work on the code in this repo.
Also, please feel free to join our slack here: http://slack.layer5.io/.
If you are interested, I am available for a chat mid day during the week. Feel free to ping me on slack or GitHub and we can set up a time to catch up.

[2020-01-15 08:49] artem-belov commented on #2028
[message to vpp-dev team](https://lists.fd.io/g/vpp-dev/topic/rejecting_large_frequency/69693279?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,69693279)

[2020-01-15 10:44] matrohon opened #2055 "Metrics: crossconnect-monitor doesn't report metrics"
## Expected Behavior

The crossconnect-monitor should report metrics in update messages

## Current Behavior

No update messages are reported in the logs

## Failure Information (for bugs)

## Steps to Reproduce

I'm deploying nsm and the icmp-responder example with kind.
I'm using k8s-check to generate icmp traffic between nsc and nse.

The icmp logs don't show any update message and no metrics.

[2020-01-15 14:50] denis-tingajkin commented on #2055
Hello @matrohon.
Did you use a kernel forwarder?

[2020-01-16 03:57] alex-yust opened #2056 "Example-helm-icmp test is not optimal?"
Example-helm-icmp test uses deployments/helm/icmp-responder Helm chart
Currently it is a deployment of 4 clients and 2 endpoints, where endpoints are forced to be deployed on different nodes using Kubernetes anti-affinity feature.
Theoretically, there is still possible a situation when client-endpoint connections would be all either local or remote.

It seems a setup with just one endpoint and 2 c

[2020-01-16 07:05] alex-yust commented on #1728
done

[2020-01-16 07:05] #1728 closed

[2020-01-16 07:48] matrohon commented on #2055
@denis-tingajkin I used the default forwarder which is vpp.

[2020-01-16 10:27] #1972 closed

[2020-01-16 10:27] #1696 closed

[2020-01-16 14:56] tiswanso commented on #1997
Duplicating comment from PR here to keep issue from going stale...

@nickolaev @lobkovilya -- per the meeting before the holidays, this should be a valid scenario that we don't have NSMgr's GetEndpoint error out in. Per the conversation, we want to be able to support a class of clients that know what exact endpoints they want to connect to. Do we still have disagreement here?

[2020-01-16 18:42] leecalcote commented on #1869
@ivanayov yes, please! 👍 There's a weekly community call on Fridays at 8am Pacific where we can chat (or another time). Please do make some noise in the Slack channel. Let's get you the support you need.

[2020-01-17 15:19] ivanayov commented on #1869
Thanks @leecalcote @girishranganathan ! I'll ping you on slack

[2020-01-19 00:10] #1931 closed

[2020-01-20 09:02] alex-yust commented on #2046
done

[2020-01-20 09:02] #2046 closed

[2020-01-21 09:38] denis-tingajkin commented on #2055
Looks like it is the same issue as https://github.com/networkservicemesh/networkservicemesh/issues/1512
And we have the fix for this issue https://github.com/networkservicemesh/networkservicemesh/pull/1983
But we can't merge it right now, because at first, we need to wait for a new release from vpp-agent guys with fix for https://github.com/ligato/vpp-agent/issues/1590

[2020-01-21 09:40] lobkovilya opened #2065 "Failing tests on Packet"
## Failure Information (for bugs)
All tests are failed on one cluster, according to `prepare` cluster had only one node.

## Failure Logs
https://circleci.com/gh/networkservicemesh/networkservicemesh/120021?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[2020-01-21 12:51] matrohon commented on #2055
@denis-tingajkin @ivanayov thanks for investigations, I thought it was already available with the vpp-agent used by nsm.

[2020-01-21 12:52] ivanayov commented on #2055
I reproduced with vpp, with the kernel-forwarder metrics are tracked.
So it's most probably the issue @denis-tingajkin mentioned.

[2020-01-21 13:07] denis-tingajkin commented on #2065
https://circleci.com/gh/networkservicemesh/networkservicemesh/119878

[2020-01-21 13:55] john-a-joyce opened #2066 "WaitForPortAvailable can spin Infinitely"
## Background
In testing interdomain I asked my client to connect to some-service@foo.com.  foo.com is a resolvable domain name in this environment (which was a surprise).  The proxy-nsmd-k8s was able to resolve the IP on foo.com and attempted to create a connection.  That connection would never succeed due to there being no appropriate server at the resolved address.   The WaitForPortAvailable sp

[2020-01-21 15:37] nickolaev commented on #2056
2 clients and 1 endpoint here makes sense. If we want to test scalability we might implement this with the integration testing (go).

[2020-01-21 15:43] nickolaev commented on #1774
Considering it is fixed already.

[2020-01-21 15:49] nickolaev commented on #1981
Fixed, closing.

[2020-01-21 15:49] #1981 closed

[2020-01-21 15:50] nickolaev commented on #2001
Do we still need it, considering the new SDK?

[2020-01-21 15:51] nickolaev commented on #2002
Do we still need this one considering the new SDK?

[2020-01-21 15:56] nickolaev commented on #2007
Issue fixed with #2030. Closing.

[2020-01-21 15:56] #2007 closed

[2020-01-22 03:34] alex-yust opened #2067 "Implement 'make k8s-config' via Helm chart"
##  Overview

Currently CRDs are duplicated as part of nsm Helm chart and as .yaml files inside k8s/conf folder that used to initialize cluster before running tests.

Moving CRDs initialization to a dedicated Helm chart allows to have only one copy of CRDs.

This is a part of #1491

[2020-01-22 05:27] alex-yust opened #2068 "TestExcludePrefixCheck can fail on CI because of 'jaeger Failed to deploy pod'"
If this happens again, we probably should add re-test pattern to cloudtest:
jaeger Failed to deploy pod

https://circleci.com/gh/networkservicemesh/networkservicemesh/120100?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[2020-01-22 08:59] haiodo opened #2069 "WireGuard remote mechanism support"
WireGuard remote mechanism support is required so this issue is to track implementation status for it.

[2020-01-22 09:28] denis-tingajkin opened #2070 "Add test nsm suites to reduce cluster count on CI"
## Overview

Add suites for integration tests to reduce test time and reduce cluster instances on CI.
Each test in suite should reuse nsm / forwarder.

**For example:**

We have a suite of tests for cluster:
1) `TestNSCDiesSingleNode`
2) `TestSimpleMemifConnection`
3) `TestNSCDiesMultiNode`
4) `TestNSEDiesMultiNode`

**How it will work:**

1) `TestNSCDiesSingleNode` started on CI. It checks namesp

[2020-01-22 11:47] #2013 closed

[2020-01-22 12:28] przemeklal opened #2072 "Spec: SRIOV Forwarder"
## Link to the Google Docs document

https://docs.google.com/document/d/1TDCUgJ-qAPtFI3Vd1_xR-HSFQh5GyDVnbbrHXasculM/edit#

## References

WIP PR #1925
SRIOV Net DP PR https://github.com/intel/sriov-network-device-plugin/pull/194
Initial spec #727

[2020-01-22 12:33] przemeklal commented on #2072
@rktidwell @rdimitrov @nickolaev @edwarnicke @davecremins Can you please take a look? It's a rough draft as we discussed on the weekly meeting. Mostly describes current implementation and assumptions, and more importantly lists the challenges/open issues.

[2020-01-22 18:18] denis-tingajkin commented on #2065
https://github.com/networkservicemesh/networkservicemesh/pull/2073

[2020-01-22 21:29] lobkovilya commented on #2065
@denis-tingajkin last link has some other root cause

[2020-01-23 05:06] denis-tingajkin commented on #2065
@lobkovilya oops! Link fixed.

[2020-01-23 20:39] denis-tingajkin opened #2077 "TestFloatingInterdomainMonitorDieNSMRS is not stable on CI"
## Expected Behavior

TestFloatingInterdomainMonitorDieNSMRS should pass CI

## Current Behavior

TestFloatingInterdomainMonitorDieNSMRS sometimes fails on CI

## Failure Logs
https://circleci.com/gh/networkservicemesh/networkservicemesh/120213

[code]

[2020-01-24 03:18] alex-yust commented on #2077
..and its twin test TestFloatingInterdomainMonitorDieProxyNSMGR, failed at the same line:
https://circleci.com/gh/networkservicemesh/networkservicemesh/120225
`--- FAIL: TestFloatingInterdomainMonitorDieProxyNSMGR (177.50s)
k8s.go:1146:
goroutine 9 [running]:
runtime/debug.Stack(0x1542f00, 0xc000755140, 0xc000948ce0)
/usr/local/go/src/runtime/debug/stack.go:24 +0x9d
github.com/networkservicemesh/n

[2020-01-24 10:32] jellonek opened #2079 "Admission Webhook is replacing initContainers instead of adding own one to it"
## Expected Behavior

Admission Webhook should add own `nsm-init-container` to the (preferably - beginning of) initContainers list.

## Current Behavior

Admission Webhook is replacing the initContainers defined in user prepared definitions with only one position - own `nsm-init-container`.

## Failure Information (for bugs)

Looks like during mutation of reviewed admission webhook is adding a pat

[2020-01-24 12:11] denis-tingajkin opened #2080 "VPP recovery tests actually do not work"
## Expected Behavior
[code]
The tests above should correctly pass CI.

## Current Behavior
[code]
The tests  pass CI because of we have the wrong assert for check ping for vpp nsc https://github.com/networkservicemesh/networkservicemesh/blob/master/test/kubetest/vpp_utils.go#L53
NOTE:
` k8s.g.Expect(true, IsVppAgentNsePinged(k8s, nscPodNode))` is not correct, should be: `k8s.g.Expect(IsVppAgentNse

[2020-01-26 16:08] jellonek commented on #2079
Closed by #2081

[2020-01-26 16:08] #2079 closed

[2020-01-27 05:51] denis-tingajkin commented on #2077
Looks like is fixed by https://github.com/networkservicemesh/networkservicemesh/pull/2078

[2020-01-27 05:51] #2077 closed

[2020-01-27 06:37] alex-yust commented on #2067
done

[2020-01-27 06:37] alex-yust commented on #2067
done

[2020-01-27 06:37] #2067 closed

[2020-01-27 20:42] tiswanso opened #2083 "proxy-nsmgr should not need to take over a node's port 80"
## Expected Behavior

Installing `proxy-nsmgr` via helm should not assume it can take port 80 on Kubernetes nodes.  This is bad practice and makes the `proxy-nsmgr` daemonset appear to require more control of every node than it actually needs.   If anything in k8s is binding to port 80 on nodes it would most likely be an API gateway like nginx, an istio-gateway, or some other type of ingress contr

[2020-01-28 22:14] tiswanso commented on #2083
This also an issue with the the new floating interdomain NSR.

The new floating interdomain NSR deployment helm chart also uses host port 80:  https://github.com/networkservicemesh/networkservicemesh/blob/master/deployments/helm/nsmrs/templates/nsmrs.tpl#L35

This conflicts with the proxy-nsmgr daemonset.

[2020-01-29 05:10] denis-tingajkin commented on #2080
Closed by https://github.com/networkservicemesh/networkservicemesh/pull/2074

[2020-01-29 05:10] #2080 closed

[2020-01-29 10:07] nickolaev commented on #2072
If I get it right, I am a big NO here! I am sorry but I don't see the NSM spirit and concepts applied here, instead, this spec os proposing to tweak and patch a ton of code just to be able to request a simple interface.
And all this is because we are supposedly getting scheduling based on how DP handles resources. That is fine, everything else is not. Let me point:
  - Kubelete will insert resourc

[2020-01-29 10:18] przemeklal commented on #2072
Just a small comment so we're all aware - scheduling isn't the main reason for using device plugin, main reason is that it already provides a ton of features like device discovery with selectors for vendors/drivers/device types, health checking of the links, grouping devices into the resource pools, finally allocation the device resources themselves based on what needs to be allocated, I think you

[2020-01-29 12:03] nickolaev commented on #2072
I assume you are referring to this plugin:
https://github.com/intel/sriov-network-device-plugin

If that is the case, can we just use whatever lives here:
https://github.com/intel/sriov-network-device-plugin/tree/master/pkg

And replace this part with an NSM forwarder logic:
https://github.com/intel/sriov-network-device-plugin/tree/master/cmd/sriovdp

I mean, the SRIOV plugin has already what is n

[2020-01-29 19:11] nickolaev commented on #2072
Copying what was discussed in #nsm-dev on Slack, for tracking the discussion:

[code]

[2020-01-30 03:49] alex-yust opened #2086 "testing: cluster initialization failure is ignored"
## Expected Behavior

initialization should be tried once again, cluster to be marked as crashed if failed.

## Current Behavior

cluster is considered working, causing all tests to fail

## Failure Information (for bugs)

See gke-3:
- startup:
   https://120466-127937836-gh.circle-artifacts.com/0/home/circleci/project/.tests/cloud_test/gke-3/002-start.log
- prepare:
  https://120466-127937836-gh.

[2020-01-30 06:19] denis-tingajkin opened #2089 "Move `fanout` plugin into Coredns repo to get rid of nsm-coredns"
## Overview

Currently, we have additional container `nsm-coredns` with our additional plugin `fanout`.
We can get rid of this `nsm-coredns` if we provide `fanout` plugin into Coredns repo.

Need to do some refactoring and prepare PR with `fanout` plugin in Coredns repo.

[2020-01-30 07:48] denis-tingajkin commented on #2089
Also need to add support for different kinds of transport protocols

[2020-01-30 11:03] lobkovilya opened #2091 "Spire fails to rotate certificate after 24h"
## Expected Behavior
Certificate rotated successfully

## Current Behavior
nsmgr deployed 2/3, spire-agent in error state

[2020-01-30 12:04] przemeklal commented on #2072
Agree to make the impact as low as possible (preferably none) and I hope the ongoing refactoring work should make that easier.

I'd like to invite everyone interested to comment here: https://github.com/networkservicemesh/api/issues/15

[2020-01-31 05:40] alex-yust commented on #2056
fixed

[2020-01-31 05:40] #2056 closed

[2020-02-03 07:57] artem-belov commented on #2066
@denis-tingajkin Could you please take a look at this issue
Seems to be fixed in #2073

[2020-02-03 08:17] denis-tingajkin commented on #2066
@john-a-joyce I can't reproduce the issue with latest master changes.
Can you please check it?

[2020-02-03 09:11] alex-yust commented on #2086
fixed

[2020-02-03 09:11] #2086 closed

[2020-02-03 20:53] john-a-joyce commented on #2066
Yes - I will have  a look at this and see if i can reproduce

[2020-02-04 04:42] alex-yust opened #2093 "Helm charts install command should not require --dep-up option"
Currently, nsm chart depend on config chart which contain CRDs used to implement k8s-config make target used for testing.

Also, docs/guide-helm.md and Helm CI tests should be rewritten to use bare Helm commands instead of 'make' targets.

[2020-02-04 05:50] nickolaev commented on #2093
I think it is more or less a matter to call `make k8s-config` before the `make helm-install-nsm` and remove the `file://../config` from `requirements.yaml`.

[2020-02-04 06:45] artem-belov commented on #1994
@tiswanso
Hello. Issue been fixed in #2012
Also interdomain helm tests were added.
Could you please check and close the issue

[2020-02-04 15:27] denis-tingajkin commented on #2089
https://github.com/coredns/coredns/issues/3653

[2020-02-04 21:44] john-a-joyce commented on #2066
I tried with master and it appears to still be an issue but likely lower priority than previously.   Here are the details.   I changed the setupt to follow the deployment steps here:  https://github.com/networkservicemesh/examples.  Which to be honest was a HUGE PITA because things don't just work and it took me almost a full day to get master up and running.  I need to create a separate issue for

[2020-02-04 21:45] john-a-joyce commented on #2066
BTW - I will leave the kind cluster up for a day if you want any specific logs or try something.

[2020-02-05 02:13] john-a-joyce commented on #2066
Image details:
Container ID:   containerd://39cb6edbcb072cc8d078796656074b14c82ae281ef8ab043e459d62f30628d00
    Image:          docker.io/networkservicemesh/proxy-nsmd-k8s:master
    Image ID:       docker.io/networkservicemesh/proxy-nsmd-k8s@sha256:b87962cf34424721f1a5e3f574cbb89e240f3e0bf4b9ccbe8de0453b97a051a2

[2020-02-05 07:20] denis-tingajkin commented on #2066
@john-a-joyce thanks for testing.
I trying to reproduce it.
Here are my steps:
[code]
user@pc:~$ kubectl  get pods --namespace=nsm-system
[code]
user@pc:~$ kubectl describe pod icmp-responder-nsc-bd9f8fdcf-s5p26 --namespace=nsm-system
[code]
And here is a logs of `nsc-init-container` for `icmp-responder-nsc-bd9f8fdcf-s5p26`
[code]

Can you please correct my steps?

[2020-02-05 15:43] john-a-joyce commented on #2066
The above steps look correct.  The NSC pod will not come up because the service is not available.  So that is expected I believe.    You should look at the logs in the proxy-nsmgr,   That is where I saw the spinning.   Originally, the proxy-nsmgr would spin forever even when the NSC was removed or service changed.   Now it only spins for about 15 minutes.  I guess that might be due Kuberentes rest

[2020-02-05 16:38] ivanayov opened #2099 "Visualize network traffic"
## Overview

As we have our traffic data for pod-to-pod connections, we would like to have a good and interactive way to visualize the topology and see generated traffic.

The inspiration came from [this](https://github.com/nghialv/promviz) library, but it is not active since 2017 and turned out to be more effort than we'd like to to update and fix it for our use-case. One of the options is to upd

[2020-02-05 17:53] denis-tingajkin commented on #2066
This is related to the nsm-init-container. As you can see in the attached logs above nsm-intit-contaier has 15 attempts to connect to network service. Request from nsc 15 times passes to the proxy-nsmd-k8s because service has a special symbol `@`.  Proxy-nsmd-k8s tries to find the NSE but it failed to dial remote Network Service Registry. After 15 attempts nsc pod goes restart by Kubernetes.

It l

[2020-02-05 17:57] john-a-joyce commented on #2066
Infinite spinning appears fixed by https://github.com/networkservicemesh/networkservicemesh/pull/2073

[2020-02-05 17:57] #2066 closed

[2020-02-05 20:41] edwarnicke commented on #2099
Question... how would we name the buckets for the PathSegments in Prometheus?   I presume just by (connectionId, nse name) ?  How would we know that two buckets are part of the same Path?

[2020-02-06 07:10] haiodo commented on #2099
Hi @ivanayov could you please take a look, https://github.com/networkservicemesh/api/pull/4

It describes A Metrics Path like concept for new SDK API. And I also think about move from generic map of metrics to some structured way.

[2020-02-06 14:06] matrohon commented on #2099
hi,

you can use kind for nsm, but the config file for skydive must be adapted. see https://github.com/networkservicemesh/networkservicemesh/pull/1905

populating NSM pathes displayed in skydive with data collected in prometheus would probably simplify the skydive probe a lot.

Having a dedicated tool such as kiali to visualize pathes would be awesome. Istio popularity is also coming from its visu

[2020-02-06 15:57] edwarnicke commented on #2099
@matrohon Kiali is awesome, would be incredible to have a visualization tool like that.  Hopefully it could be decoupled (or borrowed from), but I haven't looked :)

[2020-02-10 06:14] alex-yust commented on #2093
done

[2020-02-10 06:14] #2093 closed

[2020-02-11 08:08] nickolaev commented on #1576
@haiodo this is done in 3ac05810e3bb06d57c5e77ab50b4db0973d4eb3a, we can close.

[2020-02-11 16:21] ivanayov commented on #2099
Sharing a link to the API PR with the implementation of the new metrics approach: https://github.com/networkservicemesh/api/pull/4

[2020-02-13 03:31] #2032 closed

[2020-02-14 04:45] zhaohuabing opened #2104 "Failed to verify icmp-responder example in Kind environment"
## Expected Behavior
NSM interface created in the NSC and NSE pods, and verifying script ends successfully.

## Current Behavior

Can't find NSM interfaces in the NSC and NSE pods, verifying script end with errors.

## Failure Information (for bugs)
It seems that the admission webhook is not functioning as I didn't find any information in its log.

## Steps to Reproduce

1. make kind-start
2. helm

[2020-02-14 05:54] alex-yust commented on #2104
Could you please provide additional info:
1. output of 'helm repo list'
2. output of 'kubectl get pods -A -o wide' right before running the check script that fails.

[2020-02-14 06:15] zhaohuabing commented on #2104
Sure. Below is the output these commands:

[code]

[2020-02-14 06:46] denis-tingaikin opened #2105 "WireGuard remote mechanism support for vppagent forwarder"
WireGuard remote mechanism support for vppagent forwarder is required.

## Docs

https://docs.google.com/document/d/1Cgmr5hDJJNI4YLXXarMbqZRvq1Zoe7HCY8a8hwl6JKo //case **Memif full userspace datapath**

[2020-02-14 07:03] alex-yust commented on #2104
hm.. I reproduced your setup and the check script runs OK.
could you please attach the output of:
kubectl logs icmp-responder-nsc-668577c976-r5gxd nsm-init-container

[2020-02-14 07:06] zhaohuabing commented on #2104
[code]

[2020-02-14 07:08] zhaohuabing commented on #2104
It seems that the admission webhook failed to insert nsm-init-container into the pods.

[2020-02-14 07:43] denis-tingajkin commented on #2104
@zhaohuabing Can you please attach:

1. `kubectl  get services`
2. `kubectl  get MutatingWebhookConfiguration`

[2020-02-14 08:10] zhaohuabing commented on #2104
Sure!

[code]

[2020-02-14 08:12] zhaohuabing commented on #2104
By the way, the same example works in Google Cloud.

[2020-02-14 08:13] denis-tingajkin commented on #2104
Also, can you check that you have Secret `nsm-admission-webhook-certs`?

[2020-02-14 08:14] zhaohuabing commented on #2104
[code]

[2020-02-14 08:19] zhaohuabing commented on #2104
I compared the log of nsm-admission-webhook in my local VM and the google cloud.  In google cloud, the log shows that the webhook has been called by Kubernetes when the example was deployed. But no any sign in my local kind environment.

[code]

[2020-02-14 08:21] denis-tingajkin commented on #2104
Looks valid...

Probably it is related to `kind v0.8.0-alpha go1.13.4 linux/amd64`.
Can you try to use 0.7.0 version?

[2020-02-14 08:33] zhaohuabing commented on #2104
I also think it's probably from Kind. I will try 0.7.0 and report the result.
Thanks!

[2020-02-14 09:36] nickolaev commented on #2104
@zhaohuabing also, you can check out our wider set of examples here: https://github.com/networkservicemesh/examples

[2020-02-15 02:44] zhaohuabing commented on #2104
Unfortunately, I still get the same error with Kind 0.7.0, the problem seems also come from admission webhook.

[code]

[2020-02-15 02:47] zhaohuabing commented on #2104
This might not be related to examples because the same example works in google cloud.

[2020-02-15 05:17] denis-tingajkin commented on #2089
[PR](https://github.com/coredns/coredns/pull/3652) has been provided and it is under review.

[2020-02-16 10:39] #2039 closed

[2020-02-16 11:39] #1680 closed

[2020-02-17 10:41] alex-yust opened #2106 "CI tests on Azure fail due device plugin issue"
## Expected Behavior

Tests should pass OK.

## Current Behavior

lot of tests fail on Azure with error like:
`Timeout during waiting for pod change status for pod icmp-responder-nse-1 [{PodScheduled False 0001-01-01 00:00:00 +0000 UTC 2020-02-11 09:01:36 +0000 UTC Unschedulable 0/2 nodes are available: 1 node(s) didn't match node selector, 2 Insufficient networkservicemesh.io/socket.}`

The 'netw

[2020-02-17 13:09] denis-tingajkin opened #2107 "Ping by hostname can be not success for chain tests"
## Expected Behavior

If vppagent-forwarder created interfaces with no errors then ping should be a success for client and endpoint.

## Current Behavior

If vppagent-forwarder created interfaces with no errors then ping can be a not success for client and endpoint.

## Steps to Reproduce

1. git fetch origin pull/2061/head:add_test_nsm_suites
2. git checkout add_test_nsm_suites
3. run TestNSMDRec

[2020-02-17 13:16] denis-tingajkin commented on #2107
NOTE:  The problem can be related to spamming healing goroutines.
Take a look at logs `nsmd-forwarder-ip-192-168-109-230.us-east-2.compute.internal-vppagent-forwarder.log` from the archive.

[code]

[2020-02-18 10:09] alex-yust commented on #2106
The CI run with failed test and 'kubectl describe all -A' output right after the failure.
https://circleci.com/gh/networkservicemesh/networkservicemesh/121208

[2020-02-19 00:28] john-a-joyce opened #2108 "Network Service Endpoint without Network service name issue"
## Expected Behavior

If you create a network service endpoint without providing a Network Service name.   If the network service name is a mandatory field the system should fail to create the endpoint and throw appropriate errors.  If the network service name is not required when creating an endpoint it should be possible to delete that endpoint.

## Current Behavior

We created a network service

[2020-02-21 03:59] denis-tingajkin commented on #1774
https://circleci.com/gh/networkservicemesh/networkservicemesh/121340

[2020-02-21 05:18] denis-tingajkin commented on #2029
still actual https://circleci.com/gh/networkservicemesh/networkservicemesh/121365

[2020-02-21 07:17] alex-yust commented on #2106
Issue created in Azure AKS repository: https://github.com/Azure/AKS/issues/1459

[2020-02-21 09:29] Tiberivs opened #2112 "nsmd hangs during start on Kubernetes with containerd CRI"
## Expected Behavior

nsmd should be started successfully

## Current Behavior

nsmd hangs on Kubernetes with containerd CRI, deploying stopped by timeout.

## Steps to Reproduce

1. Get Kubernetes cluster with containerd CRI
2. make helm-init
3. make helm-install-nsm
4. wait...

## Context

* Kubernetes Version: 1.17.3
* containerd.io 1.2.10
* Ubuntu 18.04
* Helm 2.16.3

[2020-02-22 15:55] #1997 closed

[2020-02-25 08:11] jellonek commented on #2029
The same in https://github.com/networkservicemesh/networkservicemesh/pull/2113

[2020-02-25 13:31] denis-tingajkin opened #2116 "Move kubetest framework to separate repo"
## Motivation

With the new project style, we need to move `kubetest` framework to separate repo to reuse it in the `integration-%v` repos.

[2020-02-25 15:46] haiodo opened #2117 "Update to VPP agent v3"
Update to VPP agent v3

[2020-02-26 07:34] denis-tingajkin opened #2118 "Remote VPN tests don't work with VPPAgent v3.0.1 on GKE"
## Expected Behavior

Remote VPN tests should work with VPPAgent v3.0.1 on GKE

## Current Behavior

Remote VPN tests don't work with VPPAgent v3.0.1 on GKE

## Build

https://circleci.com/gh/networkservicemesh/networkservicemesh/121430

[2020-02-26 10:34] denis-tingajkin commented on #2118
Root cause: veth ifaces was the wrong configured

[2020-02-27 13:16] #2055 closed

[2020-02-27 16:16] #2001 closed

[2020-02-27 16:16] #2002 closed

[2020-02-28 07:10] denis-tingajkin commented on #1512
@ivanayov should be fixed with 1983, can you please check?

[2020-02-28 07:18] #2068 closed

[2020-02-28 08:58] #2118 closed

[2020-02-28 11:15] #2117 closed

[2020-02-29 06:55] #2065 closed

[2020-03-04 07:54] denis-tingajkin opened #2119 "Add test for remote connection between kernel-forwarder and vppagent-forwarder"
## Motivation

We need to check the case of the remote connection of `kernerl-forwarder` and `vppagent-forwarder `via `vxlan` remote mechanism.

## Test steps

1. Deploy nsmgr on node1. //force select vxlan remote mechanism
2. Deploy vppagent-forwarder on node1.
3. Deploy nsmgr on node2. //force select vxlan remote mechanism
4. Deploy kernel-forwarder on node2.
5. Deploy nse1 on node2
6. Deploy ns

[2020-03-04 14:34] denis-tingajkin commented on #2089
Finally, CoreDNS project owner Miek said that the plugin should be an external plugin.
Main problem:
Miek found that the fanout plugin can not be used with public upstream servers because it could useless load up the servers.
https://github.com/coredns/coredns/pull/3652#issuecomment-594460912

Also, he saw on fanout plugin as a debugging tool but not described an example of debugging.

[2020-03-05 07:24] denis-tingajkin commented on #2105
The question to vpp related to problem connect AF_PACKET and tun: https://lists.fd.io/g/vpp-dev/message/15678

[2020-03-05 10:06] mudverma opened #2120 "Is it possible to have point to point (pod to pod) bandwidth reservation."
Say one NFV is running as a pod and another NFV is also running as a pod. Is it possible to reserve bandwidth between such point to point connections?

POD_A ------ 100mbps ------ POD_B-------50mbps--------POD_C

[2020-03-05 22:28] #2083 closed

[2020-03-07 12:59] #2091 closed

[2020-03-09 20:07] vparames86 opened #2121 "NSM RPC Error - not found"
## Expected Behavior

I am trying to run a virtual network topology using nsm. I have a k8s cluster created in azure aks-engine and using vmss(virtual machine scale set). I see the following RPC errors not found in nse-sidecar container logs.

## Current Behavior

venkat@veparam:~$ kubectl logs deviceceos01 -c nse-sidecar
time="2020-03-09T19:56:48Z" level=info msg="nsmServerSocket: /var/lib/networ

[2020-03-10 16:37] kerherve opened #2123 "vpn example is not configured as expected"
### Expected Behavior
The VPN example works as described in the https://networkservicemesh.io/docs/examples/vpn/

### Current Behavior
I am deploying the vpn example on my kubernetes cluster using helm. The deployment is working as expected and the test to verify the example as well. Nevertheless, when I connect to the different containers, I can see connections between pods are not like it is des

[2020-03-11 05:58] #2121 closed

[2020-03-11 06:07] denis-tingajkin opened #2125 "TestUpdateConnectionOnNSEChange can fail because of nil pointer on update connection"
## Expected Behavior

TestUpdateConnectionOnNSEChange  is stable on CI

## Current Behavior

TestUpdateConnectionOnNSEChange is not stable on CI

## Failure Information (for bugs)

[code]

## Build

https://circleci.com/gh/networkservicemesh/networkservicemesh/121563

## Containers logs

[TestUpdateConnectionOnNSEChange.zip](https://github.com/networkservicemesh/networkservicemesh/files/4316375/Te

[2020-03-11 10:34] kerherve commented on #2123
Ok, my mistake !
The vpp agents are connected through memif interfaces. I still need to find how to check that packets are going from nsc to nse by passing though firewall and then to passthrough 1, 2, 3. If somebody could give some hints would be wonderful.

[2020-03-12 08:03] #1994 closed

[2020-03-12 16:09] denis-tingajkin opened #2126 "Add an example of how to setup NSM working with Wireguard via helm"
## Overview

We've added support for wireguard remote mechanism for kernel forwarder https://github.com/networkservicemesh/networkservicemesh/pull/2085
And people interesting how to set wireguard up with NSM.
At this moment, we have not any examples for wireguard cases via helm on CI (we have only integration go tests but they can be not clear for users)
We need to add an example of usage wireguar

[2020-03-14 18:10] denis-tingajkin commented on #1774
https://circleci.com/gh/networkservicemesh/networkservicemesh/121610

[2020-03-16 07:40] denis-tingajkin commented on #2126
@terror96 added example please take a look https://github.com/networkservicemesh/networkservicemesh/pull/2128

[2020-03-17 14:39] haiodo opened #2131 "Upgrade to vppagent 3.1.0"
## Overview

It would be good to have 3.1.0 to be used:

https://github.com/ligato/vpp-agent/blob/v3.1.0/CHANGELOG.md#v3.1.0

[2020-03-19 15:07] ivanayov commented on #1512
It's working as expected now and metrics are triggered to Prometheus as well.

[2020-03-19 15:07] #1512 closed

[2020-03-23 03:52] #2104 closed

[2020-03-24 15:17] denis-tingajkin commented on #2089
Finally, We've created a repo for fanout plugin and coredns added info about this plugin on their site https://coredns.io/explugins/

[2020-03-24 15:17] #2089 closed

[2020-03-25 04:48] denis-tingajkin commented on #2125
Fixed by https://github.com/networkservicemesh/networkservicemesh/pull/2124

[2020-03-25 04:48] #2125 closed

[2020-03-25 13:48] denis-tingajkin commented on #2105
With this issue, I also tried to do the next thing:

Patch `AF_PACKET` interface on vpp side to make it works as `l3` interface.
I'd found that AF_PACKET interface was designed as L2 and to patch it we will need to do many changes (Looks like better create a separate interface type instead of Patch `AF_PACKET`)

[2020-03-25 15:00] denis-tingajkin commented on #2105
Doc with a decomposition of most popular ways to fix this problem: https://docs.google.com/document/d/1ICYb2kV48l-T1qounqkUBetUAmme0znD9gl405HJ2VQ/edit?usp=sharing

@edwarnicke , @fkautz , @haiodo please take a look and share your thoughts.

[2020-03-27 03:43] #2108 closed

[2020-03-29 08:43] #2106 closed

[2020-03-30 03:46] denis-tingajkin opened #2136 "WIP: Industrial Grade Interdomain vL3"
## Overview

The goal here is to create a production-grade Virtual L3 topology that spans multiple clusters and organizations. Production grade includes but not limited to tying in the work from before (e.g. Identity, Policy), redundancy and secure encapsulation (e.g. wireguard or similar) to establish functional networks.

## Link to the Google Docs document

https://docs.google.com/document/d/10

[2020-03-30 03:49] denis-tingajkin opened #2137 "Wireguard VPP Plugin"
## Overview

Current limitations in VPP prevent it from integrating with wireguard. To get around these problems, we are proposing a wireguard plugin that can speak the wireguard protocol and emit wireguard encapsulated datagrams.

## Link to the Google Docs document

https://docs.google.com/document/d/1ICYb2kV48l-T1qounqkUBetUAmme0znD9gl405HJ2VQ/edit#heading=h.rvc98q8enqpk

[2020-03-31 13:56] denis-tingajkin commented on #2105
finally blocked by https://github.com/networkservicemesh/networkservicemesh/issues/2137

[2020-03-31 14:13] denis-tingajkin commented on #2136
@fkautz  I've added one of usecases into doc above, please take a look.

[2020-03-31 14:22] haiodo opened #2138 "Advanced OPA Policies"
## Overview

A placeholder for OPA works.

Advanced OPA Policies
* * [x] -  Create OPA examples
* * [ ] -  Single cluster SFC example
* * [ ] -  Multi-cluster SFC example
* * [ ] -  Multi-org (Interdomain), Multi-cluster SFC example
* * [ ] -  eNSM SFC example
Implement examples as demos
* * [ ] -  All examples listed above created except for eNSM
Modifications to NSM to support the above use case

[2020-03-31 14:24] haiodo opened #2139 "SR-IOV support"
## Overview
* Current SR-IOV plugin is reliant on a device plugin which makes many poor assumptions about the environment. A new SR-IOV plugin is necessary to rectify these problems and unlock SR-IOV.
* [ ] - NSM XConnectNS Forwarder that:
* Exposes an SRIOV K8s Device Plugin appropriate to NSM
* * [ ] - Including rebinding to default driver on allocate
* * [ ] - Correctly handles privileged bits

[2020-03-31 15:35] gupta-alok commented on #2138
The SFC (Service Function Chaining) property in NSM which can be policy enforced, isn't it uses network policy similar to istio?

By enforcing network policies through OPA (Open Policy Agent), does it mean NSM's choice of policy enforcement engine will be OPA?

[2020-04-01 07:00] haiodo commented on #2138
Hi @gupta-alok, yes plan to use OPA. We had already some experiments with it.
This issue is place holder to work into this direction is planned, we are fully sure how it will become.

[2020-04-02 13:52] #2116 closed

[2020-04-02 17:57] denis-tingajkin commented on #2069
PR https://github.com/networkservicemesh/networkservicemesh/pull/2085 has been merged.

[2020-04-02 17:57] #2069 closed

[2020-04-03 05:25] #724 closed

[2020-04-03 05:27] #1592 closed

[2020-04-06 08:25] denis-tingajkin commented on #2136
I've started looking in subnet NSE direction.

We also have discussed it with Ed a bit.
And currently, I wait for a doc with vl3 subnet clarifications from  @edwarnicke.

[2020-04-07 06:13] glazychev-art commented on #2137
Ran ipsec between two VPP instances.
Trying to select ipsec template without encryption/decryption.

[2020-04-10 03:41] denis-tingajkin commented on #2131
Fixed by https://github.com/networkservicemesh/networkservicemesh/pull/2134

[2020-04-10 03:41] #2131 closed

[2020-04-10 03:43] denis-tingajkin commented on #2126
@terror96 can we close this issue? Do you still have any questions related to wireguard helm example?

[2020-04-10 08:06] denis-tingajkin commented on #2136
Presentation related to vl3 NSE, vl3 IPAM https://drive.google.com/file/d/1r0JNhJhn8RutMf62fmUR9WlWaApoWeMp/view

[2020-04-10 17:32] denis-tingajkin commented on #2136
Found source code examples https://github.com/danielvladco/k8s-vnet

[2020-04-11 11:15] #2120 closed

[2020-04-14 09:54] terror96 commented on #2126
Yes, you can close the ticket. Thank you for the example.

[2020-04-17 12:14] terror96 opened #2142 "Interdomain NSM: BulkRegisterNSE registers endpoints with the wrong IP to NSMRS"
## Expected Behavior

In the interdomain NSM case, we can launch a client that connects to an endpoint in another cluster. We repeat it after NSE_TRACKING_INTERVAL interval, and a new client should still be able to connect to the endpoint.

## Current Behavior

We have tested the interdomain NSM case, and it works for 2 minutes (matches with NSE_TRACKING_INTERVAL). After this, launching clients fa

[2020-04-17 13:00] terror96 commented on #2142
It appears that proxy-nsmgr modifies the address (look for comment 'Swapping IP address to external') in k8s/pkg/proxyregistryserver/registry.go::RegisterNSE(), but not in ::BulkRegisterNSE(). Could this be the root cause of problem?

[2020-04-17 17:12] #2123 closed

[2020-04-19 23:28] sbezverk opened #2143 "Installation failure"
## Expected Behavior

Following documentation  to install nsm and expect to have fully functional nsm
Here is the link:
https://github.com/networkservicemesh/networkservicemesh/blob/master/docs/guide-helm.md

## Current Behavior
Installation is failing with error.

## Failure Information (for bugs)

sbezverk@bruce-dev1:~/nsm$ helm install deployments/helm/nsm
Error: must either provide a name or s

[2020-04-20 02:52] liuming-dev commented on #2143
You have missing the release name argument, try `helm install -h` to see the usage.

![image](https://user-images.githubusercontent.com/11614773/79709510-e4c57b80-82f4-11ea-9b8f-f7dffef69da0.png)

[2020-04-20 03:11] haiodo commented on #2143
Hi @sbezverk,
Did you use helm v3? v2.0 support helm v2 only.

Support for helm v3, still in PR: https://github.com/networkservicemesh/networkservicemesh/pull/2075

[2020-04-20 09:38] mardim91 opened #2144 "NSMngr fails to come up. Liveness/Readiness probes are failing"
## Expected Behavior

I am expected succesfull installation of nsm through helm

## Current Behavior

The nsmgr pods are not coming up due to the failure of the liveness/readiness probe.

## Failure Information (for bugs)

The nsmgr pods are not coming up due to liveness/readiness probe failure. Sometimes the nsmgr comes up succesfully but the probes are still failing. Also sometimes the nsmgr wor

[2020-04-21 13:11] glazychev-art commented on #2137
Made a plugin with simple encrypt/decrypt nodes. Trying to run it using IPIP tunnel.

[2020-04-21 14:25] lvfxx commented on #2139
Trying to launch [existing SR-IOV plugin](https://github.com/networkservicemesh/networkservicemesh/tree/release-0.2/controllers/sriov-controller) to get better understanding how it works and what we need to change in a new plugin. There is a note in readme.md:
`nsm-sriov-config-manager is a standalone binary which should be but not mandatory executed before sriov-controller.`
I wonder where is thi

[2020-04-23 04:23] #1774 closed

[2020-04-26 07:07] denis-tingajkin commented on #2142
@terror96

Hello, I tried to reproduce the problem via go tests and kind clusters and it is not reproduced for me with steps below.

**Steps to reproduce:**

1.Deploy `nsmrs`, `nsm`, `proxy-nsmgr`, `nse` with networks service `icmp-responder` on cluster1
3.Deploy `nsm`, `proxy-nsmgr`, `nsc-1` with `CLIENT_NETWORK_SERVICE=icmp-responder@CLUSTER1_NODE_IP` on cluster 2
3. Check that `nsc-1` can ping

[2020-04-26 07:15] denis-tingajkin commented on #2144
@mardim91 Hello, could you please attach your environment and steps to reproduce?  More details are better. Thanks.

[2020-04-26 07:30] denis-tingajkin commented on #2136
@fkautz , @edwarnicke Here I see next options on how to implement this feature:
1. Implement this regarding monorepo and migrate this when interdomain staff will be migrated to SDK.
2. Rework interdomain staff and provide it for SDK repo and after that implement this feature.
3. Your option

Please share your thoughts.

[2020-04-27 09:23] terror96 commented on #2142
There seems to be an error in the provided steps to reproduce. Also, the initial conclusion that the situation emerges after NSE_TRACKING_INTERVAL is wrong. Sorry about that. It takes a bit longer,
even pass the value of NSE_EXPIRATION_TIMEOUT.

However, it seems that the sequence is as follows: initial registration (works), bulk registrations (with the wrong address) but the initial entry still i

[2020-04-28 11:34] PPaviii opened #2147 "SR-IOV plugin"
## Overview

Hello everyone, I am Francesco Pavan, a master of science student at Politecnico di Torino, Italy. I am currently investigating NSM technology for my master thesis in collaboration with TIM (Telecom Italia).
I would like to ask you:
- is further documentation of SR-IOV functionality available anywhere?
- are there any available examples/tests of this functionality?

Thank you!

## Lin

[2020-04-28 13:41] haiodo commented on #2147
HI @PPaviii not yet actually, it was previous SR-IOV plugin exist in v0.2 release branch, but it is not integrated into usable examples, documentation. We are in progress to rethink it completely.

https://github.com/networkservicemesh/networkservicemesh/tree/release-0.2/controllers/sriov-controller

[2020-04-28 14:57] denis-tingajkin commented on #2136
Finally, we will implement `vl3 NSE` on the SDK side.

[2020-04-29 07:29] PPaviii commented on #2147
Hi @haiodo, thank you for the reply! Ok everything is clear, one last question:
- do you have a roadmap of the development process or an expected release date?

[2020-04-29 08:53] rdimitrov commented on #2147
@PPaviii Feel free to reach out if you have questions about configuring the Kubernetes cluster - setup of the SR-IOV VFs, CNI, Device Plugin, etc. 👍

[2020-04-29 09:02] PPaviii commented on #2147
Hi @rdimitrov, thanks for your availability! How can I reach you to explain my situation and my problems?

[2020-04-29 10:53] rdimitrov commented on #2147
@PPaviii You should be able to find me in Slack (CNCF's workspace), look for Radoslav Dimitrov 👍

[2020-04-30 05:31] #2112 closed

[2020-05-01 09:16] fkautz commented on #2147
@PPaviii Hello, it's good to meet you. I am one of the maintainers of NSM. @rdimitrov discussed your situation with me.

Are you able to send me a message on slack? We may have resources available. I'd like to discuss what your goals are so that we can work out our options. I'll forward you a link where you can set up a call with me.

I'm currently in PST time (California), so we'll need to work o

[2020-05-04 15:44] nicoekkart opened #2150 "Endpoint is immediately deleted after registration"
## Expected Behavior

The NSM endpoint should be registered and clients can request a connection to it.

## Current Behavior
The NSM endpoint is registered but then immediately deleted (context canceled). Because of this the client can't connect.

## Steps to Reproduce
Run the packet filtering example in the cnf testbed.

## Context
I run on a virtual testbed environment with 1 master and 1 worker

[2020-05-05 03:13] haiodo commented on #2150
@nicoekkart based on code this could happen if endpoint is drop monitoring request from nsmgr, could you attach endpoint logs. thanks.

[2020-05-05 04:01] #2126 closed

[2020-05-05 07:30] nicoekkart commented on #2150
This is the full gateway endpoint log:

[code]

[2020-05-05 08:23] nicoekkart commented on #2150
When rerunning, I also see following log in nsmd:

[code]

[2020-05-05 09:56] denis-tingajkin commented on #2150
@nicoekkart What is the current commit hash of your target NSM branch?

[2020-05-05 10:00] nicoekkart commented on #2150
@denis-tingajkin

[2020-05-05 12:09] nicoekkart commented on #2150
I have this problem when running with the helm chart in the cnf-testbed repo: https://github.com/cncf/cnf-testbed/tree/master/examples/workload-infra/nsm-k8s

[2020-05-05 12:18] nicoekkart opened #2151 "Error code 137 on bare metal nsm install."
## Expected Behavior

All NSM components should be correctly installed.

## Current Behavior

nsmd ends up in a crashloopbackoff with exit code 137.

## Steps to Reproduce

1. Helm install nsm/nsm

## Context

This is ran on a virtual testbed with 2 nodes: a master and a worker. They are connected through a shared lan.

Running on kubernetes version v1.17.4.

## Failure Logs

nsmd log:
[code]
Kube

[2020-05-05 12:21] denis-tingajkin commented on #2151
@nicoekkart Interesting... Could you please test this issue with latest master?

[2020-05-05 12:23] nicoekkart commented on #2151
This is on master already

[2020-05-05 12:26] denis-tingajkin commented on #2151
As I can see from your logs
[code]
your nsmd-k8s image has version  `v0.2.0`.

Did you use `make docker-save k8s-load-images`?

[2020-05-05 12:29] nicoekkart commented on #2151
Aha, this will be a leftover because of another install I was trying. I will try to fix that and report back. Thanks.

[2020-05-05 12:40] nicoekkart commented on #2151
Ok. Having the same problem on master. nsmd is still not ready, but exit code 137 is not present in the describe anymore (maybe have to wait a while before this gets back).

nsmd logs:
[code]

kubectl describe pods nsmgr-nt72c
[code]

[2020-05-05 12:51] nicoekkart commented on #2150
Updated the version in the values file to master and seems to be working. Thanks

[2020-05-05 12:51] #2150 closed

[2020-05-05 12:55] nicoekkart commented on #2151
As said in issue #2150, I tried using the cnf-testbed helm file. This works (maybe because of jaeger being disabled?).

[2020-05-05 14:08] denis-tingajkin commented on #2136
Diagram of current vl3 staff requirements:
![image](https://user-images.githubusercontent.com/49399980/81075292-59630180-8f14-11ea-8f6f-11895501219e.png)

[2020-05-06 13:29] ebucchianeri opened #2152 "Installation failure"
## Expected Behavior

A succesfull installation of nsm through Helm

## Current Behavior

The nsmgr pods are failing due to liveness/readiness probe failed.

## Steps to Reproduce

1. `helm repo add nsm https://helm.nsm.dev/`
2. `helm install nsm nsm/nsm -n nsm`

## Context

* Kubernetes Version: 1.17
* Helm version: 3.2.0

## Failure Logs

[code]

[2020-05-07 06:11] glazychev-art commented on #2137
Working at wireguard implementation.
In particular at crypto module and data structures (for peers, keys storing).
Wg seems to be closely related to the Linux kernel, so there are some difficulties with porting. I use wireguard-linix-compat repository.

[2020-05-07 15:17] #2107 closed

[2020-05-08 14:10] nicoekkart commented on #2151
When running the same installation on a clean cluster, I'm now again having problems with nsmd. For some reason, the readiness endpoint is not available (503). Everything is running, and nsmd is not restarting, but it never gets ready.
At the same time, all nsm-vpp-forwarders are in a crashloopbackoff.

This is the nsmd log:
[code]

This is the vpp-forwarder log

[code]

[2020-05-12 07:46] denis-tingajkin opened #2154 "External clients can not use port of proxy nsmgr via nsm annotation"
## Expected Behavior

The external client could pass all required parameters via NSM annotation.

## Current Behavior

The external client could not pass the proxy port in the interdomain case via NSM annotation.

## Failure Logs

[code]

## Steps to Reproduce

1. setup two clusters with nsmgr and pnsmgr
2. deploy examples/examples/icmp/k8s/simple-endpoint.yaml on cluster1
3. Replace nsm label in

[2020-05-12 13:28] glazychev-art commented on #2137
Made a crypto module. Continue work at keys and handshake packet making.

[2020-05-12 14:24] denis-tingajkin commented on #2136
Current status is:
![image](https://user-images.githubusercontent.com/49399980/81703512-e9fe8c00-9496-11ea-898a-52c8829bd107.png)

[2020-05-13 05:03] denis-tingajkin commented on #2142
@terror96 Could you please check this problem with the latest master?
 If it is reproducible then please attach logs from `nsmrs`, `nsmd-k8s`  from nsmgr and `proxy-nsmd-k8s` from pnsmgr.

[2020-05-13 13:43] terror96 commented on #2142
We are experiencing the same result.

This time we only launched the endpoint (2 instances) and waited until the registration times out (entry with IP=10.1.0.18:5001) thus leaving only the invalid entry in nsmrs (entry with IP=10.243.1.140:5001). The IP addresses are identical to the above description.

Q: why does the registration time out in nsmrs? The associated endpoint is up and running. Ther

[2020-05-13 16:50] denis-tingajkin commented on #2142
@terror96 thanks for the logs!
Yes, I also found here an interesting moment...
Note at this lines from the nsmgr logs
[code]
As you can see here time on starting and on removing is equal(1589375951 is time of registratin)
By some reason received BulkRegisterNSE requests not updated ExpirationTime...

If you have chance then could you add additional log here https://github.com/networkservicemesh/ne

[2020-05-13 21:32] #2151 closed

[2020-05-14 02:35] denis-tingajkin commented on #2151
@nicoekkart Is this issue still reproducible?

[2020-05-14 08:44] nicoekkart commented on #2151
I don't know what fixed it exactly, but running vpp_install, vpp_container_install and vpp_config roles from [here](https://github.com/cncf/cnf-testbed/blob/master/comparison/ansible/k8s_worker_vswitch_quad_intel.yml) fixed it.

[2020-05-15 02:36] houstar commented on #2143
@haiodo ,  Could we merge PR#2075 ASAP? I'm struggled with installation issue while using helm3

[2020-05-18 14:41] uablrek opened #2156 "Annotations to connect to multiple NSEs connects to the same"
## Expected Behavior

When using annotations to connect to multiple NSEs;
[code]
there should be two interfaces, "nsm0" and "nsm1", connected to the two different specified endpoints.

## Current Behavior

The two interfaces are created but they are connected to the same endpoint;

[code]
In this example the interfaces should get addresses from different families.

## Failure Information (for bugs

[2020-05-18 16:28] edwarnicke commented on #2156
Let's talk through what you are looking to do here :)

The contract for that annotation in NSM is that if you ask for multiple *Network Services* we will connect you to those Network Services.  We don't (currently, but happy to talk about) make any guarantees a priori about which NSEs we connect you to for those network services.

It sounds like you have two distinct network services 'bridge-domai

[2020-05-18 16:29] edwarnicke commented on #2156
One other question... do you happen to know why bridge-domain and bridge-domain-ipv6 are distinct (other than perhaps IPAM issues?).  Normally when I think of a bridge domain I think of it as something that is looking at L2 frames, and so would be agnostic between IPv4 and IPv6 :)

[2020-05-18 16:33] uablrek commented on #2156
Second question first; as I recall the IPAM did not allow more than one address at the time of writing. But it may also be to simply separate ipv6.

[2020-05-18 16:41] uablrek commented on #2156
First question; I thought these were different services. How can I tell they are the same?
[code]
`ENDPOINT_NETWORK_SERVICE` are different.

[2020-05-18 16:47] edwarnicke commented on #2156
Yeah... if that's still true, we should definitely fix that root underlying issue :)

[2020-05-18 16:47] adrianlzt opened #2157 "go.mod controlplane/v0.3.0"
## Expected Behavior

Go get working properly

## Current Behavior

Getting the module github.com/networkservicemesh/networkservicemesh/k8s produces an error.

Is it an error to point to version 0.3.0? I don't see a tag for that version in this repo.

And the use of replace in go.mod instead of specifying the versions, is that "normal"?

## Steps to Reproduce

[code]

[2020-05-18 16:47] edwarnicke commented on #2156
I don't quite follow this comment.  Could you say more?

[2020-05-18 16:53] uablrek commented on #2156
Um, I think I misread. You *are* saying that there are 2 services, sorry.

But implemented by the same NSE? There are 2 different PODs. Here is a list of pods in my system;
[code]

[2020-05-18 17:00] edwarnicke commented on #2156
Ah... OK... so you have distinct NSEs for each of 'bridge-domain' and 'bridge-domain-ipv6'  :)

Which means that I misunderstood the issue.  I apparently read to fast:

 So nsm0 and nsm1 are both connected to 'bridge-domain' (or 'bridge-domain-ipv6') ?

[2020-05-18 17:00] denis-tingajkin commented on #2157
Hello @adrianlzt, interesting what you want to export from pkg `github.com/networkservicemesh/networkservicemesh/k8s` ?

[2020-05-18 17:09] edwarnicke commented on #2157
@adrianlzt Ah... you are hitting the infamous "multi-module repos have subtle problems: #43" issue.

The way that go get handles downloading modules doesn't cope well at all with multiple go modules in the same repo cross-referring to each other using local replaces.  Its part of why we are in the process of migrating to a multi repo approach.

What's the underlying thing you are trying to achieve

[2020-05-18 17:14] denis-tingajkin commented on #2154
@edwarnicke Do we need to fix this issue?

[2020-05-18 17:54] uablrek commented on #2156
Yes, to bridge-domain-ipv6. I have not entirely ruled out that they are connected to different nse's but the fault is that they use IPAM form the same nse (which is definitely ipv6).

[2020-05-18 18:08] adrianlzt commented on #2157
Trying to compile https://github.com/skydive-project/skydive-plugins
That after removing an erroneous replace (first one) tries to download github.com/skydive-project/skydive that have several deps with networkservicemesh.

I was trying to clean (remove) all those replaces so I tried with an empty go.mod and then I saw this.

Looks like kubernetes has fixed some of the problems with go.mod: https:

[2020-05-18 22:24] edwarnicke commented on #2156
Yeah... that sounds like a bug.

Let's see who we can get to look at it :)

[2020-05-19 13:22] edwarnicke commented on #2154
You specify networkservices via annotation, not network service endpoints.  networkservice's don't have a 'port'.

[2020-05-19 14:24] denis-tingajkin commented on #2136
Status update for the week:

![image](https://user-images.githubusercontent.com/49399980/82338413-124a3580-9a17-11ea-9dc4-e69a1d668a72.png)

[2020-05-21 10:32] nicoekkart opened #2159 "Support for diverging topologies"
## Overview
I'm looking into creating a topology like the reverse proxy, but with an ACL filter before every Nginx pod.
[code]

I think currently, the only way to do this, is by replicating the ACL filter with different color labels. Is there a better way to do this? Is it possible to keep the labels that are assigned and propagate them through?

In my use case, the chain behind the reverse proxy

[2020-05-23 19:44] edwarnicke commented on #2159
Why not something like this:
[code]

[2020-05-23 19:45] edwarnicke commented on #2159
Let the ACL filter just act as a passthrough, including passing through the labels from its incoming connections, and have NSM sort out whether it goes to nginx-red, nginx-green, or nginx-blue based on those labels?

[2020-05-23 19:57] nicoekkart commented on #2159
First of all, I'm not really trying to create a specific use case, but trying out what nsm can do and what not. In this case, I'm trying to hack my way together into creating some kind of dynamic service chain, where traffic is routed to a different service chain based on some header information (in this case 'color').

I'm gonna try it tomorrow when I'm at my workstation, but won't the color labe

[2020-05-23 22:30] edwarnicke commented on #2159
@nicoekkart Poking things is the best way to learn!

What I didn't draw well into my picture was that I was presuming that you were opening a connection from ACL filter to nginx for each incoming connection... in that situation, you just propagate the labels.

If you *don't* want to do that... if you want one connection from ACL filter to each nginx... then you are into the world of not only apply

[2020-05-23 22:54] nicoekkart commented on #2159
Would be great if you could explain it in more detail! I must say that my networking background is very limited. My only real experience with more advanced networking (except for some CS classes), is by looking at a lot of talks related to NSM and other technologies in the CNF realm, and by messing with it for a few months. Vrfs for example, I wouldn't know by heart, but I can perfectly understand

[2020-05-26 10:09] denis-tingajkin commented on #2154
@edwarnicke  yes it is correct but in case of interdomain currently, we allow to use this pattern via env variable `CLIENT_NETWORK_SERVICE`

[2020-05-26 13:13] glazychev-art commented on #2137
Made a simple handshake procedure (run it manually).
Now i can also send keepalive packets (zero length message). Additionally, i sent some encrypted bytes - it works fine, the server side can correctly decrypt it.
Now i'm working at ping sending.

[2020-05-26 13:54] edwarnicke commented on #2154
I don't think we should be doing that at all... a network service doesn't contain a port.

[2020-05-26 14:32] denis-tingajkin commented on #2136
Status update
![image](https://user-images.githubusercontent.com/49399980/82913383-6a91b200-9f98-11ea-8b53-bf9e1d4499a6.png)

[2020-05-26 14:40] #2156 closed

[2020-05-26 15:15] edwarnicke commented on #2138
@gupta-alok Two kinds of policy :)  What we do right now in the Network Service definition is the policy about chaining that you reference.  All it does is reason on labels to determine what set of candidate NSEs for a request from a client are.  I don't anticipate that changing.  It's nice and clean and simple :)

What we are talking about here is the 'admissions' policy.  Basically determining w