[2020-05-27 15:44] edwarnicke commented on #2144
@mardim91 Still having this issue?  Were you about to get @denis-tingajkin the info he was asking for?

[2020-05-27 22:42] vparames86 opened #2160 "Error in NSC connecting to NSE when the pods get rescheduled to a different kubernetes worker node"
## Expected Behavior

When the pods running the nsc and nse sidecar containers gets rescheduled to a different kubernetes node, they should be able to connect.

## Current Behavior

When the pods gets rescheduled to a different kubernetes node due to a node failure of the initial hosted node, the connection breaks and NSC starts throwing "NSM:(7.1.5)" error. i.e. it still tries to establish connec

[2020-05-28 09:56] mardim91 commented on #2144
Hello all,

I think we can close this issue. Sometimes I get it sometimes not. Maybe is a problem with my environment. Right now everything is working fine to my env so let's close it and if I get it again I will paste all the info in a new issue.

Thanks!

[2020-05-28 13:47] edwarnicke commented on #2144
Do let us know if you continue to see the issue.

[2020-05-28 13:47] #2144 closed

[2020-05-28 14:08] mardim91 commented on #2144
@edwarnicke sure

[2020-05-29 13:11] nicoekkart opened #2161 "Cluster starts misbehaving after a while"
I've also asked this on cnf-testbed and they've redirected me here.

I'm working on GoEPC using nsm, and for this I've set up my own cluster on a virtualized testbed from my university. Everything works fine, and all use cases seem to work at first. After a while, some strange behaviour starts happening, and I have no idea what the root cause is of this. This might not be related to the cnf-testbe

[2020-05-29 14:14] edwarnicke commented on #2160
I'm a little confused... Pods don't get 'moved' to new Nodes in my experience.  You can have a deployment and have one Pod go away and another start.  But they never 'move'.  Could you provide more detail?

[2020-05-29 15:54] edwarnicke commented on #2161
Have you looked at your Node Resources to see if they are showing nsm socket devices in the expected way?

[2020-05-29 19:06] vparames86 commented on #2160
Sorry, by pod moving I meant, one goes away and another starts. I am using cluster autoscaler with AKS cluster. I am noticing "kernel panic" issue and the node keeps restarting. After sometime the cluster autoscaler removed that node and creates a new node and a new pod gets scheduled in the new node created by autoscaler and then I start seeing this issue. I am noticing the kernel panic happen wh

[2020-05-29 19:13] vparames86 commented on #2160
I could only grab these logs when the kernel panic happens
 kubectl logs nsmgr-mz82x --namespace=nsm-system nsmd
time="2020-05-29T07:41:47Z" level=info msg="Starting nsmd..."
time="2020-05-29T07:41:47Z" level=info msg="Version: c1b19595"
time="2020-05-29T07:41:47Z" level=info msg="All env variables:"
time="2020-05-29T07:41:47Z" level=info msg="JAEGER_AGENT_PORT=6831"
time="2020-05-29T07:41:47Z" le

[2020-05-29 19:14] vparames86 commented on #2160
k8s-agentpool-24376997-vmss000015 login: [   20.777483] cloud-init[2693]: Cloud-init v. 19.4-33-gbb4131a2-0ubuntu1~16.04.1 running 'modules:final' at Wed, 27 May 2020 21:17:07 +0000. Up 20.51 seconds.
[   20.778493] cloud-init[2693]: Cloud-init v. 19.4-33-gbb4131a2-0ubuntu1~16.04.1 finished at Wed, 27 May 2020 21:17:08 +0000. Datasource DataSourceAzure [seed=/var/lib/waagent].  Up 20.76 seconds
[

[2020-05-30 10:21] nicoekkart commented on #2161
While digging, I'm finding a lot of mentions to "too many open files". Is it normal for nsmd to have +600 fd's open? On my broken node, this is the case, on another node in this same cluster, there are 400+ fd's open. On a brand new cluster with NSM installed, 38 fd's are open for nsmd.

Is it possible that there's some problem with closing files in nsmd (or anything else I should look at)?

[2020-05-30 12:23] nicoekkart commented on #2161
Yes! By removing all /var/lib/networkservicemesh folders, the problem seems to be resolved. Should these old client connections normally be deleted?

[2020-05-31 22:48] qlyoung commented on #2152
Project currently requires helm 2.0, as I learned the hard way.

[2020-06-01 09:34] denis-tingajkin commented on #2142
The problem is unreproducible on kind clusters.

@terror96 we've expanded logs, so if you have a chance then please attach logs from `nsmrs` container from latest image.
 Note: Probably you need to update your images:
[code]

Also, a question, what the cluster you are used?

[2020-06-02 13:33] glazychev-art commented on #2137
Ran ping via wg-plugin.
It's possible to connect two VPP instances. It seems to work correctly, i can ping each other.
Now i'm working on timers for auto key freshing and re-handshaking.

[2020-06-02 14:51] edwarnicke commented on #2143
@houstar Merged #2075

Does that solve your issue here?

[2020-06-03 05:03] qlyoung opened #2164 "topology-sidecar-nse - how to build?"
Skipping your templates because this is a question.

https://hub.docker.com/r/networkservicemesh/topology-sidecar-nse/

How do I build this image from source? I don't see the source in this repo.

[2020-06-03 17:08] qlyoung commented on #2164
For future searchers, source is here:

https://github.com/networkservicemesh/examples/tree/master/examples/topology/sidecar-nse
https://github.com/networkservicemesh/examples/tree/master/examples/topology/sidecar-nsc

[2020-06-03 20:52] vparames86 commented on #2160
@edwarnicke @denis-tingajkin - On further debugging, I see that the CRD (networkservicemanagers.networkservicemesh.io) is not getting updated to remove the networkservicemanager for the node which got deleted.

kubectl logs nsmgr-jfl7t --namespace=nsm-system nsmd | grep error
time="2020-06-03T20:46:55Z" level=error msg="ERROR: cannot init Jaeger: lookup jaeger.nsm-system on 10.0.0.10:53: no such h

[2020-06-03 21:09] edwarnicke commented on #2160
Got it, that makes sense.

Do you mean the node keeps restarting or the Pod?  If so which Pod specifically?

Which forwarder are you using again?

[2020-06-03 21:54] vparames86 commented on #2160
The node keeps restarting because of kernel panic. The pods in the node restarts too since the node restarts. I captured all the errors I noticed before the kernel panic and have posted here. I am using **kernel-forwarder**. I still couldn't figure out the root cause for the kernel panic. I could only say that it is linked to either nsm forwarder/mgr

[2020-06-04 00:33] edwarnicke commented on #2160
Doh... you were super clear... for some reason my brain mapped 'kernel panic' to 'go program panic' ... my bad :)

Frankly, it shouldn't be possible for kernel-forwarder to panic the kernel (ie, there's a kernel bug in there somewhere).  That said, what happens if you try vpp-agent-forwarder?

[2020-06-04 00:36] edwarnicke commented on #2164
@qlyoung Thanks for leaving the note for future searchers!

[2020-06-04 00:39] edwarnicke commented on #2152
@qlyoung #2075 has been merge :)  We should now support helm 3 :)

[2020-06-04 08:17] ebucchianeri commented on #2152
Thank you for helping.
But I don't think this error is related to Helm version. Looking at pod logs the spire-agent was unable to talk to spire-server due to network reasons, specifically the spire-agent was unable to resolve the name "spire-server", ending with
`nc: bad address 'spire-server'`

For what I saw, the spire-agent has this problem because it is using
`hostNetwork: true`;  following th

[2020-06-04 15:29] ebucchianeri commented on #2152
Yes, thanks

[2020-06-04 15:37] #2152 closed

[2020-06-07 09:27] #2147 closed

[2020-06-08 05:51] vparames86 commented on #2160
@edwarnicke - When I deploy pods with making a connection via nsm(nsc -> nse), they deploy fine and I also scaled them to check if there are any OOM killer which triggers kernel panic. I don't see any issues there too. When I start making nsm connections, I see these kernel panics randomly. So I presume that something in the kernel-forwarder/nsmgr is triggering a panic. I haven't tried the vpp for

[2020-06-08 14:59] edwarnicke commented on #2160
@vparames86 I don't see how it could be NSMgr... its basically just a normal GRPC kind of microservice.  kernel-forwarder does send NetLink messages to the kernel to request creation of kernel interfaces etc... of course that *shouldn't* be able to cause kernel panics... but all software, even the kernel, has bugs.

Do let me know what you see when trying the vppagent forwarder.

[2020-06-08 14:59] edwarnicke commented on #2160
@rdimitrov Any thoughts here?

[2020-06-08 17:19] vparames86 commented on #2160
@edwarnicke - I switched to vppagent forwarder and have been testing it for a while with scaling up the number of pods and the same scenarios I used to test with kernel forwarder. I am not seeing any kernel panic issues until now. I feel something in the kernel-forwarder is triggering a panic, sorry I couldn't get the exact steps to reproduce it, but from what I have noted, it happens during vxlan

[2020-06-08 17:46] edwarnicke commented on #2160
Linux kernel version would be most helpful :)

[2020-06-08 20:10] vparames86 commented on #2160
On using vppforwarder the kernel panic stopped but seeing another issue in nsm-client

time="2020-06-08T19:55:53Z" level=info msg="Creating logger from config: &{nsm-client@dummyvppquag01-699b797b9f-ffjhb false false [] 0xc000200780 0xc0002242a0 <nil> <nil> <nil>}"
2020/06/08 19:55:53 Initializing logging reporter
time="2020-06-08T19:55:53Z" level=info msg="nsm: connection to nsm server on socket:

[2020-06-09 01:55] vparames86 commented on #2160
@edwarnicke - The issue is seen while using TAP interfaces. I set the "FORWARDER_ALLOW_VHOST" to false and then the vppforwarder uses the VETH pairs and they work fine for vppforwarder.

[2020-06-09 18:41] vparames86 opened #2165 "Network Service CRD responds with old values (not updated) when NSMgr tries to find a match"
## Expected Behavior
When the Network Service CRD for a network service is updated via API, the NSMgr should fetch the new values for the Network Service.

## Current Behavior
When NetworkService CRD gets updated for a network service, The response to NMSgr from network service returns old values, when it tries to find a match for NSC -> NSE and errors out with
"**error=NSM:(7.1.5) <nil>. Last NSE

[2020-06-09 19:43] edwarnicke commented on #2165
@vparames86 Interested in trying your hand at a fix? :)

https://github.com/networkservicemesh/networkservicemesh/blob/master/k8s/cmd/nsmd-k8s/main.go

[2020-06-09 19:54] vparames86 commented on #2165
@edwarnicke - Already checking the code. Would be interested in trying :). Since I am new might need some assistance in fixing the issue. I see a cache layer where the NSE registrations are cached. Do I need to find a way to update this cache when the network service CRD gets updated?

[2020-06-09 22:49] edwarnicke commented on #2165
@vparames86 Delighted to assist!

We do cache... basically, what ends up happening is that we keep a cache locally.  That cache should be updated from the CRDs.  If you chase down through the server, you will find where we are listening for CRD updates.

[2020-06-11 17:09] edwarnicke commented on #2160
The issue seems to be that you already have interfaces named eth12 and eth11... is that possible?

[2020-06-14 20:36] nicoekkart commented on #2161
Does anybody have any clue about the cause of this buildup in /var/lib/networkservicemesh. I have it working for my cluster completely, by removing this, but where could this be coming from?

[2020-06-15 15:04] edwarnicke commented on #2161
@nicoekkart It's likely related to issues of cleanup with the device plugin.  Do you ever see kubelet reallocate a nsm socket?

[2020-06-16 12:57] terror96 commented on #2142
We are not using "kind" but our setup consists of 4 OpenStack virtual machines. There are two k8s clusters (cluster 1 and cluster 2) with 2 VMs in each. One master and one slave.

Here is the log file of nsmrs with the code base at 9d2d6b6c9a559ad99c6628c362089b07d3f64d75:

[nsmrs.log](https://github.com/networkservicemesh/networkservicemesh/files/4786571/nsmrs.log)

Just for the fun of it, we mod

[2020-06-16 13:33] denis-tingajkin commented on #2142
I tried to reproduce the problem on all clusters https://github.com/networkservicemesh/networkservicemesh/pull/2166 and it is not reproducing. Could you check the steps? Probably I missed something...

Ok, cool will try to reproduce the problem with this setup.

Yes, you probably right, but I want to reproduce it at first.

[2020-06-16 14:13] glazychev-art commented on #2137
Made timers for auto key freshing and connection supporting.
Tested it on thousands ping packets. No packages were lost.
Now i'm cleaning my code and preparing draft pr.

[2020-06-16 14:20] denis-tingajkin commented on #2136
Status update:
![image](https://user-images.githubusercontent.com/49399980/84786583-29c90e00-b017-11ea-91c3-796f23364197.png)

[2020-06-16 14:34] #2143 closed

[2020-06-22 05:41] vparames86 commented on #2160
@edwarnicke - Update on the kernel panic issue I was seeing. It was with one of the container images I was using. I was using a containerized image of Arista cEOS and that particular version had some issue. Now since I moved to the latest version of the Arista image, I am not seeing the kernel panic issue anymore.

Also on networkservicemanager not found issue, it happens when the node where the p

[2020-06-26 01:50] denis-tingajkin commented on #2154
Actually, it is not a problem. Network service should not contain a port.

[2020-06-26 01:50] #2154 closed

[2020-06-26 04:00] edwarnicke commented on #2160
Thanks for letting me know :)

[2020-06-26 04:03] edwarnicke commented on #2160
@vparames86
Ah... OK... so let me see if I understand... you redeploy the Pods with the same names ( a totally reasonable thing to do ) and so we already have entries for them.  We failed to hit this before because we were always using Deployments... so they always got unique Pod names.

Your proposed solutions sounds quite reasonable to me... would you like to push a PR? :)

[2020-06-26 05:12] vparames86 commented on #2165
I went through the code but couldn't find where we are listening for CRD updates. Could you please point me to the file.

[2020-06-27 10:55] denis-tingajkin commented on #2165
@vparames86 I think you need to start from here https://github.com/networkservicemesh/networkservicemesh/blob/master/k8s/pkg/registryserver/resourcecache/resource_cache.go#L144

[2020-06-29 03:23] denis-tingajkin commented on #2142
@terror96 Reproduced and fixed in #2168, can you please check?

[2020-06-30 12:09] denis-tingajkin commented on #2136
Status update:

This issue is blocked because at first we need to finish interdomain chain elements and applications.

networkservicemesh/sdk#235

[2020-06-30 13:36] glazychev-art commented on #2137
Draft PR
https://github.com/FDio/vpp/pull/26

[2020-07-07 14:36] #2142 closed

[2020-07-10 11:37] terror96 commented on #2142
Sorry for the late response, but thank you. I can now confirm that the bug fix works also in our testbed.

[2020-07-10 11:51] terror96 opened #2169 "Interdomain NSM: client and endpoint on the same cluster node fails"
## Expected Behavior

Client and endpoint can reside on the same cluster node in the case of interdomain NSM.

## Current Behavior

Client fails to init.

## Failure Information (for bugs)

nsm-vpp-forwarder-lspbp: level=error msg="VPPApiError: Source and destination are the same (-82)" loc="descriptor/interface_crud.go(95)" logger=vpp-ifplugin.if-descriptor

nsmd: level=error msg="NSM:(9.1.1) For

[2020-07-10 13:17] denis-tingajkin commented on #2142
@terror96 It was a super unobvious problem. Your logs and investigation super helped to understand what's going on. Thanks 👍

[2020-07-10 14:28] denis-tingajkin commented on #2169
@terror96 Am I understand correctly that the client wants "networkservice@client.domain"?

[2020-07-10 14:29] denis-tingajkin commented on #2169
It is a good catch :)

@edwarnicke Should we fix this issue for monorpo?

[2020-07-11 01:17] edwarnicke commented on #2169
@denis-tingajkin Please do :)

@terror96 Thanks for reporting the issue :)

[2020-07-13 10:05] terror96 commented on #2169
The client is configured to request endpoint at ${networkservice name}@${NSMRS}.

[2020-07-17 09:27] terror96 commented on #2142
Great to hear and thank you for looking into this.

[2020-07-20 06:59] denis-tingajkin opened #2172 "Azure cloud instances fail with error 'Operation failed with status: 'Bad Request'"
## Failure Information (for bugs)
https://app.circleci.com/pipelines/github/networkservicemesh/networkservicemesh/9060/workflows/2fa11b49-38f7-4542-8e6c-203fe999f52d/jobs/122183/tests
## Steps to Reproduce

Trigger CI

[2020-07-20 12:45] denis-tingajkin commented on #2172
@edwarnicke Can this problem be related to the subscription problem?

[2020-07-20 12:46] denis-tingajkin commented on #2172
@haiodo I haven't access to AKS, so if you'll have a time please take a look at this issue.

[2020-07-21 10:17] haiodo commented on #2172
I think we already resolved this by fixing kubernetes Version, @denis-tingajkin  Please close if so.

[2020-07-21 12:26] denis-tingajkin commented on #2172
@haiodo yes, sure

[2020-07-21 12:26] #2172 closed

[2020-07-21 13:10] denis-tingajkin commented on #2169
@terror96 The problem should be fixed with #2170, can you please check? :)

[2020-07-21 13:25] glazychev-art commented on #2137
Made custom vpp-agent image with plugin:
https://hub.docker.com/repository/docker/artgl/vpp-agent/
https://github.com/glazychev-art/vpp-agent/tree/wg

Now i'm reworking noise-protocol based on openbsd implementation

[2020-07-22 17:16] denis-tingajkin opened #2174 "[Question] Should we update k8s version from 1.15.1 to 1.16.10 for this repository?"
It looks like we can update monorepo to using the new k8s version. Question: should we do this?

[2020-07-23 08:40] terror96 commented on #2169
Sure :) Yes, I can confirm that it now works also in our OS setup. Good job, thanks.

[2020-07-23 11:40] denis-tingajkin commented on #2169
Fixed by #2170

[2020-07-23 11:40] #2169 closed

[2020-08-01 08:31] lujinda opened #2176 "Why does GetCurrentNS use regularization?"
https://github.com/networkservicemesh/networkservicemesh/blob/804ad5026bb5dbd285c220f15395fe25e46f5edb/pkg/tools/tools.go#L62
[code]

Excuse me, why does GetCurrentNS use regularization?  Maybe we can consider using os.Stat to get the inode of netns.
 The inode is part of the ns filename. Such as:
[code]

[2020-08-01 08:45] denis-tingajkin commented on #2176
PRs are welcome :)

[2020-08-01 19:22] edwarnicke commented on #2176
@lujinda Like anything else... it represents an evolution over time... your solutions (use os.Stat) is a much better one, and much appreciated :)

[2020-08-02 01:36] #2176 closed

[2020-08-02 04:47] #2160 closed

[2020-08-19 04:50] glazychev-art commented on #2137
Pushed commit to vpp repo for code review
https://gerrit.fd.io/r/c/vpp/+/28503

[2020-08-20 06:13] sh-sekigawa opened #2179 "GW address of NSE is set to NSE's own address."
## Expected Behavior

The gateway address of static routes on NS Endpoint should be the IP address of NS Client.

## Current Behavior

The gateway address is set to the NS Endpoint's IP address.

## Failure Information (for bugs)

The issue occurs when connecting between a vpp-forward Client and a kernel-forward Endpoint.
On Endpoint, static routes are configured based on route prefixes announced

[2020-08-29 08:22] #2174 closed

[2020-09-01 13:43] denis-tingajkin commented on #2179
@edwarnicke , @fkautz Should we fix this issue for monorepo?

[2020-09-01 14:52] edwarnicke commented on #2179
Yes 👍

[2020-09-03 07:51] sh-sekigawa commented on #2179
@denis-tingajkin @edwarnicke
Does monorepo mean this repo, right?

[2020-09-08 10:57] pperiyasamy opened #2183 "Guaranteed QoS class NSE can't register the service"
## Expected Behavior

The NSE pod has Guranteed QoS class for resources like below.

[code]

When deploying it with helm chart, NSE pod should come up and its service should be registered with NSMgr appropriately.

## Current Behavior

NSE pod comes up properly, but its service is not registered with NSM.
But this works perfectly fine for 'Burstable' QoS class NSE pods.

## Failure Information (fo

[2020-09-08 11:41] denis-tingajkin commented on #2179
@sh-sekigawa  yes, monorepo is this repo :)
Also, I've looked at your patch, it looks good to me. Let's try to pass ci :)

[2020-09-08 12:53] pperiyasamy commented on #2183
seeing the below logs continuously from spire agent pod while bringing up the Guaranteed QoS class NSE pod.

[code]

which seems to be related to this spiffe [issue ](https://github.com/spiffe/spire/issues/1535)

[2020-09-10 07:52] pperiyasamy commented on #2183
The NSC pods are also set to `Burstable `QoS class when `Guaranteed `QoS class is requested for resources. This happens if service request is initiated with its init container.  This seems to be related to [this k8s issue](https://github.com/kubernetes/kubernetes/issues/93282).

Should we workaround this issue in [admission webhook](https://github.com/networkservicemesh/networkservicemesh/blob/mas

[2020-09-10 12:16] #2179 closed

[2020-09-11 02:42] #2165 closed

[2020-09-11 07:11] #2183 closed

[2020-09-11 10:14] xzfc commented on #2183
We updated spire to 0.11.0, which should fix the issue. Could you please confirm?

---

Yes, I discussed it with the team. I'll add it in a few days.

[2020-09-11 17:17] electrocucaracha opened #2186 "CIDRs are ignored in Multi-services per one endpoint scenario"
## Expected Behavior
Endpoint's NICs should belong to different networks.

## Current Behavior

I'm working on the NSM implementation for the [GW Tester app](https://wmnsk.com/posts/20200116_gw-tester/). I have [done this before](https://github.com/electrocucaracha/gw-tester/) for Multus and DANM and sadly the [services of this app can't be separated](https://github.com/wmnsk/go-gtp/issues/70#issu

[2020-09-11 17:27] edwarnicke commented on #2186
Let's definitely see if we can fix this 👍

[2020-09-14 06:16] denis-tingajkin commented on #2183
@xzfc Since this issue is closed I think we should create another to tracking the status of adding limits into our containers.

[2020-09-14 13:36] xzfc opened #2187 "Admission Webhook should preserve the pod QoS class"
## Context

Originally reported in https://github.com/networkservicemesh/networkservicemesh/issues/2183#issuecomment-690059867.

Kubernetes assigns Guaranteed QoS class to the pod if and only if every container in the pod has a matching CPU and memory limits and requests.

Currently, the Admission Webhook doesn't assign any limit to the containers it creates.

Consequently, the pod patched by the

[2020-09-14 13:37] xzfc commented on #2183
#2187

[2020-09-15 14:15] pperiyasamy opened #2189 "nsmd too many open files error"
## Expected Behavior

I'm trying to do a stability testing with 10 NSCs by deploying and undeploying it multiple times.
The deployment and cleanup should work seamlessly in all the runs.

## Current Behavior

In the 2nd or 3rd attempts of NSCs deployment, nsmdp fails to connect with nsmd, one NSC pod fails with admission error and other NSC pods goes into pending state.

## Failure Information (fo

[2020-09-16 08:55] pperiyasamy commented on #2189
Here is the `lsof command` output for nsmd process on a worker node before and after deleting NSCs

Logs for a worker node containing 5 NSCs:

[code]

Here is the nsmd container log during the creation of NSC creation and deletion process.
[nsmd004.log](https://github.com/networkservicemesh/networkservicemesh/files/5230991/nsmd004.log)

[2020-09-21 06:10] #2187 closed

[2020-09-21 15:48] pperiyasamy commented on #2189
/cc @JanScheurich

[2020-09-23 12:09] xzfc commented on #2186
Hello.

You've stumbled into a limitation of the current version of SDK, which doesn't provide a way to register multiple NSEs per single `NsmEndpoint` instance nor handles well multiple `NsmEndpoint` instances at the same time. Specifically, under the hood of your code example, each new `NsmEndpoint` overwrites the client socket created by the previous one, so the last one takes precedence.

Curr

[2020-09-23 17:09] electrocucaracha commented on #2186
Hi @xzfc, Thanks for explaining this SDK limitation and highlighting the overwrite on client sockets. My workaround for this was to create multiple sidecars in the same pod.
[code]
More likely it's not the cleanest solution but at least it works. I have the End-to-End deployment instructions [here](https://github.com/electrocucaracha/gw-tester). I'll keep an eye on future NSM changes.

[2020-09-25 09:58] One-ders opened #2195 "spire namespace missing on a clean helm deploy"
## Expected Behavior

Installing NSM with helm3 from networkservicemesh/deployments/helm/nsm should render a working NSM system.

## Current Behavior

The installation fails with error, that the namespace spire does not exist.

## Failure Information (for bugs)

## Steps to Reproduce

with a system that previously did not run NSM, or as I had an older version of NSM which I removed.

system info:

[2020-09-28 06:50] xzfc commented on #2186
You need to apply the following changes to your code:

1. After merging #2193, you'll have to use a single `NewNSMEndpointWithRegistrations` instead of multiple instances of `NewNSMEndpoint`.
2. You have to implement a custom `NetworkServiceServer` to switch over different composite endpoints based on the connection labels. Note that you can't have multiple instances of `MonitorEndpoint`, so the s

[2020-09-30 06:27] denis-tingajkin commented on #2028
This issue also related to random vpn tests failing

https://app.circleci.com/pipelines/github/networkservicemesh/networkservicemesh/9131/workflows/ddb7613b-601e-4132-983f-94f15fd82e52/jobs/122644/tests

See at  vppagent-passthrough-nse-4-firewall-nse.log

[code]

[2020-09-30 08:39] denis-tingajkin opened #2198 "TestInterdomainKernelForwarderWireguard can fail due to context deadline"
## Expected Behavior

TestInterdomainKernelForwarderWireguard is stable on ci.

## Current Behavior

TestInterdomainKernelForwarderWireguard can fail due to context deadline.

## Failure Information (for bugs)

## Steps to Reproduce

Run TestInterdomainKernelForwarderWireguard many times.

## Failure Logs

[code]

For some reasons kernel-forwarder froze:
[code]
## Build

https://app.circleci.com/p

[2020-10-01 14:15] denis-tingajkin commented on #2186
@electrocucaracha patch is merged, could you check this solution with the latest master https://github.com/networkservicemesh/networkservicemesh/issues/2186#issuecomment-699812843?

[2020-10-01 20:06] edwarnicke commented on #2195
@haiodo @denis-tingajkin Could someone get a look at this?

[2020-10-02 00:24] electrocucaracha commented on #2186
Hey @denis-tingajkin, I followed the installation instructions provided by this [guide](https://github.com/networkservicemesh/networkservicemesh/blob/master/docs/guide-build.md#install) but I couldn't deploy a KinD cluster.  I created this [PR](https://github.com/networkservicemesh/networkservicemesh/pull/2201) which solves some issues but the pods are facing some liveness failures. Can someone he

[2020-10-02 04:19] denis-tingajkin commented on #2186
@electrocucaracha As I can see you realized how to deploy kind.
After that, you need to do the next things:

[code]
Note: Required helm v3

[2020-10-02 16:33] electrocucaracha commented on #2186
Apparently the `spire-install` action creates the `spire-agent` service account with some annotations that cause conflicts.

[code]

I tried to disable spire as well

[code]

[2020-10-02 19:51] tiswanso commented on #2169
Unless I'm misunderstanding, this fix seems to make it so any requests to the interdomain NSM will not see any endpoints outside of the local cluster.  I would've expected the fix to enhance the endpoint selection criteria to prefer local endpoints.

[2020-10-02 20:06] edwarnicke commented on #2169
Hmm... I would expect topological concerns to be handled in the NetworkService 'Matches', not by default choice in NSM itself...  NSM should *enable* topology, but not enforce it.

[2020-10-02 20:18] tiswanso commented on #2169
I think we're saying the same thing, right?  The proxy-nsmgr deciding to only return local endpoints is my concern.

[2020-10-02 21:28] edwarnicke commented on #2169
@tiswanso Yeah.. it should *also* return local endpoints, definitely... but not exclusively.

[2020-10-03 13:01] tiswanso opened #2202 "proxy-nsmd-k8s always filters for local NSEs"
## Expected Behavior

FindNetworkService RPC calls should return all endpoints (NSEs) available in a domain for a NetworkService, even if the call is for a remote (interdomain) NSR.

## Current Behavior

If there's local endpoints (NSEs), proxy-nsmd-k8s will only return those local endpoints (NSEs).

## Failure Information (for bugs)

## Steps to Reproduce

1. Deploy interdomain NSM with an interd

[2020-10-03 19:31] edwarnicke commented on #2202
@denis-tingajkin Could you have a look at this?

[2020-10-04 11:47] denis-tingajkin commented on #2202
@tiswanso can you attach your CLIENT_NETWORK_SERVICE?

[2020-10-04 11:55] denis-tingajkin commented on #2202
Also, I think the fix of the issue could be:

[code]

[2020-10-05 06:16] denis-tingajkin commented on #2186
@electrocucaracha we can ignore spire. For this exclude `spire-install` and add env `INSECURE=true`

[2020-10-05 18:21] electrocucaracha commented on #2186
Thanks @denis-tingajkin. First of all, if I don't [apply this changes ](https://github.com/networkservicemesh/networkservicemesh/pull/2201/files) I got this error:

[code]
And this one:

[code]

So after fixing those changes I get this one:
[code]

I'm going to try to change that annotation and see if that fixes the problem

[2020-10-06 03:49] denis-tingajkin commented on #2186
@electrocucaracha hmm, can you try setup kind cluster via `make kind-start` without changes from  https://github.com/networkservicemesh/networkservicemesh/pull/2201?

[2020-10-06 05:26] #2189 closed

[2020-10-06 14:10] U24543426 opened #2204 "Bridge-domain client cannot connect"
## Expected Behavior

Attempting to run examples/examples/bridge-domain/
At a minimum, expecting both the client and the endpoint pods to reach the ready state

The powerful conceptual model of NSM can allow implementation of many useful scenarios even on a single node cluster. Unfortunately, it seems like simple configurations with one or more nodes with bare-metal k8s is being missed in integrat

[2020-10-06 14:47] #2202 closed

[2020-10-06 15:21] electrocucaracha commented on #2186
@denis-tingajkin that doesn't work with master using kind `0.9.0`.

[code]

[2020-10-06 16:36] denis-tingajkin commented on #2186
@electrocucaracha gotcha,
 ok I'll try to use ur kind version and let you know tomorrow about the result

[2020-10-08 05:44] denis-tingajkin commented on #2186
@electrocucaracha I've tested locally with

[code]

Input:
[code]

Output
[code]

[2020-10-08 14:21] advancedwebdeveloper opened #2206 "Compiler error, on Windows 10"
Hi.
I tried to build NSM project, using Windows 10 build of Golang 1.15.2 (x86_64).

[2020-10-08 14:24] advancedwebdeveloper commented on #2206
Looks like it is about [this](https://github.com/golang/go/issues/1405#issuecomment-66054017) issue

[2020-10-08 14:47] U24543426 commented on #2204
As in the attached NSMgr log snippets, in the working ICMP-RESPONDER case, the forwarder request is going out as

  ` type : KERNEL_INTERFACE`

and in the failing BRIDGE-DOMAIN example, the forwarder request is showing up as

   `type : MEMIF `

[Forwarder-request-failure-with-bridge.log](https://github.com/networkservicemesh/networkservicemesh/files/5348651/Forwarder-request-failure-with-bridge.l

[2020-10-09 01:04] edwarnicke commented on #2206
@advancedwebdeveloper That appears to be in a utility function to get the current Network Namespace (a Linux feature I do not believe we have in Windows).

While we are taking care to get as much of the multi-repo work as we can so it still compiles and tests across MacOS/Windows... the networkservicemesh/networkservicemesh monorepo is probably mostly going to only work on Linux.

[2020-10-09 11:44] advancedwebdeveloper commented on #2206
So [this](https://docs.microsoft.com/en-us/virtualization/windowscontainers/container-networking/network-isolation-security) is not what you would require, on Windows containers?
Or it is the right thing?

[2020-10-09 11:45] advancedwebdeveloper commented on #2206
CC @DCtheGeek

[2020-10-09 12:16] U24543426 commented on #2204
In the working case (icmp-responder) source conn KERNEL_INTERFACE, destination conn KERNEL_INTERFACE
In the failure case (bridge example) source conn KERNEL_INTERFACE, destination conn MEMIF

[2020-10-09 13:40] TBBle commented on #2206
#2177 changed it from a "fails at runtime on Windows" failure to a "fails to compile for Windows" failure.

I don't know enough about this project to know if "fails at runtime on Windows" was correct for whatever functionality is needed (i.e. it's never called on WIndows), or whether someone needs to work out how to get the equivalent of an netns out of a Windows container so that (if I'm skimming

[2020-10-09 13:40] U24543426 commented on #2204
The bridge-domain example works when the forwarder plane is vpp (instead of kernel)
However, the ping latency is about 25x higher with vpp vs kernel forwarder
kernel: icmp-client to icmp-enpoint ~0.08 ms
vpp: simple-client to simple-client (via bridge) ~4.0 ms
(bridge does not ping, take twice the icmp measure)

It is unfortunate that we cannot figure out why the simple client would not come up wi

[2020-10-09 13:54] edwarnicke commented on #2204
@U24543426 I believe the reason is that the bridge domain NSE is only offering the 'memif' mechanism, but the kernel forwarder does not support that mechanism.

As to the latency, part of what you are seeing there is that, to reduce CPU consumption, since many folks are running in a kind env on their laptop, in the 'examples' we've intentionally tweeked the [poll-sleep-usec](https://github.com/net

[2020-10-09 13:54] edwarnicke commented on #2204
Additionally: thank you for your extremely well written and detailed issue report.  I kept finding myself having a question, scrolling up, and finding the answer :)

[2020-10-09 14:47] edwarnicke commented on #2206
OK... now I'm excited.  I'd be delighted to find out there are ways to get to full functionality on Windows.  Its just not an OS I know much about.  If folks can point to the appropriate analogous things in Windows, I'd be super super happy to get them proper support.

The thing we are tripping across here is a mechanism whereby a non-privilged container is providing information over GRPC about it

[2020-10-09 14:58] U24543426 commented on #2204
Thanks Ed, this was quite helpful.
Bilgehan

[2020-10-09 15:03] #2204 closed

[2020-10-09 16:57] U24543426 commented on #2204
You guys are going a great job by the way, thank you!

[2020-10-09 18:45] TBBle commented on #2206
Windows Network Namespaces are [identified by GUID](https://docs.microsoft.com/en-us/windows-server/networking/technologies/hcn/hcn-scenarios#scenario-hcn-namespace). I'm not sure how you would get the GUID for the current network namespace from inside the container. Perhaps calling [`hcn.ListNamespaces`](https://github.com/microsoft/hcsshim/blob/852530648bb5e5ce402861b52fb72b45c9c20c3b/hcn/hcnnam

[2020-10-10 10:48] advancedwebdeveloper opened #2207 "Supporting Minikube, on Windows 10 (against Virtualbox)"
In addition to supporting Windows 10: I am experiencing various issues, which disallows me to use Windows 10 ports of kubectl/minikube/docker, for running containers inside a guest VM.

I guess that Virtualbox, VMWare Player could be of help.

Nevertheless it is not clear how to build a Linux oriented k8s operator, from within Windows 10 (I am using MinGW bash).
I was able to build an operator - b

[2020-10-10 17:31] edwarnicke commented on #2207
@advancedwebdeveloper I'm a little confused how this is related to Network Service Mesh, could you say a bit more?

[2020-10-12 13:32] U24543426 opened #2208 "Deploying multiple bridge-domain services fails randomly"
## Expected Behavior

When deploying multiple bridge services:
(or a single service with multiple endpoints with different ip subnets, same result)
[code]
Nodes on the same bridge subnet should ping

## Failure Information (for bugs)

First bridge service works fine, n1 and n2 pings
Then adding the second bridge service also works fine, n3 and n4 pings
However, adding the third and the subsequent

[2020-10-12 18:16] U24543426 commented on #2208
Getting random fail/success results in different trials. Creating clients manually one at a time seem to give the best success rate.

Eleven-node, 14-bridge random topology generated with the pattern described above (node--bridge--node--)

In one trial, services and bridge-NSEs are created at once, then the clients are created manually one at a time.
In that case 2 bridges work both-directions fro

[2020-10-13 13:33] abhiranjeet opened #2209 "Getting started with NSM"
I have created a kubernetes cluster using 2 VMs (1 Master & 1 Worker) and installed NSM on my cluster
(referred this link : https://github.com/networkservicemesh/networkservicemesh/blob/master/docs/guide-quickstart.md).

However, I want to know how can I include NSM components in a helm chart for a microservice I plan to deploy on my cluster. Also it would be awesome if you could refer me to a dem

[2020-10-16 03:11] sureshkvl opened #2210 "networkservicemesh Installation failure (in minikube)"
My setup:
OS:  Ubuntu 18.04.03 (Server)/ 8GB/2vCPU
k8s cluster(1 node) : v1.19.1   (Installed using minikube)
My cluster is operational, no issues in that.

I am trying to install networkservicemesh with below procedure
[code]
This install v0.2.0 in nsm namespace

[code]

nsm-vpp-forwarder pod is not running and nsmd container is not running.
[code]

The nsmd log shows
[code]

vppagent events also

[2020-10-16 16:09] U24543426 commented on #2208
We did another experiment while trying to find the root cause of the problem ...
(with no luck)

Cross connectivity of the bridge-domains is not necessary to reproduce the problem.
The problem happens when you just create multiple, isolated service instances:

    (n1)---(b)---(n2)    (n3)---(b)---(n4)    (n5)---(b)---(n6)  ...

When you have 6 of these bridge domains, if you create the clients on

[2020-10-19 19:45] edwarnicke commented on #2208
@haiodo @denis-tingajkin Could we have someone take a look at this?

[2020-10-19 20:23] edwarnicke commented on #2210
Is there a reason you can't use kind?

[2020-10-20 02:37] sureshkvl commented on #2210
By the way it works in "minikube". & helm 3.

The document present in the website(below one) is  outdated, and its not working. This issue is raised based on this doc
https://networkservicemesh.io/docs/setup/run/

I followed the doc present in the github
https://github.com/networkservicemesh/networkservicemesh/blob/master/docs/guide-helm.md
This perfectly works fine :+1:

[2020-10-20 03:35] edwarnicke commented on #2210
@sureshkvl Thank you for the pointers to the out of date docs!  Would you be interested in contributing a PR to fix them?

[2020-10-21 03:12] edwarnicke commented on #2209
@abhiranjeet Is this the one you are looking for: https://github.com/networkservicemesh/examples/tree/master/examples/bridge-domain ?

[2020-10-22 07:54] denis-tingajkin commented on #2208
@xzfc Could you take look at this?

[2020-10-22 17:06] U24543426 commented on #2208
Can this be related to prefix pools?
Similar type of connectivity problems happen with the Topology example -- only part of the nodes can get connectivity.
Even though when the Endpoints request /24 address pools, they keep getting /30 pools.
With these service examples, the idea is to give 172.16.1... 172.16.2..., 172.16.3... blocks to different domains.
The /30 leaves just 4 addresses in the poo

[2020-10-23 12:40] xzfc commented on #2208
I can reproduce it, both in Vagrant and in Kind. Starting from 7 or 8 NS clients, the new ones become isolated: they have an interface and an assigned IP, but they are not able to ping anyone else in the same subnet.

It is not affected by the number of bridges, as the issue is reproducible with just one bridge with 8 connected NSC. So, it is reproducible in each of the following scenarios:

[code

[2020-10-23 12:52] xzfc commented on #2208
On the "isolated" pod:

[code]

Note that `RX packets` is `0`. This interface isn't receiving frames. However, it transmits packets just fine, and other pods are able to receive frames from the "isolated" pod. (checked it with `tcpdump` on another pod)

[2020-10-27 13:18] denis-tingajkin commented on #2137
Wireguard plugin is contributed into vpp and vpp-agent
https://gerrit.fd.io/r/c/vpp/+/28503
https://github.com/ligato/vpp-agent/pull/1731

The next steps are:
1. https://github.com/networkservicemesh/networkservicemesh/issues/2105
2. https://github.com/networkservicemesh/networkservicemesh/issues/2105

[2020-10-27 13:18] #2137 closed

[2020-10-27 13:34] denis-tingajkin commented on #2198
Asked question about the time duration of wiraguard-go device.

[2020-10-29 09:05] LionelJouin opened #2212 "Admission-webhook is using the wrong container registry, org and tag for CoreDNS"
## Expected Behavior
When deploying NSM with locally built and stored images, neither NSM pods nor endpoints/clients should use the official NSM repo, only the local repo which is configured in the values.yaml file.

## Current Behavior
We used locally built and stored images for the NSC.
The NSC used the following images for the init-container:
- nsm-dns-init
- nsm-init
- nsm-monitor
- coredns
Th

[2020-10-29 11:32] denis-tingajkin commented on #2212
@LionelJouin I think it is correct behavior because of CoreDNS image that we are using is building in another repository  https://github.com/networkservicemesh/fanout.

So if you want to use this locally you should also build a CoreDNS with fanout plugin https://github.com/networkservicemesh/fanout/tree/master/coredns#how-to-build-coredns-image-with-fanout-plugin

[2020-10-29 12:32] LionelJouin commented on #2212
Yes, I was able to build the CoreDNS image. But the issue I have is to use it with my own registry. I replaced the registry, org and tag in the Value.yaml of the admission-webhook helm chart and, when I deploy network service clients, the coreDNS image is pulled from docker.io/networkservicemesh/coredns (instead of my own registry).

[2020-10-29 14:22] denis-tingajkin commented on #2212
Got it, I agreed it should be configurable

[2020-10-29 15:08] denis-tingajkin commented on #2212
@LionelJouin Could you look at https://github.com/networkservicemesh/networkservicemesh/pull/2213?

[2020-11-02 07:26] denis-tingajkin commented on #2212
@LionelJouin Could you just locally tag ur Coredns image as networkservicemesh/coredns:master locally?

[2020-11-02 07:27] denis-tingajkin commented on #2212
Any issues with networkservicemesh/coredns:master should be reported here https://github.com/networkservicemesh/fanout

[2020-11-02 22:13] electrocucaracha commented on #2186
Thanks @denis-tingajkin for helping me on deploying this. I still have to adapt those changes in my [project](https://github.com/electrocucaracha/gw-tester/) but these were the instructions that I used to setup the services:

[code]

I just realized that those changes were done in the SDK so I can still use the Borealis release to deploy NSM services and reference the code in the binary.  Therefor

[2020-11-02 22:13] #2186 closed

[2020-11-03 08:14] xzfc commented on #2208
I've reduced the reproducible example to the following issue reported in vpp-agent, which I suppose is the cause of this bridge-domain NSM issue.

https://github.com/ligato/vpp-agent/issues/1758

[2020-11-12 05:26] xzfc commented on #2208
@U24543426 Could you please check if this issue is reproducible with [this patch](https://github.com/xzfc/networkservicemesh/commit/c24cc13a6871dbdc0edad487e9307338e84293c9) to the VPP config?

---

The issue that I can reproduce is caused by VPP packet buffer pool exhaustion at vpp-forwarder. VPP pre-allocates a certain amount of memory buffers at startup (which can be configured), and these buff

[2020-11-13 06:48] glazychev-art opened #2217 "Spec: VxLAN Port mapping"
Currently, the VPP VxLAN protocol has the ability to use only the default udp-port. It is proposed to make it possible to use other ports as well.
The document below describes the problem and possible solutions:
[Link](https://docs.google.com/document/d/1BSYdKpzZrH_rgxg6woFGWG50XjVU2q_GEGMulNziGXk)

New ideas are welcome

[2020-11-13 07:46] denis-tingajkin commented on #2217
@edwarnicke, @fkautz Could you take a look?

[2020-11-13 11:22] U24543426 commented on #2208
Looks pretty good.

I don't have the simple bridge setup right now, but I tried it on a large topology with 70 nodes. Without the patch, at most 3 or 4 nodes got connectivity; with the patch, they all seem to be up and running. (It will be good to see it scale to 100 nodes/NSC/NSE - max number of pods that can be deployed on a single host node.)

Thank you!

[2020-11-16 03:07] #2206 closed

[2020-11-19 11:22] xzfc opened #2218 "Configure VPP buffers-per-numa"
## Overview

Context: https://github.com/networkservicemesh/networkservicemesh/issues/2208#issuecomment-725846209

VPP pre-allocates a certain amount of memory buffers at startup (which is controlled by `buffers-per-numa` option), and these buffers are consumed during interface creation. When the free buffers on vppagent-forwarder run out, connectivity between newly created interfaces is lost. The

[2020-11-19 11:39] xzfc commented on #2218
cc @edwarnicke

[2020-11-19 11:41] xzfc commented on #2218
Proposals 1 and 2 implementation in multirepo: https://github.com/networkservicemesh/sdk-vppagent/pull/434.

[2020-11-20 02:42] divyangjp opened #2219 "NSM Documentation"
I found this thesis paper by `Raffaele Giuseppe Trani` to be much more detailed and useful than the official documentation.

https://webthesis.biblio.polito.it/14516/1/tesi.pdf

This is not an issue. Putting out here so that people can find this easily.

[2020-11-21 13:57] #2207 closed

[2020-11-24 11:17] denis-tingajkin commented on #2198
https://lists.zx2c4.com/pipermail/wireguard/2020-November/005969.html

[2020-11-24 15:49] #2208 closed

[2020-11-24 15:57] xzfc commented on #2208
Closed in favor of #2218.

[2020-11-25 04:04] edwarnicke commented on #2218
I spent a little time conversing with some colleagues about this.

By default, a buffer is 256 bytes + data size (default 2048 bytes) + one cache line (64 bytes) == 2368 bytes

Buffers cannot span page boundaries, so for 4096 byte pages (ie, non-huge pages case) you lose a lot of potential space (1728 bytes).

For this reason, we probably want to configure:

https://github.com/edwarnicke/vpphelper

[2020-11-25 20:48] electrocucaracha opened #2221 "Automatic sidecar injection"
## Overview

Istio project provides a method to automatic inject [sidecars](https://istio.io/latest/docs/setup/additional-setup/sidecar-injection/). This approach helps developers to focus on the business logic putting on side trivial things managed by the sidecars.

This feature can be implemented on this project having an universal sidecar implementation for covering most of the scenarios and th

[2020-11-30 20:00] edwarnicke commented on #2221
So... perhaps I'm missing something... but this seems a *lot* more complicated than our previous annotation scheme...

[2020-12-01 23:28] #2210 closed

[2020-12-01 23:28] #2209 closed

[2020-12-03 14:56] younus2019 opened #2222 "NSC and NSE pods are in pending state."
### Expected Behavior
A succesfull installation of simple NSC and icmp-responder through Helm

### Current Behavior
The icmp-responder-nsc and icmp-responder-nse pods are pending state due to FailedScheduling

[2020-12-03 21:04] utkarsh-pro opened #2223 "Appropriate method for identifying NSM version programmatically"
## Overview
Service meshes like Istio, linkerd, NGINX service mesh etc. have their versions either in the docker images running within the pods or they place some sort of annotations on the resources to highlight the version of the component. But NSM places the "latest" tag in the image names and none of the annotations actually reveal version related information. This makes it difficult to identi

[2020-12-12 20:57] #2212 closed

[2020-12-16 16:17] younus2019 opened #2224 "Readiness probe failed: HTTP probe failed with statuscode: 503"
Expected Behavior
A succesfull installation of nsm through Helm

Current Behavior
The nsmgr and nsm-vpp-forwarder pods are not running properly due to Readiness probe failed: HTTP probe failed with statuscode: 503.

Steps to Reproduce
helm install nsm deployments/helm/nsm

Context
oc version:
	Client Version: 4.6.4
    Server Version: 4.6.4
    Kubernetes Version: v1.19.0+9f84db3
Helm version: v3.

[2020-12-18 13:25] johlj opened #2225 "Support for dualstack interfaces (IPv4 + IPv6 combined)"
## Overview

Add support for having both (ie. simultaneous) IPv4 and IPv6 addresses on NSM interfaces

The above is the basic requirement,
placeholder for further discussion

[2020-12-18 14:00] denis-tingajkin commented on #2225
@edwarnicke  Is https://github.com/networkservicemesh/api/pull/47 solves this issue?

[2020-12-22 06:53] younus2019 opened #2226 "Insufficient networkservicemesh.io/socket"
### Expected Behavior
A succesfull installation of simple NSC and NSE through Helm

### Current Behavior
The icmp-responder-nse pods are pending state due to FailedScheduling - 0/6 nodes are available: 6 Insufficient networkservicemesh.io/socket.

**Steps to Reproduce**
helm install nsm deployments/helm/nsm
helm install endpoint deployments/helm/endpoint
helm install client deployments/helm/client

[2020-12-24 17:29] glazychev-art commented on #2217
There is a patch for vpp repository:
https://gerrit.fd.io/r/c/vpp/+/30204

[2020-12-28 18:13] #2219 closed

[2020-12-31 20:26] #2198 closed

[2021-01-03 10:39] U24543426 opened #2227 "NSM breaks under Kubernetes 1.20"
## Expected Behavior

Custom Resource Definition API version upgrade to v1.

## Current Behavior
NSC/NSE connections don't come up.

Kubernetes 1.20 prints a warning about v1beta1 being deprecated in version 1.22+ and asks to switch the definitions to v1. Although it looks like a warning, some things already don't seem to work in 1.20.

## Failure Information (for bugs)
You can see in the nsmdr/ns

[2021-01-03 15:12] edwarnicke commented on #2227
Thanks for the report!  We will have a look.

[2021-01-07 17:54] denis-tingajkin commented on #2227
I feel to fix this we need to re-generate NSM k8s api client to latest version, but  looks like in this case we'll drop older k8s versions.

[2021-01-10 14:00] #2221 closed

[2021-01-10 14:00] #2218 closed

[2021-01-11 06:18] abhiranjeet opened #2228 "NSMD container of NSMGR stops after working for some time and increases memory usage of overall cluster"
I had NSM components running fine, but a while ago, the **nsmd** container inside **nsmgr** (on all worker nodes) has stopped working. Restarted entire NSM after sometime and it worked, but I supposed it should be running as long as my cluster's status is healthy. I've checked the logs using command "kubectl logs -f nsmgr-pod-name nsmd".

Also there is an issue with memory usage spiking up for nsm

[2021-01-12 15:57] haiodo commented on #2228
@Tiberivs is started to look into this issue.

[2021-01-13 09:14] denis-tingaikin commented on #2227
@edwarnicke I guess we can try to use the 'fallback' strategy and have two versions of the client. Thoughts?

[2021-01-13 15:18] edwarnicke commented on #2227
@U24543426 Quick gut check... how urgent is your need to move to 1.20.  Are we blocking you yet?  How long do we have to sort this out before we are?

[2021-01-18 08:39] Tiberivs commented on #2228
@abhiranjeet, could you provide more information for the issue? Log of previous instance (`kubectl logs -p nsmgr-pod-name nsmd`) of the `nsmd` container and pod details (`kubectl describe pod nsmgr-pod-name`) will be very helpful.

[2021-01-19 15:50] #2139 closed

[2021-01-21 09:07] abhiranjeet commented on #2228
Sure. But these new logs belong to new cluster I created after the above mentioned problem was repeating.
[nsmd-describe.txt](https://github.com/networkservicemesh/networkservicemesh/files/5848086/nsmd-describe.txt)
[nsmd-logs.txt](https://github.com/networkservicemesh/networkservicemesh/files/5848096/nsmd-logs.txt)

[2021-01-29 10:44] LionelJouin opened #2230 "Could not find endpoint with name at local registry"
## Expected Behavior
When deploying a NSC, it should be connected to all NSEs.

## Current Behavior
If a NSC and a NSE are running on 2 different nodes, and the NSC requests the connection to this NSE (using its name in the request), the request fails and returns an error.
I tried with only 1 node, 1 NSC and 2 NSEs, this is working correctly, the NSC receives the connections to the 2 NSEs.

## Fai

[2021-02-02 10:16] johlj opened #2231 "EthernetContext doesn't contain the src/dst MAC addresses"
## Expected Behavior

It should be possible to extract the src/dst MACs from
request.GetConnection().GetContext().GetEthernetContext()

## Current Behavior
GetDstMac()
and
GetSrcMac()
both return null

## Failure Information (for bugs)

## Steps to Reproduce

Use the second argument of the request function (*networkservice.NetworkServiceRequest) in a NSE
and try to get:
request.GetConnection().Get

[2021-02-02 15:01] edwarnicke commented on #2231
Question... which forwarder are you using?  And which NSE?

[2021-02-02 15:07] edwarnicke commented on #2231
The real question I'm getting to with 'which NSE' is what mechanism is being used.  Typically, the Forwarder (thus my question as to which one you are using) would populate that info.  Which Mechanism is being used for the NSE might also be important to tracking down the bug, thus that question.

[2021-02-03 13:22] johlj commented on #2231
Hi,

the behavior is the same with both the VPP and the kernel forwarders + with everything on a single node/vm as well as multi-node setups. Seems it's quite generic for us.

Br,
Johan

[2021-02-03 16:54] edwarnicke commented on #2231
That's useful to know.

[2021-02-04 10:24] Tiberivs opened #2232 "TestKernelNSCAndICMPLocal is unstable on CI"
## Failure Information (for bugs)
https://circleci.com/gh/networkservicemesh/networkservicemesh/123025

## Failure Logs

[014-TestKernelNSCAndICMPLocal-run.log](https://github.com/networkservicemesh/networkservicemesh/files/5924952/014-TestKernelNSCAndICMPLocal-run.log)
[015-TestKernelNSCAndICMPLocal-run.log](https://github.com/networkservicemesh/networkservicemesh/files/5924954/015-TestKernelNSCA

[2021-02-05 19:10] U24543426 opened #2233 "Connection/interface creation fails at scale"
## Expected Behavior

The configuration is a circular chain of nodes with k connections to their n+i neighbors for i from 1 to k (connectivity wraps to node 0 at the end of the chain)

In the attached image, connections going out from node 1 and 18 are shown within a 20-node configuration.

![Configuration2](https://user-images.githubusercontent.com/992892/107079804-5b693200-67be-11eb-9f5c-85774b4

[2021-02-05 19:20] U24543426 commented on #2233
With the logs going full blast at info level, it becomes hard for people that aren't familiar with the internals to help trace problems.
What is the best way to reduce all the NSM logging to warning or error level?

[2021-02-05 20:33] U24543426 commented on #2233
networkservicemesh/forwarder/vppagent/conf/vpp/startup.conf:
...
buffers {
   buffers-per-numa 128000
}

[2021-02-08 09:58] Tiberivs commented on #2230
@LionelJouin could you provide sources of your custom init container?

[2021-02-08 16:08] LionelJouin commented on #2230
I'd need to discuss sending any code with my team, in the meantime, here are the full logs. Is there anything I could try out or investigate that could be helpful?

I should also mention, after getting all NSEs using the network service discovery, the NSC uses the network service endpoint name attribute in addition to the labels in the connection to request the connection with all NSEs.

[logs.zip

[2021-02-08 16:55] edwarnicke commented on #2230
Had  nice chat with @johlj on slack.

He traced down the origin of the error to:

https://github.com/networkservicemesh/networkservicemesh/blob/master/controlplane/pkg/remote/endpoint_selector_service.go#L59-L66

The remote chain is normally the chain used when the request is coming in from another Node, and so normally only looks for local NSEs.  The question is: how did a request from a node loc

[2021-02-08 16:56] edwarnicke commented on #2230
@Tiberivs I'd suggest just trying to have an NSC send a valid NSE name to reproduce.  I believe they are doing this by having the NSC do a lookup on an NS and then picking one.  Should be easy to reproduce :)  Getting their code would be helpful, but lets not block on that.

[2021-02-09 15:06] glazychev-art commented on #2217
https://gerrit.fd.io/r/c/vpp/+/30204 was merged

The patch for vxlan-gpe:
https://gerrit.fd.io/r/c/vpp/+/31170

[2021-02-09 15:33] edwarnicke commented on #2228
@abhiranjeet We think we have now fixed your problem on master, could you check and let us know if you think its fixed?

[2021-02-12 10:44] denis-tingaikin commented on #2230
@LionelJouin Should be fixed. Could you re-test with the latest master?

[2021-02-16 16:02] haiodo commented on #2099
@ivanayov Hi, We moved issue from In Progress into To Do stuff, please update status if anything is changed. Thanks.

[2021-02-16 17:14] LionelJouin commented on #2230
Hi, I just re-tested and, it is now working correctly, thank you.

[2021-02-16 17:39] edwarnicke commented on #2230
@LionelJouin woot!

[2021-02-19 09:03] ebucchianeri commented on #2226
I have the same problem trying to execute "universal-cnf" example with kind. Any suggestion?
Thank you

[code]

[code]

[2021-02-19 11:07] ebucchianeri opened #2235 "Unable to find NSE for NetworkService icmp-responder"
## Expected Behavior
Running example of ucnf-icmp (https://github.com/networkservicemesh/examples/tree/master/examples/ucnf-icmp)

## Current Behavior
NSE seems to be successfully advertised, but NSC can't find NSE for NetworkService icmp-responder

## Steps to Reproduce
1. Copy of the yaml in https://github.com/networkservicemesh/examples/tree/master/examples/ucnf-icmp/k8s
2. Instead of build the

[2021-02-23 15:57] denis-tingaikin commented on #2231
@edwarnicke , @johlj  The main issue here is that we are trying to get mac address on the endpoint side when actually information about it will be available on-forwarder side.

@johlj As a workaround, I can suggest generating mac addresses on the endpoint and put them into ethernet context then forwarder should try to apply it to creating interfaces.

[2021-02-23 16:40] #2138 closed

[2021-03-01 15:02] denis-tingaikin commented on #2231
Also, we can try to use monitor staff from the endpoint to get actual information about the connection with fill ethernet context
https://github.com/networkservicemesh/networkservicemesh/blob/master/sdk/monitor/crossconnect/crossconnect_monitor_client.go#L30
https://github.com/networkservicemesh/networkservicemesh/blob/master/sdk/monitor/connectionmonitor/connection_monitor_client.go#L37

@johlj C

[2021-03-02 15:36] #2228 closed

[2021-03-02 15:39] #2230 closed

[2021-03-04 13:32] johlj commented on #2231
Not sure yet, we'd need some time to try this out (quite busy time here currently and we have a scripted workaround for the moment)

Our use case is varying a bit but the general idea is that it would be useful with some sort of notification of the status of the other "side" of the p2p link. For example if a NSE receives a request from a NSC, it might require information about
1. MAC of the NSC si

[2021-03-05 09:41] abhiranjeet commented on #2228
@edwarnicke Sorry for responding late. But the problem still persists. "nsmd" container stopped after working for 21 hrs. I am trying to get the logs, but they return an error.

Error from server (BadRequest): previous terminated container "nsmd" in pod "nsmgr-4rq6g" not found
Error from server (BadRequest): previous terminated container "nsmdp" in pod "nsmgr-4rq6g" not found
Error from server (Ba

[2021-03-05 09:55] Tiberivs commented on #2228
@abhiranjeet are you using the master branch? Could you give me your commit id?

[2021-03-05 12:33] abhiranjeet commented on #2228
I am not using a master branch per se. I am simply deploying nsm on a kubernetes cluster using kubeadm. To deploy nsm, I am using helm commands from this link : https://networkservicemesh.io/docs/setup/run/

[2021-03-05 23:31] edwarnicke commented on #2231
So normally, if the NSE wants to know the MAC address of the NSC side of the link, it *provides* the desired MAC address in the ConnectionContext.EthernetContext.SrcMac.  I'm totally open to understanding use cases for which this is insufficient, is it for yours?

Again, typically the NSE learns this because it has indicated the IP address which should be assigned to the NSC using ConnectionContex

[2021-03-10 09:09] LionelJouin commented on #2231
I tried this monitor on the next gen NSM (multi-repo) and it was a bit unclear to which monitor I was supposed to connect to, so I tried to connect on the local one (on the NSE using the monitor adapter), and on the one on the NSMgr using gRPC, but in both cases, the link was not ready and the ethernet context empty.
https://github.com/networkservicemesh/sdk/blob/master/pkg/networkservice/common/m

[2021-03-10 11:27] johlj commented on #2231
@edwarnicke, seems we're getting a bit detracted from the original topic in the ticket :) Suppose we could close it and continue elsewhere if preferable.

Either way, at this point. Getting the MACs (which was the original focus) is not all that essential for us since we don't.
 rely as heavily on them anymore.
For the IPs we can probably use the way you mentioned.

The functionality we're current

[2021-03-10 23:46] electrocucaracha commented on #2221
@edwarnicke I have created this [Mutating Admission Webhook ](https://github.com/gw-tester/nse-injector-webhook) which injects the [NSM sidecar](https://github.com/gw-tester/nse) base on the annotations. This change allows to support multiple cni-multiplexers:

[code]

[2021-03-11 00:00] edwarnicke commented on #2221
@electrocucaracha This is interesting... but we typically keep our annotations far simpler, basically of a form

ns.networkservicemesh.io/endpoints: ${nsmurl}

we don't generally specify IP addresses or routes on the NSC side... the NSC has no sayin that, it all comes down from the NSE.

I'm curious to understand more about your thought process though :)

[2021-03-11 00:33] electrocucaracha commented on #2221
@edwarnicke those annotations are for the Endpoint, clients use the traditional `ns.networkservicemesh.io` annotation

[code]

[2021-03-15 15:36] edwarnicke commented on #2231
@LionelJouin I had setup some issues for implementing the EthernetContext in the multi-repo:

sdk-vpp#32

sdk-vpp#33

sdk-vpp#34

sdk-vpp#35

as starter issues (as someone was asking for starter issues to work in sdk-vpp)

As to the link being ready... it won't be on NSE return (because the NSE has just made its decisions about what its part of the link looks like.

Generally the link will be read

[2021-03-15 15:37] edwarnicke commented on #2231
@johlj I'm all for opening other issues to carry on the conversation :)

[2021-03-16 06:45] Ieneya opened #2237 "Nsm-vpp-forwarder issue -Readiness probe failed"
Expected Behavior
A succesfull installation of nsm through Helm

Current Behavior
The nsmgr and nsm-vpp-forwarder pods are not running properly due to Readiness probe failed: HTTP probe failed with statuscode: 503.

I have attached the logs of Nsm-vpp-forwarder  and NSMgr. Kindly see to it.
[vpplog.txt](https://github.com/networkservicemesh/networkservicemesh/files/6146625/vpplog.txt)
[nsmgrlog.tx

[2021-03-16 16:59] edwarnicke commented on #2237
[code]

Are you running spire?  It looks like its trying to find a spire server and not finding it...

[2021-03-17 11:15] younus2019 opened #2238 "The nsm-init-container failed in client deployment."
**Expected Behavior**
A succesfull installation of client through Helm

**Current Behavior**
I have deployed endpoint(NSE) successfully with the name "pfcp-responder".
while deploying client it can't able to find the "pfcp-responder" NetworkService ,

**Error:**

The nsm-init-container failed in client deployment.

  nsm-init-container:
    Container ID:   docker://1225650eb094f0bd177af712a8c7cffb

[2021-03-17 11:51] Ieneya commented on #2237
yes , when getting list of pods , i can see in spire namespace , spire agent and spire server are running...

I installed NSM by executing the below commands
[code]
To be added , in VMware vSphere also I am getting the same issue .

[2021-03-17 15:44] edwarnicke commented on #2237
And this is on OpenShift, correct?

[2021-03-18 03:44] Ieneya commented on #2237
Now, Anthos Clusters on AWS in GCP environment is in use . The guide which I followed is per the below attached link
[https://cloud.google.com/anthos/clusters/docs/aws/how-to](url)

Context:
anthos-gke version : aws-1.6.2-gke.0
terraform version : v0.12.28
gitVersion: v1.20.4

To be noted , in standalone GCP environment and in standalone AWS environment , NSM is working fine.

[2021-03-18 16:03] LionelJouin opened #2239 "The connection between some NSE and NSC does not work but no error"
I am using NSM next-gen (multi-repo), not this repo, I don't know exactly which component of multi-repo is impacted so I opened the issue here.

## Expected Behavior

I should be able to ping every NSCs from the NSE

## Current Behavior

All interfaces on the NSC and NSE are injected and all IPs are configured correctly, but It is impossible to ping some NSC from the NSE.

From nse (the NSE of icm

[2021-03-18 18:15] edwarnicke commented on #2238
Do you have the logs for the NSMgr for the Node your client is running on?

[2021-03-22 10:06] LionelJouin commented on #2231
Thanks for your help and explanation.

We are working on an alternative to the point to multipoint using a proxy. The proxy is a pod with privileges used, at the same time, as an NSE for the applications and as an NSC for the network service (load balancer...). All ready NSM interfaces on the proxy pod should be added to a bridge running on this proxy, so the application (NSC of the proxy) and net

[2021-03-22 14:15] edwarnicke commented on #2231
@LionelJouin Thank you for the detailed explanation :)  I understand a lot better what you are working with.

[2021-03-24 15:35] LionelJouin commented on #2239
Here are my last findings.

I connect to the forwarder which is on the same host as the NSE, and when I run this command: `vpp show interface address`
I get this result:
[code]

The TAP interface without “L2 xconnect” (tap1) is corresponding to the interface with the broken link (ping doesn’t work), I verified it with the MAC address in the pod and the mac address return in this command: `vpp show

[2021-03-26 09:42] mkomu opened #2240 "MTU settings in the upcoming version of NSM"
## Expected Behavior

We have been benchmarking NSM and submitted a paper to IEEE. We expected to NSM to have MTU autodetection or at least a manual way to declare this in manifests, but this is not true. We would hope that this would be fixed in the new, upcoming version of NSM.

## Current Behavior

Benchmarking of NSM leads to suboptimal results with iperf(3).

The workaround is to grant CAP_NE

[2021-03-26 16:38] tiswanso opened #2241 "CrossConnect update infinite loop in nsmd per connection"
## Expected Behavior

The connection should complete and not cause an infinite crossconnect update notification loop.

## Current Behavior

This is on a fork with a few changes on the mono-repo latest HEAD as of March 26, 2021:
I can see in jaeger and in nsmd logs each connection is showing the completion of the ProgramForwarder results in CrossConnect-send-update and the end result is a CrossConn

[2021-03-29 08:39] LionelJouin commented on #2239
When the vxlan tunnel is created, this [VxlanAddDelTunnel](https://github.com/networkservicemesh/sdk-vpp/blob/main/pkg/networkservice/mechanisms/vxlan/common.go#L83) function returns rsp with 0 as Retval, and a SwIfIndex such as 3, 4, 13... but when the vxlan tunnel fails to be created, Retval is always -75, and SwIfIndex is always 4294967295 (max uint32).

[2021-03-29 14:01] tiswanso commented on #2241
Likely due to this, we're seeing update channel sizes maxed after about 10 connections, which correspond with:
DefaultSize here: https://github.com/networkservicemesh/networkservicemesh/blob/6fb890e00e22e098e82ca81e78636b4f60d8ff4c/sdk/monitor/monitor_server.go#L13-L54
This channel aswell: https://github.com/networkservicemesh/networkservicemesh/blob/13585604d21d4229c59f41f8099591d9829e10cb/forwar

[2021-03-31 10:47] mkomu commented on #2240
Have a look at:

https://github.com/projectcalico/calico/blob/master/networking/mtu.md

I recall we used MTU of 1450 with VXLAN but in K8s running on to of OpenStack VMs. I asked my colleague to comment here because he had a different set up (including a baremetal configuration).

With Wireguard, a safe value is 1420 (unlike in the previous link):

https://lists.zx2c4.com/pipermail/wireguard/2017-

[2021-03-31 11:26] edwarnicke commented on #2240
@mkomu Got it.  The most germane part for us there I think is:

Which was my best thought on how to approach the problem.   Last I checked the fancy MTU detection schemes were all broke in various ways, and so "Your sysadmin has thought hard about this problem, follow their lead" was the best choice I knew of... seems that's where calico landed as well (with the 'let folks override if need be').

[2021-03-31 13:35] mkomu commented on #2240
Hi,

you made a good point about inter-domain NSM. I would have happy if this could even be set manually (preferably decoratively, without recompiling NSM) without using CAP_NET_ADMIN. The hints about possible MTU values for different tunnel types could be sprinkled into the documentation :)

As a first, easy stab on this problem, I would suggest lowering the default MTU in NSM to the lowest value

[2021-03-31 14:41] #2239 closed

[2021-03-31 14:52] edwarnicke commented on #2240
@mkomu My general rule of thumb is "Do the smartest thing you can do automatically, let a human manually override if need be"

Which brings me to the question: at what level would you be looking for an override?  Presumably at the cluster systemic level, but with the ability to set an MTU in the Mechanism... we could in principle allow the client to hint at least a 'smaller than you'd get by defau

[2021-03-31 16:04] edwarnicke commented on #2240
@mkomu we have other members of the community looking at iperf testing, including integrating iperf testing into our CI for the next gen NSM.  Would you be interested in being connected to those community members?

[2021-03-31 18:01] edwarnicke commented on #2241
@haiodo This looks like it may be heal related ... could you also have a look?

[2021-04-01 10:20] haiodo commented on #2241
Hi @tiswanso ,
If you have a logs from nsmgr and could export jaeger traces and attach to issue, it would be nice.

[2021-04-01 11:10] tiswanso commented on #2241
Ok...I will add logs from a smaller repro.  I'm seeing this on every client connection so it should be very easy to reproduce in any env.  It would be good info to know if it's not!

[2021-04-01 14:40] tiswanso commented on #2241
Uploaded nsmgr and nsm-vpp-forwarder logs and exported json trace of an NS request that is in the infinite loop
https://drive.google.com/drive/folders/1wG824KNneRkNzOixchQJDcqe6v9l82NU?usp=sharing

[2021-04-01 15:01] haiodo commented on #2241
It is related to MetricsCollector sending update every 2seconds.
It configured per vpp router METRICS_COLLECTOR_REQUEST_PERIOD.
But there is no metrics attached to cross connect event, so it looks useless. Still checking why it is so.

[2021-04-02 08:38] glazychev-art commented on #2217
Closed due to https://gerrit.fd.io/r/c/vpp/+/30204 was merged.

The separate task for VxLAN-GPE was created:
https://github.com/networkservicemesh/sdk-vpp/issues/150

[2021-04-02 08:38] #2217 closed

[2021-04-02 15:04] edwarnicke commented on #2241
@haiodo Any updates?

[2021-04-02 15:10] edwarnicke commented on #2237
@Ieneya Here's a spire solution on OpenShift:

https://github.com/spiffe/spire/pull/2181

I wonder if something similar would help with the Anthos Cluster on AWS in GCP environment.

[2021-04-02 15:18] tiswanso commented on #2241
I am now testing with the nsm-vpp-forwarder env var:
[code]

Will update more as we get further but the initial symptom of the Jaeger trace showing the infinite update loop in nsmd on client connections seems cleared up.

[2021-04-06 08:09] mkomu commented on #2240
Interface level.

- MTU automatization makes sense only internally within a cluster (if even there?)
- In the interdomain NSM case, automation could select the lowest value (to be used, e.g., in a service chain extending to multiple clusters) but...
- It should be possible to override the MTU manually in the interdomain NSM case because it is difficult to guarantee a working solution

Sure, you ca

[2021-04-08 21:50] narcolepticsnowman commented on #2241
We end up seeing those messages run much more frequently than every two seconds.
It appears related to these two lines:
https://wwwin-github.cisco.com/cisco-app-networking/networkservicemesh/blob/vl3_latest/sdk/monitor/monitor_server.go#L126
and
https://github.com/networkservicemesh/networkservicemesh/blob/756a5e48592b29174765657cf3a4cb79c3491240/controlplane/pkg/nsmd/nsmd_crossconnect_client.go#L

[2021-04-08 22:30] narcolepticsnowman commented on #2241
Ah, it's not sending to both sides, the monitor_server is reading the events into a map here:

https://github.com/networkservicemesh/networkservicemesh/blob/756a5e48592b29174765657cf3a4cb79c3491240/forwarder/pkg/common/monitor_netnsinode_server.go#L162

So.... probably not that...

[2021-04-13 14:58] #2105 closed

[2021-04-14 20:40] edwarnicke commented on #2240
@mkomu FYI... we do have MTU support landed now in the multi-repo:

https://github.com/networkservicemesh/sdk-vpp/pull/158

At baseline, it basically lets each hop along the way decrement the Connection.ConnectionContext.MTU if the current value is greater than what it can support.  The net result is that end to end on the vWire, we have a supportable MTU.  Its sort of like MTU discovery in that w

[2021-04-15 07:24] mkomu commented on #2240
Not familiar with the new codebase! Is it possible to manually override the MTU value? Using deployment file or NSM client request?

[2021-04-15 07:46] glazychev-art opened #2243 "CI tests fail on Azure"
## Expected Behavior

Integration tests should be passed

## Current Behavior

Integration tests fail due to an error at the Azure startup

## Failure Information (for bugs)
[code]

## Steps to Reproduce

1. Create a PR
2. Look at CI tests

[2021-04-15 14:11] edwarnicke commented on #2240
@mkomu WRT override... the question is always *where* can you influence a value :)

For example:
1. A sending client can *always* set the Connection.ConnectionContext.MTU value before sending it to the NSE
2. A receiving NSE can *always* override the Connection.ConnectionContext.MTU as it passes through its hands.

Since the MTU is decided by accumulating those overrides on the outgoing direction

[2021-04-17 00:33] Chris-Johnston opened #2245 "Make helm-install-nsm will fail if the nsm-system namespace does not already exist"
### Context

I'm installing NSM via the `helm-install-nsm` target in a fresh (Azure AKS) k8s cluster that does not already have the `nsm-system` namespace. The command will fail because I have not created that namespace yet, and [helm will not create the namespace for me](https://github.com/helm/helm/issues/5753).

[code]

### Solution

To fix this problem, I ran

[code]

Then I re-ran `make helm-

[2021-04-18 19:08] edwarnicke commented on #2243
I've updated the expired Azure token.

[2021-04-18 19:21] edwarnicke commented on #2241
@denis-tingaikin Any further updates on this?

[2021-04-21 10:17] mkomu commented on #2240
Yes, makes sense. Thanks for all of your efforts and sorry for long delays in answering!

[2021-04-24 21:11] g-rabah opened #2247 "Tutorial NSM + Multus"
hi evryone,

i am new to NSM. The learning curve is very steep and no end to end resources can be found

For my use case :  one master and two worker nodes i want to use Multus and NSM with ligato to build multiple overlays between different types of pods using VxLAN.

can someone provide me with a good tutorial(s) ? or study guide.

Thanks in advances

[2021-04-26 14:48] denis-tingaikin commented on #2245
@Chris-Johnston Hello,

Thanks for the issue reported! Currently, we have an issue with azure running on CI. Soon the problem should be fixed and we'll re-run build on your PR.

FYI: Currently we do not super focus on working with monorepo NSM(now we focus on multirepo nsm). You could be interested in these examples based on kustomization https://github.com/networkservicemesh/deployments-k8s. Also

[2021-04-26 14:54] denis-tingaikin commented on #2247
Also be free to join to our NSM meetings tomorrow https://github.com/networkservicemesh/networkservicemesh#get-involved

[2021-04-30 08:13] glazychev-art opened #2248 "TestKernelNSCAndICMPRemoteWireguard is unstable on CI"
## Failure Information (for bugs)
https://circleci.com/gh/networkservicemesh/networkservicemesh/123256

## Failure Logs
[TestKernelNSCAndICMPRemoteWireguard.zip](https://github.com/networkservicemesh/networkservicemesh/files/6403824/TestKernelNSCAndICMPRemoteWireguard.zip)
[TestKernelNSCAndICMPRemoteWireguard.log](https://github.com/networkservicemesh/networkservicemesh/files/6403826/TestKernelNSC

[2021-04-30 18:13] #2241 closed

[2021-05-04 07:12] #2243 closed

[2021-05-04 18:55] edwarnicke commented on #2247
@g-rabah Question... what are you trying to accomplish using Multus?  You should be able to do what you are suggesting with just NSM (though your complaints about documentation there are completely valid... I just want to get a sense of what you are trying to get at so we can get you the best answer... and not sure why you would need Multus is you have NSM :) )

[2021-05-04 19:12] edwarnicke commented on #2240
@mkomu Can we close this issue?  Or is there more still to resolve here?

[2021-05-05 06:50] mkomu commented on #2240
Sure you can close this, thanks!

[2021-05-05 17:54] #2240 closed

[2021-05-06 04:27] younus2019 opened #2249 "make aws-start error"
**I am working on Public Cloud Setup.**
While running **"make aws-start"** command to start AWS cluster and setup firewall rules.
**I am getting Below error:**

[cloudshell-user@ip-10-0-124-119 networkservicemesh]$ make aws-start
~/multi_check/networkservicemesh/scripts/aws ~/multi_check/networkservicemesh
2021/05/06 04:32:49 Creating EKS service role "nsm-role"...
2021/05/06 04:32:50 Role "nsm-ro

[2021-05-06 04:30] denis-tingaikin commented on #2249
@glazychev-art Could you have a look?

[2021-05-06 16:57] #2245 closed

[2021-05-19 14:56] johlj commented on #2225
With the latest updates this looks good :)

Br,
Johan

[2021-05-19 14:58] #2225 closed

[2021-06-02 17:15] #2224 closed

[2021-06-11 01:16] #2222 closed

[2021-06-11 01:16] #2227 closed

[2021-06-11 01:16] #2232 closed

[2021-06-11 01:16] #2233 closed

[2021-06-11 01:16] #2226 closed

[2021-06-11 01:16] #2235 closed

[2021-06-11 01:16] #2238 closed

[2021-06-11 01:16] #2231 closed

[2021-06-11 01:16] #2248 closed

[2021-06-11 01:16] #2237 closed

[2021-06-14 20:38] ZiqiangWang0130 opened #2254 "The Client pod does not intiate due to lack of nse from examples/examples and from deployment/helm"
## Expected Behavior

The deployment of examples from https://github.com/networkservicemesh/networkservicemesh/tree/master/deployments/helm/vpn and https://github.com/networkservicemesh/examples/tree/master/examples/secure-intranet should be working

## Current Behavior
The vpn-gateway-nsc does not intiate becasue of no NSE has been found

## Failure Information (for bugs)

No resources found in d

[2021-06-18 23:31] #2247 closed

[2021-06-18 23:31] #2249 closed

[2021-07-20 06:36] Bolodya1997 opened #2255 "Repeated `make helm-delete-vpn helm-install-vpn` makes impossible to install any NSC"
## Expected Behavior

Repeated `make helm-delete-vpn helm-install-vpn` should delete previous vpn-case NSC, NSE and install new ones.

## Current Behavior

After some time of repeating `make helm-delete-vpn helm-install-vpn` starts failing to install vpn-case NSC and so any other NSC.

## Failure Information (for bugs)

## Steps to Reproduce

1. Start NSM.
2. Run `make helm-delete-vpn helm-install

[2021-07-27 18:03] karthick18 commented on #2255
Thanks for filing this bug. Attaching some logs.
git log
commit fea0424531de879cbd6845868a1284fda11ba02a (HEAD -> master, origin/master, origin/HEAD)
Author: juangascon <31316533+juangascon@users.noreply.github.com>
Date:   Fri May 21 16:26:25 2021 +0200

The attached logs has failures around the time when the bug was reproduced.
Easily reproducible with a bash like:
while [ 1 ]; do make helm-dele

[2021-07-29 14:23] edwarnicke commented on #2255
@karthick18 Question... is there a reason you are using NSM v0.2 vs NSM v1.0?

[2021-07-29 18:45] karthick18 commented on #2255
Not really. Just wanted to use the latest. Having said that, I think I also did one against v1.0 and saw the same thing. Not completely sure but can try it again.

[2021-08-03 02:42] #2254 closed, assigned to nobody

[2021-08-11 19:08] yumoL opened #2257 "TCP and UDP packets are dropped in NSM in EKS clusters, probably due to Tx checksum offloading"
## Expected Behavior

We deploy NSM (v0.2) to an EKS cluster with two worker nodes (kernel as forwarding plane and VXLAN as preferred remote mechanism). We deploy an NSM endpoint to one worker node and an NSM client to the other node. We expect that the client should receive TCP/UDP packets from the endpoint (and vice versa).

## Current Behavior

Ping works fine, but TCP/UDP packets are dropped,

[2021-08-18 22:18] karthick18 commented on #2255
I got sidetracked from this issue as it wasn't really a blocker. However I got to move to nsm v0.1.0 tag and also reproduced it.
I was also able to fix it based on the issues seen. And was able to run a repeat loop for 30 times without issues.

The patch addresses 3 things. 2 panics in nsmd. And a lockup in vpp server which seems to be a result of a configurator race from dataplane from Request an

[2021-08-18 22:21] karthick18 commented on #2255
Also attaching the patch on v1.0 branch which is inlined in above comment as a file.
[nsm-patch.txt](https://github.com/networkservicemesh/networkservicemesh/files/7010519/nsm-patch.txt)

[2021-09-09 16:59] tiswanso opened #2258 "k8s node loss leaves non-existent NSEs in registry"
## Expected Behavior

If a Kubernetes node hosting NSEs is lost or restarted, the NSE registrations (`networkserviceendpoint` CR instances) get removed from the NSM registry.

## Current Behavior

If a Kubernetes node hosting NSEs is lost, the Kubernetes API server still has `networkserviceendpoint` CR instances for the NSEs on the lost node AND NSM never removes them.

## Failure Information (for

[2021-09-09 17:50] tiswanso commented on #2258
The implementation currently assumes each node's nsmgr is able to maintain consistency of the NSEs on their node via:
1. fronting any NSE registrations/deletion from the NSE itself
2. restoring its state on restart from a node-local file (`/var/lib/networkservicemesh/nse.registry`) and removing any NSEs that aren't reachable at that moment
3.

Probably the nsmd-k8s discovery server needs to detect