[2019-02-26 16:37] dabernie commented on #778
This is exactly what we talked about on the first docs call ... using NSM for "passthrough" traffic not originated within k8s.  In that case how would we instantiate the NSC/NSE initial ingress point.

[2019-02-26 16:50] matrohon commented on #778
Great to hear that, I missed the last doc call, I'll try to attend the followings.

[2019-02-26 22:01] nickolaev commented on #58
@ivanayov can you please check if this comment is still relevant or we can close it?
Note that the code is quite old and probbaly hs nothing to do with whatever we have today, though.

[2019-02-26 22:09] edwarnicke commented on #704
Bump

[2019-02-26 23:56] edwarnicke commented on #778
I've created a doc for this [here](https://docs.google.com/document/d/1usoPNG67jWMlUSqb4sLA5EdmBOfZQKoUU_iXpkot66k/edit?usp=sharing) that anyone should be able to edit to start filling in :)

[2019-02-27 01:06] artem-belov commented on #757
@edwarnicke Yes

[2019-02-27 14:19] nickolaev commented on #778
@matrohon
I have something similar for HTTP proxy:
https://github.com/networkservicemesh/examples/blob/master/examples/proxy/proxy-nsc/cmd/nsc.go

It exposes a proxy to the outside world which translates to creating a new NS connection to the NS "inside".

[2019-02-27 14:54] artem-belov commented on #775
Fix is uploaded to master branch by commit
https://github.com/FDio/vpp/commit/8343ee5665942353e57ee074da62b9d07c1c510b

[2019-02-27 16:24] stepan-anokhin commented on #738
I've fixed integration tests failures.

We still need to retrieve postmortem data from the cluster during the build and save it as build artifacts.
This could be done in a two ways (at least):
1. via extending go integration testing framework to collect postmortem data on `k8s.Cleanup()` using the k8s client-go (hints could be found in [kubectl cp](https://github.com/kubernetes/kubernetes/blob/mas

[2019-02-27 16:27] stepan-anokhin commented on #738
One test failed but it seems to be unrelated to my changes:
[code]

[2019-02-28 00:02] edwarnicke commented on #743
@artem-belov

This seems to still be going on even with the fix for it (or rather, a problem with the same signature).

Crash log:
[code]
* [Core file](https://drive.google.com/file/d/1HrPegWwPowmR_u1-lr0sjGO7Vw1KI5B8/view?usp=sharing)
* [Deb files](https://drive.google.com/file/d/1NyBT0i8jENTE8rzHB1GejDmAcG3huy0E/view?usp=sharing)
* Docker containers: edwarnicke/vpp-agent:v1.8-743
* Source code i

[2019-02-28 14:22] artem-belov commented on #743
Attempting to get next graph node index, but bitmap is zero. Function trying to get id of node by wrong pointer, which cause faulting

Backtrace:
[code]

[2019-02-28 16:11] stepan-anokhin commented on #738
I've extended integration-testing framework to collect postmortem data on each k8s [cleanup](https://github.com/networkservicemesh/networkservicemesh/pull/762/commits/5e0a6e13c9dd348515d188c3ecd71f9e82956159#diff-844026f40ab25894a9c979430ef0cbd4R340).
All collected backtraces and logs are now [stored](https://github.com/networkservicemesh/networkservicemesh/pull/762/commits/b443a8fbf17feb3e8bdd68c

[2019-02-28 21:40] edwarnicke commented on #743
[Compressed version of core file](https://drive.google.com/file/d/1s8eN9rZJTXUDkCeVvwB7n03VuDpK_czX/view?usp=sharing)

[2019-02-28 22:31] dbarach commented on #743
Good news / bad news / request. The good news: The debs+core file are sane, easily able to see the same backtrace info shown above.

The bad news: after poking around, it's not obvious why feat_bitmap_get_next_node_index(...) throws a shoe with a zero (no features enabled) bitmap, and what looks like a sane arc index array.

Request: please attempt to repro using a set of debug debians. .

[2019-03-01 02:58] edwarnicke commented on #747
Also... I think that we can use this to move away from a lot of our make machinery ... helm should be able to replace all of the *-deploy cases :)

[2019-03-01 02:58] edwarnicke commented on #779
@rdimitrov Are you still seeing this issue?

[2019-03-01 03:13] edwarnicke commented on #766
@rdimitrov Was this resolved by #781 ?  If so, should we close this issue?

[2019-03-01 03:22] edwarnicke commented on #743
@artem-belov I've created new edwarnicke/vpp-agent:v1.8-743-debug docker containers built with debug images of vpp.

* [Debug debs] (https://drive.google.com/file/d/1jiCRuEtCXG7qBkrpLajSGy_xPL85jqmg/view?usp=sharing).
* I've updated #785 to use those new docker images

So that's the good news.  The bad news is I can't get the debug image to crash... can you recreate with these new images?

@dbarac

[2019-03-01 07:44] stepan-anokhin commented on #738
Build fails because of [golang/ling](https://github.com/golang/lint/issues/436) issue

[2019-03-01 08:31] artem-belov commented on #743
@edwarnicke Nope. Now I can reproduce issue neither with release nor with debug debs. I even tried to use yesterday version which showed fault, but all test past through without any problems.
I will continue run tests on weekend to catch this problem again, and then let you know about results.

[2019-03-01 09:07] rdimitrov commented on #766
@edwarnicke Indeed, we should close it. It's already resolved by that PR 👍

[2019-03-01 09:11] rdimitrov commented on #779
@edwarnicke Hey, Ed, unfortunately, I won't be able to look at it until next week as I'm skiing this one 🎿
If there's someone else that wants to resolve it, feel free to take it 👍

[2019-03-01 10:06] stepan-anokhin opened #789 "Fix sanity-check failures related to golint"
## Description
All recent builds fail because of `golint` [issue](https://github.com/golang/lint/issues/436)
This blocks build system and all pending PRs from being verified.

We need to circumvent the issue until some robust solution will be provided.

[2019-03-01 10:07] stepan-anokhin commented on #789
@edwarnicke @nickolaev plese take a look at #788

[2019-03-01 14:06] edwarnicke commented on #789
Merged #788

[2019-03-01 14:06] #789 closed

[2019-03-02 07:51] #49 closed

[2019-03-02 07:51] #95 closed

[2019-03-02 07:51] #98 closed

[2019-03-02 07:51] #212 closed

[2019-03-02 07:51] #344 closed

[2019-03-02 07:51] #207 closed

[2019-03-02 07:51] #165 closed

[2019-03-02 07:51] #227 closed

[2019-03-02 07:51] #372 closed

[2019-03-02 07:51] #410 closed

[2019-03-02 07:51] #411 closed

[2019-03-02 07:51] #515 closed

[2019-03-02 07:51] #618 closed

[2019-03-02 07:51] #626 closed

[2019-03-02 07:51] #414 closed

[2019-03-02 07:51] #224 closed

[2019-03-02 07:51] #609 closed

[2019-03-02 07:51] #463 closed

[2019-03-02 07:51] #119 closed

[2019-03-03 14:38] edwarnicke commented on #715
Marked this as pinned so that stale-bot will leave it alone :)

[2019-03-03 23:12] #766 closed

[2019-03-04 12:42] artem-belov commented on #743
@edwarnicke I found out that test result depends on timing between start of the test and ping requests. I got 3 different results of the test with the same data but with different delay:
1. Test passed correctly
2. Fault with  SIGSEGV signal
3. Test failed because of 100% packet loss.

Also I can reproduce issue with edwarnicke/vpp-agent:v1.8 only.
edwarnicke/vpp-agent:v1.8-743-debug always pass t

[2019-03-04 14:34] edwarnicke commented on #743
@artem-belov I'm in the same place.  I started seeing it fail again with v1.8-743 (now v1.8.1) but it has never once failed for me with v1.8-743-debug (now v1.8.1-debug).

@dbarach @dmarion Any suggestion on how to proceed with issues like this where somehow the debug image doesn't have the same issues as the non-debug issue?

[2019-03-04 19:20] nickolaev commented on #757
@edwarnicke after the awesome work you and @artem-belov did, we could probably close this one?

[2019-03-05 01:10] edwarnicke opened #799 "Factor out UpdateNSM into its own service (followup for #)786"
#786 places #UpdateNSM in the "Discovery" service.  Please factor it out into its own service.

[Comment on #786](https://github.com/networkservicemesh/networkservicemesh/pull/786#discussion_r262188954)

[2019-03-05 06:46] lobkovilya commented on #799
Probably we could unite this issue with https://github.com/networkservicemesh/networkservicemesh/issues/767?

So I will create something like:
[code]

What do you think?

[2019-03-05 10:53] haiodo opened #801 "NSMDp should support >= 10 clients."
Failed to deploy NSE or Client happened because of:

Warning  UnexpectedAdmissionError  27s   kubelet, kube-worker  Update plugin resources failed due to requested number of devices unavailable for networkservicemesh.io/socket. Requested: 1, Available: 0, which is unexpected.

It seems DeviceAPI plugin could not give a workspace sometimes.

* [Feature](?template=spec.md)
* [Bug](?template=bug.md)

[2019-03-05 14:41] nickolaev commented on #799
@lobkovilya I'd `+1` this suggestion.

[2019-03-05 14:49] stepan-anokhin commented on #738
Finally fixed the PR. Only VPN tests fail.

[2019-03-05 18:36] haiodo commented on #801
Changed logic in PR #795 as experiment, to return always more >= 10 devices in compare to allocated ones, but still had same issue happening for

[2019-03-05 18:48] haiodo commented on #801
Will try tomorrow to use:
https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/#monitoring-device-plugin-resources to check for resources usage, also this seems should help to track died Clients/NSEs.

[2019-03-05 18:57] haiodo commented on #801
Also it seems we need to monitor kubelet restart situations.

[2019-03-06 02:36] Napoleon0621 opened #807 "Questions about services and interfaces"
This is somewhat a question about NSM structure and mechanisms.

From my previous knowledge, under most current circumstances, one NSC pod normally has a single interface connecting to a NSE pod. In case there is need for multiple network services, NSM implements something like a chained network function just like the "secure-intranet-connectivity" example.

My question is: under the Telco scenari

[2019-03-06 08:29] artem-belov commented on #743
Not reproduceable with ligato/vpp-agent:v1.8.1

[2019-03-06 09:14] matrohon commented on #807
This is an interesting question that has also been raised by ramki during weekly meetings.
I don't see anything preventing a pod to be connected to several network services. This pod will end up having several interfaces, one per service.

This could be achieved by adding several [annotations to your client descriptor](https://github.com/networkservicemesh/networkservicemesh/blob/master/k8s/conf/v

[2019-03-06 14:26] edwarnicke commented on #807
@Napoleon0621 In NSM, an NSC can request any number of L2/L3 Connections to any Number of Network Services.  Each L2/L3 Connection will show up in the NSC as a separate interface.

Please also note that an NSC can request connections to Network Services at any point in its lifecycle (not just the beginning).  Normal app Pods won't likely do this... but CNFs almost certainly will :)

[2019-03-06 14:28] #720 closed

[2019-03-06 18:18] haiodo commented on #753
Calling close still could cause errors like:
Dataplane request failed: rpc error: code = Unknown desc = failed to add linux ARP entry SRC-1_arp_0: file exists"

[code]

[2019-03-06 18:19] haiodo commented on #753
@edwarnicke could you please assign this to @stepan-anokhin . Thanks.

[2019-03-06 18:51] haiodo commented on #753
One more interesting case:

1. Dataplane output contains:
[code]

2. ip addr output is following:
[code]

3. ICMP responder IP addr:
[code]

[dp_master.txt](https://github.com/networkservicemesh/networkservicemesh/files/2937835/dp_master.txt)

[nsmd_master.txt](https://github.com/networkservicemesh/networkservicemesh/files/2937837/nsmd_master.txt)
[nsmd_worker_restarted.txt](https://github.com/net

[2019-03-06 19:36] edwarnicke commented on #753
+1 for "we need to change this logic to be just Request and Dataplane should decide itself is it update or Upgrade."

[2019-03-06 21:14] stanislav-chlebec opened #809 "Building and run NSM on ARM64"
We're tracking here the efforts to run NSM on an ARM64 board. A couple of issues have been observed so far, mainly with the way we use `vpp/vppagent`. The target is to have a minimal NSMgr + Dataplane deployment, which can accommodate NetworkServices Endpoints and Clients.

#828 treats the basic image build (no cross compilation).

------------------------------------------------------------------

[2019-03-06 22:57] edwarnicke commented on #809
@stanislav-chlebec Is it possible for us to build them as part of our CI and push them ourselves?

[2019-03-06 23:04] edwarnicke opened #811 "Check for IPNeighbor without HW address in vppagent-dataplane and return error"
## Expected Behavior

#810 fixes an issue where a [IPNeighbor](https://github.com/networkservicemesh/networkservicemesh/blob/master/controlplane/pkg/apis/connectioncontext/connectioncontext.proto#L24) without a HW Address was being returned from an NSE.

The vppagent-dataplane needs to properly detect and return an error should this happen in the future.
I suggest writing an [IsValid](https://gith

[2019-03-06 23:22] edwarnicke commented on #799
+1

[2019-03-07 06:12] Napoleon0621 commented on #807
Thank you guys, that's super helpful.
One thing to add, whenever an NSC wants to make a new request or make changes to its current connection, all it needs to to is to change its configuration file and redeploy itself. Am I right?

[2019-03-07 07:07] stanislav-chlebec commented on #809
@edwarnicke  Good idea. I will prepare and upload scripts. But currently I build on ARM64 platform. I have no scripts for crosscompilation....

[2019-03-07 07:52] nickolaev commented on #809
@stanislav-chlebec should be pretty easy to do this form our CI. We need QEMU arm static to do the translation, and the build will be pretty slow. Check this link:
https://ownyourbits.com/2018/06/27/running-and-building-arm-docker-containers-in-x86/

I suggest we put this in a separate job and call it only for `master` similar to our `docker-push-latest` job https://github.com/networkservicemesh/n

[2019-03-07 09:43] rdimitrov commented on #809
Hey, @stanislav-chlebec
Nice effort 👍 I also built the NSM images for ARM64 before and it went without any issues. I faced some problems with the VPP related images though - there were no consistent images pushed, so had to build one from source. It would be interesting to share how you manage to overcome that and run NSM at the end?

As far as building on non-ARM64 hardware, if everything is pure

[2019-03-07 10:23] stanislav-chlebec commented on #809
@nickolaev environment: ThunderX ARM64
I only begin with this project - I was able to build docker images via make k8s-save command.
Before that  I had prepared https://cloud.docker.com/u/ligato/repository/docker/ligato/vpp-agent-arm64 with tag v1.8.1 and had changed the docker image in Dockerfiles.*

[2019-03-07 10:41] stanislav-chlebec commented on #809
@nickolaev the ThunderX machine was provided by packet

[2019-03-07 10:44] stanislav-chlebec commented on #809
@rdimitrov Currently there are built ARM64 images - see
https://cloud.docker.com/u/ligato/repository/docker/ligato/dev-vpp-agent-arm64
https://cloud.docker.com/u/ligato/repository/docker/ligato/vpp-agent-arm64
latest should by up to date

[2019-03-07 10:54] rdimitrov opened #812 "Admission Webhook updates"
## Expected Behavior
Noticed a couple of things regarding the Admission Webhook controller:
1. The `./k8s/cmd/admission-webhook/main.go` expects some environment variables that are missing in its deployment file - `./k8s/conf/admission-webhook.yaml` so they are never available.
2. In testing, it would be useful if the admission controller is described and deployed via the API as the rest of the co

[2019-03-07 13:38] rdimitrov commented on #809
@stanislav-chlebec Thanks!
I decided to do a quick test, so I built and tried on ARM64 the latest NSM images with [ligato/vpp-agent-arm64:v1.8.1](https://hub.docker.com/r/ligato/vpp-agent-arm64/tags), but it failed on my side with the following error from the VPP agent -
[code]
Here are the full logs from that run -
* [vppagent-dataplane](https://gist.github.com/rdimitrov/7b0347c869db3468a822a5f5b

[2019-03-07 13:45] rdimitrov commented on #779
The issue can be considered as closed 👍

Part of it is no longer reproducible, fixed with https://github.com/networkservicemesh/networkservicemesh/pull/808 or covered in https://github.com/networkservicemesh/networkservicemesh/issues/812.

[2019-03-07 13:45] #779 closed

[2019-03-07 15:57] #702 closed

[2019-03-07 15:57] #698 closed

[2019-03-07 16:54] nerdengineering opened #815 "Spec: KubeVirt Integration"
## Overview
I would like to explore the integration of NSM with KubeVirt. In addition to VIM integration, being able to take advantage of KubeVirt's ability to have K8s schedule VMs while NSM provides a robust L2/L3 networking model leads to strong long term potential.

NSM + KubeVirt would allow for the use of the VM resource type, enabling declaratively scheduled VMs in K8s, as well as mitigate

[2019-03-07 18:11] nickolaev commented on #815
I can see [vhost-user](http://docs.openvswitch.org/en/latest/topics/dpdk/vhost-user/) sitting behind the corner here :)

[2019-03-07 20:16] nerdengineering commented on #815
I shouldn't have called out KubeVirt specifically to be honest. The spec is
more specifically looking to explore K8s scheduled VMs with NSM plumbed
networking. KubeVirt was just the plugin that first jumped into my mind.

On Thu, Mar 7, 2019 at 11:11 AM Nikolay Nikolaev <notifications@github.com>
wrote:

[2019-03-07 21:25] stanislav-chlebec commented on #809
I tried ligato/vpp-agent-arm64:dev

  505  sudo kubeadm init --token-ttl 0 --pod-network-cidr=10.1.0.0/16
  506  mkdir -p $HOME/.kube
  507  sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
  508  sudo chown $(id -u):$(id -g) $HOME/.kube/config
  509  kubectl get pods -n kube-system
  510  docker pull contivvpp/vswitch-arm64:latest
  511  docker pull contivvpp/ksr-arm64:latest
  512  docke

[2019-03-07 21:32] stanislav-chlebec commented on #809
Here you can see that after some period ligato/vpp-agent-arm64:dev which is of version 2 of developping was running
stanislav@contivvpp:~/work/networkservicemesh/k8s/conf$ kubectl get pods
NAME         READY   STATUS    RESTARTS   AGE
nsmd-jvh7p   3/3     Running   0          30s
stanislav@contivvpp:~/work/networkservicemesh/k8s/conf$ ls
admission-webhook-cfg.yaml  cluster-role-view.yaml        cr

[2019-03-08 01:11] edwarnicke commented on #809
@stanislav-chlebec  I don't think the issue is 'running' per se.  I think the issue is that NSM uses the vpp-agent API to try to program the vpp instance... and thats when things go badly.  From the error message it looks like NSM tries to use the vpp-agent API to program:

[code]

That's when we get the VPPAPI error from the ARM version.

[2019-03-08 18:07] #743 closed

[2019-03-08 23:30] edwarnicke commented on #727
Pinned so stale bot won't close it.

[2019-03-09 18:56] edwarnicke commented on #707
Pinned to call off stalebot

[2019-03-09 18:56] edwarnicke commented on #729
Pinned to protect it from stalebot

[2019-03-09 18:57] edwarnicke commented on #727
Pinned to protect it from stalebot

[2019-03-11 17:33] haiodo commented on #753
One more case

[code]

[2019-03-12 09:32] nickolaev commented on #809
#828 was merged so the particular case of building the images is solved. Now there is an issue with running VPP on ARM64, and more specifically what @edwarnicke had mentioned.

@rdimitrov @stanislav-chlebec  shall we open another issue to track it or keep this one?

[2019-03-12 09:36] stanislav-chlebec commented on #809
we can keep this one IMHO

[2019-03-12 11:28] nickolaev opened #830 "Align NSM manifests apiVersion with the latest available"
## Overview

NSM manifests have a variety of `apiVersion` strings, some of which are outdated and no in line with the latest Kubernetes API [1]. An example is [2], where we typically do:
[code]

Note that it is not only about changing the `apiVersion` string. These changes will impose some changes in other parts of the manifest. In [3] one can find sections describing "The .spec.template is the on

[2019-03-12 11:43] nickolaev opened #831 "Publish the cross-connect status as CRD."
## Overview

NSM defines a nice monitoring gRPC interface [described as protobuf](https://github.com/networkservicemesh/networkservicemesh/blob/master/controlplane/pkg/apis/crossconnect/crossconnect.proto). It is used in the [`crossconnect-monitor`](https://github.com/networkservicemesh/networkservicemesh/blob/master/k8s/cmd/crossconnect-monitor/crossconnect_monitor.go#L38) to subscribe to the eve

[2019-03-12 12:51] edwarnicke commented on #831
Sounds like a good idea... lets make sure to keep it modular (like the cross-connect monitor etc) :)

[2019-03-13 12:52] stanislav-chlebec commented on #809
I am trying to reproduce the VPPApiError: Initialization Failed
I see that after I set up  Kubernetes on my arm64-baremeteal machine via
./scripts/terraform/start-master.sh
and manually joined other arm64-baremetal machine
[code]
Now I could deploy via
make k8s-infra-deploy
but I can see that there are involved other docker images
DEPLOY_INFRA = $(DEPLOY_TRACING) $(DEPLOY_WEBHOOK) $(DEPLOY_NSM) $(

[2019-03-13 12:54] stanislav-chlebec commented on #809
[code]

[2019-03-13 13:03] rdimitrov commented on #809
@stanislav-chlebec Indeed, you can skip them for testing - I've done the same 👍

You can have a look at the latest 2 commits for how I've done it [here!](https://github.com/rdimitrov/networkservicemesh/commits/rdimitrov/dev-branch-arm64)

[2019-03-13 13:33] waliapulkit commented on #831
Working on it. :)

[2019-03-13 13:34] pulkitwalia commented on #831
Working on it. :)

[2019-03-13 14:51] haiodo commented on #801
This one is done. @edwarnicke  @nickolaev  could you please resolve. Thanks.

[2019-03-13 14:56] haiodo opened #836 "NSMD should periodically check NSE without connections are alive and update registry since field."
## Expected Behavior

If NSE without active connections is die, NSMD should detect it and unregister, free workspace.

## Current Behavior

If NSE connected to NSMD had no active connection, right now we do not know if it is still alive or not.

## Failure Information (for bugs)

## Steps to Reproduce

1. Register NSE
2. Delete NSE
3. NSE is still available.

## Context

* Kubernetes Version:
* et

[2019-03-13 15:01] #801 closed

[2019-03-13 16:28] edwarnicke commented on #747
Closed by #825

[2019-03-13 16:28] edwarnicke opened #837 "Add nsmd-monitoring helm chart"
## Overview

The new helm charts in NSM are awesome.  The decision to only include the core nsm components in the nsm chart was a good one.  It appears however that there is no helm chart that will bring the skydive and jaeger pieces of NSM.  It would be good to have a separate helm chart that does so, perhaps named something like monitoring.

## Link to the Google Docs document

## References

Or

[2019-03-13 16:42] edwarnicke opened #838 "Exclude Prefixes support"
## Overview

[connectionContext.excluded_prefixes](https://github.com/networkservicemesh/networkservicemesh/blob/master/controlplane/pkg/apis/connectioncontext/connectioncontext.proto#L56)  allows specification of prefixes that the receiving NSE may not assign IPs or Routes from.  Currently, we do not populate it.  It minimally needs to be populated by the nsmd of the originating request with the

[2019-03-13 16:50] edwarnicke opened #839 "Harvesting cluster CIDRs for exclude prefixes"
## Overview

This is a sub-issue of #838 - see that issue for broader context.

Kubernetes has two kinds of CIDRs (prefixes) that should alway be added to the exclude_prefix list in connection context:

1.  PodCIDRs
2. ServiceCIDRs

Pod CIDRs can be gleaned from the [NodeSpec](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#nodespec-v1-core).

Some investigation will need to b

[2019-03-13 16:52] edwarnicke opened #840 "Adding exclude_prefixes to each Request in nsmd"
## Overview

This is a sub-issue of #838 and related to #839.

Have nsmd add the exclude_prefixes populated from #839 to all requests.

## Link to the Google Docs document

## References

[2019-03-13 16:54] edwarnicke opened #841 "Add exclude_prefix check to SDK"
## Overview

This is a sub-issue of #838, see that issue for more context.

The SDK should have a check to ensure that IPAM has not allocated IPs or Routes from the exclude_prefix list in the connection context.  This check should be added to all of the examples in NSM.

## Link to the Google Docs document

## References

[2019-03-13 16:54] lobkovilya commented on #837
@edwarnicke there are skydive and jaeger charts, they located inside helm/nsm/charts directory and are treated like dependent charts for nsm:
https://github.com/networkservicemesh/networkservicemesh/tree/master/helm/nsm/charts
Also they are being installed along with nsm.
Is it what you are talking about?

[2019-03-13 16:59] edwarnicke opened #842 "Add nsmd check for violation of excluded_prefixes"
## Overview

This is a sub issue of #838 , see that issue for the broader context.

The nsmd should add checks for violation of exclude_prefixes, defined as the presence in the connection context of assigned src/dst IPs and our routed and or targets of IPNeighbors that violate the excluded_prefixes list.

When an nsmd receives a response to a remote or local NetworkService.Request, it should do th

[2019-03-13 17:01] edwarnicke commented on #837
Ah... good to know :)

Question... is it possible to deploy nsm without those monitoring components?  I find the monitoring useful, but  could imagine someone wanting just the bare NSM components (nsmd and vppagent-dataplane).

[2019-03-13 17:04] edwarnicke commented on #838
@ivanayov @stepan-anokhin @artem-belov could you guys split up #839 #840 and #842 amongst yourselves?

@nickolaev Would it make sense for one of your folks to take on #841 ?

[2019-03-13 17:14] lobkovilya commented on #837
Yes, you are right :) All monitoring staff should be moved to separate chart to allow bare NSM installation

[2019-03-13 20:15] nickolaev commented on #837
Thinking of the small ARM64 boards, bare NSMgr + Dataplane would be more than useful.
+1 to have these separate.

[2019-03-13 20:17] nickolaev commented on #837
One more thing. Today we have `imagePullPolicy: IfNotPresent` which might not be the case for every situation. Can we extract this as a parameter? I can do another issue if needed.

[2019-03-13 20:20] nickolaev commented on #838
@edwarnicke thanks for the great writeup in the issue.
I fixed the first name in your list to Ilya's and assigned #841 to @rdimitrov

[2019-03-13 20:23] nickolaev commented on #841
My assumption is the change should happen somewhere along these lines:
https://github.com/networkservicemesh/networkservicemesh/blob/master/sdk/endpoint/composite/ipam.go#L56

[2019-03-13 23:14] edwarnicke commented on #838
@nickolaev Many thanks :)

[2019-03-14 02:44] edwarnicke commented on #841
Yes.  Probably best to write some handy helper functions that could be used in all kinds of IPAM Composables...

Note, net.IPNet has some helpful functions for testing whether something is in a given Prefix.

[2019-03-14 10:43] #837 closed

[2019-03-14 10:44] nickolaev commented on #628
@haiodo do we know if this is still an issue?

[2019-03-14 13:31] edwarnicke commented on #628
@haiodo Have we seen this lately?

[2019-03-14 13:33] haiodo commented on #628
After registry cache was done this is no more an issue, so you could close it.

[2019-03-14 13:38] #628 closed

[2019-03-14 16:00] lobkovilya commented on #839
@edwarnicke after some research figured out that cluster's podCIDR and serviceCIDR could be harvested from kubeadm-config:
[code]
I assume that we could do it using kubeadm api.

As soon as podCIDR and serviceCIDR are set only during cluster initialization, there is no need to monitor them in separate container. But cluster's podCIDR could be much greater than union of node's podCIDR, so we will g

[2019-03-14 16:52] edwarnicke commented on #839
Oh... that is cool! :). Good find :)

[2019-03-14 16:53] edwarnicke commented on #839
One question though... is it always present?  Is it possible a cluster might be installed and not have that config map?

[2019-03-14 16:53] edwarnicke commented on #839
Overall... let’s start with that... as it simple, but keep an eye out to see if there are circumstances its not present... knowing we have ways we could fall back to if need be :)

[2019-03-15 12:57] ivanayov opened #847 "Move Admission Webhook test deployment to golang code"
At the moment only Admission Webhook is pre-deployed for the integration tests.
https://github.com/networkservicemesh/networkservicemesh/blob/master/scripts/prepare-circle-integration-tests.sh

This can be blocking for future tests changes and coverage. F.e. after changing from default to NSM namespace, it cannot be created/deleted within the tests, or uniquely generated, but needs to be hardcoded

[2019-03-15 15:53] ivanayov commented on #58
This seems outdated now

[2019-03-15 16:38] #58 closed

[2019-03-15 17:33] haiodo opened #849 "VPP Agent Dataplane filed to start inside GKE"
## Expected Behavior

VPP Dataplane is not starting inside GKE

## Current Behavior

VPP Agent dataplane could not start since VPP agent is crashing.

## Failure Information (for bugs)

## Steps to Reproduce

1. Build and deploy latest to GKE.
2. Create yaml descr
[code]
3. Deploy into GKE.
4. ` /usr/bin/vpp -c /etc/vpp/vpp.conf &> vpp.log &`
5. `/usr/bin/exec_agent.sh `

## Context

* Kubernetes

[2019-03-18 06:59] haiodo opened #850 "some TestDataplaneCrossConnect* tests are filing periodically"
## Expected Behavior

Dataplane tests should wait for Dataplane to start properly.

## Current Behavior

## Failure Information (for bugs)

## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea...

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[code]

[2019-03-18 06:59] haiodo commented on #850
@stepan-anokhin please fix test.

[2019-03-18 09:38] haiodo commented on #849
Issue is solved, by passing a proper request/limit to dataplane pod.

[2019-03-18 11:40] haiodo opened #853 "TestNSMHealRemoteDieNSMD_NSE test failed"
## Expected Behavior

test TestNSMHealRemoteDieNSMD_NSE should pass.

## Current Behavior

Test is failed on CI.

## Failure Information (for bugs)

## Steps to Reproduce

Run test on CI.

## Context

## Failure Logs

[TestNSMHealRemoteDieNSMD_NSE.log](https://github.com/networkservicemesh/networkservicemesh/files/2977852/TestNSMHealRemoteDieNSMD_NSE.log)

[2019-03-18 14:03] ivanayov commented on #767
@lobkovilya seems like #805 covers this. I there anything left? We don't do deregister explicitly, but I think it's unnecessary with the current implementation.

[2019-03-18 17:14] lobkovilya commented on #767
@ivanayov yes, the only thing to do is deregister method , but I agree it's unnecessary now

[2019-03-19 11:17] haiodo opened #855 "VPP Agent Dataplane is failed to create Kernel interface connection"
## Expected Behavior

VPP Agent Dataplane is failed to create kernel interface based but return success status to NSMD.

## Current Behavior

VPP Agent Dataplane is failed to create kernel interface based but return success status to NSMD.

## Failure Information (for bugs)

## Steps to Reproduce

Execute integration tests inside GKE.

## Context

## Failure Logs

Failed case:
[code]

Success case

[2019-03-19 11:23] haiodo opened #856 "VPP Agent Dataplane VETH mode is not working"
## Expected Behavior

VPP Agent dataplane VETH support is not working.

## Current Behavior

VPP Agent dataplane had fallback to use LinuxInterfaces_VETH and it is working not correctly.

## Failure Information (for bugs)

## Steps to Reproduce

Use system with missing /dev/vhost-net

## Context

## Failure Logs

[2019-03-19 13:33] haiodo commented on #850
TestDataplaneCrossConnectUpdate is failed.
[code]

[2019-03-19 13:33] haiodo commented on #850
@stepan-anokhin  Please take a look and fix. Thanks.

[2019-03-19 13:50] stepan-anokhin commented on #850
Looks like ligato/vpp-agent disconnects from vpp. Not clear how it could be observed in these tests and not observed in others. Need to check if this is a test defect at all.

[2019-03-19 14:39] lobkovilya opened #859 "Update etcd to version 3.2.25 or higher"
## Current Behavior

TestUpdateNSM fails

## Failure Information
[code]

## Fix
Seems like it bug of etcd, according to https://github.com/kubernetes/kubernetes/issues/71139 it has been fixed in version 3.2.25
Current version of etcd in our cluster is 3.2.24

[2019-03-19 17:45] lobkovilya opened #860 "Device Plugin leads to tests failure"
Following tests are not stable:
* `TestNSMDDP`
* `TestNSMDRecoverNSE`
* `TestNSMHealRemoteDieNSMD_NSE`

All they do something like:
[code]

Fail happens during attempt to deploy `icmp-responder-nse-2`, because there is no resource for it.

But adding sleep solves the problem:
[code]

[2019-03-20 08:27] artem-belov commented on #860
Pod deleting with GracePeriod=0 does not guarantee of pod full termination.

Removing that delete option resolve the problem

[2019-03-20 08:29] nickolaev commented on #860
@lobkovilya @artem-belov is there a PR coming?
Also, is there a chance that the tests hang for stale pod not terminating?

[2019-03-20 10:16] quangtamle commented on #621
Dear @nickolaev
it still didnt work, I tried many times, I tried new skydive image but it didnt work. The result is still the same as the above figures

[2019-03-20 10:21] quangtamle commented on #621
Dear @nickolaev @matrohon

By the way, I have a question related to the [memory](https://github.com/networkservicemesh/networkservicemesh/blob/master/k8s/conf/skydive.yaml#L31) using in Skydive.

When you use the variable "memory" then how can the system know what the memory is ??? Is this the system variable or human defined variable ???

If I want to use another DB, not that memory then how can

[2019-03-20 10:36] matrohon commented on #621
@quangtamle "memory" means that skydive will store its datas (topologies, flows) in the RAM. You can tell skydive to store those datas in DB instead, such as ElasticSearch or Orientdb, by configuring the [Storage](https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L333) section of the skydive config [file](https://github.com/skydive-project/skydive/blob/master/etc/skydi

[2019-03-20 10:41] quangtamle commented on #621
Dear @matrohon

Thank you so much for your answer !!!

This is exactly what I am looking for because I can not find where the storage of Skydive is defined in NSM.

[2019-03-20 16:23] #830 closed

[2019-03-21 03:23] artem-belov commented on #860
@nickolaev Pull request is created #861

Tests will continue working with warning after timeout. The most likely all required resources will be freed in timeout even if pod is not fully deleted.

[2019-03-21 06:10] stepan-anokhin commented on #850
Another case is
[code]
Seems like vpp-agent tries to rename already deleted old interface to the temporary name of new interface. Could be a vpp-agent defect.

[2019-03-21 08:06] nickolaev commented on #859
PR merged. Closing.

[2019-03-21 08:06] #859 closed

[2019-03-21 08:56] nickolaev opened #866 "Implement spf13/viper configuration in the SDK"
## Overview

A continuation of the discussion started in #832.

The proposal is to reconsider the way we configure Clients and Endpoints in the SDK. We propose 3 changes:
 * migrate to using `spf13/viper` as the configuration management engine
 * rename ENV variables
 * [optional] enable ConfigMap based configuration

## References

#832

[2019-03-21 08:58] nickolaev commented on #866
@matrohon @edwarnicke  ideas welcome.

[2019-03-21 09:45] matrohon commented on #866
concerning the ENV variables used by the sdk, I would suggest a simpler approach with the following names :

- NETWORK_SERVICE : replace OutgoingNscName and AdvertiseNseName
- LABELS : replace OutgoingNscLabels and AdvertiseNseLabels

Then those ENV would be used during the endpoint advertisement or during the client startup depending on the goal of the application (implementing a nsm endpoint or

[2019-03-21 10:17] nickolaev commented on #866
@matrohon all the env variables are [here]( https://github.com/networkservicemesh/networkservicemesh/blob/master/sdk/common/configuration.go#L25):
[code]

The tricky part is that the Endpoint can be [both](https://github.com/networkservicemesh/networkservicemesh/blob/master/k8s/conf/vppagent-firewall-nse.yaml#L20):
[code]

In this case the `vppagent-firewall` is implementing `secure-intranet-conne

[2019-03-23 06:42] #716 closed

[2019-03-23 16:19] fkautz opened #870 "Write documentation on CNF testbed describing how to get NSM running"
We would like to perform a Proof Of Concept (POC) running CNCF on the [CNF Testbed](https://github.com/cncf/cnf-testbed).

Currently, the [CNF Testbed](https://github.com/cncf/cnf-testbed) deploys a k8s cluster with a VPP vSwitch running directly on the host of each worker node. To provide a NSM enabled K8s reference environment we should provide information on how to start a k8s cluster using the

[2019-03-25 02:05] Napoleon0621 commented on #870
Personally speaking, I suggest this can be assigned to our documentation crew.
Last week, we were discussing about what to do next after the glossary and this literally is a documentation task.
What you guys think?

[2019-03-25 05:01] nickolaev commented on #754
@ivanayov is working on this in #770

[2019-03-25 09:53] nickolaev commented on #747
We have the first pass here. Let's close and consider reopening if needed later.

[2019-03-25 09:53] #747 closed

[2019-03-25 09:54] quangtamle commented on #621
Dear @matrohon

Is there any way to check the data (topologies, flows) are stored in the RAM (or OrientdDB) ???

Thank you in advances

[2019-03-25 14:23] quangtamle commented on #621
Dear @matrohon @nickolaev

I tried to use orientdb as DB for Skydive but it didnt work.
Here is my config file, may you tell me what is the problem ???

Thank you in advances
[skydive.txt](https://github.com/networkservicemesh/networkservicemesh/files/3003720/skydive.txt)

[2019-03-25 16:18] fkautz commented on #870
Changing this ticket based on Taylor's recommendations.

[2019-03-25 16:19] fkautz commented on #870
@Napoleon0621 sorry for changing this ticket right when you were commenting... :x It's still mostly a documentation task. Could also just be a simple bash script to start a cluster.

[2019-03-25 17:23] ivanayov commented on #754
Needs #875 to be merged first, as it includes some refactoring required for #770

[2019-03-25 19:11] fkautz commented on #870
Please see https://github.com/cncf/cnf-testbed/issues/213 for tracking

[2019-03-26 05:48] Napoleon0621 commented on #870
@fkautz That's absolutely fine :)

[2019-03-26 14:00] matrohon commented on #866
@nickolaev it totally make sense to me :+1:

[2019-03-27 09:48] stepan-anokhin commented on #319
@edwarnicke I'll take a look.

[2019-03-28 12:30] nickolaev commented on #317
#844 is merged

[2019-03-28 15:19] quangtamle commented on #621
Dear @matrohon @nickolaev

I can use OrientDB as DB for Skydive. It works well

Thank you

[2019-03-28 15:22] nickolaev commented on #752
I believe this one is already taken care of. Closing.

[2019-03-28 15:22] #752 closed

[2019-03-28 15:23] nickolaev commented on #65
Our docs folder gets a lot of attention. Closing this one.

[2019-03-28 15:23] #65 closed

[2019-03-28 19:03] haiodo commented on #856
@edwarnicke @nickolaev We should close this one already.

[2019-03-28 19:05] haiodo opened #884 "TestDataplaneHealRemote test is failed because NSM:(5.1-XXX) Failed to select mechanism. No matched mechanisms found."
## Expected Behavior

Test should pass.
## Current Behavior

Test is failed with message:
NSM:(5.1-4B049BF9) Failed to select mechanism. No matched mechanisms found...

Not able to reproduce locally.

## Failure Information (for bugs)

## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea...

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[code]

[2019-03-28 20:01] #856 closed

[2019-03-29 11:50] haiodo opened #886 "GKE VXLan tunnel is not working"
## Expected Behavior

VXLAN_TUNNEL should work

## Current Behavior

VXLAN_TUNNEL is not working inside GKE. Working well with VETH mode forced inside Vagrant.

## Failure Information (for bugs)

## Steps to Reproduce

Execute any of remote integration tests inside GKE.

## Context

## Failure Logs

Dataplane logs for both nodes:

[dp1.log](https://github.com/networkservicemesh/networkservicemesh/

[2019-03-29 12:52] haiodo commented on #886
Attaching VETH_MODE enabled Vagrant based logs for local case with working scenario.
[dp_master.log](https://github.com/networkservicemesh/networkservicemesh/files/3022698/dp_master.log)
[dp_worker.log](https://github.com/networkservicemesh/networkservicemesh/files/3022699/dp_worker.log)

[2019-03-29 12:56] haiodo commented on #886
Pool request with configuration are here: https://github.com/networkservicemesh/networkservicemesh/pull/867

[2019-03-29 13:05] edwarnicke commented on #886
Some quick things to check:

1.  I vaguely remember that 'show int addr' will show us L2 cross connect status.  Worth checking.
2. Try running a [trace](https://wiki.fd.io/view/VPP/Build,_install,_and_test_images#Step_5:_Start_a_packet_trace)... though in your case the interesting inputs are likely to be af-packet-input and vxlan-input rather than dpdk-input.  Also consider increasing the count of

[2019-03-29 14:17] milanlenco commented on #886
My guess is that this is the infamous checksum-invalid error on the VPP side. In Contiv we had this with both TAPs and VETHs and had to turn off checksum offloading on the pod-side of the VETH/TAP. Later they fixed it for the TAPs so that the offloading could have been re-enabled, but nobody cared about VETHs anymore...
Try turning off the offloading for the VETH in the destination container (i.e.

[2019-03-29 14:42] quangtamle commented on #621
Dear @matrohon @nickolaev

What is [nsm] (network service mesh I assume)(https://github.com/networkservicemesh/networkservicemesh/blob/master/k8s/conf/skydive.yaml#L45) probes in skydive.yaml and where is it defined??? Because I can not find nsm probes in the [skydive config file](https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L185).

Thank you in advances

[2019-03-29 15:46] matrohon commented on #621
@quangtamle the NSM section for skydive is provided by my patch, maintained in a dedicated for of skydive : https://github.com/Orange-OpenSource/skydive/tree/nsm

this is a dedicated [PR](https://github.com/skydive-project/skydive/pull/1636/files# ) to have skydive hosting the nsm probe, the work is still ongoing

[2019-03-29 16:02] quangtamle commented on #621
Dear @matrohon

Thank you so much for your information !!!

[2019-03-29 16:30] edwarnicke commented on #886
[Debugging GKE nodes](https://esc.sh/blog/debugging-gke-nodes/)

[2019-03-29 19:15] #847 closed

[2019-03-29 19:19] nickolaev commented on #812
@rdimitrov @iyovcheva are we closing this one?

[2019-03-30 04:08] haiodo commented on #886
Thanks @milanlenco, checked with checksum disabled, not helped, will continue digging.

[2019-03-30 09:30] rdimitrov commented on #812
@nickolaev Indeed, I'm closing it 👍

[2019-03-30 09:30] #812 closed

[2019-04-01 09:51] matrohon opened #890 "Dataplane containers can't start"
## Expected Behavior

dataplaine container running

## Current Behavior
dataplane container takes 3 to 5 restarts to be in "RUNNING" state or stay in "CrashLoopBackOff"

## Failure Information (for bugs)

## Steps to Reproduce

1. build the master code ( 84b315333ef3d7d94adc1a58786536a36bd42d33 )
2. deploy NSM in vagrant
3. reverting the patch 1a3ed3375433f0122f65543cb3c6758b8d43efd6 seems to fix

[2019-04-01 10:05] matrohon opened #891 "Kind deployments : crossconnect monitoring message are missing"
## Expected Behavior

when running the vpn-gateway scenario step by step, all crossconnect  monitoring messages should be received by the monitoring containers.

## Current Behavior

Only few of them are received.

## Steps to Reproduce

1. deploy with kind
2. deploy the vpn-gateway scenario step-by-step (
2.1 kubectl apply -f k8s/conf/secure-intranet-connectivity.yaml
2.2 kubectl apply -f k8s/con

[2019-04-01 10:29] #570 closed

[2019-04-01 10:29] #768 closed

[2019-04-01 10:43] haiodo commented on #886
What we have discovered today:
packets are seems to be dropped on source dataplance side:

In case of drops we have following:

[code]

[code]

And pod info:

[code]

So for tunnel we have following entry:

[code]

[2019-04-01 10:50] lobkovilya commented on #886
Vagrant cluster, veth mode, everything works fine:

Tunnel on master dataplane:
[code]

Fib on master dataplane:
[code]

Pods:
[code]

Entry for tunnel:
[code]

[2019-04-01 13:04] matrohon commented on #891
monitoring messages are correctly received in a "INITIAL_STATE_TRANSFER" message after recreating the crossconnect-monitoring deployment

[2019-04-01 13:30] edwarnicke commented on #886
@haiodo Some pointers into the vpp code for looking for hints (@artem-belov might also be helpful):

[vxlan4-encap node declaration](https://github.com/FDio/vpp/blob/master/src/vnet/vxlan/encap.c#L474)

[vxlan4-encap node definition](https://github.com/FDio/vpp/blob/master/src/vnet/vxlan/encap.c#L455)

which leads to [vxlan_encap_inline](https://github.com/FDio/vpp/blob/master/src/vnet/vxlan/encap

[2019-04-01 13:33] matrohon opened #892 "Runtime error when redploying nsmd"
## Steps to Reproduce

1. deploy nsm with "make k8s-infra-deploy"
2. redeploy it with the same command : sometime, nsmd is failing with the folowing panic error :

## Failure Logs

[code]

[2019-04-01 13:38] matrohon commented on #890
@haiodo removing the cpu limit constraints seem to mitigate/fix the issue, nsm-vppaggent-dataplane containers only need to restart 1 time for working.

[2019-04-01 13:39] edwarnicke commented on #886
OK... after a brief discussion with a colleague, I strongly suspect our issue is that the mgmt interface is scooping up the ip/subnet of the eth0... but not picking up the routes, and thus vpp has no routes on how to get to the other host.  If we fix that, I suspect things will work :)

[2019-04-01 13:52] edwarnicke commented on #886
If I am correct in my theory that its a missing route, you should be able to hand trial a solution using

```vppctl ip route```
( https://docs.fd.io/vpp/19.01/clicmd_src_vnet_ip.html#clicmd_ip_route )
to try setting the default route in vpp by hand to match the one in the underlying kernel ip space.

[2019-04-01 15:03] matrohon commented on #890
It is still happening, here are the logs of the nsm-vppagent-dataplane pod:

[code]

[2019-04-01 15:05] matrohon commented on #890
@haido I hope this will help understanding what is happening with the dataplane, but for now, I'll revert your patch 1a3ed3375433f0122f65543cb3c6758b8d43efd6

[2019-04-01 15:48] matrohon commented on #892
Additionally to the missing return statement that leads to a panic event, the root cause of the error is about nsmd looking for a ns named secure-intranet-connectivity that should have been delete with the previous "make k8s-vpn-delete" command.

[2019-04-02 09:57] matrohon opened #894 "vppagent-firewall-nse doesn't unregister after deletion"
## Expected Behavior

After deleting the deployment k8s/conf/vppagent-firewall-nse.yaml, it shouldn't be seen with

[code]

## Current Behavior

The endpoint is still listed as a valid endpoint in the registry

## Steps to Reproduce

1. kubectl apply -f k8s/conf/secure-intranet-connectivity.yaml
2. kubectl apply -f k8s/conf/vppagent-firewall-nse.yaml
3. kubectl describe networkserviceendpoints.net

[2019-04-02 13:43] quangtamle commented on #621
Dear @matrohon

Could you tell me why the agent topology [probes](https://github.com/networkservicemesh/networkservicemesh/blob/master/k8s/conf/skydive.yaml#L39) is docker but analyzer topology probes is [nsm](https://github.com/networkservicemesh/networkservicemesh/blob/master/k8s/conf/skydive.yaml#L45) ????

Thank you in advances

[2019-04-02 13:53] lobkovilya opened #895 "vpp-agent latency monotomically increasing for scale testing"
For testing purposes I created "greedy" nsc, that requests 50 connections.
First 45 connection established in ~300ms, but after that time of connection rapidly increases upto 7s and continue grows for the following requests.

[2019-04-02 15:04] matrohon commented on #621
@quangtamle in skydive, some probes are run by the agent while others are run by the analyzer. For nsm, we chose to run it in the analyzer, while the skydive team chose to run the docker probe in the agent.

[2019-04-02 15:09] matrohon commented on #894
it probably has to do with the way kubernetes/supervisord are terminated the firewall daemon, which doesn't receive the correct signal...

I can observe the same bug with the icmp-responder-nse endpoint from time to time.

To workaround the issue, I have to unregister endpoints manually with :

[code]

if the nsmgr restarts while some endpoints are not correctly unregistered, it fails as shown in

[2019-04-02 15:22] quangtamle commented on #621
Dear @matrohon

Thank you for your answer !!!
If I want to use VPP probes for the agent, is it possible ??? Because as far as I know, Skydive is not supported VPP probes, am I right ????

[2019-04-02 15:30] matrohon commented on #621
@quangtamle skydive [recently merged](https://github.com/skydive-project/skydive/commit/a793bf50089eb733576f3cf596ee242195f28108) the vpp probe so yes it is possible. I plan to use this probe to display VPP interfaces included in a nsm crossconnection. Don't hesitate to start the work if you want.

Also, pantheon guys [demonstrated](https://youtu.be/wl96kwRmS5I) an integration between skydive and

[2019-04-02 15:37] quangtamle commented on #621
Dear @matrohon

Thank you so much for your information !!!! This is so inspiring !!! I try it now

[2019-04-02 22:19] nickolaev commented on #894
That is a great finding @matrohon. Have to look closer at the signal handling and ensuring deregistration.

[2019-04-02 22:42] nickolaev commented on #895
It's funny you found that. I have seen this with the examples:
https://github.com/networkservicemesh/examples/blob/master/examples/proxy/proxy-nsc/cmd/nsc.go

It appears that eventually the connections never get deleted at the NSE side and the dataplane gets overloaded.

[2019-04-03 02:59] artem-belov opened #897 "SelectDataplane method doesn't have Selector argument"
## Expected Behavior

model.SelectDataplane should have argument with Selector to specify which Dataplane should be selected.
For example: return Dataplane with existing RemoteMechanisms

## Current Behavior

SelectDataplane always returns first entry of Dataplanes list.

## Failure Information (for bugs)

## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea...

## Context

* Kubernetes

[2019-04-03 04:03] artem-belov commented on #897
https://github.com/networkservicemesh/networkservicemesh/blob/650c3ac188a2513371e8a967a58d0a5d813c612e/controlplane/pkg/model/model.go#L324-L331

[2019-04-03 09:44] matrohon commented on #894
@nickolaev I tested a vppagent-firewall-nse with two containers:

- one running vpp and the vppagent, managed by supervisord
- one running the firewall-nse binary as an entrypoint

When I delete the deployment, then the firewall-nse correctly catch the signal and unregister the endpoint. So I think the issue comes from supervisord that not correctly forward the signal to the process it manages.

[2019-04-03 11:17] nickolaev commented on #894
@matrohon I have a theory. If you look closer at our `supervisord.conf` you will see this at the bottom:

[code]

The check out the priority order of the processes:
[code]

My thewory is that since our processes are with he lowest priority, they are queued by supervisord to send the TERM signal to them last. Can you try increasing the priority of our processes to 1, to be on par with VPP?

[2019-04-03 11:49] nickolaev commented on #690
Testted with networkservicemesh/examples, where this PR has been implemented.
Works as expected.

[2019-04-03 11:49] #690 closed

[2019-04-03 11:50] nickolaev commented on #757
@artem-belov @edwarnicke I'll close this one. Fill free to re-open if you think it is not solved.

[2019-04-03 11:50] #757 closed

[2019-04-03 11:51] nickolaev commented on #697
@haiodo is there still work going on here?

[2019-04-03 12:15] matrohon commented on #894
@nickolaev I gave it a try yesterday by giving priority 0 to vppagent-firewall-nse, but I'll try alternative configs and have a closer look at supervisord_kill.py

[2019-04-03 13:01] matrohon commented on #894
@nickolaev I think I've found the issue: supervisord is not the process 0 in the [base image](https://github.com/ligato/vpp-agent/blob/master/docker/dev/Dockerfile#L126), so supervisord doesn't receive kill signals from kubelet and can't forward them to the processes it manages.

[2019-04-03 14:10] lobkovilya opened #901 "fatal error: concurrent map iteration and map write"
## Current Behavior
NSC in cycle create Request, ensures that it is established and Close it. Once in more than 1000 cases `fatal error: concurrent map iteration and map write` happens on remote NSM

## Failure Information (for bugs)
[code]
Method `performNSERequest` call `Request` and receive `nseConnection` which is passed to `updateConnectionParameters` a bit later. According to logs `jaeger-cl

[2019-04-03 14:10] lobkovilya commented on #901
Fix in progress

[2019-04-03 15:18] #894 closed

[2019-04-03 15:46] #773 closed

[2019-04-03 15:50] haiodo commented on #697
Hi @nickolaev One case is still left,
Both NSMD and Dataplane are die, Client is alive.
Client Monitor enforces Request to heal connection.

But I suppose we could create separate issue for this case.

[2019-04-03 16:07] nickolaev commented on #697
@haiodo please create a new one and reference to this.

[2019-04-04 08:42] stanislav-chlebec commented on #809
@rdimitrov
After some time I returned to this issue.
1
I welcome that the NSM project upgraded to ligato/vpp-agent:latest (version 2)
2
I followed your modifications in previous comment.

I tried now to deploy minimal NSMgr + Dataplane deployment on my bare-metal two Cavium ThunderX servers. Here is more about how the servers are configured: https://github.com/contiv/vpp/blob/master/docs/arm64/MAN

[2019-04-04 13:47] edwarnicke commented on #318
Pointers on adding AWS to the Makefile machinery.

The Makefile machinery for NSM is designed to allow you to build/run NSM in different environments, including public cloud.  By default, its setup for local vagrant, but other environments may be selected by using three env variables:

1. CLUSTER_RULES_PREFIX -  selects which sets of rules to use to create/destroy/interact with the cluster.  Examp

[2019-04-04 16:20] #634 closed

[2019-04-04 22:20] #704 closed

[2019-04-05 12:07] lobkovilya opened #908 "Proposal for little improving of SDK"
## Overview
We have very cool SDK that allows to configure any type of NSC or NSEs. But definition of Composite NSE is hard to read and overall confusing:
[code]
But if `SetNext(next CompositeEndpoint)` will return `next` instead of `self` then definition of Composite NSE could be rewritten like:
[code]

[2019-04-05 12:11] lobkovilya commented on #908
@nickolaev what do you think about it?

[2019-04-05 13:17] edwarnicke commented on #908
@lobkovilya Ah... fluent style... :)

[2019-04-05 15:39] #775 closed

[2019-04-05 16:48] nickolaev commented on #908
@lobkovilya looks good but am not sure it will work exactly as you describe it. In any case, please submit a PR and we can discuss it there.

[2019-04-05 16:48] nickolaev commented on #901
Merged. Closing.

[2019-04-05 16:48] #901 closed

[2019-04-05 16:49] nickolaev commented on #890
Hmm that should be resolved already?

[2019-04-05 17:15] nickolaev opened #909 "Introducing VPP v2.0.0 make random firewall crashes in VPN tests"
## Expected Behavior

Let all tests pass safely.

## Current Behavior
Failure when running locally
[code]

These tests are disabled in the CI. Temporal solution.

## Failure Information (for bugs)

## Steps to Reproduce

1.  make vagran-start
2. source ./scripts/vagrant/env.sh
3. make k8s-integration-TestVPN*-test

See tests fail.
## Context

VPP 2.0.0

## Failure Logs

[code]

[2019-04-05 18:02] edwarnicke commented on #909
@artem-belov could you have a look?

[2019-04-05 18:47] nickolaev commented on #909
A link to a failing CI, before the VPN tests were disabled:
https://circleci.com/gh/networkservicemesh/networkservicemesh/23527

[2019-04-06 16:29] nickolaev commented on #884
Merged. Closing.

[2019-04-06 16:29] #884 closed

[2019-04-08 02:58] artem-belov commented on #909
Log contains
[code]
should be
`memif_plugin: clib_file_add fd 19 private_data 0 idx 8`

[2019-04-08 09:30] #807 closed

[2019-04-08 13:42] nickolaev commented on #853
Merged.

[2019-04-08 16:12] matrohon opened #919 "Crash in nsmd after restart"
## Expected Behavior

I've stopped nsmgr, and then stopped the crossconnect_monitor.
Then I recreated the nsmgr deployments.

## Current Behavior

nsmd crashed

## Failure Logs

[code]

[2019-04-08 16:52] edwarnicke commented on #886
@haiodo Is this fully resolved?

[2019-04-08 16:53] edwarnicke commented on #860
@artem-belov @lobkovilya Is this issue still occurring?

[2019-04-08 16:54] edwarnicke commented on #855
@haiodo Is this resolved or still outstanding?

[2019-04-08 16:55] edwarnicke commented on #850
@haiodo @stepan-anokhin Is this still and issue?

[2019-04-08 16:55] #849 closed

[2019-04-08 16:56] edwarnicke commented on #842
@lobkovilya Is this issue resolved?

[2019-04-08 16:57] edwarnicke commented on #841
@rdimitrov How are we doing getting this resolved?

[2019-04-08 16:57] edwarnicke commented on #840
@lobkovilya Has this been resolved?

[2019-04-08 16:58] edwarnicke commented on #839
@lobkovilya Has this issue been resolved?

[2019-04-08 16:59] edwarnicke commented on #838
@lobkovilya Is this issue resolved?

[2019-04-08 16:59] edwarnicke commented on #836
@haiodo What is the state of this issue?

[2019-04-08 17:00] edwarnicke commented on #831
@pulkitwalia How is this going?  Anything we can do to help? :)

[2019-04-08 17:01] edwarnicke commented on #815
@nerdengineering Do you want to preserve this against the merciless onslaught of stale-bot? :)

[2019-04-08 17:02] edwarnicke commented on #811
@stepan-anokhin Is this bug resolved?  If so, by which PR?

[2019-04-08 17:02] edwarnicke commented on #809
@stanislav-chlebec Did you ever get this into CI?

[2019-04-08 17:03] edwarnicke commented on #799
@lobkovilya Is this fixed?  If so, in what PR?

[2019-04-08 17:04] #767 closed

[2019-04-08 17:05] edwarnicke commented on #753
@haiodo Should this issue be closed?

[2019-04-08 17:06] lobkovilya commented on #799
Yes, it fixed in https://github.com/networkservicemesh/networkservicemesh/pull/805

[2019-04-08 17:06] edwarnicke commented on #738
@stepan-anokhin Is this issue completed?

[2019-04-08 17:08] edwarnicke commented on #697
@haiodo Do please create another one with reference to this.  Going to close :)

[2019-04-08 17:08] #697 closed

[2019-04-08 17:09] lobkovilya commented on #860
I believe it is not occurring (at least at packet.net), fixed by @artem-belov in https://github.com/networkservicemesh/networkservicemesh/pull/861

[2019-04-08 17:10] lobkovilya commented on #842
Yes, resolved in #860

[2019-04-08 17:11] #842 closed

[2019-04-08 17:11] #860 closed

[2019-04-08 17:11] #799 closed

[2019-04-08 17:12] lobkovilya commented on #840
Resolved partially, only for clusters that has `kubeadm-config`

[2019-04-08 17:13] edwarnicke commented on #840
@lobkovilya Are we doing anything for non kubeadm-config clusters?  At least for PodCDIRs?

[2019-04-08 17:17] lobkovilya commented on #840
Sorry, mistake:  https://github.com/networkservicemesh/networkservicemesh/issues/839 - resolved partially, but this one is fully resolved.

Now we don't do anything, but I will add harvesting PodCIDR from nodes as part of the work on #839

[2019-04-08 17:18] lobkovilya commented on #839
No, need to add harvesting from nodes for non kubeadm-config clusters

[2019-04-08 17:22] lobkovilya commented on #838
#839 and #841 need to be finished

[2019-04-08 17:29] haiodo commented on #855
@edwarnicke  this is resolved.

[2019-04-08 17:29] #855 closed

[2019-04-08 17:30] haiodo commented on #886
@edwarnicke all is fine now.

[2019-04-08 17:30] #886 closed

[2019-04-08 23:45] edwarnicke opened #920 "Testing NSM with IPv6 payloads"
## Overview

NSM is architecturally designed to carry payloads including IPv6.  Currently, we do not have testing of that.  Please add icmp and vpn test cases using Ipv6 payloads.

[2019-04-08 23:47] edwarnicke opened #921 "Testing NSM on IPv6 K8s cluster"
## Overview

NSM should work fine over IPv6 underlays from K8s IPv6 clusters.  K8s can either be configured as IPv4 or IPv6.  We currently testing on K8s clusters in Packet.net that are IPv4.  We want to also make sure to test on K8s clusters that are IPv6.

[2019-04-08 23:49] edwarnicke opened #922 "Testing NSM helm charts on all envs"
## Overview

NSM has helm charts for icmp and vpn in deployments/helm/

Let's make sure we test those helm charts in Packet, GKE, EKS, AKS to make sure they work and keep working out of the box.

[2019-04-09 03:25] pulkitwalia commented on #831
@edwarnicke I may need some help from you and the community in this, can we sync up to take this forward? Kindly let me know if we can discuss about this.

[2019-04-09 06:30] stepan-anokhin commented on #850
@edwarnicke I'll need to check if this is still reproducible on vpp-agent 2.0
Some of the problems are definitely resolved.

[2019-04-09 06:31] stepan-anokhin commented on #811
@edwarnicke it's still pending. I hadn't had a chance to take a look yet.

[2019-04-09 06:33] stepan-anokhin commented on #753
@edwarnicke I need to test #780 on vpp-agent 2.0

[2019-04-09 10:11] rdimitrov commented on #841
@edwarnicke It's WIP as it turned out that the IP allocation algorithm needs to be updated as well.

[2019-04-09 12:04] nickolaev commented on #921
So here are two things:
1. K8s API run on IPv6. That is relatively easy as Packet already gives use IPv6 addresses in the nodes and it's a matter of telling kubeadm to deploy master with that address. What this will test is if nsmd-k8s can talk to the API server over IPv6.

2. CNI plugin run over IPv6. That one is actually tricky, as we use weavenet which does not talk IPv6 today. Looking at what

[2019-04-09 13:10] denis-tingajkin opened #926 "Memif file socket descriptor is using on memif proxy closing"
## Expected Behavior

Memif file socket exists and the file descriptor is closed after memif proxy closed.

## Current Behavior

Memif file socket exists and the file descriptor is opened after memif proxy closed.

## Failure Information (for bugs)
listen unixpacket /var/lib/networkservicemesh/nsm-2/if1/memif.sock: bind: address already in use
## Steps to Reproduce

Case 1:
1. go to test bench_mem

[2019-04-09 13:26] matrohon opened #927 "NSM entry not removed from registry after nsmgr deletion"
## Expected Behavior

after running

[code]

the network service manager should not be seen with:

[code]

## Current Behavior

currently, deleting the nsmgr pod doesn't remove the entry from the registry

[2019-04-09 15:23] quangtamle commented on #621
Hi everyone,

I have some questions related to the NSM:

1/ About secure-intra-connection case, after establish a cross-connect to VPN gateway pod (NSE) then what happend next ??? because in the point of view of Sarah, she would like to have a secure connection to other pods, not to VPN gateway pod. May you explain a little bit to me in this case ???

2/ Beside a label to say this pod a FW or VPN

[2019-04-09 15:42] quangtamle commented on #621
Dear @edwarnicke , @nickolaev @matrohon

I have some questions related to the NSM:

1/ About secure-intra-connection case, after establish a cross-connect to VPN gateway pod (NSE) then what happend next ??? because in the point of view of Sarah, she would like to have a secure connection to other pods, not to VPN gateway pod. May you explain a little bit to me in this case ???

2/ Beside a label t

[2019-04-09 15:48] matrohon opened #928 "NSMgr: manage loop crashes and node decomissioning"
Currently in NSM, nothing is specified about how to manage a loop crash of nsmd :
- do we unregister endpoints?
- do we recreate crossconnects of the client?
- do we attach datapath/endpoint containers to a alternative nsmgr?

The same kind of question may raise for a k8s node decommissioning, except clients located on that node will be restarted on a node with a nsmgr alive.

In case of a single

[2019-04-09 16:01] nickolaev commented on #927
That was discussed in #767. I think there are the ideas.

[2019-04-09 18:27] nerdengineering commented on #815
Yes, I'm sorry for the delay on this, just a lot of other stuff going on. I'll begin work on this once I tie up a few other things with Frederick.

[2019-04-09 18:39] edwarnicke commented on #815
@nerdengineering All good, just didn't want stale-bot reaping it :)

[2019-04-09 18:46] edwarnicke commented on #928
I would suggest the first question is: how do we detect a crash loop?

[2019-04-09 18:51] nickolaev commented on #908
Merged. Closing.

[2019-04-09 18:51] #908 closed

[2019-04-10 05:12] #840 closed

[2019-04-10 14:40] quangtamle commented on #621
Dear @matrohon ,

As far as I know, the analyzer collects the data from the agents. So if the analyzer has its own probes to collect data by itself, is it duplicated with the agent (suppose they use the same probe) ????

Thank you in advances

[2019-04-10 19:01] denis-tingajkin opened #933 "Strange ping result on first pinging memif interface"
## Expected Behavior

The console hasn't strange output on basic_memif_test running

## Current Behavior

You could see 'Failed: no egress interface' on the first endpoint pinging.

## Failure Information (for bugs)

Failed: no egress interface

## Steps to Reproduce

1. Go to basic_memif_test
2. Add log for a ping response in the test(or you can run from the branch https://github.com/networkservi

[2019-04-10 19:27] lobkovilya commented on #841
We need more carefully choose prefix that will be split. Candidates could be categorized in three types:
1. Without any intersection with `excludePrefixes`
2. Have some excluded prefixes as a part
3. Fully contained in one of `excludePrefixes`

I suppose Type1 is most preferable for splitting. Type2 is the second priority and Type3 is immediately discarded. In case of absent of Type1 we dial with

[2019-04-11 01:27] artem-belov commented on #909
For some reason when vpp is trying to unlink first small chunk, one of the links is broken. mchunkptr->bk links are looped, list includes 2 items. But one of mchunkptr->fd goes to 0x7efd00d1e0b8 when it should be 0x7efc00d1e0b8.

Full backtrace:
[code]

[Full core dump](https://drive.google.com/file/d/1fOsRBGc0zOcKoKmSMAruoku6L_AgrOLA)

[2019-04-11 07:22] matrohon commented on #621
@quangtamle each agent is sending the data it coliects to the analyzer which can perform deduplication to avoid identical entries in the graph.

[2019-04-11 08:51] quangtamle commented on #621
Hi @matrohon

Thank you so much !!!

[2019-04-11 13:24] caniszczyk opened #936 "Add MAINTAINERS file"
list maintainers + emails

[2019-04-11 13:25] caniszczyk opened #937 "Add FOSSA"
Add FOSSA https://fossa.io

CNCF has a deal so just set it up and we will be good to go.

[2019-04-11 13:25] caniszczyk opened #938 "Add CII Best Practices Badge"
Get a CII Badge

https://bestpractices.coreinfrastructure.org/en

[2019-04-11 14:04] caniszczyk opened #939 "Enable DCO checks"
https://github.com/probot/dco

[2019-04-11 15:47] rdimitrov commented on #841
@lobkovilya Impressive! 💯

I've noticed, though, that the focus of the issue has slightly shifted from verifying the allocated IPs to redesigning the IPAM algorithm.

In that sense, I'm thinking if it makes sense to basically exclude all the `excludedPrefix` entries from the available `impl.prefixes` pool before doing the IPAM in the Request() handler, for ex. -
[code]

Perhaps, it'd be less prone

[2019-04-11 17:06] denis-tingajkin commented on #933
today I've investigated this issue.
**Failed: no egress interface** returned each time if memif interface is not initialized.
And from logs seems that's OK behavior. Because we pinging the interface which is not initialized yet.
Looks like this defect can be closed

[2019-04-11 17:41] nickolaev commented on #926
Fix merged. Closing.

[2019-04-11 17:41] #926 closed

[2019-04-11 17:53] nickolaev commented on #933
Do you think the test can be updated to make reflect better the situation. Like force interface initialisation?

[2019-04-12 04:15] lobkovilya commented on #841
@rdimitrov that's good idea! And it sounds much easier to implement :)
But just make sure that you are doing prefix exclude on the copy of `prefixPool`, since excludePrefixes are vary from request to request

[2019-04-12 08:19] nickolaev commented on #939
We have this one enabled.

[2019-04-12 08:28] nickolaev commented on #936
OWNERS.md added  for both the main repo and the site:

https://github.com/networkservicemesh/networkservicemesh/blob/master/OWNERS.md
https://github.com/networkservicemesh/site/blob/master/OWNERS.md

[2019-04-12 08:49] quangtamle commented on #621
Hi @matrohon

I try to use neo4j instead of orientdb but it didnt work. Is it supported by skydive????

Thank you in advances

[2019-04-12 09:15] artem-belov commented on #909
Changing `#define FOOTERS 0` to `#define FOOTERS 1` fixing the problem.

[2019-04-12 12:48] nickolaev commented on #909
@artem-belov OK is there going to be a new VPP release to accomodate that change?

[2019-04-12 13:24] #939 closed

[2019-04-12 13:41] nickolaev commented on #938
I and @rdimitrov are taking over the self-certification process for the [Core Infrastructure Initiative Best Practices Badge](https://github.com/coreinfrastructure/best-practices-badge/blob/master/README.md). We'll use this as a master issue and spawn subissues to further track needed work refering back to this one.

At the beginning we would like to cover the basic "passing" criteria, as follows:

[2019-04-12 14:03] edwarnicke commented on #937
@caniszczyk Both @nickolaev and I have tried... but we both got gummed up in the works with 'organization' ... do you have a pointer to a simple way to get unstuck there?  I think fossa is enabled for NSM... but I don't see it in Github apps.

[2019-04-12 14:07] haiodo opened #945 "TestNSEHealLocal is failed on GKE"
## Expected Behavior

TestNSEHealLocal is failed with GKE with error related to could not find some Link.

## Current Behavior

## Failure Information (for bugs)

## Steps to Reproduce

Run test on GKE.

## Context

* Kubernetes Version: 1.11.7

## Failure Logs

[gke_failure.txt](https://github.com/networkservicemesh/networkservicemesh/files/3073612/gke_failure.txt)

[2019-04-12 14:49] edwarnicke commented on #937
@caniszczyk I tentatively think we figured it out :)

[2019-04-12 18:09] haiodo commented on #945
Created issue to vpp-agent: https://github.com/ligato/vpp-agent/issues/1285

[2019-04-12 18:48] edwarnicke commented on #909
@artem-belov I got some interesting new information from @barach

VPP defaults to a heap size of 1G.  I suspect we have the cgroup memory limits tweaked down to a smaller value than that.  You can fix that by setting:

[heapsize { ... }](https://wiki.fd.io/view/VPP/Command-line_Arguments#heapsize_.7B_..._.7D)

in the [startup.conf](https://github.com/networkservicemesh/networkservicemesh/blob/mast

[2019-04-15 06:21] dependabot[bot] opened #950 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-04-15 08:40] nickolaev commented on #909
OK I changed the heapsize to 256M and as a result I got this NSMD crash:

[code]

[2019-04-15 10:34] artem-belov commented on #909
@edwarnicke Changing main heap size didn't help me either.

Considering this log I think the fault is related to vpp-agent notification:
[code]
Some vpp method corrupting memory after receiving notification. I assume it is clib_file_add method. I'm working on it.

[2019-04-16 06:20] #950 closed

[2019-04-16 06:55] nickolaev commented on #937
We have FOSSA fully integrated now. The badge in the main repo shows the active license status `passing`.

[2019-04-16 06:57] nickolaev commented on #909
This one is becoming critical now, as we have VPN tests disables for about 2 weeks.

[2019-04-16 07:15] rdimitrov commented on #841
@edwarnicke We can close this one as #888 got merged 👍

[2019-04-16 07:35] Bolodya1997 commented on #836
Currently working on this

[2019-04-16 07:57] nickolaev commented on #841
@rdimitrov I will close this one, but please consider fixing the predictability of the unit tests.

[2019-04-16 07:57] #841 closed

[2019-04-16 10:22] nickolaev commented on #922
@bartsmykla Can you please check this one.

[2019-04-16 10:23] bartsmykla commented on #922
@nickolaev sure, I'm on it! :-)

[2019-04-16 10:30] ivanayov commented on #922
@bartsmykla I have something done already, now testing

[2019-04-16 10:57] ivanayov commented on #922
@bartsmykla this is the branch: [helm-test-coverage](https://github.com/ivanayov/networkservicemesh/tree/helm-test-coverage)

[2019-04-16 13:16] #937 closed

[2019-04-16 13:16] #936 closed

[2019-04-16 13:55] stepan-anokhin opened #961 "Fix and Enable TestNSMHealRemoteDieNSMD on Azure and GKE"
We need to fix and enable `TestNSMHealRemoteDieNSMD` and `TestNSMHealRemoteDieNSMD_NSE` tests on Azure and Google Cloud.

Probably checking this tests with vpp-agent 2.0.1 would be good idea.

## Expected Behavior

Healing tests `TestNSMHealRemoteDieNSMD` and `TestNSMHealRemoteDieNSMD_NSE` should always pass on Azure and GKE

## Current Behavior

`TestNSMHealRemoteDieNSMD` and `TestNSMHealRemoteDi

[2019-04-16 13:57] edwarnicke commented on #909
@milanlenco @VladoLavor @rastislavszabo Any ideas here?  Have you seen something like this before?

[2019-04-16 14:31] #753 closed

[2019-04-16 14:31] edwarnicke commented on #919
@matrohon Has this been fixed?

[2019-04-16 15:27] haiodo commented on #945
Need to upgrade to vpp-agent v2.0.1, it fixes issue in GKE. Need to verify with Azure and check if this helps.

[2019-04-16 15:44] edwarnicke commented on #921
@nickolaev I would say both... since we are pretty agnostic about CNI plugins... switching from weave to calico for IPv6 is fine.  In fact, it would improve the number of CNIs we are testing over :)

[2019-04-17 07:58] ivanayov commented on #922
@bartsmykla you can make use of #964

[2019-04-17 11:48] milanlenco commented on #909
Isn't this the source of the issue:
[code]
 In one of your previously provided logs I found this instead:
[code]

What version of Kubernetes are you running against? Haven't you moved to v1.14 by any chance?

[2019-04-17 11:54] nickolaev commented on #909
@milanlenco it's 1.14.1

[2019-04-17 12:25] milanlenco commented on #909
This is what we do in Contiv for the container with VPP to enable hugepages: https://github.com/contiv/vpp/blob/master/docs/setup/MANUAL_INSTALL.md#hugepages-kubernetes-110-and-above
Note that (a) no longer works in 1.14.1, instead hugepages need to be explicitly allocated as per (b).
More info here: https://kubernetes.io/docs/tasks/manage-hugepages/scheduling-hugepages/

[2019-04-17 12:36] milanlenco commented on #909
OK, nevermind, you don't seem to be using dpdk, so the hugepages should not be needed:
[code]
The issue must be something else...

[2019-04-17 16:25] lixuna opened #968 "List CNCF sandbox status prominently on website and readme"
## Overview

Sandbox Entry Requirements include:

- [x] List CNCF sandbox status prominently on website
- [ ] List CNCF sandbox status prominently on readme

## Link to the Google Docs document

- n/a

## References

- https://github.com/cncf/toc/blob/master/process/sandbox.md#sandbox-entry-requirements

[2019-04-18 05:02] lobkovilya commented on #895
Error happens in vpp-agent, when it tries to add ~45 ARP entries:
[code]
Such amount of ARP entries comes from IPAM endpoint, which adds all IpNeighbors to Connection. Probably we should remove this logic from SDK.

*Note:* I removed this logic locally and 50 connections are easily created

[2019-04-18 05:30] haiodo commented on #945
Fixed by 2.0.1

[2019-04-18 05:30] #945 closed

[2019-04-18 05:55] #933 closed

[2019-04-18 07:42] nickolaev commented on #938
The project was added to CII best practices:
https://bestpractices.coreinfrastructure.org/en/projects/2725

[2019-04-18 08:11] artem-belov commented on #909
Fixed.
Created pull request for this issue https://gerrit.fd.io/r/#/c/19004/
Link to clib_file_t was showing on already freed memory chunk after file pool reallocation. Changing property by this link was corrupting link in the freed chunk and cause SIGSEGV

[2019-04-18 08:37] nickolaev commented on #909
OK so is this going into 2.0.2 or 2.1?

[2019-04-18 15:23] edwarnicke commented on #909
@artem-belov https://gerrit.fd.io/r/#/c/19004/ is merged.  https://gerrit.fd.io/r/#/c/19045/ is a cherry-pick of your fix to the stable/1904 branch for the upcoming stable/1904 release.

@ondrej-fabry Could we get a respin of vpp-agent with the fix?

[2019-04-18 15:33] edwarnicke commented on #909
@artem-belov Could you have a look at Dave Wallace's comment on https://gerrit.fd.io/r/#/c/19004/ ?

[2019-04-18 15:53] artem-belov commented on #909
@edwarnicke Sure

[2019-04-18 18:57] ivanayov opened #973 "Support nsm namespace for Azure, GKE and packet deployments"
This should be a follow up of #770 and required for closing #754

The CI for Azure, GKE and packet deployments was failing with
[code]

This might be an RBAC issue.

Fixing is important, as the infra deployment now operates in `nsm-system` namespace, which will fail to be created for those environments.

As a temporary solution `NSM_NAMESPACE` can be set empty of `"default"` for Azure and GKE.

[2019-04-19 09:13] matrohon opened #978 "nsmd crashes when playing with the vpn scenario"
## Current Behavior

After restarting nsmgr, nsmd is crashing and stays in CrashLoop state

## Failure Information (for bugs)

I was playing with restarts of vpn scenario components, crossconnect-monitor and nsmgr, and I had this trace which I cannot reproduce for now.

## Failure Logs

[code]

[2019-04-19 10:01] haiodo commented on #961
@nickolaev could you please assign this issue to me, I've found scenario then this happening also in vagrant.

[2019-04-19 13:56] edwarnicke commented on #895
@lobkovilya Could we get this reported to the vpp-agent guys as a bug?   Its a really really good catch that this seems to be the root of the problem... but vpp-agent shouldn't be having this issue.

[2019-04-19 21:21] #754 closed

[2019-04-20 07:35] nickolaev commented on #708
Reopening this one as we need to update the `docs/spec` with the draft doc here.

[2019-04-20 07:37] nickolaev commented on #978
So we have `VPP 2.0.2` integrated now. That should be fixed. Please retest with `master`.

[2019-04-22 01:03] artem-belov commented on #909
@edwarnicke Dave fixed it by himself in https://gerrit.fd.io/r/#/c/19051/

[2019-04-22 07:50] nickolaev commented on #909
OK so everything here seems fixed. Closing. Please reopen if needed.

[2019-04-22 07:50] #909 closed

[2019-04-22 10:07] haiodo commented on #897
@artem-belov Please close.

[2019-04-22 10:49] #897 closed

[2019-04-22 17:58] edwarnicke commented on #927
@ivanayov Some nuance here.  If a NSMgr restarts, we don't want to remove it's record.  It's not clear how to detect the difference between  deletion vs a restart or upgrade.

Additionally, there may be NSE records associated with that NSMgr that need to be cleaned up correctly.

One way we considered was possibly using the lastseen field in the NetworkServiceManager CRD...  the original idea was

[2019-04-23 08:30] Napoleon0621 opened #990 "A little Typo"
https://github.com/networkservicemesh/networkservicemesh/blob/3ece13683fd36f2db60c4671a62251e7a4b86486/examples/cmd/vppagent-nsc/nsc.go#L65

[2019-04-23 08:53] nickolaev commented on #990
:) can you propose a PR, it's worth it although small.

[2019-04-23 09:57] denis-tingajkin opened #991 "'Failed to create or update nsm' error in log on deploying infra"
## Expected Behavior

No errors in the nsmd log of nsmgr on `make k8s-infra-deploy`

## Current Behavior

**Sometimes** 'Failed to create or update nsm' error' in log of nsmgr on `make k8s-infra-deploy`

## Steps to Reproduce

1.  `make k8s-infra-deploy`
2.  `kubectl logs nsmgr -c nsmd-k8s  -n nsm-system`

## Context

* Kubernetes Version:
* etc.

## Failure Logs
[code]

[2019-04-23 09:57] denis-tingajkin commented on #991
In progress

[2019-04-23 13:33] nickolaev commented on #890
CLosing this one as there is no clear evidence it persists.

[2019-04-23 13:33] #890 closed

[2019-04-23 13:51] nickolaev commented on #919
Can that be related to #927?

[2019-04-23 14:03] #317 closed

[2019-04-23 14:15] #850 closed

[2019-04-23 15:55] ivanayov commented on #927
We can use K8s Garbage collection ([1], [2], [3]) , i.e. add `ownerReferences`
There are 3 kinds of policies: `foreground` - owner cannot be deleted before any other object it owns, `background` - once owner is deleted, all owned objects are deleted, `orphan` - owned objects are left orphaned, removing the reference to the owner.
I’m checking how it can be configured together with liveness and rea

[2019-04-24 11:22] artem-belov commented on #318
Remote tests are all failed.
Routes on pods looks weird
NSC interfaces and routes:
[code]
nsmd-dataplane interfaces and routes:
[code]
nsmd-dataplane vpp configuration
[code]
Vpp Trace is empty after ping command from nsc

[2019-04-24 11:33] edwarnicke commented on #318
Could you get me
``` ip neigh```
on the nsmd-dataplane Pod?

[2019-04-24 11:36] artem-belov commented on #318
[code]

[2019-04-24 11:44] edwarnicke commented on #318
@artem-belov OK... here's what's happening in AWS:

They are assigning a /32 to their eth0.
They are setting up a default route to a link local IP address 169.254.1.1
They are pinning up a permanent neighbor entry for that link local address.

My guess is that if you look at our routing code for mgmt interfaces, its not handling this approach.

My guess is that the reason why is because we aren't

[2019-04-24 11:45] lobkovilya commented on #895
Linux has limitation on the size of arp table, it could be increased by adding the following lines to `/etc/sysctl.conf`:
[code]

[2019-04-24 11:48] edwarnicke commented on #895
@lobkovilya Have you checked to see if raising the arp table limit avoids the issue?

How many arp entries are we creating in the SDK?  Do we need any of them, or can we allow normal arp behavior?

[2019-04-24 11:50] edwarnicke commented on #895
@lobkovilya Another question... is the arp table limit global, or per network namespace?

[2019-04-24 11:54] lobkovilya commented on #895
Yes, I have checked it with updated limit value and everything works fine.

Ipam Endpoint sets Neighbors to Request.Context, so 45th request will get at least 44 neighbor. I set limit global on the node. But I can check, probably there are possibility to set it per namespace

[2019-04-24 11:55] lobkovilya commented on #895
And I'm not sure that we should set all neighbors that NSE has

[2019-04-24 12:01] edwarnicke commented on #895
@lobkovilya I suspect in our current use case setting the neighbors isn't really needed, its more to make sure it works.  I'm curious how far we can scale (past 50? ;) ) with your fix to not set ip neighbors.

[2019-04-24 12:02] lobkovilya commented on #895
Ok, I'll check it :)

[2019-04-24 12:17] nickolaev commented on #895
... and then document it :)

[2019-04-24 13:25] nickolaev commented on #839
#957 merged

[2019-04-24 13:25] #839 closed

[2019-04-24 14:55] #838 closed

[2019-04-25 04:36] lobkovilya opened #999 "Integration tests: failed to create role"
## Expected Behavior
Roles should be successfully created

## Current Behavior
Error in logs:
[code]

## Steps to Reproduce
Interrupt test with SIGINT and rerun it

## Possible fix 1
Extend function `k8s.PrepareDefault()` in order to delete roles before test.

## Possible fix 2
Method `CreateRoles` may handle _AlreadyExist_ error and call `Update`

[2019-04-26 04:55] lobkovilya commented on #895
![image](https://user-images.githubusercontent.com/12110261/56783903-29205780-6818-11e9-914a-a8fa2dc97bfe.png)

*Horizontal axis:* request number
*Мertical axis:* time in ms

*Yellow line:* the whole time being spent on establishing connection
*Blue and green:* time of work worker's and master's dataplanes respectively
*Red line:* time of NSE respond

[2019-04-26 09:40] bartsmykla opened #1007 "[Bug] Nil pointer dereference related to excludedPrefixes"
## Expected Behavior
Not crashing :-)

## Current Behavior
`nsmgr/nsmd` crashing after installation of example (ie. `imcp-responder`)

## Failure Information (for bugs)

## Steps to Reproduce

1. Installing nsm using helm:
[code]
2. Installing `icmp-responder` example via helm:
[code]
3. Crash inside network service mesh manager, container: `nsmd` (nil pointer dereference panic)

## Context

* Kub

[2019-04-26 10:50] nickolaev commented on #1007
#1008 merged. Closing.

[2019-04-26 10:50] #1007 closed

[2019-04-28 16:53] edwarnicke opened #1011 "Link docs in networkservicemesh/ site/ repos"
## Overview

Currently the networkservicemesh.io [site](https://github.com/networkservicemesh/site) has [docs](https://github.com/networkservicemesh/site/tree/master/content/docs).  The [networkservicemesh repo](https://github.com/networkservicemesh/networkservicemesh) also has [docs](https://github.com/networkservicemesh/networkservicemesh/tree/master/docs) which tends to be kept up better.

We n

[2019-04-29 06:58] denis-tingajkin commented on #811
In progress

[2019-04-29 09:40] lobkovilya commented on #895
dev-vpp-agent, vpp 19.04:
![image](https://user-images.githubusercontent.com/12110261/56888108-76612b00-6a9d-11e9-8d77-c5c7b5f5c283.png)

[2019-04-29 12:30] edwarnicke commented on #895
@ondrej-fabry looks like we are not seeing improvement with the dev-vpp-agent, vpp 19.04.

Could you have a look?  What kind of info could we collect to help debug?

[2019-04-29 13:26] ondrej-fabry commented on #895
Please try retrieving statistics from [govppmux](https://github.com/ligato/vpp-agent/blob/dev/plugins/govppmux/stats.go#L34) and [kvshceduler](https://github.com/ligato/vpp-agent/blob/dev/plugins/kvscheduler/stats.go#L51). This should provide some durations for how much binary API calls take and how much KVScheduler transactions take.

[2019-04-29 15:07] haiodo opened #1020 "TestNSCDiesSingleNode test failed sometimes."
## Expected Behavior

Test should pass always.

## Current Behavior

Test is failing some times.

## Failure Information (for bugs)

## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea...

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[TestNSCDiesSingleNode.txt](https://github.com/networkservicemesh/networkservicemesh/files/3127982/TestNSCDiesSingleNode.txt)

[2019-04-29 15:42] haiodo commented on #961
Fixedin https://github.com/networkservicemesh/networkservicemesh/pull/989

[2019-04-29 19:03] denis-tingajkin commented on #1020
I can start looking at this issue if you don't mind

[2019-04-30 05:43] #961 closed

[2019-04-30 07:00] matrohon commented on #927
this issue is related to #928

[2019-04-30 08:21] Bolodya1997 opened #1024 "nsm-admission-webhook is not getting cleaned up on TestNSCAndICMPWebhookLocal restart"
## Expected Behavior
1. **nsm-admission-webhook** deployment is being removed from cluster on `TestNSCAndICMPWebhookLocal` restart.
2. Test successes.

## Current Behavior
1. **nsm-admission-webhook** deployment stays on cluster after `TestNSCAndICMPWebhookLocal` restart.
2. Test fails.

## Failure Information (for bugs)

## Steps to Reproduce

1. Start `TestNSCAndICMPWebhookLocal` test.
2. Kill i

[2019-04-30 09:38] edwarnicke commented on #895
@ondrej-fabry How do we do that?

[2019-04-30 09:43] ondrej-fabry commented on #895
Are you using vanilla agent?
- `curl http://agent-ip:9191/scheduler/stats`
- `curl http://agent-ip:9191/vpp/binapitrace`
Otherwise use `GetStats()` directly:
- https://godoc.org/github.com/ligato/vpp-agent/plugins/kvscheduler#GetStats
- https://godoc.org/github.com/ligato/vpp-agent/plugins/govppmux#GetStats

[2019-04-30 09:50] #991 closed

[2019-04-30 16:00] haiodo opened #1029 "TestSimpleMetrics is failed"
## Expected Behavior

TestSimpleMetrics should pass

## Current Behavior

TestSimpleMetrics is failing.

## Failure Information (for bugs)

## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea...

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[2019-05-03 16:22] rdimitrov commented on #920
Wanted to share an update about the current status 👍

After enabling the use case testing with IPv6 in #962, faced an issue where the IPv6 support is disabled inside both the client and NSE containers.
This causes a failure when the dataplane starts to inject the interfaces due to a "permission denied" error. There's a similar issue explaining what happens in detail - https://github.com/containern

[2019-05-03 16:46] edwarnicke commented on #920
@ondrej-fabry  Could you have a look at  ligato/vpp-agent#1308 ?  Would be good to get a fix sooner rather than later :)

[2019-05-04 03:10] haiodo opened #1037 "TestSingleCrossConnect test could fail"
## Expected Behavior

TestSingleCrossConnect should pass

## Current Behavior

It could fail.

## Failure Information (for bugs)

## Steps to Reproduce

Reproducible on CI.

## Context

## Failure Logs

[code]

[2019-05-06 04:58] ondrej-fabry commented on #920
@edwarnicke lookin at it :) will ping you when ready

[2019-05-06 07:57] lobkovilya commented on #895
I hope I did it right :)
[vppbinapitrace.txt](https://github.com/networkservicemesh/networkservicemesh/files/3146949/vppbinapitrace.txt)
[schedulerstats.txt](https://github.com/networkservicemesh/networkservicemesh/files/3146954/schedulerstats.txt)

[2019-05-06 07:59] ondrej-fabry commented on #895
@lobkovilya from that output you can see that VPP took `1m57.01596s` out of total time.

[2019-05-06 08:09] ondrej-fabry commented on #895
It seems these VPP binapi messages degrade a lot with number of interfaces:

[code]

Notice the min/max difference.

[2019-05-06 08:12] lobkovilya commented on #895
If you mean total time of experiment it's about 6m according to logs.

Seems like I need to get stat from vpp?

[2019-05-06 08:14] ondrej-fabry commented on #895
Not sure what you mean by "get stat from vpp". Could you please try updating vpp-agent to latest dev? There were some optimizations and improved stats for kvscheduler that show similar stats for all transactions.

[2019-05-06 09:48] lobkovilya commented on #895
I'm sorry I misinformed you about measuring time with vpp 19.04 here https://github.com/networkservicemesh/networkservicemesh/issues/895#issuecomment-487517653. It still was 19.01, I incorrectly changed image.

Now I did everything correctly and I got the following error after 15th request:
[code]

And all next transactions are finished with:
[code]

[2019-05-06 11:05] denis-tingajkin opened #1042 "TestVPNLocal is failed sometimes"
## Expected Behavior

Test is stable

## Current Behavior
Test is unstable

## Failure Information (for bugs)

## Steps to Reproduce

Run `TestVPNLocal` several times

## Context

* Kubernetes Version:
* etc.

## Failure Logs
[code]

[2019-05-06 11:22] denis-tingajkin commented on #1042
Oops! I looked at another pull request (is not mine).
Actually, this problem reproduced by @Bolodya1997

[2019-05-06 11:45] One-ders opened #1043 "Helm charts templates not updated to use nsm-system namespace"
## Expected Behavior

helm install nsm, should install nsm

## Current Behavior

Pods dont start, logs shows typical:
v1.NetworkServiceEndpoint: networkserviceendpoints.networkservicemesh.io is forbidden: User "system:serviceaccount:default:default" cannot list resource "networkserviceendpoints" in API group "networkservicemesh.io"

## Failure Information (for bugs)

upgrade to the latest master:

[2019-05-06 12:08] denis-tingajkin opened #1044 "Golint output is ignored"
## Expected Behavior

golint output is not ignored by CI
## Current Behavior
golint output is ignored by CI

## Steps to Reproduce

1. Go to the `sanity-check` job on `Circleci`
2. Open`golint` section

## Context

* Kubernetes Version:
* etc.

## Failure Logs
[code]

[2019-05-06 12:18] nickolaev commented on #1043
@bartsmykla are you reproducing this?

[2019-05-06 12:25] nickolaev commented on #1044
We have deliberately disabled the go lint failures while keeping it here to remind us of the tech debt we have. @rdimitrov was also checking `gosec` which now supports go modules and can be safely added to help us improve our code quality (and CII Badge coverage).

[2019-05-06 12:28] denis-tingajkin commented on #1044
@nickolaev Can I fix these issues and enable golint output?

[2019-05-06 12:32] ondrej-fabry commented on #895
@lobkovilya Could you please upload entire log somewhere?

[2019-05-07 04:47] artem-belov opened #1046 "icmp-responder-nse-1 fails with UnexpectedAdmissionError"
## Expected Behavior
icmp-responder-nse-1 restarts on UnexpectedAdmissionError

## Current Behavior
icmp-responder-nse-1 pod fails with UnexpectedAdmissionError

## Failure Information (for bugs)
[code]

## Steps to Reproduce

1. Break nsmdp Allocate function with return or os.Exit
2. Start nsmgr
3. Start icmp-responder-nse-1

## Context

* Kubernetes Version: v1.14.1

[2019-05-07 04:48] artem-belov commented on #1046
Issue in kubernetes tracker: https://github.com/kubernetes/kubernetes/issues/70010

[2019-05-07 05:04] lobkovilya commented on #895
Seems like troubles started at line 2521.
[logsDpWorker.txt](https://github.com/networkservicemesh/networkservicemesh/files/3150866/logsDpWorker.txt)

[2019-05-07 05:20] ondrej-fabry commented on #895
Please try increasing these in your `govpp.conf` config: https://github.com/ligato/vpp-agent/blob/af27ba11fda32b956e5f580ca7ce9cf8ac54fde6/plugins/govppmux/plugin_impl_govppmux.go#L77-L80

It seems that it takes more 1 second to reply to interface dump after a while.

[2019-05-07 05:23] lobkovilya commented on #895
I'll try. But it seems like vpp is dead for real, because I'm unable to exec `vppctl` on pod, it just hangs

[2019-05-07 05:26] ondrej-fabry commented on #895
Oh, then something crashed it most likely.

cc @milanlenco

[2019-05-07 08:42] matrohon opened #1048 "NSMgr monitoring reports wrong cross-connections"
## Expected Behavior

NSM manager should report a single pair of cross connects with the NSM client as the local source

## Current Behavior

Two cross connections are reported with the NSM Client as the source

## Failure Information (for bugs)

This kind of strange reporting happens after restarting the vpn scenario several times.

## Steps to Reproduce

1. make k8s-vpn-deploy
2. make k8s-vpn-de

[2019-05-07 08:44] matrohon commented on #1048
After looking at the logs, I suspect skydive should filter out any cross connect that is reported in the DOWN state. For now skydive doesn't handle crossconnect states.

[2019-05-07 09:33] Harshini-M commented on #990
I made a patch set for it, and raised a PR.

[2019-05-07 11:19] Bolodya1997 opened #1051 "Cover NSM healing feature with unit tests"
## Overview
The NSM healing feature needs unit test coverage.

[2019-05-07 11:55] haiodo commented on #1048
You should not just ignore DOWN state, but to support UPDATE with different remote destination, in this case we do not send DELETE.

[2019-05-07 12:01] Bolodya1997 opened #1053 "Propose common logging mechanism and make logs cleaner"
## Overview
There is no 'standard' way for making logging in project so all logs looks a little bit different. It can be solved by adding a common file to aggregate log formatting.

## References

_Originally posted by @haiodo in https://github.com/networkservicemesh/networkservicemesh/pull/979_

[2019-05-07 13:22] uablrek opened #1055 "A too permissive service-account is assumed by nsmgr"
## Expected Behavior

NSM shall not assume free access to the k8s-api using the default service-account in default name-space.

NSM shall setup necessary permissions or document requirement on the default service-account.

## Current Behavior

When installing on [k3s](https://github.com/rancher/k3s) with `helm` with;
[code]
the `nrmgr` pods are started in "default" name-space and uses the default

[2019-05-07 13:44] BoutheinaDab opened #1056 "Spec: Network-aware load balancing in NSM"
## Overview

The main idea of this spec is to provide a network-aware load balancing mechanism for traffic distribution between multiple pods implementing the same network service endpoint.
Inspired from load balancing in Istio, the objective is to include new advanced pod selection policy, which relies on nsm dataplane monitoring metrics,  in order to select the less loaded pods.

## Link to the

[2019-05-07 15:04] matrohon commented on #1048
@haiodo so a xconn can see its remote src/dst changing? and then a UPDATE msg is sent? the previous xconn with the previous remote is reported stale with an UPDATE message with remote state set to DOWN?  is there any document describing this behavior?

[2019-05-07 15:40] nickolaev commented on #738
Done!

[2019-05-07 15:40] #738 closed

[2019-05-07 15:43] matrohon commented on #978
I didn't see this bug happening for a while, it seems fixed

[2019-05-07 15:43] #978 closed

[2019-05-07 16:01] haiodo commented on #1048
In general healing do following:
<img width="835" alt="image" src="https://user-images.githubusercontent.com/477235/57314469-df8b1300-711b-11e9-9588-9f4af6a839dd.png">

So If die is detected we send Down for one of parts we detect down, and do healing.
After healing is done we send Update to all cross connection objects.

I suppose we need to add one more test to check how it process in basic envi

[2019-05-07 23:06] ondrej-fabry commented on #895
Please try setting the following in your VPP config file:

[code]

If that does not help I'm not sure what else..

[2019-05-08 05:34] Bolodya1997 opened #1061 "Reduce image count"
## Overview

There are multiple images that can be merged in few images with configurable entry point:
* common:
    * nsc
    * nsmd
   * ...
* vppagent-common:
    * vppagent-dataplane
    * vppagent-nsc
    * ...

Making such images can reduce the count of CircleCI build jobs and reduce the CI complexity.

## References

_Originally posted by @edwarnicke in https://github.com/networkservicemesh

[2019-05-08 06:24] nickolaev commented on #1061
I don't like this proposal and I think it is a misinterpretation of the said comment. The said containers have very little in common and should not be merged.
@edwarnicke @haiodo please weigh in here.

[2019-05-08 07:14] nickolaev commented on #919
I could not reproduce it with a3a819aef38809e256ce7e3ecf6e8edb8f453d8f

[2019-05-08 07:57] lobkovilya commented on #895
I'm afraid that doesn't work either. Here is new log:
[logsDpWorker_2.txt](https://github.com/networkservicemesh/networkservicemesh/files/3156214/logsDpWorker_2.txt)

[2019-05-08 08:39] nickolaev commented on #1042
The error shown here is
[code]
Was this a resource exhaust problem?

[2019-05-08 08:40] nickolaev commented on #999
#1004 merged and issues fixed

[2019-05-08 08:40] #999 closed

[2019-05-08 08:41] nickolaev commented on #1024
#1040 merged and issues fixed.

[2019-05-08 08:41] #1024 closed

[2019-05-08 09:01] uablrek commented on #1055
Related issue #1043

This is likely a helm issue; the default name-space should not be used at all but `nsm-system`.

[2019-05-08 09:16] uablrek commented on #1055
Verified.

If `deployments/helm/nsm/templates/nsmgr.tpl` is updated with "namespace: nsm-system" it works fine.

Closing this issue since it is covered by others.

[2019-05-08 09:16] #1055 closed

[2019-05-08 10:22] haiodo commented on #1061
@nickolaev This was my idea, actually, to have common CI container we will use for CI, to not have examples, etc but have only testing and test container.
Examples should resist into examples repository and do not confuse any of users.

Thoughts?

[2019-05-08 10:23] haiodo commented on #1061
It will simplify adding of any new applications required for CI testing more easy, just add compile into common ci docker image and pass as command for pod/container at start point in CI.

[2019-05-08 11:28] nickolaev commented on #1061
Well, are we saying we are going to distribute the whole NSM in 2 images - alpine and vppagent based? I get the point about simplifying the CI, but releasing a multi-entrypoint images is a serious design change and deserves a bit more discussion.
To me, except simplifying/speeding up the CI, I can't see any other advantages of such approach. But maybe I am missing something.

[2019-05-08 14:54] ondrej-fabry commented on #895
For further debugging I recommend:

- Running VPP in debugger and pause execution after it stops responding to determine what it's doing
- Or try removing some parts of the configuration process until we can better pinpoint the cause and ideally be able to reproduce on smaller example

[2019-05-08 15:19] edwarnicke commented on #895
@lobkovilya If vpp is crashing, could you capture and post here the traceback and the core file?

@ondrej-fabry Could you provide a pointer to the debs (which the vpp folks will also want) and post them here?

[2019-05-08 16:01] #919 closed

[2019-05-08 17:22] ondrej-fabry commented on #895
@edwarnicke you mean these?

[code]

[2019-05-09 05:07] pulkitwalia commented on #831
Working on PR related to this issue: https://github.com/networkservicemesh/networkservicemesh/pull/1058

[2019-05-09 05:15] nickolaev commented on #809
Putting a link to buildx crosscompilstion for docker just in case we decide to use it

http://excoder.blogspot.com/2019/05/docker-buildx-from-scratch.html?m=1

[2019-05-09 14:38] matrohon commented on #1048
@haiodo thanks. Still, I'm noticing a strange behavior:

If I start a vpn scenario, then I stop it, and I restart a monitoring event listener, I receive INITIAL_STATE_TRANSFER events that report crossconnections with connections in DOWN state.
There should be no crossconnections, since I deleted every NSE and the NSC of the vpn scenario, am I wrong?

[2019-05-10 07:22] matrohon opened #1072 "ICMP scenario is broken"
## Current Behavior

the target

[code]

is failing with

[code]

The PR #1013 introduced the test-nse image but no corresponding yaml file exists.

[2019-05-10 07:23] matrohon commented on #1072
@Bolodya1997 please have a look

[2019-05-10 16:46] vielmetti commented on #316
I'm aware of @packethost provisioning issues that are impacting this - either to reopen this issue or start a new one to track tha @edwarnicke ?

[2019-05-11 02:53] edwarnicke commented on #1020
Still failing: https://circleci.com/gh/networkservicemesh/networkservicemesh/45209

Any progress on this?  Did you pick it up @denis-tingajkin

[2019-05-11 21:47] edwarnicke opened #1080 "TestDataplaneCrossConnectBasic failing intermittently in AWS"
## Expected Behavior

CI passes reliably on master

## Current Behavior

TestDataplaneCrossConnectBasic fails intermittently on AWS on master

## Failure Information (for bugs)

https://circleci.com/gh/networkservicemesh/networkservicemesh/45498

[2019-05-12 07:46] lobkovilya commented on #1020
@nickolaev could you please reopen this issue, because #1078 only extend logs during fail. It doesn't fix bug

[2019-05-12 09:50] lobkovilya opened #1081 "Packet: k8s-api-server connection refused"
## Expected Behavior
Successful connection establishing

## Current Behavior
[code]
147.75.109.233 - kuberenetes api server IP

## Failure Information (for bugs)
https://circleci.com/gh/networkservicemesh/networkservicemesh/45645?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-05-12 16:14] denis-tingajkin commented on #811
Seems to me this can be closed

[2019-05-12 16:15] denis-tingajkin commented on #1029
Can this be closed?

[2019-05-12 18:15] #1029 closed

[2019-05-12 18:16] #811 closed

[2019-05-12 23:46] #1072 closed

[2019-05-13 03:42] artem-belov commented on #895
vpp hasn't crash, just stuck on
[code]

[2019-05-13 04:55] ondrej-fabry commented on #895
From brief look at that stacktrace from someone not fluent in VPP code it seems there is some deadlock when creating tap interface.

Is there anything in the VPP stdout/stderr outputs?

[2019-05-13 05:07] lobkovilya commented on #895
@ondrej-fabry is there any way to retrieve API trace from vppagent?

[2019-05-13 05:15] ondrej-fabry commented on #895
@lobkovilya sadly, we don't provide anything for that from vpp-agent.. you might need to crash VPP to force it to dump api post mortem trace.. since I assume CLI is not accessible in deadlock state.

[2019-05-13 07:59] quangtamle commented on #621
Hi @matrohon ,

I wonder are there any ways to highlight the NSC and NSE in case the connections are lost ??? for example: the node will turn into red or the symbol will turn into something else...

Thank you in advances

[2019-05-13 08:00] ondrej-fabry commented on #895
@lobkovilya Could you try running `show buffers` after setting each connection?

[2019-05-13 08:07] otroan commented on #895
DBGvpp# show buffstartup_config_process:299: failed to open `vpe.conf'
ers
Pool Name            Index NUMA  Size  Data Size  Total  Avail  Cached   Used
default-numa-0         0     0   2304     2048    17290  17290     0       0
default-numa-1         1     1   2304     2048    17290  17290     0       0
DBGvpp# create tap
DBGvpp# show buffers
Pool Name            Index NUMA  Size  Data Size  Tot

[2019-05-13 08:09] ondrej-fabry commented on #895
Please report this to VPP Jira with relevant findings and poke Damjan and Ole, so it can get fixed properly.

[2019-05-13 08:13] matrohon commented on #621
@quangtamle it would be possible since we receive connections status. for now, I'm trying to better understand the meaning and the circumstances of those status update messages. see #1048

[2019-05-13 12:03] edwarnicke commented on #895
@lobkovilya [Here's the VPP Jira](https://jira.fd.io/projects/VPP/issues) if you could log an issue there for graceful handling and comment here with a link to it.

[2019-05-13 12:04] edwarnicke commented on #895
@otroan Thanks so much for having a look here :)  More graceful handling would be quite welcome :)   Also, I'd love to understand the reason why this is fixed at startup time :)

[2019-05-13 12:23] edwarnicke opened #1084 "TestDataplaneCrossConnectMultiple failing intermittently on AWS"
## Expected Behavior

Tests to pas reliably on AWS

## Current Behavior

Tests failing intermittently on master on AWS:
https://circleci.com/gh/networkservicemesh/networkservicemesh/46377

[2019-05-13 12:24] edwarnicke opened #1085 "TestCrossConnectMonitorRestart failing intermittently on AWS on master"
## Expected Behavior

Testing passing reliably on CI.

## Current Behavior

https://circleci.com/gh/networkservicemesh/networkservicemesh/46377

[2019-05-13 12:26] edwarnicke opened #1086 "Healing failing intermittently on AWS"
## Expected Behavior

Testing to pass reliably in CI

## Current Behavior

TestDataplaneHealLocal, TestDataplaneHealLocalMemif, TestDataplaneHealRemote failing in CI on master: https://circleci.com/gh/networkservicemesh/networkservicemesh/46376

[2019-05-13 14:44] haiodo commented on #1085
Based on logs it is same as https://github.com/networkservicemesh/networkservicemesh/issues/1086

[2019-05-13 14:46] haiodo commented on #1085
Based on logs, Kubernetes doesn't have required number of nudes, and shows us 0 nodes available.

[2019-05-13 14:47] haiodo commented on #1086
Based on logs, Kubernetes doesn't have required number of nudes, and shows us 0 nodes available.

[2019-05-13 15:09] quangtamle commented on #621
Dear @matrohon ,

Thank you for your answer !!!

[2019-05-13 16:01] artem-belov commented on #895
Created a vpp issue
https://jira.fd.io/browse/VPP-1673

[2019-05-13 16:03] mohsinkazmi commented on #895
@ondrej-fabry @edwarnicke Here https://gerrit.fd.io/r/#/c/19519/ is the fix for the problem mentioned above.

@otroan indirect buffers were used to provide indirect descriptors for big packets (jumbo frames). They were allocated once during the creation of tap interface due to performance reasons. But above fix, revert back it to in node allocation of indirect buffers.

[2019-05-13 16:17] nickolaev commented on #318
#987 merged. Closing.

[2019-05-13 16:17] #318 closed

[2019-05-13 16:34] nickolaev commented on #319
#887 merged. Closing.

[2019-05-13 16:34] #319 closed

[2019-05-13 17:44] nickolaev commented on #708
#1069 is merged. Closing back again.

[2019-05-13 17:44] #708 closed

[2019-05-14 05:43] Bolodya1997 opened #1091 "TestNSCAndICMPWebhookLocal is failing"
## Expected Behavior

TestNSCAndICMPWebhookLocal is passing on the all clouds.

## Current Behavior

TestNSCAndICMPWebhookLocal is failing on the all clouds.

## Failure Information (for bugs)

Starts after #1069 merged.

## Failure Logs

[code]

[2019-05-14 06:23] nickolaev commented on #1091
Master seems to be passing all the tests:
https://circleci.com/workflow-run/69f2a7e9-f000-41f5-b391-cef51daa90c2

[2019-05-14 07:19] Bolodya1997 commented on #1091
All subsequent runs not:
• https://circleci.com/workflow-run/841400c1-618b-4076-bf41-5c0b5e227c24
• https://circleci.com/workflow-run/20680fe3-aa3f-44eb-ba23-00bfc478cfc8
• https://circleci.com/workflow-run/0b701fd9-7b8b-4fe1-a617-e5b094757697
• https://circleci.com/workflow-run/940a4389-d4b3-4392-b657-b4e28cd86524
• https://circleci.com/workflow-run/2e1ae7c4-f613-4ecd-be6b-2089affb7173

[2019-05-14 09:07] nickolaev commented on #1091
#1093 is merged. Closing.

[2019-05-14 09:07] #1091 closed

[2019-05-14 10:09] uablrek opened #1094 "Incorrect helm charts causes a retry-loop"
## Expected Behavior

Helm install should work

## Current Behavior

Helm install does not work and causes a retry-loop consuming a fair ammount of cpu.

## Failure Information (for bugs)

Discussed in this thread https://groups.google.com/forum/#!topic/networkservicemesh/HVh7araG0B0

Since the problem is identified this issue is more of a reference for a PR.

## Steps to Reproduce

[code]

## Con

[2019-05-14 10:44] nickolaev commented on #1042
@denis-tingajkin @haiodo shall we close this one already?

[2019-05-14 12:51] nickolaev commented on #1094
#1094 merged. Closing.

[2019-05-14 12:51] #1094 closed

[2019-05-14 13:53] edwarnicke opened #1097 "TestNSCAndICMPWebhookLocal failing in CI"
## Expected Behavior

CI should reliably pass on master

## Current Behavior

TestNSCAndICMPWebhookLocal is failing in CI: https://circleci.com/gh/networkservicemesh/networkservicemesh/47149

[2019-05-14 13:57] edwarnicke commented on #1056
@BoutheinaDab I've skimmed through your spec... it's quite interesting... just wanted to let you know that it *is* interesting, we are just a bit overwhelmed trying to get Kubecon prep done :)

[2019-05-14 14:12] #1097 closed

[2019-05-14 14:12] #1086 closed

[2019-05-14 14:12] #1044 closed

[2019-05-14 14:13] #1020 closed

[2019-05-14 14:14] #1084 closed

[2019-05-14 14:14] #1080 closed

[2019-05-14 14:14] #1037 closed

[2019-05-14 14:35] haiodo commented on #1042
I think it is same not waited for build to be complete issue. Let's close.

[2019-05-14 14:35] #1042 closed

[2019-05-14 14:38] nickolaev commented on #973
I suggest we remove `v0.1.0` label here.

[2019-05-14 15:36] edwarnicke opened #1099 "TestVPNNSERemote test failing on packet intermittently in CI"
## Expected Behavior

Tests passing reliably in CI.

## Current Behavior

https://circleci.com/gh/networkservicemesh/networkservicemesh/48157

[2019-05-14 15:37] edwarnicke opened #1100 "TestMovingConnectionMemif failing in packet CI"
## Expected Behavior

Tests should pass reliably in CI

## Current Behavior

https://circleci.com/gh/networkservicemesh/networkservicemesh/48157

[2019-05-14 15:52] denis-tingajkin commented on #1100
I guess the link to circleci is wrong. Can you check?

[2019-05-14 16:40] nickolaev commented on #990
FIxed in #1052

[2019-05-14 16:40] #990 closed

[2019-05-14 17:15] edwarnicke commented on #895
@mohsinkazmi Thanks for the quick fix :)

[2019-05-14 17:40] lobkovilya opened #1101 "AWS destroy cluster works too long"
## Current Behavior
AWS destroy works more than 45 min

## Failure Information (for bugs)
https://circleci.com/gh/networkservicemesh/networkservicemesh/48362

[2019-05-15 08:35] denis-tingajkin opened #1105 "Fix most critical linters issues"
## Expected Behavior

Most critical issues should be fixed

## Current Behavior

Critical issues are found by linters

## Steps to Reproduce

[code]

## Context

* Kubernetes Version:
* etc.

[2019-05-15 08:40] #1101 closed

[2019-05-15 09:16] denis-tingajkin commented on #1097
Reproducible https://circleci.com/gh/networkservicemesh/networkservicemesh/48789?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-05-15 10:26] lobkovilya opened #1106 "Add retries for azure-destroy"
## Current Behavior
Azure-destroy failed

## Failure Information (for bugs)
https://circleci.com/gh/networkservicemesh/networkservicemesh/48884?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-05-15 10:42] lobkovilya commented on #895
It looks like victory :)
![image](https://user-images.githubusercontent.com/12110261/57769695-c6481f00-7738-11e9-8ee2-8ad3962a01b4.png)

[2019-05-15 11:57] denis-tingajkin commented on #1105
Waiting to merge https://github.com/networkservicemesh/networkservicemesh/pull/1054

[2019-05-15 14:31] matrohon commented on #1048
in order to debug, I dump the logs seen from skydive after deploying the vpn and the icmp scenarii, and removing them, on a standard vagrant deployment. I have 4 connections left in skydive, which means I missed at least 4 DELETE events from nsmgrs.

I also notice that nsmgr deployment restarted (2 times for the first one, 1 time for the second one) while I was playing those scenarii. i don't know

[2019-05-15 15:21] edwarnicke opened #1110 "TestNSMgrRestartDeploy failing on AWS"
## Expected Behavior

CI should pass reliably on all clouds.

## Current Behavior

TestNSMgrRestartDeploy is failing on AWS:
https://circleci.com/gh/networkservicemesh/networkservicemesh/49366

[2019-05-15 15:22] lobkovilya opened #1111 "TestNSMgrRestartDeploy fails"
## Current Behavior
TestNSMgrRestartDeploy fails

## Failure Information (for bugs)
https://circleci.com/gh/networkservicemesh/networkservicemesh/49366

[2019-05-15 15:23] #1111 closed

[2019-05-15 16:34] lobkovilya commented on #1110
@artem-belov absolutely the same error could be received if there are no any *previous* logs on pod:
[code]
But I wasn't succeed with reproducing it on vagrant

[2019-05-15 19:16] fkautz opened #1112 "Create release notes"

[2019-05-15 19:20] fkautz opened #1113 "Create and publish helm chart archives."
When the release is cut, helm chart archives need to be created, signed and published.

[2019-05-15 19:22] fkautz opened #1114 "Publish docker images using semver style tags"

[2019-05-15 19:27] fkautz opened #1115 "Signed git commits"
Releases should be signed. Determine the correct way to sign the release commit while simultaneously making it easy for people to verify the repo.

Options to use include:

- PGP
- Keybase
- Git commit signing
- Key signing party

[2019-05-17 05:15] haiodo opened #1118 "Collect logs from kubernetes kubelet on CI"
## Overview

It would be good to collect logs from Kubernetes kubelet like, 'journalctl -u kubelet' to check for cluster errors, it would help detect situations with unknown behaviour.

[2019-05-17 06:30] #1105 closed

[2019-05-17 09:00] matrohon opened #1123 "vpn-deploy/icmp-deploy/icmp-delete leads to inconsistent state"
## Expected Behavior

On a fresh nsm deployment with vagrant and one worker, I run:

[code]

and I wait after each command to have deployments working.

After the icmp-delete, there should be no icmp network service or endpoint left in the registry.

## Current Behavior

After the delete, I still have the following :

[code]

## Failure Information (for bugs)

I notice that at least one nsmgr depl

[2019-05-17 10:07] haiodo opened #1124 "Fix time.Tick() and other linter shown memory leaks."
## Expected Behavior

Application should not have memory leaks.

## Current Behavior

<- time.Tick() and others used in code caused memory leaks.

## Failure Information (for bugs)

## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea...

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[2019-05-17 10:58] Bolodya1997 commented on #1124
`<-time.After()` is OK so it can be used instead of `<-time.Tick()`

[2019-05-17 12:51] denis-tingajkin opened #1128 "TestDataplaneCrossConnectUpdate is unstable with VPP Agent v2.1.0"
## Expected Behavior

TestDataplaneCrossConnectUpdate is stable with new vpp agent version

## Current Behavior

TestDataplaneCrossConnectUpdate is unstable with new vpp agent version

## Failure Information (for bugs)

100% packet loss

## Steps to Reproduce

Run TestDataplaneCrossConnectUpdate with vppagent v2.1.0

## Context

* vppagent v2.1.0

## Failure Logs

stable case:
[code]

unstable cas

[2019-05-17 12:54] denis-tingajkin commented on #1128
I've run TestDataplaneCrossConnectUpdate with current vpp agent version 1e3 times and it works fine

[2019-05-17 13:38] denis-tingajkin commented on #1100
I've run this test locally and the issue doesn't reproducible.
It's can be related to the `packet` loading. For this case, I'll reduce max NSC count and also enhance logs

[2019-05-17 16:54] fkautz commented on #968
Bump

On Fri, May 17, 2019, 09:43 stale[bot] <notifications@github.com> wrote:

[2019-05-17 22:59] edwarnicke opened #1130 "nsmd crash in createRemoteNSMRequest"
## Expected Behavior

nsmd should not crash

## Current Behavior

nsmd crashed with
[nsmd.log](https://github.com/networkservicemesh/networkservicemesh/files/3193343/nsmd.log)

## Failure Information (for bugs)

## Steps to Reproduce

[code]

## Failure Logs

[nsmd.log](https://github.com/networkservicemesh/networkservicemesh/files/3193343/nsmd.log)

[2019-05-18 15:48] nickolaev opened #1132 "nsmd crash in findConnectNSE"
## Expected Behavior

nsmd should not crash

## Current Behavior

`nil` pointer dereference crash

## Failure Information (for bugs)

[code]

## Steps to Reproduce

Deploy a Network Service resource (like secure-intranet-connectivity.yaml)
Deploy the client that requests the service, before the endpoint itself.
The following code does not handle the `endpoint` is `nil` behaviour:
[code]

In `7.1.4

[2019-05-18 15:50] nickolaev commented on #1132
@haiodo please check if this makes sense.

[2019-05-19 15:53] lobkovilya commented on #1132
@nickolaev looks like the problem starts at `getEndpoints(...)` method:
[code]

If `FindNetworkService` returns non-empty endpoint list, but `SelectEndpoints` returns `nil` we return `nil, err`. But `err` in that case is also nil. That's why the next error check in `findConnectEndpoint` will success:
[code]
and we will get nil pointer crush.

[2019-05-19 15:55] lobkovilya commented on #1132
Also according to logs that you attached:
[code]
labels of NSC is empty, probably that's why `SelectEndpoint` returns nil

[2019-05-19 18:12] edwarnicke commented on #1132
@lobkovilya could this also be related to #1130 ?

If so, would be super useful to get a fix sooner rather than later, for kubecon demo purposes :)

[2019-05-19 18:45] lobkovilya commented on #1132
@edwarnicke #1130 very similar stack trace and it's really seems like the bugs have one root cause. But unfortunately I haven't had a chance to reproduce the problem to be sure that fix will help. But #1134 it is very likely fixes the problem mentioned above in that issue

[2019-05-20 08:28] lobkovilya opened #1139 "Packet-deploy fails sometimes"
## Expected Behavior
Successful deploy of instances to packet

## Current Behavior
https://circleci.com/gh/networkservicemesh/networkservicemesh/52267

## Possible solution
Change location if deploy has been failed

[2019-05-20 10:08] haiodo commented on #1139
It seems we need to randomly check different zone.

[2019-05-20 10:12] haiodo commented on #1124
This seems merged, so closing.

[2019-05-20 10:12] #1124 closed

[2019-05-20 10:13] haiodo commented on #1118
We already have this for AWS, Packet.

[2019-05-20 10:14] haiodo commented on #1110
We added logging of kubelet, so waiting for happening next time.

[2019-05-20 10:15] #1106 closed

[2019-05-20 10:15] haiodo commented on #1100
Logging added, locally is not reproducible.

[2019-05-20 10:16] haiodo commented on #1099
We could not reproduce it for now, after one of NSmgr crashes was fixed.

[2019-05-20 10:16] #1099 closed

[2019-05-20 10:17] haiodo commented on #1081
Seems fixed, we do not see this for a while.

[2019-05-20 10:17] #1081 closed

[2019-05-20 10:19] haiodo commented on #895
It looks we could close this one.

[2019-05-20 10:19] #895 closed

[2019-05-20 10:27] haiodo opened #1140 "Spec: Integration testing"
## Overview

Have have some issues with current integration testing approach, a small list of them:

Problems of current approach:
* Every build job for every cloud is independent, so we could not fail early if some of other cluster jobs has failure.
* We split tests into 3 categories and run them on 2 clusters, and it looks like hard to maintain approach.
* Cluster could be broken during build an

[2019-05-20 12:10] lobkovilya commented on #1130
I have checked the latest master several times and there are no crashes. Seems like #1134 fixes the problem

[2019-05-20 14:51] lobkovilya opened #1143 "Kubelet AWS SIGSEGV"
## Expected Behavior
Successfully returned logs

## Current Behavior
https://circleci.com/gh/networkservicemesh/networkservicemesh/53143
Unable to get logs from pod, but deploy and exec seems to be working fine

## Failure Information (for bugs)
[aws_kubelet_logs.txt](https://github.com/networkservicemesh/networkservicemesh/files/3198429/aws_kubelet_logs.txt)

Interesing lines:
[code]

[2019-05-20 15:05] haiodo commented on #1143
Nice :-) It was good idea to take kubelet logs 👍

[2019-05-20 15:23] BoutheinaDab commented on #1056
@edwarnicke Thank you for your feedback :)

[2019-05-21 00:51] edwarnicke commented on #1056
@BoutheinaDab Could you at least enable comments on the Google Doc?  I was wanting to add comments to it asking you about how this might manifest in the API :)

[2019-05-21 08:08] BoutheinaDab commented on #1056
Yes of course! i have just enabled comment on the Google Doc.
Thank you :)

[2019-05-21 11:16] lobkovilya commented on #1143
https://github.com/kubernetes/kubernetes/issues/78164

[2019-05-21 17:17] artem-belov commented on #1128
vpp configuration seems fine.
[code]

arp entries on destination pod:
[code]
arp entries on source pod:
[code]

[2019-05-22 01:00] haiodo commented on #1128
Should source pod also have eth0 arp?

[2019-05-22 03:40] artem-belov commented on #1128
@haiodo Sometimes on failed tests eth0 has arp
[code]

[2019-05-22 03:53] artem-belov commented on #1128
Reproduced with vpp-agent v2.1.0 and vpp-19.01

[2019-05-22 04:16] haiodo commented on #1128
So it most likely changes in vpp-agent itself, could we diff changes between 2.0 and 2.1?

[2019-05-22 08:52] Bolodya1997 opened #1150 "Healing fails when trying to use remote NSE instead of failed local NSE"
## Expected Behavior

Client connection {local -> local} should be healed to {local -> remote} if local NSE fails and there are only available remote NSEs.

## Current Behavior

Healing fails with panic.

## Failure Information (for bugs)

## Steps to Reproduce

1. Start 2 nodes cluster
2. Deploy NSM on 1, 2 nodes
3. Deploy NSE-1 on 1 node
4. Deploy NSC on 1 node
5. Deploy NSE-2 on 2 node
6. Stop

[2019-05-22 11:25] Bolodya1997 opened #1152 "usecase_vpn_test tests are failing inconsistently"
## Expected Behavior

All tests from `usecase_vpn_test.go` should always pass.

## Current Behavior

These tests are inconsistently failing on GKE and packet:
* TestVPNLocal
* TestVPNFirewallRemote
* TestVPNNSERemote
* TestVPNNSCRemote

## Failure Information (for bugs)
https://circleci.com/gh/networkservicemesh/networkservicemesh/53948
https://circleci.com/gh/networkservicemesh/networkservicemesh

[2019-05-23 10:15] Bolodya1997 commented on #1152
https://circleci.com/gh/networkservicemesh/networkservicemesh/54512
https://circleci.com/gh/networkservicemesh/networkservicemesh/54352

[2019-05-23 15:47] BoutheinaDab opened #1156 "Load Balancing Logs"
Please switch to **Preview** and select one of the following links depending on your use-case:

* [Feature]
I need to know how to get the logs of Round Robin algorithm implemented in selector package. In fact, I a working on a new advanced load balancing algorithm (Spec in https://github.com/networkservicemesh/networkservicemesh/issues/1056). So, I need to start by debugging how Round Robin select

[2019-05-23 15:48] BoutheinaDab commented on #1056
@edwarnicke I need to know how to get the logs of Round Robin algorithm implemented in selector package.
In fact, I want to debug how Round Robin selects the pods for each flow.
Are there any specific logs dedicated for that?
Thank you.

[2019-05-24 09:21] nickolaev commented on #1132
The crash is solved in the latest master, but the service does not get connected. I will close this one and open a new explaining how to reproduce it.

[2019-05-24 09:21] #1132 closed

[2019-05-27 04:44] Bolodya1997 opened #1161 "Integration tests wait for invalid logs from NSMD"
## Expected Behavior
In integration tests NSMD should be recognized as running if it has log of following regex:
[code]

## Current Behavior
Integration tests wait for the following log:
[code]
And fail waiting when there are some other logs:
[code]
## Failure Information (for bugs)

https://circleci.com/gh/networkservicemesh/networkservicemesh/55812

[2019-05-27 11:40] Napoleon0621 opened #1165 "auto heal"
Please switch to **Preview** and select one of the following links depending on your use-case:

* [Feature](?template=spec.md)
* [Bug](?template=bug.md)

Once switched to the correct template, keep in mind that switching templates will remove all already entered data within this issue.

Thank you for reaching out!

[2019-05-27 11:41] #1165 closed

[2019-05-27 14:13] #1150 closed

[2019-05-27 14:13] #1143 closed

[2019-05-27 14:21] #1118 closed

[2019-05-27 14:24] #1046 closed

[2019-05-27 17:02] ivanayov commented on #927
I have paused work on this issue and will be able to continue at the end of June.

[2019-05-28 04:38] nickolaev commented on #1056
@BoutheinaDab, there is no specific logging enabled for the selector. You can check the messages of that appear in the `nsmd` container of the `nsmgr` pod. Something like:
[code]

[2019-05-28 04:49] #1100 closed

[2019-05-28 10:24] uablrek opened #1168 "Dependency from the NSM framework to the vpp-dataplane"
## Expected Behavior

The generic NSM frameworks shall not have any dependency towards a specific data-plane.

It should be possible to use NSM for networks/endpoints/services, possibly own-developed, without loading the `nsm-vppagent-dataplane` which executes in privileged mode with "hostNetwork: true".

## Current Behavior

The NSM frameworks have a dependency to the `nsm-vppagent-dataplane`.

#

[2019-05-28 11:12] haiodo commented on #1128
Since 2.1.1 is used, closing.

[2019-05-28 11:12] #1128 closed

[2019-05-28 13:08] nickolaev opened #1169 "A pure kernel based forwarding plane"
## Overview

Implement a new forwarding plane, which can completely replace the (improperly named) `vppagent-dataplane` DaemonSet. The goal is to use Linux kernel only means to interconnect pods on the same and remote nodes.

First target:
 * veth pair for pod-pod on the same host
 * inject the decapsulated VxLAN interface in the pod that needs a remote connection

That will create a minimum valua

[2019-05-28 13:12] nickolaev commented on #1168
There might be some level of confusion here. So the very basic NSM infra consist of the distributed control plane built out of all the NSMgrs in the cluster. Then there is the `forwarding plane` which takes care of the local/remote mechanism management building the full point-to-point connectivity between the pods. What you point in the code is essentially NSMd waiting for the `forwarding plane` t

[2019-05-28 16:00] uablrek commented on #1168
If the problem is external communication only, not pod-to-pod communication within the k8s cluster is it possible to define a "null" forward plane?

[2019-05-29 05:49] Bolodya1997 opened #1171 "TestExcludePrefixesMonitorFails fails intermittently"
## Expected Behavior

`TestExcludePrefixesMonitorFails` should always pass.

## Current Behavior

`TestExcludePrefixesMonitorFails` fails sometimes.

## Failure Information (for bugs)

https://circleci.com/gh/networkservicemesh/networkservicemesh/58559

[2019-05-29 09:10] quangtamle commented on #621
Dear @matrohon

AFAIK, NSM probe runs only in Analyzers, not Agent. My questions are

1. Analyzer runs in 1 node of k8s cluster what if there is no data related to NSM on that node but in the other node, can Analyzer get those data ???

2. Why there is no option to run NSM probe in [Agent](https://github.com/skydive-project/skydive/blob/master/agent/probes.go#L70) ???

Thank you in advances !!!

[2019-05-29 11:38] lobkovilya commented on #1171
Working on fix

[2019-05-29 12:00] #1161 closed

[2019-05-29 17:11] lobkovilya opened #1174 "Azure leaking resources"
## Expected Behavior
All resources correctly cleaned up

## Current Behavior
For some reason, the cluster was not cleaned

## Failure Information (for bugs)
Workflow that led to cluster leaking:
https://circleci.com/gh/networkservicemesh/networkservicemesh/59146

[2019-05-29 19:09] lobkovilya commented on #1174
Exactly the same problem is described here: https://discuss.circleci.com/t/could-not-parse-object-git-error/21193

[2019-05-30 06:12] lobkovilya opened #1176 "CNI plugin testing"
Now we test every pull request in 3 different clouds (and bare-metal clusters on packet). But seems like the main difference that makes sense for us is CNI plugins used on a particular cloud.

- GKE uses *Calico*
- EKS uses *AWS CNI Plugin*, has support of *Calico* as well
- AKS uses *Azure VNET CNI Plugins*

All those plugins are open-source and could be easily installed on every kubernetes clust

[2019-05-30 09:17] lobkovilya opened #1178 "Lots of '\n' symbols in case of failed to wait particular logs pattern"
## Current Behavior

https://circleci.com/gh/networkservicemesh/networkservicemesh/59946

[2019-05-30 09:17] lobkovilya commented on #1178
@Bolodya1997 please take a look

[2019-05-30 09:21] nickolaev commented on #1176
I would argue here that CNI is orthogonal to NSM. On the other hand, it is true that `nsmd-k8s` leverages whatever CNI is out there to talk K8s API. Everything else should be pretty much CNI independent. Even more, if there are other CNI dependencies we should outline and remove them.

[2019-05-30 09:40] lobkovilya commented on #1176
Yep, you are right NSM is orthogonal to CNI. But this is the thing that we are guaranteeing to users.
As developers we had some issues with configuring VPP when we were deploying NSM on GKE, AKS and EKS. Because they are using different mechanisms to setup pod networking. That's why we had to configure additional routes on vpp pod, because vxlan did not work out-of-box on GKE for us. We had to con

[2019-05-30 11:35] rdimitrov opened #1181 "make k8s-integration-tests fail"
## Expected Behavior

`make k8s-integration-tests` to succeed
## Current Behavior

`make k8s-integration-tests` fails due to invalid version value.

## Failure Information (for bugs)
[code]

## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea...

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[2019-05-30 11:54] rdimitrov commented on #1181
Will close that. Turned out I had to re-apply the new CRDs.

[2019-05-30 11:54] #1181 closed

[2019-05-30 19:29] nickolaev commented on #1043
#1057 fix this one. Closing.

[2019-05-30 19:29] #1043 closed

[2019-05-30 19:40] nickolaev opened #1182 "Versioning"
## Overview

Have the core NSM binaries include a version and print it when started. The purpose is to have visibility in the logs about what exact binary is there.

One project that shows a possible solution is https://github.com/ahmetb/govvv

[2019-05-30 19:43] nickolaev commented on #1176
Do you consider the problems you talk about being specific to vpp-agent or are a generic forwarding plane issues? I.e. do you consider these to be issues with any future non-vpp implemetations?

[2019-05-31 03:43] lobkovilya commented on #1139
After increasing log level to *DEBUG* received such output:
[build_60836_step_110_container_0.txt](https://github.com/networkservicemesh/networkservicemesh/files/3239638/build_60836_step_110_container_0.txt)

[2019-05-31 05:34] thinkerou opened #1184 "suggest to use shorter package name"
now the package name is `github.com/networkservicemesh/networkservicemesh`, maybe `github.com/networkservicemesh/nsm` is better package name. thanks!

[2019-05-31 08:41] lobkovilya commented on #1139
https://github.com/terraform-providers/terraform-provider-packet/issues/153

[2019-05-31 08:59] edwarnicke commented on #1176
Ilya,

I would tend to agree with you that CNI is one area of concern wrt various
public clouds.  But some of the issues we've hit are actually orthogonal to
CNI plugins (like for example the absense of /dev/vhost-net on GKE).  So we
can't say that all of the important differences are CNI plugins.

I am also a bit curious if we are OK across different CRI choices... there
have been some questions

[2019-05-31 23:26] nickolaev commented on #1176
@edwarnicke containerd mostly works. KInd was migrated to it a couple of weeks ago and it works OK in the CI of the examples repo. However, @matrohon told me that some skydive component call directly Docker through the Unix socket and this is broken in Kind with containeed.

[2019-05-31 23:41] edwarnicke commented on #1176
OK, so there is a skydive issue (which will look like an NSM issue to folks
trying to use skydive with NSM).  We do not see an actual NSM issue though,
correct?

Ed

On Fri, May 31, 2019 at 6:27 PM Nikolay Nikolaev <notifications@github.com>
wrote:

[2019-06-01 16:38] fkautz commented on #870
Bump

[2019-06-03 06:03] denis-tingajkin opened #1188 "Expand dataplane healing tests"
## Expected Behavior

Local dataplane healing with two nodes case is covered by integrations tests

## Current Behavior
Local dataplane healing with two nodes case is not covered by integrations tests

## Steps to Reproduce

Take a look at https://github.com/networkservicemesh/networkservicemesh/blob/master/test/integration/recover_nse_dataplane_heal_test.go. Actually, we have not covered case whe

[2019-06-03 07:02] nickolaev opened #1191 "Some tests in test-packet-usecase-ipv6 fail"
## Expected Behavior

Tests should pass

## Current Behavior

Some IPv6 integration tests fail

## Failure Information (for bugs)

Tests `TestNSCAndICMPLocalVeth` and `TestNSCAndICMPRemoteVeth` do fail.

## Steps to Reproduce

Run CI.

## Context

CircleCI

## Failure Logs

https://circleci.com/gh/networkservicemesh/networkservicemesh/62375

[2019-06-03 07:05] nickolaev opened #1192 "Failing test-packet-example-icmp"
## Expected Behavior

Test should pass

## Current Behavior

Test fails.

## Failure Information (for bugs)

[code]

## Steps to Reproduce

Run CI

## Context

Circle CI

## Failure Logs

https://circleci.com/gh/networkservicemesh/networkservicemesh/62382

[2019-06-03 08:01] lobkovilya commented on #1192
seems like when `test-packet-usecase-ipv6` (#1191) is failing is starts `destroy-packet`. Since we have one packet-destroy for both cluster it leads to fail of `test-packet-example-icmp` as well.

[2019-06-03 11:32] quangtamle commented on #621
Dear @matrohon

AFAIK, NSM probe runs only in Analyzers, not Agent. My questions are

1. Analyzer runs in 1 node of k8s cluster what if there is no data related to NSM on that node but in the other node, can Analyzer get those data ???

2. Why there is no option to run NSM probe in [Agent](https://github.com/skydive-project/skydive/blob/master/agent/probes.go#L70) ???

Thank you in advances !!!

[2019-06-03 15:54] haiodo opened #1195 "CI test TestNSMHealRemoteDieNSMD_NSE could fail since"
## Expected Behavior

Tests should pass.

## Current Behavior

In tests we wait for pattern
"NSM gRPC API Server: [::]:5001 is operational" but it could be
"NSM gRPC API Server: 0.0.0.0:5001 is operational"

so tests will fail.

[2019-06-04 03:44] #1191 closed

[2019-06-04 03:44] #1195 closed

[2019-06-04 03:50] nickolaev commented on #1184
Thanks for the suggestion. However I don't think it is a good practice to shorten names on github. Like there is `kubernetes/kubernetes/`. One way they do it is to use a shorter domain name, like `k8s.io/kubernetes`. I don't think this is feasible at this point though.

@fkautz  @edwarnicke @haiodo, thoughts?

[2019-06-04 04:04] nickolaev commented on #1168
Well, no, it is the pod-to-pod communication and the forwarding plane is indistinguishable part of the NSM design. A `null` forwarding plane would mean one that does not inject interfaces and not cross-connect them.

I am looking again at your original issue, is it the "privileged mode" that bothers you, or the hostNetwork? The former is needed so the forwarding plane can actually inject the inter

[2019-06-04 04:52] haiodo commented on #1184
Hi I’m agree with @nikolaev and do not see any practical benefits for having short name. Thanks

[2019-06-04 07:47] matrohon commented on #778
I wonder how this spec relates to #727.

[2019-06-04 08:27] #1178 closed

[2019-06-04 08:31] artem-belov opened #1198 "AWS leaking resources"
## Expected Behavior
All resources correctly cleaned up

## Current Behavior
Clean up job is failed

## Failure Information (for bugs)
Workflow that led to cluster leaking:
https://circleci.com/gh/networkservicemesh/networkservicemesh/60309

[2019-06-04 10:09] #1198 closed

[2019-06-04 10:48] artem-belov opened #1203 ""go: error loading module requirements" in sircleci jobs"
## Expected Behavior

All go modules correctly downloaded

## Current Behavior

Tests fail with error
`go: error loading module requirements`

## Failure Information (for bugs)

Workflows with error:
https://circleci.com/gh/networkservicemesh/networkservicemesh/63817
https://circleci.com/gh/networkservicemesh/networkservicemesh/63675

## Context

Try to use `scripts/go-mod-download.sh` before runn

[2019-06-04 14:16] edwarnicke commented on #1192
@nickolaev Does this make sense?

[2019-06-04 14:17] #1188 closed

[2019-06-04 14:17] #1184 closed

[2019-06-04 14:21] edwarnicke commented on #1174
@haiodo Expects one job for tests will fix this.

[2019-06-04 14:27] #1130 closed

[2019-06-04 14:27] #1110 closed

[2019-06-04 14:54] edwarnicke commented on #737
Updated [#737 Security Spec](https://docs.google.com/document/d/1SR9_p3QvvGL-MoDQ9ekbiufOvS1M6S4sKDJ5Saijlo4/edit#)

[2019-06-04 15:03] edwarnicke commented on #1056
@BoutheinaDab Added to the [Spec Board](https://github.com/networkservicemesh/networkservicemesh/projects/6)

[2019-06-04 15:05] lobkovilya commented on #1203
From [here](https://github.com/golang/go/wiki/Modules#how-do-i-use-vendoring-with-modules-is-vendoring-going-away):

I suppose it is a very useful mechanism for us. @haiodo @edwarnicke @nickolaev what do you think?

[2019-06-04 15:25] #1192 closed

[2019-06-05 09:50] denis-tingajkin commented on #1203
we could use partial vendoring for utilities like linter. Its possible with using `godep` or `govendor`.
What do you think?

[2019-06-06 06:04] Bolodya1997 opened #1208 "TestXconMonitorMultiNodeHealSuccess is failing intermittently on Azure"
## Expected Behavior

`TestXconMonitorMultiNodeHealSuccess` should always pass.

## Current Behavior

`TestXconMonitorMultiNodeHealSuccess` is failing intermittently on Azure.

## Failure Logs

https://circleci.com/gh/networkservicemesh/networkservicemesh/65314
https://circleci.com/gh/networkservicemesh/networkservicemesh/65260

[2019-06-06 06:07] Bolodya1997 commented on #1152
Still happening sometimes:
https://circleci.com/gh/networkservicemesh/networkservicemesh/64763

[2019-06-06 06:15] nickolaev commented on #1203
It's a cloud native world - design for failure :)

I don't like (1) as it implies adding vendored code in our tree, let's avoid that. (2) is probably my favourite, as it is very often a network/service flakiness that leads to these issues.  Maintaining a docker image as proposed in (3) might be an additional burden to carry with the project, but is a generally good idea.
(4) the linter has both a

[2019-06-06 06:19] uablrek commented on #1168
Thanks for the info.

I have primarily investigated NSM as a multus replacement, but I see that it is different. Does all traffic *have* to go through the forwarding plane? I can understand the advantage to have it on abstraction level, if for instance if a traffic interface appears as eth5 on a particular node, NSM forwarding plane makes it possible to connect to it from *any* node. But if we *wa

[2019-06-06 07:35] nickolaev commented on #1168
Well, this is something we are still trying to figure out in #778 (note the link to the google doc spec there) and #727. We surely want to be able to expose the in-cluster services to the outside world. We are mostly trying to figure out would it be better to have:

a) a GW like object which will take care of the ingress/egress for us
b) expose the external world as a service, i.e. something that

[2019-06-06 11:22] #1011 closed

[2019-06-07 07:48] stanislav-chlebec commented on #809
Hello
After fullfiling my other duties I returned to the project.
Could we discuss what we want to achieve with arm64 platform?
So far I know that we should suggest a way how to crosscompile networkservicemesh docker images.

[2019-06-07 07:57] #1171 closed

[2019-06-07 09:31] Bolodya1997 opened #1215 "NSMD fails to restart if endpoint networkservice has been deleted from k8s registry"
## Expected Behavior

NSMD should restart and restore existing endpoints and networkservices even if networkservice has been deleted from k8s registry.

## Current Behavior

NSMD fails to restart in such case.

## Steps to Reproduce

1. `make k8s-infra-deploy`
2. `make k8s-icmp-deploy`
3. `make k8s-nsmgr-delete`
4. `kubectl -n nsm-system delete networkservice icmp-responder`
5. `make k8s-nsmgr-dep

[2019-06-07 10:11] rdimitrov commented on #1169
For reference, the following PRs are related to the context of this issue - https://github.com/networkservicemesh/networkservicemesh/pull/1214 and https://github.com/networkservicemesh/networkservicemesh/pull/1207

[2019-06-07 11:56] nickolaev commented on #809
So it would make sense if we had a CI pipeline for ARM64. I mean even if we cross-compile the images and never test them, we can not be sure of what wee actually ship.
So cross-compilation is not somethin I'd aspire to. Looking at the logs here, I see that we actually we never managed to run NSM's forwarding plane (VPP) on that platform? Do you by any chance have a setup where that can be run?

[2019-06-08 17:26] #870 closed

[2019-06-10 11:53] #1061 closed

[2019-06-10 13:19] nickolaev commented on #809
One more link for reference: https://medium.com/@carlosedp/cross-building-arm64-images-on-docker-desktop-254d1e0bc1f9

[2019-06-10 13:42] denis-tingajkin opened #1222 "Do not close dataplane if we update local-dst with local-dst on nsm request"
## Expected Behavior

We closing dataplane for case local-dst with local-dst in nsm

## Current Behavior

We do not close dataplane for case local-dst with local-dst in nsm

## Steps to Reproduce

Run TestNSEHealLocal
## Context
More information about the problem https://github.com/ligato/vpp-agent/issues/1373
Entry point: nsm.go:287

[2019-06-10 18:06] edwarnicke opened #1224 "Spec: DNS Integration for NSM"
## Overview

Network Service Mesh needs to be able to provide a workload with DNS service from Network Services Without breaking K8s DNS

## Link to the Google Docs document

[Spec](https://docs.google.com/document/d/1_1ICFEh2M3_Q8MvAQXNngP9UNQLgYgPgr58KYzib4C0/edit)

[2019-06-10 21:25] nickolaev commented on #1224
To me, it is yes and no at the same time. Let me explain.

Yes - the problem with resolving service names once we get the link is real and certainly, this will be a huge use-case. Augmenting the pod with an additional local CoreDNS is a powerful idea and as discussed can benefit beyond NSM. For sure the results of our work and experimentation will be something to share across the broader community

[2019-06-10 22:02] edwarnicke commented on #1224
@nickolaev I understand the desire to keep the API simple, and share it.

We originally started out with the map <string,string> for ConnectionContext.  It has two small issues that led to moving to the more descriptive API:

1. Its easy for implementors to get the strings for the map wrong
2. It gets harder to do more structures values as map<string,string> as you wind up putting formating into t

[2019-06-10 22:08] edwarnicke commented on #1168
@uablrek First, thanks for catching any vppagent dependencies that may have crept into the NSMgr, there shouldn't be any there, it should all go through the NSM Dataplane API.

As to your question about "Does all of the traffic have to go through the forwarding plane" the answer is: no, not all of the traffic has to go through the NSM forwarding plane.

Examples:

1.  If both sides are talking mem

[2019-06-11 06:08] artem-belov opened #1225 "NSC needs few attempts for ping to be passed after Dataplane Heal"
## Expected Behavior

Ping should be passed from first attempt after connection recovery done

## Current Behavior

First few ping attempts are failing after connection recovery done

## Failure Information (for bugs)

TestDataplaneHealMultiNodesRemote:
Nsc keeps old arp entries with wrong NSE hardware address and it makes few failed ping attempts before receiving correct arp entry.

## Steps to R

[2019-06-11 07:54] matrohon commented on #1048
The missing DELETE messages are due to the issue #1123

I changed the skydive probe to not take into account messages reporting a DOWN state. it is just waiting for the corresponding DELETE message to remove the cross-connect link.

@haiodo so now if the healing process changes the src or dst of a crossconnect without sending a DELETE message, but just UPDATE messages, the skydive probe will have

[2019-06-11 09:09] nickolaev commented on #1168
@edwarnicke  the original question is:
[code]

Today, you do need to load "some" forwarding plane. A direct memif communication is possible only on a single host, and even then you need to load some forwarder to establish the PodA-PodB memif channel. That is by design because there is a separation of concerns - NSMgr figures out where the pods live and generate the cross-connect which is then pass

[2019-06-11 09:15] lobkovilya commented on #1048
@matrohon we have several tests that cover crossconnect monitor behaviour during heal. You can find them [here](https://github.com/networkservicemesh/networkservicemesh/blob/master/test/integration/recover_xcon_monitor_test.go).

They do some deletes of pod and then wait for a particular event from the monitor.

For example in case of NSE die and there is no more available NSE (i.e. heal is failed

[2019-06-11 09:28] nickolaev commented on #1224
@edwarnicke OK I agree that map<string, string> is harder to maintain an error-prone to implement. Can we then segment the context, something like this:

[code]

The topic of flexible admission controller can be easily solved by making it smarter. We can have more complex side-car, which is dynamically programmed by the admssion controller through changing the command line, or a config map maybe.

[2019-06-11 13:50] edwarnicke commented on #1225
Interesting corner case.  How long does it take to fully restore connectivity?

[2019-06-11 14:19] #836 closed

[2019-06-11 14:26] #1176 closed

[2019-06-11 14:55] lobkovilya commented on #1152
Failed because sibling packet job has failed and started deleting all packet clusters:
https://circleci.com/gh/networkservicemesh/networkservicemesh/53948
https://circleci.com/gh/networkservicemesh/networkservicemesh/54051
https://circleci.com/gh/networkservicemesh/networkservicemesh/54352

Failed because of 30m timeout exceeded:
https://circleci.com/gh/networkservicemesh/networkservicemesh/54094

[2019-06-11 16:03] edwarnicke commented on #1168
@uablrek The NSM Forwarder does take care to minimize its privilege.  There are a small number of things you need privilege for to function at all, example:

1. If you are a normal app workload... something has to have privilege to insert the kernel interface you expect into the Pod.  That's an immutable need.
2. If you are needing to act remotely, particularly for interdomain remotely, you need a

[2019-06-11 18:33] hwinkel commented on #1168
I think it makes a lot of sense to have some kind of hostNetwork:true configs. In our current home grown VXLAN controller overlay we run the overlay over the pod network. This shows performance issues by sharing the NIC Resources and additional encap in encap.

I think NSM should go even further and let us define the underlay connectivity for a given NetworkServiceMesh.  I.e. the could be a HostNe

[2019-06-11 18:38] denis-tingajkin commented on #1225
Looks like simple typo in `Steps to reproduce`. Should be `Change kubetest.HealCheckerNsc to kubetest.CheckNSC...`

[2019-06-11 19:27] hwinkel commented on #831
seems to make sense to have some staus and events directly accessible in the stock k8s API via CRD

[2019-06-11 19:30] hwinkel commented on #778
Seems like, who is saying a Ingress is always L7? L1-L4 Area also important. and with L4 there is more then TCP

[2019-06-12 01:27] edwarnicke commented on #1224
@haiodo You initially structured the ConnectionContext.  What are your thoughts on @nickolaev 's suggestion?

[2019-06-12 09:55] edwarnicke commented on #1224
@nickolaev So would you suggest the 'DNSConfig' become the 'DNSContext' in your proposal?

[2019-06-12 10:30] nickolaev commented on #1224
Yes, that makes sense. Although one can argue that the DNS config should be part of IPContext but I can agree we keep it separte. +1

[2019-06-12 12:36] edwarnicke commented on #714
@artem-belov Updated the spec for pNSRs etc.  Please have a look and let me know what you think.

@nickolaev @haiodo @fkautz Please also have a look :)

[2019-06-12 13:17] #1203 closed

[2019-06-12 16:58] nickolaev opened #1234 "Pushing docker images fails"
## Expected Behavior

Images should be pushed through CircleCI

## Current Behavior

Docker image push fails: https://circleci.com/gh/networkservicemesh/networkservicemesh/69062

## Failure Information (for bugs)

## Steps to Reproduce

Check CircleCI

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[2019-06-13 09:45] denis-tingajkin opened #1237 "Unit test `TestHealRemoteNSE` is unstable"
## Expected Behavior

TestHealRemoteNSE is stable

## Current Behavior

TestHealRemoteNSE is unstable

## Failure Logs

[build_69220_step_113_container_0.txt](https://github.com/networkservicemesh/networkservicemesh/files/3285259/build_69220_step_113_container_0.txt)

## Steps to Reproduce

Run TestHealRemoteNSE 1e3 times

[2019-06-13 10:23] denis-tingajkin opened #1238 "TestSimpleMetrics fails on GKE"
## Description

Looks like its related to 29fd1aabd6e98fb4dd23fbee39c6df6c9f23db5c

## Expected Behavior

TestSimpleMetrics works on GKE

## Current Behavior

TestSimpleMetrics fails on GKE

## Failure Logs
https://circleci.com/gh/networkservicemesh/networkservicemesh/69201

[2019-06-13 11:58] Bolodya1997 opened #1241 "nsm.request() is too complicated"
## Expected Behavior

All methods should pass `gocyclo` linter check.

## Current Behavior

`nsm.request()` fails `gocyclo` linter check - it is too complicated.

## Comment requested issue

https://github.com/networkservicemesh/networkservicemesh/pull/1239#discussion_r293323893

[2019-06-13 13:22] #1234 closed

[2019-06-13 15:46] edwarnicke opened #1243 "controlplane/pkg/apis/registry/registry.proto seems to have picked up internal implementation details"
## Expected Behavior

## Current Behavior

[registry.proto](https://github.com/networkservicemesh/networkservicemesh/blob/master/controlplane/pkg/apis/registry/registry.proto) should not have K8s implementation convenience functions.  We have picked up things starting at:

https://github.com/networkservicemesh/networkservicemesh/blob/master/controlplane/pkg/apis/registry/registry.proto#L69

That l

[2019-06-14 07:23] Bolodya1997 commented on #1152
Still failing:
https://circleci.com/gh/networkservicemesh/networkservicemesh/69695

[2019-06-14 20:37] edwarnicke commented on #895
@lobkovilya Did we figure out why the blue line (stat/nsc) is still monotomically increasing?

[2019-06-14 20:44] lobkovilya commented on #895
Blue line is a result of previous experiment with vpp19.01, placed here for better visibility. Label "stat/nsc" had been put here by mistake :)

[2019-06-14 21:29] edwarnicke commented on #895
@lobkovilya Epic!  So we are running between 250-500ms then? (at the time you measured for this graph)

[2019-06-17 05:06] Bolodya1997 commented on #1208
https://circleci.com/gh/networkservicemesh/networkservicemesh/70193

[2019-06-18 10:42] Bolodya1997 commented on #1123
Partially resolved with #979 - all NSE resources are getting cleaned up on endpoint shutdown if NSMgr is running. If NSMgr is not running, it cleans up NSE resources for not running endpoints on restart.

[2019-06-18 13:29] matrohon opened #1258 "Revisit SDK usage"
## Overview

I've been trying to use the SDK for creating a new client, and I feel it is too complicated for this usage.

Some open questions for improvments :

- The OUTGOING_NSC_NAME and ADVERTISE_NSE_NAME seem to correspond to network services name. Could they be renamed to OUTGOING_NS_NAME and ADVERTISE_NS_NAME?

- Shouldn't we split the sdk with a client part and an endpoint part? for simplic

[2019-06-18 13:34] quangtamle commented on #621
Dear @matrohon

I did "make k8s-deploy" and "make k8s-check", everything work fine but when I open Skydive, I can not see any connections. Could you help me figure it out ????

Thank you in advances

[2019-06-18 14:09] #1182 closed

[2019-06-18 14:15] #1238 closed

[2019-06-19 08:41] haiodo commented on #1258
I think we should move

[code]

Into cluster specific stuff.

NsmRegistry, NetworkServiceEndpointList - are used and required for every NSM to ensure it has proper registrations in registry after/during restart/healing process.

@lobkovilya Did you remember why we need ClusterInfo here?

[2019-06-19 08:41] haiodo commented on #1241
@Bolodya1997 should we close this issue already?

[2019-06-19 08:43] Bolodya1997 commented on #1241
No, it is still too complicated.

[2019-06-19 09:23] lobkovilya opened #1262 "Remove Payload from v1.NetworkServiceEndpointSpec"
## Expected Behavior
Leave `Payload` only in NetworkService.Spec

## Current Behavior
Both NSE and NS now have `Payload` which is excessive

## Failure Information (for bugs)
During clients restore if there is no NetworkService in registry `Payload` could be obtained from `NSEEntry`

[2019-06-19 09:42] haiodo commented on #1224
Sorry guys, was stuck meditating on improving CI :-)

I'm agree just map gives ability to pass any unstructured data, and are protocol agnostic.
But yes it is very hard to work with, and I was added a bit of structuring to it.

I'm not sure we will eventually need to put any MPLS, etc stuff inside context since context finally should contain only stuff required for client local environment and sho

[2019-06-19 10:53] ivanayov opened #1263 "Spec: SMI adapter for NSM"
Spec notes: https://docs.google.com/document/d/1soaOpJp5QZ9IGACeFY7XuGa8H_4BWXDsAzOD07ieuYY/edit

[2019-06-19 13:12] matrohon commented on #1258
@haiodo i'm not sure to understand your comment. How it relates to the issue?

[2019-06-19 14:49] haiodo commented on #1258
Ouch, I’ve put comment to wrong issue:-)

[2019-06-19 14:50] haiodo commented on #1243
I think we should move

[code]

Into cluster specific stuff.

NsmRegistry, NetworkServiceEndpointList - are used and required for every NSM to ensure it has proper registrations in registry after/during restart/healing process.

@lobkovilya Did you remember why we need ClusterInfo here?

[2019-06-19 20:17] edwarnicke commented on #1263
@ivanayov Left some comments in doc :)

[2019-06-19 20:19] edwarnicke commented on #1258
@nickolaev

[2019-06-21 20:22] #1113 closed

[2019-06-21 20:22] #1114 closed

[2019-06-21 20:22] #1115 closed

[2019-06-24 03:05] nickolaev commented on #1258
Yeah there is a stale PR to address env variable renaming: #931 and then we discussed it in #866.
The SDK is already split to client and endpoint pakcages one woudl use only what they need.

We can keep only one of these if we decide, that should not be an issue as long as we all agree to do it. It will require substantial changes all over the testing package but is feasible.

[2019-06-24 20:30] john-a-joyce opened #1272 "Mismatch version between CRDs and example yamls"
## Expected Behavior

Be able to run to create networkmesh services from the service definition yaml files in the examples repo.   e.g.  kubectl apply -f examples/icmp/k8s/icmp-responder.yaml

should successfully create a service.

## Current Behavior

Trying to run some of the examples from networkservicemesh/examples and the service creation fails due to version mismatch between the service defi

[2019-06-24 23:27] john-a-joyce commented on #1272
It looks like issue was that my two branches were pulled at different dates and in between the CRD version was changed to v1alpha1

[2019-06-24 23:27] #1272 closed

[2019-06-24 23:28] edwarnicke commented on #1272
@john-a-joyce Thanks for keeping an eagle eye out for this sort if thing :)

[2019-06-25 11:32] edwarnicke opened #1275 "Create VppMemifConnect in SDK"
## Overview

Currently the various parts that plug incoming NSM Connections into VPP are all monolithic command private things like:

[vppagentComposite](https://github.com/edwarnicke/examples/blob/master/examples/vpp-icmp/vppagent-endpoint/cmd/composite.go#L33)
[vppAgentXConnComposite](https://github.com/edwarnicke/examples/blob/master/examples/secure-intranet/vppagent-endpoint/cmd/composite.go#L

[2019-06-25 11:37] edwarnicke opened #1276 "Create VppAgentFlush in SDK"
## Overview

#1275 specifies the first of several VppAgent* CompositeEndpoints to be used for basic VppAgent functionality.  It intentionally does not Flush the DataChange to the vppagent.

VppAgentFlush should be a CompositeEndpoint that looks for the DataChange in the Opaque data and writes it to vpp-agent.

## Link to the Google Docs document

## References

[2019-06-25 11:41] edwarnicke commented on #1275
[Hint](https://github.com/edwarnicke/examples/blob/master/examples/vpp-icmp/vppagent-endpoint/cmd/vppagent.go#L18)

[2019-06-25 11:42] edwarnicke opened #1277 "Use VppAgentMemifConnect in vpp-icmp example"
## Overview

Use VppAgentMemifConnect (#1275) and VppAgentFlush (#1276) in [vpp-icmp example](https://github.com/edwarnicke/examples/blob/master/examples/vpp-icmp/vppagent-endpoint/cmd/endpoint.go#L37).
## Link to the Google Docs document

## References

[2019-06-25 11:51] edwarnicke opened #1278 "Create VppAgentClientConnect in SDK"
## Overview

This is a continuation of #1275 and #1276.  Create a VppAgentClientConnect in SDK suitable for use with endpoint.NewClientEndpoint to connect the Client to the Vppagent as an interface.  It should get the DataChange from Opaque Data (if it exists) and add the Client Connection to that DataChange.

## Link to the Google Docs document

## References

[2019-06-25 11:53] edwarnicke opened #1279 "Create VppAgentXCon in SDK"
## Overview

Create a VppAgentXCon in SDK to cross connect the results of VppAgentClientConnect (#1278) and VppAgentMemifConnect (#1275) (similar to what is done in [the secure-intranet-example](https://github.com/edwarnicke/examples/blob/master/examples/secure-intranet/vppagent-endpoint/cmd/composite.go#L36)

## Link to the Google Docs document

## References

[2019-06-25 12:06] edwarnicke opened #1280 "Create VppAgentAcl in SDK"
## Overview

Create VppAgentAcl to simply apply ACLs to the incoming connection.  It should get the DataChange from the Opaque data if it exists, get the vppagent name of the Endpoint interface being connected from the Opaque data, and write the ACLs to the DataChange in Opaque data.

## Link to the Google Docs document

## References

[2019-06-25 12:08] edwarnicke opened #1281 "Use VPPAgent* items from the SDK in secure-intranet-connectivity example"
## Overview

USe #1275 #1276 #1278 #1279 to redo [secure-intranet-connectivity example](https://github.com/edwarnicke/examples/blob/master/examples/secure-intranet/vppagent-endpoint/cmd/nse.go#L43)

## Link to the Google Docs document

## References

[2019-06-25 12:29] edwarnicke opened #1282 "Discussion: Why does SDK traverse down the chain then back up again?"
I've noticed that the SDK traverses down the chain then back up again.  Meaning that if I have Chained Endpoint:
[code]

Each element in the chain first calls its 'Next', and then upon return does its work.  This is a bit confusing, because it means the work of ConnectionEndpoint (last in the list) is done first, then ClientEndpoint etc.  Logically it feels to the user like we are traversing the l

[2019-06-25 14:07] #1123 closed

[2019-06-25 14:07] #1215 closed

[2019-06-26 15:08] haiodo opened #1284 "TestXconMonitorSingleNodeHealFailed is failed"
## Expected Behavior

TestXconMonitorSingleNodeHealFailed is failed but should pass on CI.

## Current Behavior

TestXconMonitorSingleNodeHealFailed failed sometimes.

## Failure Information (for bugs)

Failed logs:
[failed-024-TestXconMonitorSingleNodeHealFailed-run.log.txt](https://github.com/networkservicemesh/networkservicemesh/files/3330716/failed-024-TestXconMonitorSingleNodeHealFailed-run.l

[2019-06-26 16:02] lixuna commented on #968
Example text to add to README:

- Network Service Mesh is hosted by the [Cloud Native Computing Foundation](https://cncf.io/) (CNCF) as a Sandbox Level Project.

- Network Service Mesh is hosted by the [Cloud Native Computing Foundation](https://cncf.io/) (CNCF) as a sandbox level project. If you are an organization that wants to help shape the evolution of technologies that are container-packaged

[2019-06-26 17:16] #1140 closed

[2019-06-27 05:33] dependabot-preview[bot] opened #1286 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-06-27 10:13] haiodo commented on #1053
Also it would be nice to capture all pod logs and put them into artifact resources on CI.

[2019-06-28 05:28] #1286 closed

[2019-06-29 16:55] #1156 closed

[2019-07-01 04:32] fkautz opened #1296 "Default make target fails"
## Expected Behavior

$ make
[images built]

## Current Behavior

Some images build, debug devenv image fails

## Failure Information (for bugs)
[code]

## Steps to Reproduce

`make`

## Context

Failed on both ubuntu and OSX

## Failure Logs

[code]

[2019-07-01 05:18] haiodo commented on #1174
Seems done.

[2019-07-01 05:18] #1174 closed

[2019-07-01 07:32] haiodo commented on #1284
Seems working fine now.

[2019-07-01 07:32] #1284 closed

[2019-07-01 08:36] onobrod commented on #1275
@edwarnicke why do we need to have a composite especially to do memif connect? Isn't it better just to have a connect that looks at mechanism type? It looks redundantly to me to have memif specified as mechanism type in the NS config and also use memif connect endpoint. We have [LocalConnectionConverter](https://github.com/networkservicemesh/networkservicemesh/blob/master/dataplane/vppagent/pkg/co

[2019-07-01 09:19] onobrod commented on #1279
If I got the task right, we want to have few small composites which share one DataChange object and append it with parts of config (MemifConnect and ClientConnect appends source and destination interfaces, XConnect appends XconnectPairs). It brings a question how to properly share DataChange object between composites (currently each composite only share its opaque data, it is kinda different thing

[2019-07-01 10:07] haiodo commented on #1222
Closing.

[2019-07-01 10:07] #1222 closed

[2019-07-01 14:42] matrohon opened #1301 "Crash of the vppagent-icmp-responder"
## Current Behavior

The vppagent-icmp-responder has crashed on startup

## Context

nsm commit id used to build the vppagent-icmp-responder image:
4288a5288c935e8a48bd5aadb9f395567677cc89

## Failure Logs

2019-07-01 14:23:33,155 DEBG 'application' stdout output:
time="2019-07-01T14:23:33Z" level=info msg="NSE registered: network_service:<name:\"icmp-responder\" payload:\"IP\" > network_service_m

[2019-07-01 15:35] matrohon commented on #1301
the issue is still happening with current master

[2019-07-01 15:48] edwarnicke commented on #1275
@onobrod The NSE is the one that *actually* picks the type of connection.  You could do a generic that has a default list ordered [memif,kernel interface] (ie, pick memif by default if available), and that could be configured with the opposite order.

[2019-07-01 15:53] edwarnicke commented on #1279
A few points of modularity:

We don't want to couple every NSE to the vpp-agent dataplane code.  It does a specific and particular thing, and we don't want changes made there that serve the vpp-agent dataplane to break the SDK.

Yes, there is a particular order, but by breaking things into composites you allow the replacement of particular pieces of the chain, and insertion of new behaviors betwee

[2019-07-02 01:50] tiswanso commented on #1301
I had problems as well with the one in the examples repo.  I think due to missing the monitor endpoint in the nse.  Not sure if this the same thing...  This PR seems to be working:  https://github.com/networkservicemesh/examples/pull/24

[2019-07-02 14:06] #1139 closed

[2019-07-02 14:07] #1208 closed

[2019-07-02 14:33] edwarnicke commented on #920
@rdimitrov Has this issue been resolved?

[2019-07-02 14:34] edwarnicke commented on #1048
@matrohon Are you still seeing this issue?

[2019-07-02 14:36] edwarnicke commented on #928
@matrohon Is this still an ongoing concern?

[2019-07-02 14:37] rdimitrov commented on #920
@edwarnicke It is resolved, yes 👍 Apologies for not updating the issue, somehow it got forgotten...

[2019-07-02 14:37] artem-belov opened #1306 "AWS leaking resources"
## Expected Behavior
All resources correctly cleaned up

## Current Behavior
Some aws clusters are not cleaned up after circleci testing is finished

[2019-07-02 14:38] haiodo commented on #1306
https://us-east-2.console.aws.amazon.com/cloudformation/home?region=us-east-2#/stacks/stackinfo?stackId=arn%3Aaws%3Acloudformation%3Aus-east-2%3A851413972650%3Astack%2Fnsm-srvaws-2-2019-6-30-76168-035e8369d4%2Faca1dda0-9b57-11e9-895f-06413d85a3ea

[2019-07-02 14:39] haiodo commented on #1306
https://circleci.com/gh/networkservicemesh/networkservicemesh/76168

[2019-07-02 14:41] haiodo commented on #1306
Logs contains following
[code]

[2019-07-02 14:42] haiodo commented on #1306
But when it deleted property logs are following:

[code]

[2019-07-02 14:57] BoutheinaDab commented on #1056
@edwarnicke Are you able to add comments to the spec doc? In fact, as suggest, I have already enabled commenting on the doc.
Otherwise, I am currently working on Maglev algorithm (https://static.googleusercontent.com/media/research.google.com/fr//pubs/archive/44824.pdf) for endpoint selection.

[2019-07-02 15:00] edwarnicke commented on #1056
@BoutheinaDab  I did leave a comment on the spec just today :)  (thank you for your patience).

I like MagLev very much, I look forward to your proposal for that algorithm for a selector!

[2019-07-02 15:10] BoutheinaDab commented on #1056
@edwarnicke  I have just checked your comment. Thank you for your response :)

[2019-07-02 15:47] edwarnicke commented on #1056
@BoutheinaDab I am super supportive of what you are trying to do here... I always think in terms of making systems more flexible in general though... thus the curiosity about "Could we make this even more modular" :)

[2019-07-03 05:35] artem-belov opened #1307 "Wrong selecting clusters for testing tasks if two or more clusters required"
## Expected Behavior
take available clusters from every clusters group

## Current Behavior
count available clusters just from one group

## Context
https://github.com/networkservicemesh/networkservicemesh/blob/0a0b2e2bce6283b8cfdc2bf72e4829f119febcd5/test/cloudtest/pkg/commands/main.go#L396-L404

[2019-07-03 05:42] haiodo commented on #1307
Thanks, will fix.

[2019-07-03 06:38] nickolaev commented on #920
#962 fixes this

[2019-07-03 06:38] #920 closed

[2019-07-03 10:20] #1301 closed

[2019-07-03 10:52] #1306 closed

[2019-07-04 07:57] matrohon commented on #1048
@edwarnicke I just restested with master, this bug is fixed now, there is no cross connects left after deleting every scenario

[2019-07-05 06:21] artem-belov opened #1320 "TestNSMgrDdataplaneDeployLiveCheck is not correct"
## Expected Behavior

Test should check pod liveness probe.

## Current Behavior

Test is the same as TestNSMgrDdataplaneDeploy. All test arguments are ignored

## Failure Information (for bugs)

https://github.com/networkservicemesh/networkservicemesh/blob/e96b096236a3314a793f8f14cff9677f79b58541/test/integration/basic_nsmd_deploy_test.go#L22-L61

[2019-07-05 16:48] edwarnicke opened #1322 "Rename NewFlush in sdk/vppagent"
Currently we have a composite NewFlush that 'flushes' vpp config to the vppagent.
It has been noted by @nickolaev @haiodo that this is a terrible name, and we want to fix it ASAP.

Current suggestions are:

NewVppUpdate
NewVPPUpdateRequest
NewSendVppUpdate
NewProgramVPP

It should be easy to fix once we've settled on the new name choice.

[2019-07-05 16:49] edwarnicke commented on #1322
#1304

[2019-07-05 17:14] nickolaev commented on #1322
It is actually about renaming the whole composite. I think "VppUpdate" should be fine.

[2019-07-08 02:24] onobrod commented on #1322
As I see in #1324 @edwarnicke have renamed the composite to `Commit` already

[2019-07-08 03:13] onobrod commented on #1277
`vpp-icmp` will be updated to use `universal-cnf` in https://github.com/networkservicemesh/examples/pull/24 so no need to update it to use the composites

[2019-07-08 03:25] onobrod opened #1325 "Create KernelConnect in /sdk/vppagent"
## Overview

In PR https://github.com/networkservicemesh/networkservicemesh/pull/1304 MemifConnect composite was added into /sdk/vppagent. MemifConnect creates a DataChange with Memif interface and stores it in opaque data. We need to have a similar KernelConnect composite in SDK.

## Link to the Google Docs document

## References

Issue https://github.com/networkservicemesh/networkservicemesh/is

[2019-07-08 03:26] onobrod commented on #1325
I think it may be better to wait until SDK refactoring will be merged: https://github.com/networkservicemesh/networkservicemesh/pull/1324/files

[2019-07-08 03:27] onobrod opened #1326 "Create ClientKernelConnect in /sdk/vppagent"
## Overview

In PR #1304 ClientMemifConnect composite was added into /sdk/vppagent. ClientMemifConnect reads created outgoing connection from opaque data, creates a DataChange with Memif interface for this connection and stores it in opaque data. We need to have a similar ClientKernelConnect composite in SDK.

## Link to the Google Docs document

## References

Issue #1278
PR #1304

[2019-07-08 03:27] onobrod commented on #1326
I think it may be better to do it after SDK refactoring will be merged: https://github.com/networkservicemesh/networkservicemesh/pull/1324

[2019-07-09 09:00] haiodo opened #1331 "ResiliencyV2"
SPEC to describe enhancements we need to perform for having a ResiliencyV2:

https://docs.google.com/document/d/1tfHrZzY15rEpNXW6v-mNALDwSOULfElhTP-IB6MaXTY/edit#

[2019-07-11 09:10] denis-tingajkin opened #1336 "Admission webhook ignores wrong pod specs"
## Expected Behavior

Admission webhook return error if pod spec is wrong

## Current Behavior

Admission webhook ignores the wrong pod spec.

## Input config example
[code]
## Steps to Reproduce

Deploy Input config example.

[2019-07-11 10:10] #1280 closed

[2019-07-11 10:10] #1279 closed

[2019-07-11 10:10] #1278 closed

[2019-07-11 10:10] #1276 closed

[2019-07-11 10:11] #1275 closed

[2019-07-11 10:13] haiodo commented on #1048
Closing.

[2019-07-11 10:13] #1048 closed

[2019-07-11 10:17] haiodo commented on #715
I think this should be closed already.

[2019-07-11 10:17] #715 closed

[2019-07-11 10:57] onobrod opened #1339 "Spec: NSM Plugin Architecture"
## Overview

The spec describes how plugin concept can be applied to Network Service Mesh and why it can be useful

## Link to the Google Docs document

[Spec](https://docs.google.com/document/d/1ETSCcSqklOZAlMMfiWp3x1O4J1o8OKnSprKZu68BTWg/edit?usp=sharing)

## References

[2019-07-11 11:02] onobrod commented on #1243
We had an internal discussion about the issue and @haiodo suggested an idea about applying plugin architecture to Network Service Mesh. Created a proposal (https://github.com/networkservicemesh/networkservicemesh/issues/1339) where it is described how the plugin architecture can help us with this issue in particular. @edwarnicke could you please take a look?

[2019-07-11 13:32] denis-tingajkin commented on #1336
@edwarnicke , @nickolaev , @haiodo
My point is user should know that manually adding nsm-init-container is redundant if he has nsm annotation. For now, we ignoring case if the user has manually added nsm-init container and nsm annotation.
Is current behavior OK?
Please share your thoughts.

[2019-07-11 15:57] nickolaev commented on #1336
PR merged, thanks

[2019-07-11 15:57] #1336 closed

[2019-07-12 04:39] #1320 closed

[2019-07-12 11:58] haiodo opened #1341 "CloudTest could crash"
## Expected Behavior

CloudTest should execute tests.

## Current Behavior

It could fail if Packet response with error:

## Failure Information (for bugs)

[code]
## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea...

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[2019-07-12 22:18] fkautz opened #1342 "pods depending on networkservicemeshci/nsm-init:latest fail"
While attempting to build and deploy the nsm bridge-domain example in the examples repo, came across this problem:

[code]

In short, nsm-init:latest does not exist in the networkservicemeshci repo. We should either point to networkservicemesh/nsm-init or public a "latest" tag.

[2019-07-13 03:10] fkautz commented on #1342
I tested this with nsm installed via the make machinery and with helm. I get the same behavior.

[2019-07-15 01:53] artem-belov opened #1344 "Circleci: Load images to clouds clusters via ssh"
## Overview

Now circleci uses docker hub to load images to clouds nodes.
It would be nice to use ssh to deliver images and avoid publishing to docker hub

[2019-07-15 01:56] fkautz commented on #1342
Reopening, this issue wasn't resolved yet.

[2019-07-15 02:14] denis-tingajkin commented on #1342
I can take a look. Assign the issue on me if you don't mind

[2019-07-15 05:21] nickolaev commented on #1342
So, in general, we do not have "latest", except when you do local development. That is what will be used only in this case, for everything else (i.e. helm) we should use master or any of the future "release" tags. For the make file, one can use the CONTAINER_TAG env.

The other problem was that "networkservicemeshci" was hardcoded as a repo when deploying the webhook by "make". That is fixed now b

[2019-07-15 05:37] nickolaev commented on #1344
I have this one here:

[code]

[2019-07-15 05:54] nickolaev commented on #1342
I have just found that we actually do not corelate the webhook and nsm-init in the makefile machinery, therefore the nsm-init image is not loaded.

[2019-07-15 06:02] fkautz commented on #1342
@nickolaev i was able to verify that when the nsm-init is loaded manually via kind, it works.

[2019-07-15 10:33] denis-tingajkin opened #1347 "Spec: Get rid of device plugin"
## Overview
The specification describes the problems related with the device plugin, and how to solve them.

## Link to the Google Docs document
https://docs.google.com/document/d/10GOMUQEPUsfcSQZMCuUzWHd5etL-CI4zOA7f0uTWOLE/edit?usp=sharing

[2019-07-15 10:57] nickolaev commented on #1347
I have added a number of remarks in the doc, but the main one would be - can we use the NSMgr pod to host this new admission hook instead of proliferating the number of pods we need to operate.

[2019-07-15 15:17] haiodo opened #1348 "CloudTest should fail if it fails to find one or more tests"
## Expected Behavior

CloudTest should fail if looking for go tests are failed.

## Current Behavior

Currently it just don't run tests.

## Failure Information (for bugs)

[code]
Should be processed properly.

## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea...

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[2019-07-15 17:54] haiodo opened #1353 "TestTransferBetweenMemifProxies fails on CI"
## Expected Behavior

TestTransferBetweenMemifProxies test should pass.

## Current Behavior

TestTransferBetweenMemifProxies is failed.

## Failure Information (for bugs)

[code]
## Steps to Reproduce

Failed on CI.

## Context

## Failure Logs

[2019-07-16 03:26] artem-belov opened #1354 "vni conflict in vxlan connecitons"
## Expected Behavior

vni should be unique for each connection between two clusters

## Current Behavior

Two remote connections can have the same vni value

## Failure Information (for bugs)

Current vni selector script does not guarantee that there is no vni conflict in connections between two clusters

https://github.com/networkservicemesh/networkservicemesh/blob/54548ed42f1d0c3de6071c873412b58

[2019-07-16 08:45] nickolaev commented on #1354
I don't like the way we reference VNI in the middle fo the control plane. NSMgr should be pretty much remote mechanism agnostic and have an abstract pool of connection IDs where the local forwarding planes translate them to the specific IDs that the selected tunnelling protocol uses. So imagine we want to enable MPLS now, we have to map the VNIs to labels.

[2019-07-16 20:51] fkautz commented on #1342
Should be resolved.

[2019-07-16 20:51] #1342 closed

[2019-07-17 14:41] #809 closed

[2019-07-18 14:20] #621 closed

[2019-07-18 21:04] fkautz opened #1360 "Rename environment variable JAEGER_SERVICE_PORT_JAEGER to JAEGER_SERVICE_PORT"
Should we rename this? The name feels unnecessarily redundant.

[2019-07-18 21:17] #831 closed

[2019-07-23 11:47] lobkovilya opened #1372 "TestDeploymentOrder* regulary fails on CI"
## Failure Logs
https://circleci.com/gh/networkservicemesh/networkservicemesh/80872
https://circleci.com/gh/networkservicemesh/networkservicemesh/81137

[2019-07-23 13:07] edwarnicke commented on #1360
Or we could simply use the standard Jaeger env variables:

https://github.com/jaegertracing/jaeger-client-go#environment-variables

And [config.FromEnv()](https://github.com/jaegertracing/jaeger-client-go/blob/master/config/config_env.go#L53)

[2019-07-23 13:08] edwarnicke commented on #1360
Would need to be fixed [here](https://github.com/networkservicemesh/networkservicemesh/blob/master/pkg/tools/tools.go#L178)

[2019-07-23 13:11] edwarnicke opened #1374 "OpenTracing Span being lost in calls to NSMgr"
## Expected Behavior

It is expected that all clients should be sending OpenTracing span ids and they should be propogated via context for all calls made by the components in NSM(NSMgr, NSM Forwarder, etc).

## Current Behavior

In recent experiments, the NSMgr shows many traces with no parent span, indicating that NSMgr is dropping client context somewhere and thus not propogating spans.

## Fail

[2019-07-23 13:13] edwarnicke commented on #1354
@nickolaev I don't quite follow... could you say more?

[2019-07-23 13:16] edwarnicke commented on #1344
@artem-belov Why would it be nice?  I don't necessarily disagree... but am curious the reasoning :)

[2019-07-23 13:17] edwarnicke commented on #1326
+1

[2019-07-23 13:17] edwarnicke commented on #1325
+1

[2019-07-23 13:17] edwarnicke commented on #1322
@nickolaev Thoughts on renaming it to vppagent.Commit ?

[2019-07-23 14:03] #1152 closed

[2019-07-23 14:04] #1277 closed

[2019-07-23 14:05] #1281 closed

[2019-07-23 14:21] #1051 closed

[2019-07-23 14:22] #1053 closed

[2019-07-23 14:23] denis-tingajkin commented on #1353
@edwarnicke can we close this issue too?

[2019-07-23 15:07] tiswanso commented on #1374
@edwarnicke I believe #1359 would have fixed this if you setup the env vars for Jaeger in the nsm-admission-webhook pod:

In #1368 I'm adding those vars to the helm chart:
https://github.com/networkservicemesh/networkservicemesh/pull/1368/files#diff-71c1a6beac8683aeb9c0ef25a98f5c40R38

[2019-07-23 17:35] #1353 closed

[2019-07-24 06:18] lobkovilya opened #1378 "TestOneToOneConnectionMemif periodically fails on CI"
## Failure Logs
https://circleci.com/gh/networkservicemesh/networkservicemesh/81245

[2019-07-24 09:17] BoutheinaDab commented on #1056
@edwarnicke  Is there any way to get the network metrics (rx_bytes, tx_bytes, rx_packets, etc) of an endpoint from the control plane?
I need to get these information for pod selection, and having only as input: the endpoint name, the connection request, the network service.

[2019-07-24 15:13] edwarnicke commented on #1056
They are available via [MonitorCrossConnect](https://github.com/networkservicemesh/networkservicemesh/blob/master/controlplane/pkg/apis/crossconnect/crossconnect.proto#L14).  The work for it was done in #980

Does that meet your needs?

[2019-07-24 15:14] ivanayov commented on #1263
Working on Prometheus integration for the NSM metrics

[2019-07-25 03:12] denis-tingajkin opened #1384 "TestDeployWrongNsc is unstable on CI"
## Expected Behavior

Test should be stable

## Current Behavior

Test is not stable

## Failure Information (for bugs)

1) https://circleci.com/gh/networkservicemesh/networkservicemesh/81881?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link
2) https://circleci.com/gh/networkservicemesh/networkservicemesh/81882?utm_campaign=vcs-integration-link&utm_medium=referral

[2019-07-25 03:21] denis-tingajkin opened #1385 "TestSingleCrossConnectMonitorBeforeXcons sometimes fails on CI"
## Expected Behavior
The test should be stable

## Current Behavior
The test is not stable

## Failure Information (for bugs)
1) https://circleci.com/gh/networkservicemesh/networkservicemesh/81881?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link
2) https://circleci.com/gh/networkservicemesh/networkservicemesh/81543?utm_campaign=vcs-integration-link&utm_medium=ref

[2019-07-25 03:26] denis-tingajkin opened #1386 "TestVPNNSCRemote sometimes fails"
## Expected Behavior
The test is stable

## Current Behavior
The test is not stable

## Failure Information (for bugs)
1) https://circleci.com/gh/networkservicemesh/networkservicemesh/81881?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-07-25 11:04] artem-belov opened #1392 "Tests sometimes not failed even if Expect expression was not passed"
## Expected Behavior

Tests should fail if **Expect** expression was not passed

## Current Behavior

Tests are continued even if **Expect** expression was not passed

## Failure Information (for bugs)

Using of depricated testing functions can be the cause of this issue
`// Testing.T tests.  It is now deprecated and you should use NewWithT() instead.`

## Failure Logs

https://81881-127937836-gh.

[2019-07-25 12:58] denis-tingajkin opened #1393 "Admission webhook tests are not waiting for Pod deployed"
## Expected Behavior

Tests with admission webhook are stable

## Current Behavior

Tests with admission webhook are not stable

## Failure Information (for bugs)

Each test with admission webhook may not wait for pod with admission webhook
Root cause:
1) Test with webhook started
2) Test with webhook deploys deployment with webhook
3) Test expects that webhook is ready (!)
Between step 2 and 3 mi

[2019-07-25 16:58] #1112 closed

[2019-07-25 18:56] lobkovilya commented on #1386
https://circleci.com/gh/networkservicemesh/networkservicemesh/81310?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-07-26 09:21] #1241 closed

[2019-07-26 10:21] #1262 closed

[2019-07-26 12:32] onobrod commented on #1374
Tried to reproduce the issue three times: on the latest master, on one week old master (just after #1337 has been merged) and on two weeks old master (before #1337 and #1359 have been merged) and got the same results — only one '<trace-without-root-span>' in nsmd@nsmgr service, other services seems good.

To reproduce I added jaeger envs into all pods (just like it is done in #1368) and deployed i

[2019-07-26 21:24] edwarnicke opened #1397 "Example icmp/vpn are failing intermittently"
## Expected Behavior

CI tests to run reliably, and not fail intermittently.

Example icmp/vpn fail intermittently:
https://circleci.com/gh/networkservicemesh/networkservicemesh/82822

[2019-07-27 01:49] denis-tingajkin commented on #1237
reproducible https://circleci.com/gh/networkservicemesh/networkservicemesh/82791

[2019-07-28 16:51] denis-tingajkin commented on #1237
@edwarnicke , @nickolaev  can you please reopen this?

[2019-07-28 17:03] nickolaev opened #1398 "NsmMonitorCrossConnectClient throws `fatal error: concurrent map writes`"
## Expected Behavior

Tests should not fail.

## Current Behavior

` TestHealRemoteNSE` failed at least once with:

[code]

## Failure Information (for bugs)

[Full log](https://circleci.com/gh/networkservicemesh/networkservicemesh/82890?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link)

## Failure Logs

[2019-07-29 03:30] onobrod commented on #1398
Duplicate of https://github.com/networkservicemesh/networkservicemesh/issues/1237

[2019-07-29 13:54] BoutheinaDab commented on #1056
Thank you @edwarnicke . I am not sure that it could help me.
In fact, I am working on /controplane/pkg/selector and /controplane/pkg/nsm packages, particularly here: https://github.com/networkservicemesh/networkservicemesh/blob/4607b3d28d52a5719ceed0a11dd2db0e62716cc5/controlplane/pkg/nsm/nsm.go#L147

So, any idea how to introduce MonitorCrossConnect please?

[2019-07-29 14:43] edwarnicke commented on #1056
@BoutheinaDab I  thought you needed info on interface stats? (which is what is provided by the MonitorCrossConnect and MonitorConnection APIs).  So I'm a little lost wrt the ask :)

Also, you might want to have a look at:
#1339 which is looking at modularizing various points in NSMgr to make it easier to plug into them :)

[2019-07-29 15:41] edwarnicke commented on #1374
I haven't been seeing this since the various fixes last week... closing for now :)

[2019-07-29 15:42] #1374 closed

[2019-07-30 08:09] denis-tingajkin commented on #1296
@fkautz I've tested and `make` works fine after fix. Can you verify this?

[2019-07-30 10:16] haiodo commented on #1348
This is resolved already.

[2019-07-30 10:16] #1348 closed

[2019-07-30 12:53] edwarnicke commented on #1393
@denis-tingajkin Is this fixed?

[2019-07-30 12:54] edwarnicke commented on #1392
@artem-belov Is this fixed?

[2019-07-30 12:55] #1360 closed

[2019-07-30 12:57] edwarnicke commented on #1339
This seems to me to be a good idea.  Would it make sense to use a registration mechanism that looks similar in the dataplane as well?

[2019-07-30 13:08] nickolaev commented on #1354
One of the NSM building blocks is the point-to-point connection between the workloads. When we want to connect remote workloads we rely on a unique identifier to establish that point-top-point connectivity without interfering with the other workloads sharing the same physical infrastructure.

In the current code, the unique ID, that is supposed to distinguish the tunnel is called VNI, which more o

[2019-07-30 13:18] edwarnicke commented on #1354
@nickolaev VNIs are bound to the particular mechanism choice (in this case VXLAN)... different mechanism types will have different kinds of parameters (example: SRv6 and SID lists)... so I think this is more an issue of proper binding of parameters to mechanisms, rather than trying to build a one size fits all parameters.

All of that said, I think the issue that @artem-belov is raising here is ab

[2019-07-30 13:22] artem-belov commented on #1392
@edwarnicke I am not sure. I am keeping tracking circle ci tests for such issues. This issue is not regularly reproducible

[2019-07-30 13:23] nickolaev commented on #1354
I get what are the reasons behind this code, but my argument here is that this code does (parsin IPs and figuring out ~VNIs) does not belong to NSMgr, but to the concrete forwarding plane implementation. From your explanation it sounds like we'll have to add `networkservicemesh/controlplane/pkg/sni/sni.go` once we want to add SR. and then choose at runtime which ID allocation mechanism to call dep

[2019-07-30 13:27] edwarnicke commented on #1354
@nickolaev Ah... got it.  So I think we have two issues here:

1.  Where this sort of logic should live.  I get your point about putting it in the NSM Forwarder.  To do so, we will need to make some alterations to the NSM Forwarder API, but they are arguably overdue.  I would suggest we open a new issue for that
2.  Fixing the selection algorithm for VNIs in this sort of case.

Does that sounds li

[2019-07-30 13:29] nickolaev commented on #1354
@edwarnicke yes, this is a good split. Thanks.

[2019-07-30 13:30] edwarnicke commented on #1354
@artem-belov Do you have suggestions for ways to handle the VNI problem here?

[2019-07-30 13:33] edwarnicke opened #1411 "Refactor VNI selection from NSMgr to Dataplane"
## Overview

In the course of discussing #1354 , it came up that we probably don't want things like VNI selection in the NSMgr.  It seems more appropriate for them to be in the NSM Forwarder.

This issue is a placeholder and a place for discussion for getting that refactor done.  It will require a slight change in the NSM Dataplane API.

[2019-07-30 13:43] haiodo commented on #1411
@edwarnicke what is NSM Forwarder?

[2019-07-30 13:54] edwarnicke commented on #1411
@haiodo  vppagent-dataplane is an NSM Forwarder.

[2019-07-30 14:03] #1296 closed

[2019-07-30 14:12] #1372 closed

[2019-07-30 14:12] #1393 closed

[2019-07-30 14:13] edwarnicke commented on #1398
@nickolaev Mind if we close this as a duplicate of #1237

[2019-07-30 17:59] haiodo commented on #1411
Probable, as alternative we should think about passing used values of different parameters using monitoring approach.

<img width="886" alt="image" src="https://user-images.githubusercontent.com/477235/62153252-5d7f4480-b32e-11e9-84e5-206d978f70b0.png">

On example, NSMgr3 should know about NsMgr1 already used Vni=3

[2019-07-30 18:04] haiodo commented on #1354
Guys, correct me, probable I'm wrong, but in this example it probable will also fail:

<img width="886" alt="image" src="https://user-images.githubusercontent.com/477235/62153577-15aced00-b32f-11e9-82c5-fbfc4bdfed72.png">

[2019-07-30 18:05] edwarnicke commented on #1354
@haiodo I don't think so... in this example the VXLAN/VNI1 is for the vWire between Dataplane1 and Dataplane2 ... Vxlan/VNI2 is for the vWire between Dataplane2 and Dataplane3... so it should work (if I understand your example correctly).

[2019-07-30 18:07] haiodo commented on #1354
In this example it should also fail:

<img width="886" alt="image" src="https://user-images.githubusercontent.com/477235/62153817-9cfa6080-b32f-11e9-8520-6dc0136cdd21.png">

[2019-07-30 18:10] haiodo commented on #1354
@edwarnicke , I’ve found error in my drawing so updated :slightly_smiling_face:
Question is when we need vxlan from dataplane3 to dataplane1

[2019-07-30 18:14] edwarnicke commented on #1354
@haiodo I'd been thinking about it as Dataplane2 being responsible to crossconnect there.
So Dataplane1 crossconnects Client to VXlan/VNI1, Datplane2 crossconnects VXlan/VN1 to VXLAN/VNI2, and Dataplane3 cross connects from VXLAN/VNI2 to the Endpoint.

I'm not sure what to make of your VXLAN/VNI3 directly from the Endpoint... ;)

[2019-07-30 18:19] edwarnicke commented on #1411
@haiodo The problem is that if the NSMgr1 sets the VNI=3 ... we have no idea if thats workable for NSMgr2... we had previously resolved the race condition between (NSmgr1,NSMgr2) by partitioning the space into odd and even VNIs...

[2019-07-30 18:20] denis-tingajkin commented on #1397
https://circleci.com/gh/networkservicemesh/networkservicemesh/83978?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-07-31 04:17] #1258 closed

[2019-07-31 16:58] fkautz opened #1418 "bridge domain example fails to start in kind"
The NSE cannot be found in the bridge domain example, causing the clients to fail.

https://gist.githubusercontent.com/fkautz/cc9098a89e0e565b7e03c6c4e1d49e56/raw/513aa55a51f8c47f778a5c384301aef5ccfcba3e/gistfile1.txt

[code]

[2019-08-01 08:14] onobrod commented on #1339
@edwarnicke they are already similar: both dataplane and plugin send their socket locations on registration. And in both scenarios NSM is a registrar. Dataplane registration is more complicated: it has also a liveness stream and unregister service (maybe we will need unregister service too).

[2019-08-01 08:51] denis-tingajkin commented on #1397
https://circleci.com/gh/networkservicemesh/networkservicemesh/84180?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2019-08-01 10:37] nickolaev opened #1423 "Kernel forwarder does not set Routes and Neighbours"
## Overview

The kernel forwarder needs to take more context paramteres into account.

## References
Check the code in the vppagent forwarder in its converter part:
https://github.com/networkservicemesh/networkservicemesh/blob/master/dataplane/vppagent/pkg/converter/kernel_connection_converter.go#L149

[2019-08-01 12:40] artem-belov opened #1424 "All AWS tests are failed"
## Expected Behavior

All circleci tests on AWS cluster should pass

## Current Behavior

All circleci tests on AWS cluster are failed

## Failure Information (for bugs)

nsmd-k8s has next error log entrie:
```level=error msg="unable to list NSs for cache initialization: the server could not find the requested resource (get networkservices.networkservicemesh.io)"```

Creating AWS cluster using use

[2019-08-01 13:01] #1282 closed

[2019-08-01 14:31] edwarnicke commented on #1424
@artem-belov Any idea what changed?

[2019-08-02 07:09] artem-belov commented on #1424
@edwarnicke That is weird, we did not change anything that can break it.
Also if I am creating AWS cluster with circleci account - tests are broken, but if I am using my personal AWS account - all tests are passed! Using the same cluster parameters and the same NSM docker images.

[2019-08-02 07:09] artem-belov commented on #1424
@edwarnicke Could it be something on AWS side?

[2019-08-02 07:33] denis-tingajkin commented on #1424
@artem-belov can we try to check diff between your personal account and `circleci` account to detect the problem?

[2019-08-02 08:45] matrohon commented on #1347
a device plugin was also considered for using physical hardware. See #727
Do we plan to manage those allocations with an admission web hook too?

[2019-08-02 15:13] haiodo commented on #1347
@nickolaev yes, my intention was to put it as side car for NSMgr.

[2019-08-02 15:14] haiodo commented on #1347
@matrohon device plugin should be used for physical hardware, it is intend of device plugins, but right now we use it for workspace allocation and this causes few issues, like performance and impossibility of detection of workspace is not used anymore.

[2019-08-02 20:22] nickolaev commented on #1347
NSMgr is not going to inject hardware devices in the pods, it should stay hardware agnostic. That is the job of the forwarder.

[2019-08-05 04:58] #1392 closed

[2019-08-05 08:30] haiodo commented on #1341
This one is resolved.

[2019-08-05 08:30] #1341 closed

[2019-08-05 12:44] matrohon commented on #1347
@haiodo ok, thanks. In the #727 context, the deviceplugin still makes sense, since it is about using a specific hardware. @nickolaev is right, this kind of deviceplugin should work along with the nsm forwarder, probably as a second container in the same pod.

[2019-08-05 15:41] haiodo opened #1435 "CloudTest is failed because of error"
## Expected Behavior

CloudTest should not fail

## Current Behavior

It fail

## Failure Information (for bugs)

[code]
## Steps to Reproduce

## Context

* Kubernetes Version:
* etc.

## Failure Logs

[2019-08-06 13:26] nickolaev opened #1440 "NSM deployment is failing with K8s 1.15.2"
## Expected Behavior

NSM shoudl be deplyable and no errors int he logs

## Current Behavior

We see the following errors:

[code]

## Failure Information (for bugs)

## Steps to Reproduce

[code]

Then check the logs as above

## Context

* Kubernetes Version: 1.15.2, 1.14.5
anything that includes this fix:
https://github.com/kubernetes/kubernetes/commit/9d3c8b36d992cdbea00040f2c31d39f46e4c4219

[2019-08-06 13:29] nickolaev commented on #1440
The referred patch to Kubernetes changes the behaviour of CRDs. We currently have CLuster scoped CRDs and we send our requests with a Namespace as follows:

[code]

So we are hitting one of the newly introduced checks - NonNamespaced CRD with a Namespace request. This is specifically handled as 404 error.

The solution is to use Namesapced CRDs or remove the Namespace in the client request.

[2019-08-06 16:48] tiswanso opened #1444 "Regenerating code section in build guide instructions are out-of-date"
## Expected Behavior

The [build guide](https://github.com/networkservicemesh/networkservicemesh/blob/master/docs/guide-build.md) instructions for generating protobuf code doesn't work.

## Current Behavior

Errors on each step.

## Failure Information (for bugs)

## Steps to Reproduce

All of these are wrong:
-  protobuf - run ./scripts/install-protoc.sh
-  proto-gen-go - run go install ./vendor/